
* { margin: 0; padding: 0 }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
ul, li { list-style: none }
img { display: block; border: 0 }
body { background-color: #fff ;overflow-x: hidden;}
em { font-style: normal }
body { font-family: "微软雅黑"; }
p, span{font-size: 0.2rem;}
h3{font-size: 0.24rem;}
a { color: #fff; border: none; text-decoration: none}
.bn{width:16rem;margin: auto}
.impor{width: 1px; height: 1px; text-indent: 50em; overflow: hidden; position: absolute;}
/*main1*/
.main1{width: 16.0rem; height:16rem; margin: 0 auto; padding-top: 1.75rem}
.title1{width:8.675rem;height: 3.175rem; margin:0 auto; }
.main1-in{width: 16.0rem; height:4.5rem; margin-top: 0.4rem;position: relative}
.yiqi{width:6.625rem; height:9.875rem; border:1px solid #bf9b94; border-radius: 2px; position: relative; float:left;}
.yiqi img{position: absolute; left:0.3rem; top: 0.3rem; width: 7.1rem}
.main1-r{width: 7.325rem; height:5.925rem; position: absolute;right: 0.5rem;  padding-top:0.3rem;}
.main1-arc{width: 100%; height:auto; font-size:0.45rem; color:#b09f9a; line-height:0.65rem;}
.main1eng{width: 100%;}
.fda{width:7.4rem;height: 1.85rem; padding-top: 0.75rem; }
.lijizixun{
    position: absolute
}
.main1 .lijizixun{
    bottom:  -5.0rem;
    right: 0.125rem;
}
.main2 .lijizixun{
    left: 50%;
    bottom: 0;
    margin-left: -2.7625rem;
}
.lijizixun img{
    width: 5.525rem;
    height: 2.15rem;
}
/*main2*/
.main2{width: 16rem; height: 39.75rem; background-color: #f9edf1;position: relative;margin: auto; }
.main2-in{width:100%; height:14.6rem; padding-top:1.125rem; margin:0 auto;}
.title2{width:14.675rem;height: 3.4rem; margin:0 auto;}
.main2-in ul{width: 100%; height:12.5rem; padding-top:0.3rem;}
.main2-in ul li{width:7.125rem; float:left; background: url(https://img.hzshuangmei.com/m/pimiao/images/xian.png) no-repeat top center;background-size:contain;
    margin: 0 0 0.875rem 0.6rem }
.main2-in ul li:nth-child(even){
    margin-left: 0.4rem;
}
.libox{width: 7.125rem; height:7.125rem; position:relative; border-radius:50%;  margin:0 auto;border:0.075rem solid #c5a0ac;overflow: hidden;}
.libox img{width:7.125rem; height: 7.125rem; border-radius: 50%; }
.libox span{width: 100%; height:2.2rem; position: absolute;background-color: #ffffff; opacity: 0.3; filter:alpha(30); bottom:0; left:0;}
.libox p{width: 100%; height:2.2rem; position: absolute; bottom:0; left:0; line-height:2.2rem; font-size: 0.6rem;background-color: rgba(255, 255, 255, 0.5);
    color:#633434; text-align:center;}
.zixun2{margin:0 auto;}
.zixun2 .em1{border-bottom: 0.5rem solid #f9edf1;}
.zixun2 .em2{border-top: 0.5rem solid #f9edf1;}
/*mian3*/
.mian3{width: 16.0rem; margin: 0 auto; }
.title3{width:11.975rem;height: 3.95rem; margin:0 auto; padding-top:2.1rem}
.adv1{width: 100%;  border-bottom: 0.02rem dashed #cccccc; padding-top: 0.5rem}
.adv1 h3, .adv2 h3, .adv3 h3, .adv4 h3{width:13.0rem; height:1.95rem; background: url(https://img.hzshuangmei.com/m/pimiao/images/arrow.png) no-repeat; background-size: contain; font-size: 0.85rem; color: #b08b99;margin-left: 0.575rem;
    line-height: 1.55rem; text-indent: 0.5em;     margin-right: 0.575rem;}
.adv-arc{width: 14.875rem; margin: 0.25rem auto ; padding-bottom:0.3rem; font-size: 0.45rem; color:#7f7f7f; }
.adv1-b{width:14.75rem;height: 7.05rem; background-color: #f7e0e9; padding-top: 0.23rem;margin:0 auto 0.7rem;}
.adv1-b img{width:11.5rem; margin:0 auto;}
.adv1-b ul{width: 11.5rem; height: auto; margin:0 auto; padding-top: 0.1rem}
.adv1-b ul li{ height: auto; font-size: 0.375rem; color:#7f7f7f; line-height: 0.525rem; float: left; }
.adv1-b ul li:nth-child(1){
    width: 3.425rem;
}
.adv1-b ul li:nth-child(2){
    width:3.05rem;
    margin-left: 0.7rem;
}
.adv1-b ul li:nth-child(3){
    width: 3.05rem;
    margin-left: 0.6rem;
}
.adv2{width: 100%; height:10.875rem; padding-top: 1.175rem; border-bottom: 0.02rem dashed #cccccc;margin-bottom: 1.125rem;}
.adv2 h3, .adv4 h3{ background: url(https://img.hzshuangmei.com/m/pimiao/images/arrow2.png) no-repeat; background-size: contain; text-indent: 1em; margin-left: auto;}
.adv2-left{width:100%;  position: relative;  float: left;}
.adv2img{
    width: 10.1rem;
    position: absolute;
    top: 0;
    right: 1.375rem;
    height: 4.675rem;}
.ty{
    width: 2.8rem;
    border-right: 0.125rem solid #49c5b7;
    font-size: 0.45rem;
    color: #464545;
    padding-top: 0.1rem;
    height: 2.6rem;
    line-height: 0.575rem;
    text-align: right;
    margin-top: 1rem;
    margin-left: 0.675rem;}
.ty p{margin-right:  0.275rem;}
.ty .index1{
    margin-right: 0.2rem;
}
/* .ty .inde{letter-spacing:0.2rem} */
.ty2{width: 0.5rem; position: absolute; font-size: 0.5rem; color:#e498a3; top:1.1rem; left: 3.8rem; line-height: 0.625rem}
.adv2-left em{position: absolute; top: 5.325rem;width: 0.35rem;height: 0.35rem;}
.adv2-left em.square1{left:7.925rem; background-color:#2d9dac;}
.adv2-left em.square2{left:11.55rem; background-color:#8b317d;}
.speed{ height: 0.5rem; position: absolute; top:4.875rem; color:#464545;}
.speed1{left:7.35rem; }
.speed2{left:10.3rem; }
.speed p{font-size: 0.5rem; line-height: 0.5rem}
.speed span{font-size:0.375rem; position: absolute; bottom:-0.5rem}
.speed em{    position: absolute;
    top: 0px;
    right: -0.35rem;
    font-size: 0.375rem;
    font-style: normal;
    line-height: 0.06486486486486487rem;}
.time{     position: absolute;
    top: 4.7rem;
    right: 1.325rem;}
.time p{
    font-size: 0.3rem;
}
.time p:nth-child(2){
    font-size: 0.325rem;
}
.adv3{width: 100%; height:13.55rem;border-bottom: 0.02rem dashed #cccccc; margin-bottom: 1.05rem;}
.adv3-right{width:11rem;  margin:0.5rem auto 0;height: 10.0rem}
.adv3-right li{width: 50%;  float:left; position: relative;margin-bottom: 0.125rem;height: 4.05rem;}
.adv3-right li.li1,.adv3-right li.li1{
    text-align: right;
}
.adv3-right li h5{width: 0.475rem; font-size: 0.45rem; color: #585555;line-height: 0.45rem; float:left;
    padding:0.875rem 0.02rem 0;}

.adv3-right li img{float:left;width:4.75rem;height: 4.05rem;position: absolute;}
.img1{
    right: 0
}
.adv3-right li p{font-size: 0.5rem; color:#ffffff; position: absolute;width:4.75rem; top: 1.65rem; right:0; text-align: center}
.adv3-right li.li1 p, .adv3-right li.li3 p{right: 0;}
.adv3-right li.li2 p, .adv3-right li.li4 p{left: 0;}
.adv3-right li.li3 h5, .adv3-right li.li4 h5{padding-top: 0.375rem;}
.adv3-right li.li2 h5, .adv3-right li.li4 h5{float: right; }
.adv4{width: 100%; height:10rem; margin-top: 0.5rem}
.adv4-in{width: 100%; height:5.26rem; margin-top: 0.3rem;}
.adv-top{width: 100%; height: 1.5rem;}
.imgbox1{
    width:10.575rem; height: 3.075rem;
    background-color:  #e6e6e6;
    border: 0.15rem solid #e6e6e6;
    border-top: 0.2rem solid #e6e6e6;
    border-bottom: 0.2rem solid #e6e6e6;
    float:left;
    margin-bottom: 2.0rem;
    margin-left: 0.5rem;

}
.adv4-tu{width:10.575rem; height: 3.075rem;}
.xiao{ height: 0.8rem; padding-top:1.45rem; float:left; padding-left: 0.3rem}
.xiao1{width: 3.1rem; text-align: center; line-height: 0.525rem; font-size: 0.45rem; color:#b5919e; }
.xiao img{width:3.3rem;height: 0.95rem}
/*main4*/
.main4{width:16rem;  background-color: #f9ebf0; overflow: hidden;height:22.575rem;margin:auto;}
.mian4-in{width:15.6rem;  margin:1.225rem auto 3.225rem; background-color: #ffffff; overflow: hidden;position: relative;height: 20.075rem;}
.adv4-in{
    position: relative;
}
.adv4-in>.adv-arc{
    position: absolute;
    top: 3.475rem;
    left: 0.5rem;
}

.mian4-in h3{width:15.25rem; height:2.05rem; margin:0.325rem auto 0; background-color: #8b8b8a; color: #ffffff; text-align: center; line-height: 2.05rem;border-right:  1px solid #b4d1d2;
    border-left: 1px solid #b4d1d2;font-size:0.825rem;}
.mian4-in h3 strong{font-size: 1.0rem; margin: 0 0.65rem;}
.mian4-in .boxcont{
    position: relative;
    width: 15.25rem;margin: auto;
    font-size: 0;
    border-right:  1px solid #b4d1d2;
    border-left: 1px solid #b4d1d2;
    border-bottom:  1px solid #b4d1d2;
}
.mian4-in .boxcont:nth-child(2){
    height:2.9rem;
}
.mian4-in .boxcont:nth-child(3){
    height:2.325rem;
}
.mian4-in .boxcont:nth-child(4){
    height:4.125rem;
}
.mian4-in .boxcont:nth-child(5){
    height:2.45rem;
}
.mian4-in .boxcont:nth-child(6){
    height:2.325rem;
}
.mian4-in .boxcont:nth-child(7){
    height:2.925rem;
}
.mian4-in .boxcont>div{
    display: inline-block;
    color: #7b7b7b
}
.mian4-in .boxcont .left{
    vertical-align: top;
    width: 5.725rem;
    height: 100%;

    background-color: #b8fbfe;

    /*     padding: 0.6rem 0.425rem; */
}
.mian4-in .boxcont .left p{
    margin: 0.55rem auto ;

    font-size: 0.45rem;
    width: 4.95rem;
}
.mian4-in .boxcont .short{
    vertical-align: top;
    border-left: 1px solid #b4d1d2;
    border-right: 1px solid #b4d1d2;
    height: 100%;
    width: 3.85rem;
    background-color: #fcf8e0;

}
.mian4-in .boxcont .short p{
    font-size: 0.55rem;
    width: 3.85rem;
    text-align: center;
    position: absolute;
    height: 1.25rem;
    line-height: 1.25rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.mian4-in .boxcont .right{
    height: 100%;
    width:5.625rem;
    font-size: 0.45rem;
    position: absolute;
}.mian4-in .boxcont .right p{
     width: 5.125rem;
     /* ext-align: center; */
     position: absolute;
     line-height:0.6rem;
     font-size: 0.45rem;
     height: 0.6rem;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
 }
.mian4-in .boxcont .right  .p4{
    height: 1.8rem
}
.mian4-in .boxcont .right  .p6{
    height: 1.2rem;
}
/*mian5*/
.mian5{width:16rem;  margin:0 auto; padding-top: 1.175rem;position: relative;height: 20.075rem;}
.mian5 .lijizixun{
    position: absolute;
    left: 50%;
    bottom: 0.7rem;
    margin-left: -2.7625rem;
}
.title5{width:10.775rem;height: 4.025rem; margin:0 auto;}
.mian5-in{width:100%; height:11.825rem; background-color:#e7e6e6; border-radius: 0.125rem; padding:0.1rem 0 0 0.01rem; box-sizing: border-box;
    margin-top: 0.5rem}
.mian5-in img{width:7.725rem; float:left;height: 5.575rem;margin-bottom: 0.1rem;}
.zixun3{margin:0.3rem auto 0;}
/*main6*/
.main6{width: 16rem; height:42rem; margin:0 auto; background-color: #f9edf1; padding-top: 0.95rem;}
.title6{width:10.425rem; margin:0 auto;}
.mian6-in{width: 13.8rem; height:8.75rem; background-color:#fbc8d9; padding-top: 0.25rem; margin-top: 0.3rem;position: relative; }
.mian6-in img{width:6.525rem;height: 8.55rem; display: inline-block;margin-left: 0.25rem;margin-right: -0.25rem;}
.main6 .auto{margin-left: auto}
.zi1,.zi2{
    color: white;
    position: absolute;
    width: 2.25rem;
    height: 0.75rem;
    font-size: 0.7rem;
    top: 7.65rem;

}
.zi1{
    left: 2.25rem;
}
.zi2{
    left: 9.625rem;
}
/*main7*/
.main7{width: 16.0rem; height: 19.5rem; padding-top: 0.9rem; margin:0 auto;}
.title7{width:10.75rem; margin:0 auto; }
.mian7-in{width: 100%; height:6.94rem; padding-top: 0.4rem;}
.main7-t{width:15.05rem;margin: auto; position: relative;}
.lijiezi{width:2.75rem; display: inline-block;}
.x2{width:11.6rem; margin:0.15rem auto 0.1rem;display: inline-block;position: absolute;top: 0;left: 2.85rem;top: 0.375rem }
.arc7{width:14.9rem;  font-size: 0.5rem; color: #7c726f; line-height: 0.6rem;margin:auto;}
.cen{width:14.9rem;margin:auto;  height: 7.95rem;position: relative;}
.cen img{width:5.2rem;position: absolute; border:0.05rem solid #d99dad;  top: 0.6rem;right: 0.4rem}
.cen ul{  float: left; padding-top: 0.5rem;height: 4.0rem;margin-top: 1.25rem}
.cen ul li{ line-height: 0.7rem; font-size: 0.5rem; color:#7c726f;}
 .b7{width:14.9rem; height: auto; font-size: 0.45rem; color:#7c726f; line-height: 0.6rem;margin:auto;}

