

*{
    font-weight: normal;
    font-family:"微软雅黑";
    margin:0;
    padding: 0;
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h3{
    font-weight: normal;
}
body{
    overflow-x: hidden;
}
.yinshen{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
.bk{
    margin: auto;
    display: block;
}
.bnsetcon{
    font-size: 0;
}
.banner img{
    width: 100%;
}
.m1con,.m2con,.m3con,.m4con,.m5con,.m6con,.m7con,.m8con{
    width: 1200px;
    margin: auto;
    position: relative;
    padding-top: 1px;
}
.m1{
    background-color: #ffffff;
    height: 1192px;
}
.m1tit{
    margin-top: 138px;
    width: 459px;
}
.m1left{
    width: 730px;
    position: absolute;
    left: -110px;
    top: 390px;
}
.m1right{
    width: 637px;
    position: absolute;
    top: 282px;
    right: -90px;
}
.m1p1{
    width: 320px;
    height: 46px;
    font-size: 20px;
    line-height: 26px;;
    color: #b5a69a;
    margin-top: 17px;
}
.m1zx{
    text-align:center;
    display: block;
    width: 233px;
    height: 203px;
    color: #b49a92;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    left: 372px;
    top:900px;
}
.m1zx span{
    margin-top: 6px;
    display: block;
    height: 39px;
    font-size: 39px;
    line-height: 39px;
    letter-spacing: 0px;
    color: #ca785e;
}
.m2{
    background: url("//img.hzshuangmei.com/pc/xbnset/images/m2bg.jpg") no-repeat center;
    height: 1208px;
}
.m2tit{
    width: 658px;
    margin-top: 32px;
    margin-bottom: 76px;
}
.m2img1{
    width: 993px;
}
.m2s1,.m2s2{
    position: absolute;
    width: 6px;
    height: 22px;
    background-color: #ae6031;
    top: 888px;
}
.m2s1{
    left: 121px;
}
.m2s2{
    left: 620px;
}
.m2p1,.m2p3{
    position: absolute;
    top: 885px;
    font-size: 26px;
    line-height: 26px;
    color: #906b60;
}
.m2p1{
    left: 136px;
}
.m2p3{
    left: 635px;
}
.m2p2,.m2p4{
    position: absolute;
    top: 889px;
    font-size: 18px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.8);
}
.m2p2{
    left: 392px;
}
.m2p4{
    left: 898px;
}
.m2zx{
    margin-top: 65px;
    text-align: center;
    width: 253px;
    height: 91px;
    background-color: transparent;
    border: solid 1px rgba(135, 82, 58, 0.7);
}
.m2zx .a1{
    width: 207px;
    border-bottom:1px solid #87523a;
    height: 18px;
    margin-top: 9px;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 5px;
    color: #ac8d78;
}
.m2zx .a2{
    display: inline-block;
    height: 39px;
    font-size: 39px;
    line-height: 39px;
    color: #ca785e;
}
a img{
    margin-left: 22px;
    width: 24px;
}
.m3{
    height: 1264px;
}
.m3tit{
    width: 532px;
    margin-top: 52px;
    margin-bottom: 12px;
}
.m3p1{
    width: 612px;
    font-size: 18px;
    line-height: 26px;
    color: #9c796e;
    margin-bottom: 52px;
}
.m3zp img{
    height: 401px;
    text-align: center;
}
.m3zp :nth-child(2){
    margin: 0 5px;
}
.m3img4{
    width: 856px;
    margin-top: 29px;
}
.m3left{
    top: 448px;
    position: absolute;
    left: -360px;

}
.m3right{
    top: 90px;
    position: absolute;
    right: -360px;
}
.m3p2{
    position: absolute;
    font-size: 20px;
    color: #a18477;
    left: 568px;
    top:405px;
}
.m3s1{
    position: absolute;
    font-size: 20px;
    color: #471703;
    top: 654px;
    left: 650px;
}
.gcs{
    color: #6a381d;
    font-size: 16px;
    position: absolute;
}
.m3s2{
    left: 90px;
    top:943px;
}
.m3s3{
    left: 251px;
    top:1093px;
}
.m3s4{
    left: 395px;
    top: 958px;
}
.m3s5{
    left: 542px;
    top: 1100px;
}
.m3s6{
    top: 959px;
    left: 687px;
}
.m3p3{
    position: absolute;
    width: 246px;
    font-size: 36px;
    color: #b5724d;
    left: 891px;
    top: 890px;
}
.m3zx{
    left: 891px;
    top: 1009px;
    position: absolute;
    width: 253px;
    text-align: center;
    height: 92px;
    border: solid 1px rgba(135, 82, 58, 0.7);
}
.m3zx .a1{
    width: 223px;
    border-bottom:1px solid #c0b3ad;
    height: 12px;
    margin-top: 9px;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 5px;
    color: #ac8d78;
}
.m3zx .a2{
    display: inline-block;
    height: 39px;
    font-size: 39px;
    line-height: 39px;
    color: #ca785e;
}
.m4{
    background: url("//img.hzshuangmei.com/pc/xbnset/images/m4bg.jpg") no-repeat center;
    height: 1098px;
}
.m4tit{
    margin-top: 72px;
}
.m4td{
    margin-top: 101px;
    width: 1200px;
    border: 1px solid rgba(255, 255, 255, 0.33);
    /*height: 482px;*/
    /*border: solid 1px rgba(255, 255, 255, 0.33);*/
}
.m4td>div{
    display: inline-block;
    width: 398px;
    height: 241px;
    vertical-align: top;
}
.m4tdcon{
    border: 1px solid rgba(255, 255, 255, 0.33);
}
.m4tdcon1,.m4tdcon3,.m4tdcon5{
    background-color: rgba(255,255,255,0.08);
}
.m4tdcon>div,.m4tdcon>img{
    display: inline-block;
    vertical-align: top;
}
.m4tdcon span{
    font-size: 28px;
    line-height: 26px;
    color: #783d17;
}
.m4tdcon p{
    margin-top: 14px;
    width: 217px;
    height: 38px;
    font-size: 16px;
    line-height: 21px;
    color: #783d17;
}
.m4tdcon1 img{
    margin: 74px 25px 0px 45px;
}
.m4tdcon1 div{
    margin-top: 70px;
}
.m4tdcon2 img{
    margin: 71px 12px 0 35px;
}
.m4tdcon2 div{
    margin-top: 71px;
}
.m4tdcon3 img{
    margin:59px 13px 0 44px ;
}
.m4tdcon3 div{
    margin-top: 70px;
}
.m4tdcon4 img{
    margin: 79px 13px 0 44px;
}
.m4tdcon4 div{
    margin-top: 80px;
}
.m4tdcon5 img{
    margin: 79px 30px 0 49px;
}
.m4tdcon5 div{
    margin-top: 79px;
}
.m4tdcon6 img{
    margin: 87px 17px 0 53px;
}
.m4tdcon6 div{
    margin-top: 78px;
}
.m4zx{
    margin-top: 70px;
    width: 253px;
    text-align: center;
    height: 92px;
}
.m4zx .a1{
    width: 208px;
    border-bottom:1px solid #f7caab;
    height: 18px;
    margin-top: 9px;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 5px;
    color: #f6c9ab;
}
.m4zx .a2{
    display: inline-block;
    height: 39px;
    font-size: 39px;
    line-height: 39px;
    color: #ffebc0;
}

.m5{
    padding: 115px 0;
    height: 881px;
}
.m5left{
    position: absolute;
    left: -360px;
    width: 963px;
    height: 881px;
    background-color: #fbf4ec;
}
.m5tit1{
    width: 177px;
    position: absolute;
    top: 80px;
    left: 260px;
}
.m5tit2{
    left: 480px;
    top: 55px;
    width: 548px;
    position: absolute;
}
.m5p1{
    position: absolute;
    width: 656px;
    font-size: 18px;
    line-height: 26px;
    left: 480px;
    top: 106px;
    color: #9c796e;
}
.m5right{
    position: absolute;
    right: -360px;
    top: 262px;
}
.m5mbt{
    margin-top: 255px;
    position: relative;
    width: 1200px;
    text-align: center;
}

.m5mbtcon{
    position: relative;
    margin-right: 16px;
    width: 288px;
    display: inline-block;
    vertical-align: top;
}
.m5mbtcon:last-child{
    margin-right: 0;
}
.m5mbtcon :nth-child(1){
    width: 288px;
    border-radius: 50%;
}
.m5mbtcon span{
    text-align: left;
    display: block;
    margin-top: 12px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 24px;
    margin-left: 24px;
    color: #66503a;

}
.m5mbtcon p{
    text-align: left;
    width: 257px;
    font-size: 16px;
    margin-left: 24px;
    line-height: 21px;
    color: #b58160;
}
.m5mbtcon :nth-child(2){
    position: absolute;
    left: 21px;
    top: 257px;
}
.m5xia{
    position: absolute;
    left: 14px;
    top:730px;
    width: 140px;
}
.m5zx1{
    top: 722px;
    left: 552px;
    position: absolute;
    text-align: center;
    width: 292px;
    height: 93px;
    border: solid 1px rgba(135, 82, 58, 0.7);
}
.m5zx2{
    top: 722px;
    left: 862px;
    position: absolute;
    text-align: center;
    width: 292px;
    height: 93px;
    background-color: #cd6a60;
}
.m5zx1 .a1{
    width: 212px;
    border-bottom:1px solid #f7caab;
    height: 12px;
    margin-top: 16px;
    margin-bottom: 7px;
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 7px;
    color: #c0b3ad ;
}
.m5zx1 .a2{
    display: inline-block;
    height: 39px;
    font-size: 39px;
    line-height: 39px;
    color: #ca785e;
}
.m5zx2 .a1{
    width: 212px;
    border-bottom:1px solid rgba(255, 252, 251, 0.5);
    height: 12px;
    margin-top: 16px;
    margin-bottom: 7px;
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 7px;
    color: rgba(255, 255, 255, 0.5);
}
.m5zx2 .a2{
    display: inline-block;
    height: 39px;
    font-size: 39px;
    line-height: 39px;
    color: rgba(255, 255, 255, 0.7);
}
.m6{
    height: 1101px;
    background: url("//img.hzshuangmei.com/pc/xbnset/images/m6bg.jpg") no-repeat center;
}
.m6tit{
    margin-top: 98px;
}
.m6d1,.m6d2,.m6d3{
    position: absolute;
    font-size: 35px;
    color: #ad9182;
}
.m6d1{
    top: 385px;
    left: 178px;
}
.m6d2{
    top: 522px;
    left: 86px
}
.m6d3{
    top: 650px;
    left: 4px;

}
.m6con div img{
    vertical-align: middle;
}
.m6d1 img{
    margin-right: 8px;
}
.m6d2 img{
    margin-right: 9px;
}
.m6d3 img{
    margin-right: 12px;
}
.m6s2{
    font-size: 48px;
    color: #ad9182;
}
.m6p1{
    margin-left: 53px;
    width: 360px;
    height: 40px;
    font-size: 18px;
    line-height: 22px;
    color: #c5764a;
}
.m6d3 p{
    width: 100%;
}
.m6yuan{
    width: 94px;
    height: 94px;
    border-radius: 50%;
    top: 405px;
    right: 245px;
    position: absolute;
    border: solid 1px rgba(187, 89, 63, 0.7);
}
.m6hen{
    width: 260px;
    height: 1px;
    background-color:rgba(187, 89, 63, 0.7) ;
    position: absolute;
    top: 458px;
    right: 340px;
}
.m6zx{
    text-align: center;
    position: absolute;
    top:810px;
    border-radius: 50%;
    left: 405px;
    width: 234px;
    height: 234px;
    background-color: rgba(196, 117, 73, 0.5);
}
.m6zx img{
    width: 28px;
    display: block;
    margin: 27px auto 0;
}
.m6zx .a1{
    width: 156px;
    border-bottom:1px solid #eadfd9;
    height: 32px;
    margin-top: 58px;
    margin-bottom: 7px;
    font-size: 32px;
    line-height: 32px;
    padding-bottom: 7px;
    color: #745645;
}
.m6zx .a2{
    display: inline-block;
    height: 39px;
    font-size: 39px;
    line-height: 39px;
    color: rgba(255, 255, 255, 0.7);
}
.m6zx img{
    display: block;
}
.m7{
    background: url("//img.hzshuangmei.com/pc/xbnset/images/m7bg.jpg") no-repeat center;
    height: 1431px;
}
.m7tit{
    width: 411px;
    margin-top: 82px;
    margin-bottom: 58px;
}
.m7page div{
    position: relative;
    display: inline-block;
    margin-right: 14px;
    margin-bottom: 29px;
}
.m7page :nth-child(2),.m7page :nth-child(4){
    margin-right: 0;
}
.m7page img{
    width: 590px;
}
.m7p1{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 297px;
    background-color: rgba(255,255,255,0.4);
    color: #875b2b;
    font-size: 18px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    z-index: 1;
}
.m7s1,.m7s2{
    width: 56px;
    height: 56px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 232px;
    color: #6a5034;
    font-size: 20px;
    line-height: 56px;
    text-align: center;
}
.m7s2{
    left: 307px;
}
.m7p2{
    background-color: rgba(255,255,255,0.5);
}
.m7zx1{
    vertical-align: top;
    margin-left: 296px;
    display: inline-block;
    text-align: center;
    width: 292px;
    height: 93px;
    border: solid 1px rgba(249, 225, 215, 0.3);
}
.m7zx2{
    vertical-align: top;
    margin-left: 16px;
    display: inline-block;
    text-align: center;
    width: 292px;
    border: solid 1px rgba(249, 225, 215, 0.4);
    height: 93px;
}
.m7zx1 .a1{
    width: 212px;
    border-bottom:1px solid #c0b3ad;
    height: 12px;
    margin-top: 16px;
    margin-bottom: 7px;
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 7px;
    color: #ac8d78;
}
.m7zx1 .a2{
    display: inline-block;
    height: 39px;
    font-size: 39px;
    line-height: 39px;
    color: #cbc0b9;
}
.m7zx2 .a1{
    width: 212px;
    border-bottom:1px solid rgba(255, 252, 251, 0.5);
    height: 12px;
    margin-top: 16px;
    margin-bottom: 7px;
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 7px;
    color: rgba(255, 255, 255, 0.5);
}
.m7zx2 .a2{
    display: inline-block;
    height: 39px;
    font-size: 39px;
    line-height: 39px;
    color: rgba(255, 255, 255, 0.7);
}
.m8tit{
    width: 506px;
    margin-top: 163px;
    margin-bottom: 52px;
}
.m8img1{
    width: 1066px;
}
.m8js{
    margin-bottom: 152px;
}
.m8js>div{
    vertical-align: top;
    display: inline-block;
    width: 400px;
    position: relative;
    height: 414px;
}
.m8js1,.m8js3{
    background-color: #ffedea;
}
.m8js2{
    background-color: #f7dacd;
}
.m8js h3{
    padding-top: 48px;
    margin-left: 36px;
    height: 32px;
    font-size: 32px;
    line-height: 32px;
    color: #b27f57
}
ul li{
    font-size: 18px;
    line-height: 28px;
    margin-left: 36px;
    color: #b27f57;
}
.m8js p{
    width: 38px;
    height: 3px;
    background-color: #f27000;
    margin: 12px 0 15px 36px;
}
.m8zx{
    text-align: center;
    position: absolute;
    bottom: 31px;
    right: 26px;
    width: 182px;
    height: 59px;
    border: solid 1px #eecdc1;
}
.m8zx .a1{
    width: 150px;
    border-bottom:1px solid  rgba(221, 173, 151, 0.5);
    height: 8px;
    margin-top: 9px;
    margin-bottom: 8px;
    font-size: 8px;
    line-height: 8px;
    padding-bottom: 5px;
    color: #f6c9ab;
}
.m8zx .a2{
    display: inline-block;
    height: 27px;
    font-size: 27px;
    line-height: 27px;
    color: #ca7e6d;
}
.m8z{
    padding-top: 8px;
    width: 149px;
    padding-bottom: 4px;
    border-bottom: 1px solid  rgba(221, 173, 151, 0.5);
    margin-bottom: 4px;
}
a .m8j{
    width: 17px;
    margin-left: 15px;
}







