/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:63f292feea17defc6b2bd52e8fb21ec2:48e09915b47b454f8c6fa6a7dd2d6758:57bc704655ec992a36d8232c501929e2$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(items.png);}

.item_bi1 {width:46px; height:30px; background-position: -0px -0px}
.item_bi2 {width:46px; height:30px; background-position: -48px -0px}
.item_bo1 {width:46px; height:30px; background-position: -0px -32px}
.item_bo2 {width:46px; height:30px; background-position: -48px -32px}
.item_botox1 {width:46px; height:30px; background-position: -0px -64px}
.item_botox2 {width:46px; height:30px; background-position: -48px -64px}
.item_hengli1 {width:46px; height:30px; background-position: -0px -96px}
.item_hengli2 {width:46px; height:30px; background-position: -48px -96px}
.item_mian1 {width:46px; height:30px; background-position: -0px -128px}
.item_mian2 {width:46px; height:30px; background-position: -48px -128px}
.item_more1 {width:46px; height:30px; background-position: -0px -160px}
.item_more2 {width:46px; height:30px; background-position: -48px -160px}
.item_pi1 {width:46px; height:30px; background-position: -0px -192px}
.item_pi2 {width:46px; height:30px; background-position: -48px -192px}
.item_simi1 {width:46px; height:30px; background-position: -0px -224px}
.item_simi2 {width:46px; height:30px; background-position: -48px -224px}
.item_wen1 {width:46px; height:30px; background-position: -0px -256px}
.item_wen2 {width:46px; height:30px; background-position: -48px -256px}
.item_xing1 {width:46px; height:30px; background-position: -0px -288px}
.item_xing2 {width:46px; height:30px; background-position: -48px -288px}
.item_xiong1 {width:46px; height:30px; background-position: -0px -320px}
.item_xiong2 {width:46px; height:30px; background-position: -48px -320px}
.item_yan1 {width:46px; height:30px; background-position: -0px -352px}
.item_yan2 {width:46px; height:30px; background-position: -48px -352px}
