@charset "utf-8";
.sr-only, img {
    border: 0
}

.consult, .m2 p, a, body {
    color: #000
}

.f-cb:after, .m1 .item, .m2 .slideW, .m5 .slideW, .m6 .slideW, .sr-only {
    overflow: hidden
}

.m3 h3, .m6 h3, .m6 h4 {
    font-weight: 400
}

.img-respon {
    display: block;
    width: 100%;
    height: auto
}

body, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, html, input, label, li, p, textarea, ul {
    margin: 0;
    padding: 0
}

form {
    display: inline
}

td {
    word-break: break-all
}

dd, dl, dt, li, ul {
    list-style: none
}

a {
    text-decoration: none
}

body {
    background: #fff;
    font-family: '微软雅黑', 'Microsoft Yahei', Verdana, Arial, sans-serif
}

.f-fr {
    float: right
}

.f-fl, .m2 .row1 li, .m5 li {
    float: left
}

.f-cb:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.'
}

.consult, .container h2, .m2 .row2 span {
    display: inline-block
}

.f-cb {
    zoom: 1
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0)
}

.banner {
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/banner.jpg) center top no-repeat;
    height: 700px
}

.m1, .m3, .m6 {
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bg.jpg) left top
}

.m2 .g-doc, .m4 .g-doc, .m5 .g-doc {
    background: #fff
}

.m1 h2 {
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bgt1.jpg) center 40px no-repeat;
    height: 172px;
    width: 756px
}

.m2 {
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bg2.jpg) center bottom no-repeat
}

.m2 h2 {
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bgt2.jpg) center 40px no-repeat;
    height: 166px;
    width: 698px
}

.m2 .next, .m2 .prev {
    width: 50px;
    height: 50px
}

.m2 .next {
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bg_next1.jpg) center top no-repeat
}

.m2 .prev {
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bg_prev1.jpg) center top no-repeat
}

.m2 .row2 span {
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bg_get.jpg) center bottom no-repeat;
    width: 66px
}

.m2 .slideW:hover .next {
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bg_next2.jpg) center top no-repeat;
    height: 50px;
    width: 50px
}

.m2 .slideW:hover .prev {
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bg_prev2.jpg) center top no-repeat;
    height: 50px;
    width: 50px
}

.m3 h2 {
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bgt3.jpg) center 40px no-repeat;
    height: 105px;
    width: 925px
}

.m3 .content {
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bg3_circle.jpg) center top no-repeat;
    height: 516px
}

.m4 {
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bg4.jpg) center bottom no-repeat
}

.m4 .g-doc {
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bg4_one.jpg) 680px 730px no-repeat #fff
}

.m4 h2 {
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bgt4.jpg) center 40px no-repeat;
    height: 172px;
    width: 755px
}

.m5 {
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bg4.jpg) center bottom no-repeat
}

.m5 h2 {
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bgt5.jpg) center 40px no-repeat;
    height: 105px;
    width: 777px
}

.m5 .next, .m5 .prev {
    height: 126px;
    width: 62px
}

.m5 .next {
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bg_next3.jpg) center top no-repeat
}

.m5 .prev {
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bg_prev3.jpg) center top no-repeat
}

.m6 h2 {
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bgt6.jpg) center 40px no-repeat;
    height: 167px;
    width: 626px
}

.container h2 {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px
}

.jiantou::after, .jiantou::before {
    position: absolute;
    content: " ";
    height: 20px
}

.m1 h2, .m2 h2, .m4 h2, .m6 h2 {
    padding-bottom: 0
}

.jiantou::before {
    top: 0;
    left: 0;
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bgt_tl.png) center top no-repeat;
    width: 142px
}

.jiantou::after {
    right: 0;
    bottom: 0;
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bgt_br.png) center top no-repeat;
    width: 143px
}

.g-doc {
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
    width: 1200px;
    text-align: center
}

.m2 .row1 li, .m2 .slideW {
    width: 631px;
    height: 354px
}

.m2 .g-doc, .m4 .g-doc, .m6 .g-doc {
    padding-top: 70px
}

.consult {
    border-radius: 10px;
    padding: 12px 20px;
    font-size: 22px;
    line-height: 22px;
    background: #ffca2a;
    box-shadow: 3px 3px 0 #cc9a02
}

.consult:hover {
    transform: scale(.9, .9);
    background: #fdc211
}

.m2 .slideW:hover, .m5 .indicator li, .m5 .slideW:hover, .m6 .indicator li, .m6 .slideW:hover {
    cursor: pointer
}

.banner .g-doc {
    padding: 0
}

.m2 {
    height: 1452px;
    padding-top: 260px
}

.m2 .content {
    position: relative
}

.m2 .slideW {
    margin: 60px auto 0
}

.m2 .slideC {
    width: 1893px;
    height: 354px
}

.m2 .btn {
    display: block;
    position: absolute
}

.m2 .next {
    top: 150px;
    right: 210px
}

.m2 .prev {
    top: 150px;
    left: 210px
}

.m2 .row2 {
    margin-top: 80px
}

.m2 .row2 span {
    vertical-align: bottom;
    padding-top: 30px
}

.m1 .item, .m3 .item {
    vertical-align: top;
    display: inline-block
}

.m2 .row3 {
    position: relative;
    margin-top: 50px
}

.m2 .row3 li {
    position: absolute;
    width: 140px;
    text-align: center;
    font-size: 20px
}

.m3 .consult, .m5 .g-doc, .m5 .row, .m5 li {
    position: relative
}

.m2 .step1 {
    top: 210px;
    left: 90px
}

.m2 .step2 {
    top: 0;
    left: 310px
}

.m2 .step3 {
    top: 210px;
    left: 532px
}

.m2 .step4 {
    top: 0;
    left: 750px
}

.m2 .step5 {
    top: 210px;
    left: 970px
}

.m2 .consult {
    margin-top: 60px;
    margin-bottom: 70px
}

.m2 .row2 p {
    font-size: 32px;
    color: #000
}

.m2 p {
    font-size: 20px
}

.m3 .des {
    margin-top: 30px;
    text-align: left;
}

.m3 .content {
    margin-top: 60px
}

.m3 .item {
    margin: 0 44px 38px;
    padding-top: 50px;
    width: 236px;
    height: 186px
}

.m3 .item h3 {
    height: 60px
}

.m3 .item p {
    padding: 24px 20px
}

.m3 .consult {
    padding: 12px 50px;
    top: 80px;
    left: -80px
}

.m3 h3 {
    font-size: 30px;
    line-height: 62px
}

.m3 .item1 h3 {
    color: #eca203
}

.m3 .item2 h3 {
    color: #459ffc
}

.m3 .item3 h3 {
    color: #7683f1
}

.m3 .item4 h3 {
    color: #f28614
}

.m3 .item5 h3 {
    color: #b1b02c
}

.m3 .item6 h3 {
    color: #d078e7
}

.m3 p {
    font-size: 22px;
    line-height: 36px;
    color: #595959
}

.m3 .item p {
    font-size: 18px;
    line-height: 24px;
    color: #fff
}

.m1 {
    height: 790px
}

.m1 .row {
    margin-top: 60px
}

.m1 .item {
    margin-left: 78px;
    border: 1px solid #fee088;
    border-radius: 6px;
    width: 220px;
    height: 370px
}

.m1 .item:first-child {
    margin-left: 0
}

.m1 h3 {
    display: inline-block;
    border-radius: 6px;
    padding: 0 .5em;
    margin-top: 24px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    color: #000;
    background-color: #fdc211
}

.m5 .btn, .m5 img, .m6 img {
    display: block
}
.m5 .cat img{
    margin-top: 11px;
}

.m1 p {
    margin-top: 16px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 20px;
    color: #666
}

.m1 .consult {
    margin-top: 126px;
    margin-bottom: 56px
}

.m1 .item:nth-child(2) p {
    text-align: justify
}

.m5 {
    padding-top: 180px;
    height: 1050px
}

.m5 .content {
    margin-top: 40px
}

.m5 .slideW {
    margin: 0 auto;
    width: 755px;
    height: 490px
}

.m5 .slideC {
    width: 1510px;
    height: 490px
}

.m5 .btn, .m5 .cat, .m5 h3, .m5 p {
    position: absolute
}

.m5 h3 {
    top: 22px;
    left: 448px;
    width: 220px;
    font-size: 26px;
    line-height: 46px;
    color: #000
}

.m5 p {
    top: 90px;
    left: 422px;
    width: 288px;
    font-size: 16px;
    line-height: 24px;
    color: #666;
    text-align: left
}

.m5 .prev {
    top: 196px;
    left: 50px
}

.m5 .next {
    top: 196px;
    right: 50px
}

.m5 .consult {
    margin-top: 50px;
    margin-bottom: 50px
}

.m5 .cat {
    top: 722px;
    left: 960px
}

.m6 .content {
    position: relative;
    margin-top: 40px;
    text-align: left
}

.m6 .indicator {
    position: absolute;
    top: 15px;
    left: 142px;
    margin: 0;
    padding: 0;
    z-index: 5
}

.m6 .indicator li {
    background: #000;
    border-radius: 50%;
    margin-bottom: 10px
}

.m6 .indicator img {
    opacity: .7
}

.m6 .indicator li.active img {
    opacity: 1
}

.m6 .slideW {
    margin-left: 206px;
    width: 900px;
    height: 522px
}

.m6 .slideW .slideC {
    position: relative;
    height: 522px;
    width: 2700px
}

.m6 .slideW .item {
    position: relative;
    float: left;
    padding-top: 70px;
    width: 900px;
    height: 452px;
    list-style: none
}

.m6 .slideW .item h4, .m6 .slideW .item ul {
    margin-top: 20px
}

.m6 .slideW .item p {
    margin-top: 14px
}

.m6 .slideW .item li {
    float: none;
    padding-left: 10px;
    padding-top: 8px;
    width: 400px
}

.m6 .slideW .box {
    padding-left: 490px;
    width: 410px
}

.m6 .slideW img {
    position: absolute;
    top: 0;
    left: 0
}

.m6 .consult {
    margin-top: 32px;
    padding: 12px 50px
}

.m6 h3 {
    font-size: 40px;
    color: #000
}

.m6 h3 span {
    display: inline-block;
    padding-left: 10px;
    font-size: 18px;
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bg_line.jpg) left center no-repeat
}

.m6 .item li {
    font-size: 18px;
    color: #4d4d4d;
    background: url(//img.hzshuangmei.com/pc/bnsxb/images/bg_item.jpg) left 18px no-repeat
}

.m6 h4 {
    font-size: 20px;
    color: #000
}

.m6 p {
    font-size: 16px;
    color: #4d4d4d
}