a {
	display: inline-block;
}
img {
	display: block;
}
/*banner 开始*/
.banner {
	width: 100%;
}
.banner a {
	display: block;
}
.banner img {
	width: 100%;
}
/*banner 结束*/

/*part1 开始*/
.part1 {
	position: relative;
	padding-top: 1.515rem;
}
.title-wrap {
	width: 100%;
}
.title-wrap img {
	width: 100%;
}
.part1 .title-wrap {
	margin-bottom: 1.3rem;
}
.part1 .part1-panel {
	width: 15.552rem;
	margin: 0 auto;
}
.part1-panel .panel-item {
	float: left;
	width: 7.68rem;
	box-sizing: border-box;
	padding-top: .192rem;
	padding-left: .192rem;
	padding-right: .192rem;
	margin-bottom: .299rem;
}
.part1-panel .panel-item:nth-child(2n-1) {
	margin-right: .192rem;
}
.part1-panel .panel-item .img-wrap {
	width: 100%;
}
.part1-panel .panel-item .img-wrap img {
	width: 100%;
}
.part1 .panel-item .txt-con {
	letter-spacing: 0.021rem;
	text-align: center;
	margin-top: .512rem;
}
.part1 .panel-item .title {
	font-size: .555rem;
	color: #48a1e0;
}
.part1 .panel-item .txt-detail p {
	text-align: center;
}
/*.part1 .panel-item .txt-detail p:nth-child(1) {
	margin-left: .5rem;
}*/
.p-left {
	margin-left: -.5rem;
}
.part1 .panel-item .txt-detail {
	font-size: .43rem;
	line-height: .555rem;
	color: #999;
	margin-top: .256rem;
	height: 1.06rem;
}
.part1 .panel-item .btn-wrap {
	width: 3.413rem;
	height: .896rem;
	background: #6abcf6;
	margin: 0 auto;
	position: relative;
	margin-top: .21rem;
	margin-bottom: .618rem;
	z-index: 10;
	background: url('../images/btn-1.jpg') no-repeat;
	background-size: 100% 100%;
}
.part1 .btn-wrap a {
	width: 100%;
	height: 100%;
}
/*.part1 .btn-wrap a span {
	display: inline-block;
	width: 2.424rem;
	text-align: left;
	color: #fff;
	font-size: .43rem;
	height: .43rem;
	vertical-align: top;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -1.212rem;
	margin-top: -.215rem;
	background: url('../images/san-jian.jpg') no-repeat right .05rem;
	background-size: .448rem .3413rem;
}*/
/*1px 4边框*/

.scale-1px-4{
    position: relative;
    border:none;
}
.scale-1px-4:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgb(223,236,255);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}
/*part1 结束*/


/*part2开始*/
.part2 {
	position: relative;
	padding-top: 1.8rem;
}
.bg-wrap {
	width: 100%;
}
.bg-wrap img {
	width: 100%;
}
.part2 .title-wrap {
	margin-bottom: 1.173rem;
}
.part2 .content {
	position: absolute;
	left: 0;
	top: 6.5rem;
	width: 100%;
	/*border: 1px solid red;*/
}
.part2  .left-txt {
	width: 7.8rem;
	position: absolute;
	left: .896rem;
	top: 1.536rem;
}
.part2  .left-txt .title {
	font-size: 0.768rem;
	line-height: 0.64rem;
	letter-spacing: 0.077rem;
	color: #5fbfea;
	margin-bottom: 1.131rem;
}
.part2  .left-txt .title span {
	display: inline-block;
	width: 0.171rem;
	height: 0.171rem;
	background-color: #6abcf6;
	border-radius: .171rem;
	vertical-align: middle;
	margin-right: .36rem;
}
.part2  .left-txt .txt {
	text-indent: 2em;
	color: #6abcf6;
	font-size: 0.512rem;
	line-height: 0.768rem;
	letter-spacing: 0.051rem;
	text-align: justify;
}
.part2  .left-txt .txt span	{
	color: #ff8b00;
}
.part2 .btn-wrap {
	width: 5.717rem;
	height: 1.067rem;
	background-color: #6abcf6;
	position: absolute;
	left: 50%;
	margin-left: -2.8585rem;
	bottom: 3.051rem;
	background: url('../images/btn-3.jpg') no-repeat;
	background-size: 100% 100%;
}
.part2 .btn-wrap a {
	width: 100%;
	height: 100%;
	/*vertical-align: top;
	text-align: center;
    line-height: .9rem;*/
}
/*.part2 .btn-wrap a span {
	font-size: 0.512rem;
	line-height: 0.64rem;
	letter-spacing: 0rem;
	color: #ffffff;
}*/
/*part2结束*/

/*part3开始*/
.part3 {
	position: relative;
}
.part3 .part3-content {
	position: absolute;
	top: 1.941rem;
	width: 100%;
	box-sizing: border-box;
}
.part3 .part3-content .title {
	padding-left: 1.515rem;
	font-size: 0.768rem;
	line-height: 0.64rem;
	letter-spacing: 0.077rem;
	color: #ffffff;
}
.part3 .part3-content .title-1 {
	margin-top: 1.515rem;
}
.part3 .part3-content .title span {
	display: inline-block;
	width: 0.171rem;
	height: 0.171rem;
	background-color: #ffffff;
	vertical-align: middle;
	border-radius: .171rem;	
	margin-right: .512rem;
}
.part3 .part3-content .title-1 span {
	height: 0.18rem;
	width: 0.19rem;
	background: url('../images/circle.png') no-repeat;
	background-size: 100% 100%; 
}
.part3 .part3-content .txt-container {
	position: absolute;
	width: 6.187rem;
	height: 4.267rem;
	top: 0;
	z-index: 10;
	text-align: center;
}
.part3 .part3-content .left {
	left: 0;
}
.part3 .part3-content .right {
	right: 0;
}
.part3 .part3-content .txt-title {
	font-size: 0.512rem;
	line-height: 0.64rem;
	letter-spacing: 0.051rem;
	color: #68758c;
	margin-top: 1.1rem;
	margin-bottom: .26rem;
}
.part3 .part3-content .txt-title-1 {
	margin-top: .65rem;
}
.part3 .part3-content .txt-title-2 {
	margin-top: .512rem;
}
.part3 .part3-content .txt-title-3 {
	margin-top: .683rem;
}
.part3 .part3-content .txt-detail {
	font-size: 0.427rem;
	line-height: 0.64rem;
	letter-spacing: 0rem;
	color: #68758c;
	width: 4.7rem;
	margin: 0 auto;
}
.part3 .part3-content .txt-detail-1 {
	width: 4.907rem;
}
.part3 .part3-content .txt-detail-2 {
	width: 4.693rem;
}
.part3 .btn-wrap {
	position: absolute;
    right: 1.451rem;
    bottom: 3.072rem;
    width: 3.691rem;
    height: 3.691rem;
}
.part3 .btn-wrap a {
	width: 100%;
	height: 100%;
}
.part3 .part3-panel {
	width: 12.395rem;
	margin: 0 auto;
	margin-top: .875rem;
}
.part3 .part3-panel .item {
	width: 100%;
	position: relative;
}
.part3 .part3-panel .item img {
	width: 100%;
}
.part3 .bot-txt {
	margin-left: 1.963rem;
	margin-top: .853rem;
}
.part3 .bot-txt p {
	text-align: left;
	font-size: 0.512rem;
	line-height: 0.683rem;
	letter-spacing: 0rem;
	color: #fffefe;
	width: 8rem;
}
.part3 .bot-txt p:nth-child(1) {
	margin-bottom: .1rem;
}
/*part3结束*/

/*part4开始*/
.part4 {
	position: relative;
	padding-top: 2.069rem;
	padding-bottom: 4.256rem;
}
.part4 .title-wrap {
	margin-bottom: 1.259rem;
}
.part4 .swiper {
	margin-bottom: 1.429rem;
}
.part4 .swiper .swiper-pic {
	width: 12.608rem;
	margin: 0 auto;
}
.part4 .swiper .swiper-pic img {
	width: 100%;
}
.part4 .btn-wrap {
	width: 5.163rem;
	height: 2.5815rem;
	position: absolute;
	bottom: 1.259rem;
	background: url('../images/btn-2.png') no-repeat;
	background-size: 100%;
	left: 50%;
	margin-left: -2.5815rem;
	z-index: 100;
}
.part4 .btn-wrap a {
	width: 100%;
	height: 100%;
}
/*swiper修改*/
.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black {
	background-image: url('../images/swiper-right.png');
	background-size: .405rem .768rem;
}
.swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black {
	background-image: url('../images/swiper-left.png');
	background-size: .405rem .768rem;
}
.swiper-button-next, .swiper-button-prev {
	position: absolute;
    top: 50%;
    width: .405rem;
    height: .768rem;
    margin-top: -.384rem;
}
/*swiper修改*/

/*part4结束*/

/*bot banner 开始*/
.bot-banner {
	position: relative;
	width: 100%;
	padding-bottom: .448rem;
}
.bot-banner img {
	width: 100%;
}
.bot-banner .btn-wrap {
	position: absolute;
    width: 3.435rem;
    height: 1.109rem;
    top: 7.2rem;
    left: 5.8rem;
}
.bot-banner .btn-wrap a {
	width: 100%;
	height: 100%;
}
/*bot banner 结束*/

