body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td
{
    margin:0;
    padding:0;
}

body
{
    background:#fff;
    color:#555;
    font-family:"Microsoft YaHei", Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6
{
    font-weight:400;
}

a
{
    color:#555;
    text-decoration:none;
}

a:hover
{
    text-decoration:none;
}

img
{
    border:none;
}

ol,ul,li
{
    list-style:none;
}

input,textarea,select,button
{
    font:14px Verdana,Helvetica,Arial,sans-serif;
    border:1px solid #999;
}

table
{
    border-collapse:collapse;
}

.clearFix:after
{
    content:"";
    display:block;
    clear:both;
}

i
{
    font-style:normal;
}
.body {
    max-width: 24rem;
}

.banner a {
    display: block;
    width: 100%;
}

.container {
    margin-top: 2.5rem;
    width: 100%;
}

.con1 {
    margin: 0 auto 0.25rem;
    max-width: 22rem;
}

.container .part1 > div:first-child {
    width: 16rem;
    text-align: center;
}

.container .part1 > div:first-child img {
    margin: 0 auto;
    max-width: 15.175rem;
    height: 2.7rem;
}

.container .part1 .content1_1 {
    height: 7.75rem;
}

.container .part1 .content1_1 img {
    float: left;
    margin: 8% 5%;
    width: 40%;
}

.container .part1 .content1_2 > p {
    margin-bottom: .625rem;
    font-size: .75rem;
    font-weight: 700;
    text-align: center;
    color: #fdac01;
}

.container .part1 .content1_2 ul {
    margin: 0 auto;
    width: 15.6rem;
    height: 9.07rem;
    font-size: .45rem;
    text-align: center;
    color: #737373;
    background-color: #dadadb;
}

.container .part1 .content1_2 ul li {
    float: left;
    width: 5.2rem;
    height: 4.52rem;
}

.container .part1 .content1_2 ul li p {
    margin-top: .45rem;
}

.container .part1 .content1_2 ul .i2 {
    background: url(https://img.hzshuangmei.com/m/facille/bottom.png) no-repeat;
    background-size: cover;
}

.container .part1 .content1_2 ul .i3 {
    background: url(https://img.hzshuangmei.com/m/facille/top.png) no-repeat;
    background-size: cover;
}

.container .part1 .content1_2 ul .i4 img {
    margin-top: .6rem;
    width: 40%;
}

.container .part1 .content1_2 div {
    margin: 1.375rem auto;
    width: 5.425rem;
    height: 1.5rem;
}

.container .con2 {
    width: 100%;
}

.container .con2 > div:first-child {
    margin: 2.25rem auto 0;
    max-width: 16rem;
    text-align: center;
}

.container .part2 .content2 {
    margin: 1rem auto 0;
    width: 16rem;
    height: 8.275rem;
}

.container .part2 .content2 ul {
    width: 16rem;
    height: 8.25rem;
    color: #666;
    background: #fff;
}

.container .part2 .content2 ul li:first-child {
    width: 7.625rem;
    height: 8.175rem;
}

.container .part2 .content2 ul > li:last-child {
    padding-top: .5rem;
    width: 8rem;
    height: 8.125rem;
    font-size: .45rem;
}

.container .part2 .content2 ul > li:last-child p {
    margin: auto 0;
    text-align: left;
}

.container .part2 > div:nth-child(2n) {
    margin: 0 auto;
    max-width: 24rem;
}

.container .part2 > div:nth-child(2n) img {
    margin: 0 auto;
    width: 100%;
    vertical-align: bottom;
}

.container .part2 > div:nth-child(3) {
    margin: 0 auto;
    width: 100%;
    height: 5.5rem;
    background-color: #e6e6e6;
    margin-bottom: 0.9rem;
}

.container .part2 > div:nth-child(3) ul {
    margin: 0 auto;
    width: 15.4rem;
    height: 2.5rem;
}

.container .part2 > div:nth-child(3) ul > li {
    float: left;
    border: 1px solid #fff;
    width: 3.75rem;
    height: 2.5rem;
    text-align: center;
    color: #fff;
}

.container .part2 > div:nth-child(3) ul > li > p:first-child {
    margin-top: .65rem;
    font-size: .55rem;
}

.container .part2 > div:nth-child(3) ul .li1 {
    background-color: #f69e11;
}

.container .part2 > div:nth-child(3) ul .li2 {
    background-color: #fcb94c;
}

.container .part2 > div:nth-child(3) div {
    margin: 0 auto;
    width: 5.425rem;
    height: 3rem;
}

.container .part3 {
    margin: 2.4rem auto 0;
    max-width: 16rem;
    height: 33rem;
}

.container .part3 > div:first-child img {
    max-width: 15.175rem;
    height: 2.7rem;
}

.container .part3 .content3 {
    height: 21rem;
}

.container .part3 .content3 > ul {
    margin-top: 1.75rem;
    margin-left: 1rem;
    width: 14rem;
    height: 4.5rem;
    background-color: #e6e6e6;
}

.container .part3 .content3 > ul .pic1 {
    margin: -.25rem 0 0 .25rem;
    width: 5.75rem;
    height: 5rem;
}

.container .part3 .content3 > ul .pic1 img {
    width: 100%;
    -webkit-box-shadow: 1px 3px 3px 4px #d6d6d6;
    box-shadow: 1px 3px 3px 4px #d6d6d6;
}

.container .part3 .content3 > ul .pic2 {
    margin-left: .4rem;
    width: 7.5rem;
    height: 4.5rem;
}

.container .part3 .content3 > ul .pic2 p:first-child {
    margin: .375rem 0;
    font-size: .55rem;
    font-weight: 700;
    color: #fea414;
}

.container .part3 .content3 > ul .pic2 p:last-child {
    font-size: .35rem;
    color: #666;
}

.container .part4 {
    margin: 0 auto;
    max-width: 16rem;
    height: 32.2rem;
}

.container .part4 .content4 {
    margin: 0 auto;
}

.container .part4 .content4 ul {
    float: left;
    margin-left: .6rem;
    border: 0.075rem solid #fdc249;
    padding-left: .05rem;
    width: 6.85rem;
    height: 14.325rem;
}

.container .part4 .content4 ul li:first-child {
    width: 7.55rem;
    height: 7.675rem;
}

.container .part4 .content4 ul li:first-child img {
    margin-left: -.375rem;
    width: 100%;
    margin-top: -0.78rem;
}

.container .part4 .content4 ul li:nth-child(2) {
    width: 6rem;
    height: .875rem;
    font-size: .45rem;
    font-weight: 700;
    line-height: 0.89rem;
    color: #fff;
    background: url(https://img.hzshuangmei.com/m/facille/i1.png) no-repeat left center;
    background-size: cover;
}

.container .part4 .content4 ul .pad {
    margin: .25rem;
}

.container .part4 .content4 ul .pad span {
    margin-left: 0.2rem;
}

.container .part4 .content4 ul:last-child {
    float: left;
    margin-top: 1rem;
    margin-left: .5rem;
    border: 0.075rem solid #fdc249;
    padding-left: .05rem;
    width: 14.325rem;
    height: 6.85rem;
}

.container .part4 .content4 ul:last-child > li p:last-child {
    margin-top: .25rem;
    font-size: .45rem;
    font-weight: 400;
    line-height: .65rem;
    color: #737373;
}

.container .part4 > div:last-child img {
    margin: 1.02rem auto;
    width: 100%;
}

.container .part5 {
    margin: 0 auto;
    max-width: 16rem;
    height: 24rem;
}
.container .part5 .content5{
    margin-top:1.5rem;
}
.container .part5 .content5 > ul {
    float: left;
    margin-left: 1.5rem;
}

.container .part5 .content5 .ul1 {
    width: 5.875rem;
    height: 5rem;
    background: url(https://img.hzshuangmei.com/m/facille/type1_bg.png);
    background-size: cover;
}

.container .part5 .content5 .ul2 {
    width: 5.875rem;
    height: 5rem;
    background: url(https://img.hzshuangmei.com/m/facille/type2_bg.png);
    background-size: cover;
}

.container .part5 .content5 > ul > li:first-child {
    margin-top: .375rem;
    width: 2.625rem;
    height: 2.25rem;
    font-size: .55rem;
    font-weight: 700;
    color: #fff;
}

.container .part5 .content5 > ul > li:nth-child(2) {
    margin-top: .3rem;
    width: 2.625rem;
    height: 2.345rem;
    font-size: .6rem;
    font-weight: 700;
    color: #fea81e;
}

.container .part5 .content5 > ul > li:last-child {
    margin-left: .3rem;
    width: 5rem;
    height: 1.625rem;
    font-size: .45rem;
    color: #737373;
}

.container .part6 {
    margin: 0 auto;
    margin-bottom: 1rem;
}

.container .part6 .content6 > div:first-child {
    margin-top: 1.0rem;
    width: 7.3rem;
    height: 9.875rem;
}

.container .part6 .content6 > div:last-child {
    font-size: .3rem;
    background: url(https://img.hzshuangmei.com/m/facille/lzk_bg.jpg) no-repeat center;
    /*width: 8.5rem;*/
    /*height: 11.5rem;*/
    width: 7.9rem;
    height: 10.85rem;
    background-size: cover;
}

.container .part6 .content6 > div:last-child p {
    font-size: 0.45rem;
    line-height: 0.7rem;
}

.container .part6 .content6 > div:last-child p:first-child {
    margin-top: .35rem;
}

.container .part6 .content6 > div:last-child > div:last-child {
    margin: 0 auto;
    width: 7.625rem;
    height: 1.25rem;
}

.container .part6 .content6 > div:last-child > div:last-child img {
    width: 100%;
    margin-top: 2.6rem;
}

.container .part6 .content6 > div:last-child .img {
    margin: 0.2rem 0 0.2rem 0.2rem;
    width: 2.5rem;
    height: .875rem;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    margin: 0 auto;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    background-color: #fafafa;
}

.banner a img,
.container .part1 .content1_2 ul .i1 img,
.container .part1 .content1_2 div img,
.container .part2 .content2 ul li:first-child img,
.container .part6 .content6 > div:first-child img,
.container .part6 .content6 img {
    width: 100%;
    vertical-align: bottom;
}

.container .part1,
.container .part1 .content1_2 {
    margin: 0 auto;
    max-width: 16rem;
}

.container .con2 > div:first-child img,
.container .part4 > div:first-child img,
.container .part5 > div:first-child img,
.container .part6 > div:first-child img {
    max-width: 15.175rem;
    height: 2.7rem;
}

.container .part2 .content2 ul li,
.container .part3 .content3 > ul > li,
.container .part4 .content4 ul:last-child > li,
.container .part5 .content5 > ul > li,
.container .part6 .content6 > div {
    float: left;
}

.container .part2 > div:nth-child(2n) img,
.banner,
.container .part2 {
    margin: 0 auto;
    width: 100%;
}

.container .part2 > div:nth-child(3) ul > li > p:last-child,
.container .part4 .content4 ul li:last-child {
    font-size: .45rem;
}

.container .part2 > div:nth-child(3) div img,
.container .part3 .content3 div img,
.container .part5 > div:last-child img {
    margin-top: .875rem;
    width: 100%;
}

.container .part3 > div:first-child,
.container .part4 > div:first-child,
.container .part5 > div:first-child,
.container .part6 > div:first-child {
    text-align: center;
}

.container .part3 .content3 div,
.container .part4 > div:last-child,
.container .part5 > div:last-child {
    margin: 0 auto;
    width: 5.425rem;
    height: 1.5rem;
}

.container .part6 .content6 > div:first-child {
    margin-top: 0rem;
    width: 7.3rem;
    height: 11.2rem;
}
