.s_ipt_wr_pre {
    width: 536px!important;
}
.content-main {
    width: 836px;
    margin: 0 130px 0 15px;
}
.content {
    float: left;
    width: 680px;
}
.s0 .c-abstract-image {
    margin-left: 5px;
    width: 600px;
}
.s_ipt {
    width: 495px;
}