.m1 {
    width: 1200px;
    margin: 0 auto;
}

.article_case_content .center .inline_keywords {
    text-decoration: dotted underline;

    color: #fc4679;
}

.article_case_content .data {
    width: 877px;    /* height: 190px; */
    padding-top: 20px;
    margin: 25px 0 45px;

    font-size: 16px;

    color: #5a5a5a;
    background-color: rgb(243, 243, 243);
}
.article_case_content .data > div {
    float: left;
}
.article_case_content .data_t {
    /* padding-top:20px; */
    width: 700px;    /* border: 1px solid red; */
    margin-left: 15px;
}
.article_case_content .data_t > div {
    margin: 13px 0 20px;
}
.article_case_content .data_t > div p {
    /* float: left; */ height: 42px;

}
.article_case_content .data_t > div p:last-child {
    /*  margin-left: 195px; */
}

/* .article_case_content .data_t>div:first-child{
    margin-left:40px;
    width:83px;
    height:82px;
    border-radius: 5px;
    overflow: hidden;
} */
.article_case_content .data_after {
    width: 83px;
    height: 82px;
    margin-left: 40px;
    overflow: hidden;

    border-radius: 5px;
}
.article_case_content .data_after img {
    width: 100%;
    margin-bottom: 10px;

    border-radius: 5px;
}

/* .article_case_content .data_t>div:first-child img{
    width:100%;
    border-radius: 5px;
    margin-bottom:10px;
} */
.article_case_content .data_t > div:nth-child(2) {
    width: 710px;
    margin-left: 16px;
}
.article_case_content .data_t > div:last-child {
    /* margin-left:68px; */

    /* position: relative; */
}

/*.article_case_content .data p i{*/

/*display: inline-block;*/

/*width: 20px;*/

/*height: 20px;*/

/*margin-right: 3px;*/

/*position: relative;*/

/*top: 2px;*/

/*}*/
.article_case_content .data p i {
    position: relative;
    top: -1px;

    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 5px;

    border: 1px solid #af9ac6;
    border-radius: 50%;
}

/*.article_case_content .data p .beauty{*/

/*background:url(//img.hzshuangmei.com/pc/beauty.png) no-repeat center;*/

/*}*/

/*.article_case_content .data p .case{*/

/*background:url(//img.hzshuangmei.com/pc/case.png) no-repeat center;*/

/*}*/

/*.article_case_content .data p .doctor{*/

/*background:url(//img.hzshuangmei.com/pc/doctor.png) no-repeat center;*/

/*}*/

/*.article_case_content .data p .comment{*/

/*background:url(//img.hzshuangmei.com/pc/comment.png) no-repeat center;*/

/*top: 4px;*/

/*}*/
.article_case_content p .fon1 {
    width: 485px;

    font-size: 16px;

    color: #313030;
}
.article_case_content p .fon2 {
    position: relative;
    top: -20px;
    left: 92px;

    display: inline-block;
    width: 610px;

    font-size: 14px;
}
.article_case_content p .fon3 {
    position: relative;
    top: -22px;
    left: 92px;

    display: inline-block;
    width: 610px;

    font-size: 18px;

    color: #8c4a99;
}
.article_case_content p .fon3 a {
    margin-right: 14px;

    color: #8c4a99;
}
.article_case_content p .fon3 br {
    display: none;
}
.article_case_content .data_b {
    /* width:707px; */
    /* margin-left:139px; */
    /* position: relative; */
    /* top: 17px; */
    padding-bottom: 33px;
}
.article_case_content .data_b i {
    position: relative;
    top: -17px;
}

/*.article_case_content .data_b .fon1{*/

/*position:relative;*/

/*top:-17px;*/

/*}*/
h3 {
    font-size: 30px;

    text-align: center;

    color: #7d5599;
}
.article_case_content .main .line3 {
    width: 806px;
    height: 4px;
    margin: 30px auto 35px;

    background: url(//img.hzshuangmei.com/pc/ar_case_line.jpg) no-repeat center;
}
.article_case_content .main .main_content h4 {
    position: relative;    /* top: -9px; */

    display: inline-block;    /*height: 32px;*/
    padding: 0 10px 0 15px;

    font-size: 18px;
    line-height: 32px;

    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #7d5599;
}

/*.article_case_content .main .main_content h4 span{*/

/*background-color: #7d5599;*/

/*border-top-left-radius: 5px;*/

/*border-bottom-left-radius: 5px;*/

/*color: #fff;*/

/*font-size: 18px;*/

/*position: relative;*/

/*top: -9px;*/

/*padding: 4px 14px;*/

/*}*/
.article_case_content .main .main_content h4 i {
    position: absolute;
    right: -19px;

    display: inline-block;
    width: 19px;
    height: 32px;
    overflow: hidden;

    background: url(//img.hzshuangmei.com/pc/ar_case_sjx.png) no-repeat center;
}
.article_case_content .main .main_content p {
    width: 830px;
    margin: 12px 0 19px 28px;

    font-size: 16px;
    line-height: 1.5em;

    text-align: justify;

    color: #575757;
}
.article_case_content .main .main_content div {
    margin: 0 0 52px 28px;
}
.article_case_content .main .main_content div > img {
    float: left;
    width: 31%;
    margin-right: 16px;
    margin-bottom: 10px;

    border: 1px solid #ebebeb;
}
.article_case_content .main_content .note p {
    width: 820px;
    padding: 10px 10px 10px 10px;
    margin: 0;

    font-size: 16px;
    line-height: 1.8;

    text-align: justify;

    color: #a287a9;
    background: #f6f5f8;
}
.note {
    position: relative;
    top: -33px;
}

/********************* case_article  modal*********************/
.article_case_content .main img {
    cursor: zoom-in;
}
.case-article-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;

    visibility: hidden;

    background: rgba(0, 0, 0, .6);
}
.case-article-modal.case-show {
    z-index: 99999;

    visibility: visible;
}
.case-article-modal .case-modal-imgbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    width: 50%;
    height: 80%;
    margin: auto;
    margin: auto;
}
.case-article-modal  #case-modal-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    max-width: 80%;
    max-height: 100%;
    margin: auto;
}
.case-article-modal .case-close {
    position: absolute;
    top: 10%;
    right: 10%;

    width: 44px;
    height: 44px;

    background: url("//img.hzshuangmei.com/pc/btn_close2.png") center center no-repeat;
    background-size: 100%;
}
.case-article-modal .case-close:hover {
    cursor: pointer;
}
.case-article-modal .case-btn {
    position: absolute;

    display: block;
    width: 84px;
    height: 164px;
}
.case-article-modal .case-prev {
    top: 210px;
    left: 0;

    background: url("//img.hzshuangmei.com/pc/bg_prev.png") center center no-repeat;
}
.case-article-modal .case-next {
    top: 210px;
    right: 0;

    background: url("//img.hzshuangmei.com/pc/bg_next.png") center center no-repeat;
}
