.m1 {
    width: 1200px;
    margin: 0 auto;
}

.location {
    margin: 19px 8px 6px 29px;
}

.line {
    width: 870px;
    height: 7px;

    background: url(https://img.hzshuangmei.com/pc/home.png+line.png+ar_case_qq.png+share_01.png+share_07.png+share_08.png+ar_case_jou.png.pagespeed.is.MMKbL5m-5A.png) no-repeat top left;
    background-position: 0 -16px;
}

.location i {
    display: inline-block;
    width: 17px;
    height: 16px;
    margin-right: 5px;
    margin-left: -12px;

    background: url(https://img.hzshuangmei.com/pc/home.png+line.png+ar_case_qq.png+share_01.png+share_07.png+share_08.png+ar_case_jou.png.pagespeed.is.MMKbL5m-5A.png) no-repeat center;
    background-position: 0 0;
}

.article_help_content {
    padding-top: 31px;
}

.article_help_content .center {
    position: relative;

    float: left;
    width: 874px;
    margin-right: 12px;
    overflow: hidden;
}

.article_help_content .artQuest {
    position: absolute;
    top: 57px;
    left: 35px;
}

.article_help_content .center h1 {
    margin: 68px 0 9px 132px;

    font-size: 24px;

    color: #4d4d4d;
}

.article_help_content .tit {
    width: 530px;
    margin-left: 133px;
    overflow: hidden;
    clear: both;

    line-height: 15px;
}

.article_help_content .tit span {
    position: relative;

    display: inline-block;
    float: left;
    margin-right: 31px;

    font-size: 12px;

    color: #8e8e8e;
}

.article_help_content .tit span:nth-of-type(2) {
    display: inline-block;
    margin-top: 1px;

    line-height: 15px;

    vertical-align: sub;
}

.article_help_content .tit span:nth-of-type(2) img {
    float: left;
    margin-right: 4px;
}

.article_help_content .tit span:nth-of-type(3) {
    width: auto;
    padding: 0 4px;
    margin-top: 1px;

    font-size: 12px;

    color: #fff;
    border-radius: 6px;
    background: #c2c7f5;
}

.article_help_content .tit span i {
    position: absolute;
    top: 5px;
    right: -12px;

    width: 1px;
    height: 8px;

    background: #dbdcdf;
}

.tit a {
    color: #fff;
}

.ar_ar {
    width: 750px;
    margin: 45px auto 0;

    font-size: 16px;
}

.article_help_content .page {
    margin: 40px 0 20px;

    text-align: center;
}

.article_help_content .page > p {
    float: left;
    width: 438px;

    font-size: 14px;

    color: #6a6a6a;
}

.article_help_content .page > p:hover a {
    color: #340b56;
}

.article_help_content .page > p span {
    color: #410e6b;
}

.article_help_content .share {
    width: 879px;
    height: 125px;
    margin-top: 20px;

    background-color: #f6f0ff;
}

.article_help_content .share i {
    position: relative;
    top: 4px;
}

.article_help_content .share > p {
    float: left;
    margin: 52px 6px 0 39px;

    font-size: 18px;

    color: #340b56;
}

.article_help_content .share > div {
    float: left;
}

.article_help_content .share p .share_01 {
    position: relative;
    top: 0;

    display: inline-block;
    width: 20px;
    height: 15px;
    margin-right: 10px;

    background: url(https://img.hzshuangmei.com/pc/home.png+line.png+ar_help_qq.png+share_01.png+share_07.png+share_08.png+ar_help_jou.png.pagespeed.is.MMKbL5m-5A.png) no-repeat center;
    background-position: 0 -42px;
}

.article_help_content .share .bdsharebuttonbox {
    margin-top: 47px;
}

.article_help_content .share .share_ewm {
    margin: 9px 75px 0 75px;
}

.article_help_content .share .share_ewm p {
    position: relative;
    top: -22px;

    display: inline-block;
    margin-left: 8px;

    font-size: 18px;
    line-height: 1.333;

    text-align: center;

    color: #340b56;
}

.article_help_content .share .zixun .share_07 {
    display: inline-block;
    width: 21px;
    height: 19px;
    margin-right: 3px;

    background: url(gw.png) no-repeat center;
    background-position: 0 -57px;
}

.article_help_content .share .zixun {
    margin-top: 22px;
}

.article_help_content .share .zixun a {
    display: block;
    width: 139px;
    height: 31px;
    margin-bottom: 10px;

    line-height: 31px;

    text-align: center;

    color: #fff;
    border-radius: 5px;
    background-color: #4d1b6b;
}

.article_help_content .share .zixun .share_08 {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;

    background: url(zx.png) no-repeat center;
    background-position: 0 -76px;
}

.article_help_content .cor_tit {
    margin: 40px 0 0 30px;
}

.article_help_content .cor_content {
    width: 790px;
    margin: 25px auto 30px;
}

.article_help_content .cor_content a {
    display: block;
    float: left;
    width: 340px;
    height: 40px;
    margin-right: 78px;
    overflow: hidden;

    font-size: 14px;
    line-height: 40px;

    color: #4a4a4a;
}

.article_help_content .cor_content a:hover {
    color: #340b56;
}

.article_help_content .aside {
    width: 305px;
    margin-bottom: 14px;
}

.article_help_content .aside a {
    display: block;
}

.article_help_content .aside .center1 {
    margin-bottom: 33px;
    margin-left: 12px;
}

.article_help_content .aside .aside_tit {
    height: 36px;
    margin: 20px 0 31px 11px;

    border-left: 1px solid #dadada;
}

.article_help_content .aside .aside_tit > h2 {
    width: 125px;
    height: 35px;
    margin-left: 9px;

    line-height: 17px;
}

.article_help_content .aside .aside_tit > h2 a:first-child {
    display: inline;

    font-size: 20px;

    color: #693290;
}

.article_help_content .aside .aside_tit > h2 a:last-child {
    display: inline;

    font-family: "BDZYJT";
    font-size: 10px;

    text-transform: uppercase;

    color: rgb(213,207,229);
}

.article_help_content .aside .aside_tit > a {
    display: block;
    float: right;
    width: 48px;
    height: 20px;
    margin: -28px 20px 0 0;

    font-size: 12px;
    line-height: 20px;

    text-align: center;
    text-transform: uppercase;

    color: #878787;
    border: 1px solid #b3b3b3;
}

.article_help_content .aside .aside_ex a {
    max-width: 281px;
    max-height: 193px;
    margin-bottom: 8px;
    overflow: hidden;
}

.article_help_content .aside .aside_ex a img {
    max-width: 281px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #693290!important;
}

.cor_content a span {
    position: relative;
    top: -2px;

    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;

    font-size: 12px;
    line-height: 15px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background-color: #bdbbbc;
}

.cor_content a:hover span {
    background-color: #4b1c6a;
}

tr {
    width: 790px;
}

.gdyb {
    position: relative;

    float: left;
}

.essence {
    position: absolute;
    top: 53px;
    right: 61px;
}

.article_help_content .ar_ar {
    width: 840px;
    margin-bottom: 18px;
    overflow: hidden;

    background: #f6f6f6;
}

.docName {
    position: relative;

    display: inline-block;
    margin: 62px 0 0 185px;

    font-size: 22px;
    line-height: 24px;

    vertical-align: middle;

    color: #7167aa;
}

.helpV {
    position: absolute;
    top: 3px;
    right: -27px;
}

.category {
    margin-top: 4px;
    margin-left: 187px;

    font-size: 14px;
    line-height: 24px;

    color: #666;
}

.help_start {
    display: block;
    margin-top: 3px;
    margin-left: 185px;
}

.help_fraction {
    position: absolute;
    top: 287px;
    left: 316px;

    font-size: 12px;

    color: #fea802;
}

.art_help_kst {
    position: absolute;
    top: 272px;
    right: 37px;

    width: 127px;

    font-size: 18px;
    line-height: 29px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border-radius: 5px;
    background: #693290;
}

.article_help_content .lined {
    border-bottom: 1px dashed rgba(0,0,0,.08);
}

.article_help_content .helpLine {
    display: block;
    margin-top: 59px;
    margin-bottom: 32px;
    margin-left: 37px;
}

.article_help_content .guidance {
    margin-bottom: 34px;
    margin-left: 37px;

    font-size: 22px;
    line-height: 24px;

    color: #1a1a1a;
}

.article_help_content .con {
    width: 757px;
    padding-bottom: 37px;
    margin: auto;

    font-size: 18px;

    color: #666;
}

.article_help_content .con .page p {
    width: 268px;
    margin: 1em 0;
    margin-right: 57px;

    line-height: 28px;

    cursor: pointer;
    text-align: left;
    text-indent: 20px;

    color: #666;
    border: 1px solid #4d1b6b;
    border-radius: 5px;
}

.center > div {
    border: 1px solid #f2f2f2;
    box-shadow: 3px 4px 13px rgba(224,224,224,.31);
}

#help_tab ul {
    height: 34px;
    margin: 25px auto 32px;
}

#help_tab {
    margin-left: 27px;
}

#help_tab .fli2_tab {
    background-color: #6a157d;
}

#help_tab .fli2_tab a {
    color: #fff;
}

#help_tab li {
    float: left;
    width: 139px;
    height: 34px;
    margin: 0 5px;

    font-size: 14px;
    font-weight: bold;
    line-height: 34px;

    cursor: pointer;
    text-align: center;

    background-color: #eae8ea;
}

#helpCon2 > li {
    display: none;
}

#help_tab li a {
    display: block;
    width: 100%;
    height: 100%;

    font-size: 16px;

    color: #6a157d;
}

.article_help_content .center tr {
    height: 57px;

    line-height: 57px;

    border-bottom: 1px dashed #f2f2f2;
}

.article_help_content .center tr:last-child {
    border-bottom: none;
}

#helpCon2 .hdiv2 {
    display: block;
}

.article_help_content .correlation {
    margin-top: 28px;
}

.article_help_content .helpInfo {
    position: absolute;
    top: 221px;
    left: 52px;

    width: 95px;
    height: 95px;
    overflow: hidden;

    border-radius: 50%;
    background: #dcdcde;
}

.helpInfo img {
    position: absolute;
    top: 4px;
    left: 0;

    display: block;
    width: 100%;
}

.pro2,
.pro3 {
    position: relative;
    top: 0!important;
    right: 0!important;
}

.pro3 {
    margin-top: 10px;

    border: 1px solid #f2f2f2;
    box-shadow: 0 5px 13px rgba(224,224,224,.31);
}

.art_info_tag a {
    display: inline-block;
    height: 23px;
    padding: 0 20px;
    margin-right: 12px;

    font-size: 16px;
    line-height: 23px;

    color: #9a9a9a;
    border: 1px solid #999;
    border-radius: 11px;
}

.art_info_tag a:hover {
    color: #693290;
    background: #e6e6e6;
}

.pro3 > li > a,
.pro3 > li > a > img {
    display: block;
    width: 100%;
    height: 100%;
}

.pro3 li:nth-of-type(1) {
    margin-top: 14px!important;
}

.pro3 > li {
    position: relative;

    width: 281px;
    height: 164px;
    margin: 10px auto 0!important;

    border-bottom: none!important;
}

.info_kst {
    display: block;
    padding-top: 11px;
    margin: auto;

    cursor: pointer;
}

.pro2N {
    height: 559px!important;
}

.article_case_content .aside {
    border: none!important;
}

.aside_ex.center1 {
    /* border:1px solid #f2f2f2!important; */
    /* box-shadow:0 5px 13px rgba(224,224,224,.31)!important; */
}

.btn-gif {
    width: 396px;
    height: 60px;
    margin: 0 auto;

    background: url(//img.hzshuangmei.com/pc/btn-gif.gif) no-repeat;
    background-size: 100%;
}

.btn-gif a {
    display: block;
    width: 100%;
    height: 100%;
}

.pro2,
.pro3 {
    position: relative;
    top: 0!important;
    right: 0!important;
}

.pro3 {
    height: 537px;
    margin-top: 10px;

    border: 1px solid #f2f2f2;
    box-shadow: 0 5px 13px rgba(224,224,224,.31);
}

.art_info_tag a {
    display: inline-block;
    height: 23px;
    padding: 0 20px;
    margin-right: 12px;

    font-size: 16px;
    line-height: 23px;

    color: #9a9a9a;
    border: 1px solid #999;
    border-radius: 11px;
}

.art_info_tag a:hover {
    color: #693290;
    background: #e6e6e6;
}

.pro3 > li > a,
.pro3 > li > a > img {
    display: block;
    width: 100%;
    height: 100%;
}

.pro3 li:nth-of-type(1) {
    margin-top: 14px!important;
}

.pro3 > li {
    position: relative;

    width: 281px;
    height: 164px;
    margin: 10px auto 0!important;

    border-bottom: none!important;
}

.info_kst {
    display: block;
    padding-top: 11px;
    margin: auto cursor: pointer;
}

.pro2N {
    height: 559px!important;
}

.article_case_content .aside {
    border: none!important;
}

.aside_ex.center1 {
    /* border:1px solid #f2f2f2!important; */
    /* box-shadow:0 5px 13px rgba(224,224,224,.31)!important; */
}

.article_help_content .pro2_tag li:nth-of-type(1) {
    background: url(https://img.hzshuangmei.com/pc/xhelpHot.png.pagespeed.ic.BzNqolW5O5.png) no-repeat right;
}

.article_help_content .pro2_tag li:nth-of-type(2) {
    background: url(https://img.hzshuangmei.com/pc/xhelpHot.png.pagespeed.ic.BzNqolW5O5.png) no-repeat right;
}

.pro2N .pro2_tag li > a > span:hover {
    text-decoration: none;
}

.pro2N_name .pro2N_name .pro2_tag li > a:hover {
    text-decoration: none;

    color: #693290;
}

.article_help_content .pro2_tag li {
    width: 273px;
    margin: 0 20px 13px 0;
}

.pro2_tag li > a {
    border-bottom: 1px solid #fff;
}

.article_help_content .docAsi {
    border: 1px solid #f2f2f2;
    box-shadow: 0 5px 13px rgba(224,224,224,.31);
}

.article_help_content .pro2_tag li > a:hover {
    text-decoration: none;

    border-bottom: 1px solid #693290;
}

.article_help_content .pro2_tag li > a {
    display: block;
    width: fit-content;

    color: #666;
}

.article_help_content .pro2_tag li > a:hover span:nth-of-type(1) {
    background: #693290;
}
