body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0
}

body {
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #555;
    background: #fff
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal
}

a {
    text-decoration: none;
    color: #555
}

a:hover {
    text-decoration: none
}

img {
    border: none
}

ol,ul,li {
    list-style: none
}

input,textarea,select,button {
    font: 14px Verdana,Helvetica,Arial,sans-serif;
    border: 1px solid #999
}

table {
    border-collapse: collapse
}

.clearFix:after {
    display: block;
    clear: both;
    content: ""
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0
}

.shuang_m1 {
    width: 1200px;
    margin: 0 auto
}

header .top {
    height: 90px;
    font-size: 12px;
    background-color: #ececec
}

header .top .shuang_m1 {
    padding-top: 12px
}

header .top .shuang_m1 .top_l {
    position: relative;
    top: -5px;
    display: flex;
    float: left;
    height: 31px;
    padding-left: 16px;
    line-height: 31px;
    color: #999
}

header .top .shuang_m1 .top_l img {
    position: relative;
    display: block;
    width: 361px;
    height: 56px;
    padding-right: 6px;
    margin: 12px 0 0 216px;
    text-align: center
}

header .top .shuang_m1 .top_l span {
    padding-left: 0;
    margin-top: 45px
}

header .top .top_c {
    top: -5px;
    float: left;
    height: 31px;
    margin-left: 50px;
    line-height: 31px
}

header .top .top_c .search_box {
    margin-top: -5px
}

header .top .top_c form {
    position: relative;
    width: 300px;
    height: 30px;
    margin: 0 auto
}

header .top .top_c input,header .top .top_c button {
    border: none;
    outline: none
}

header .top .top_c input {
    width: 100%;
    height: 42px;
    padding-left: 13px
}

header .top .top_c button {
    position: absolute;
    width: 42px;
    height: 31px;
    cursor: pointer
}

header .top .top_c .search_box form {
    height: 31px
}

header .top .top_c .search_box input {
    float: right;
    width: 250px;
    height: 31px;
    transition: .3s linear;
    border-radius: 42px;
    background: #f9f0da
}

header .top .top_c .search_box input:focus {
    width: 300px
}

header .top .top_c .search_box button {
    top: -2px;
    right: 0;
    background: none
}

header .top .top_c .search_box button:before {
    font-family: FontAwesome;
    content: "\f002";
    color: #324b4e
}

header .top .shuang_m1 .top_r {
    float: right;
    margin-top: 47px
}

header .top .shuang_m1 a {
    display: inline-block
}

header .top .shuang_m1 .top_r span {
    position: relative;
    top: -4px;
    color: #7c7c7c
}

header .top .shuang_m1 .top_r i {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 6px
}

header .top .shuang_m1 .top_r .pad_r {
    padding-right: 9px
}

header .top .shuang_m1 .top_r .pad_l {
    padding-left: 4px
}

header .top .shuang_m1 .tel {
    background: url(//img.hzshuangmei.com/pc/xh_phone.png,qv=0.1.pagespeed.ic.19codryaAO.png) no-repeat center
}

header .top .shuang_m1 .wbo {
    background: url(//img.hzshuangmei.com/pc/h_weibo.png) no-repeat center
}

header .top .shuang_m1 .wxin {
    background: url(//img.hzshuangmei.com/pc/h_weixin.png) no-repeat center
}

header .top .shuang_m1 .qq {
    background: url(//img.hzshuangmei.com/pc/h_qq.png) no-repeat center
}

._CNav_link {
    width: 100%;
    height: 130px;
    background: #fff
}

._CNav_N1 {
    width: 100%;
    height: 33px;
    overflow: hidden;
    line-height: 33px;
    background: #eaeaea
}

._CNav_N1>div {
    width: 1200px;
    height: 100%;
    padding-bottom: 2px;
    margin: 0 auto;
    font-size: 14px;
    color: #999
}

._CNav_NO {
    float: left
}

._CNav_NO>span {
    display: inline-block;
    height: 100%;
    opacity: 1;
    color: #999
}

._CNav_link ._CNav_NO>span>a {
    font-size: 13px;
    color: #410e6b
}

._CNav_link ._CNav_TW {
    float: left;
    margin-left: 30px
}

._CNav_TW>img {
    float: left;
    margin-top: 7px;
    margin-right: 8px
}

._CNav_link ._CNav_TW>span {
    color: #999
}

._CNav_link ._CNav_TH {
    float: right;
    color: #999
}

._CNav_link ._CNav_TH a {
    color: #999
}

._CNav_link ._CNav_TH a:hover {
    color: #4d4d4d
}

._CNav_N2 {
    width: 1200px;
    height: 107px;
    margin: 0 auto;
    background: #fff
}

._CNav_N2O {
    float: left;
    margin-top: 25px
}

._CNav_N2T {
    float: right;
    margin-top: 31px
}

._CNav_N2Th {
    float: right
}

._CNav_div {
    position: relative;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 5px;
    overflow: hidden
}

._CNav_div2 {
    position: relative;
    font-size: 14px;
    color: #999
}

._CNav_div2>span {
    display: inline-block;
    margin-top: 0;
    margin-right: 4px
}

._CNav_div2>span>a {
    color: #a5a5a5
}

._CNav_div2>span>a:hover {
    color: #4d4d4d
}

._CNav_link button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 54px;
    height: 32px;
    cursor: pointer;
    color: #b5b5b5;
    border: none;
    background: none;
    background: url(//img.hzshuangmei.com/pc/xser.jpg.pagespeed.ic.JsljxxL1et.jpg)
}

.sear {
    z-index: 11;
    display: block;
    float: right;
    width: 407px;
    height: 29px;
    text-indent: 4px;
    border: none;
    border: 1px solid #410e6b;
    outline: medium;
    background: #fff
}

#nav {
    width: 100%;
    height: 59px;
    background-color: #410e6b
}

.sy_nav {
    background-color: #64b1e6!important
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    animation: show;
    animation-duration: .5s
}

@keyframes show {
    from {
        top: -50px;
    }

    to {
        top: 0;
    }
}

#nav>ul {
    display: flex
}

#nav a {
    display: block
}

#nav>ul>li {
    height: 59px;
    flex: 1
}

#nav>ul>li>a {
    position: relative;
    top: 0;
    height: 41px;
    padding-top: 18px;
    line-height: 3px;
    text-align: center;
    color: #fff
}

#nav>ul>li>a span:first-child {
    font-size: 18px
}

#nav>ul>li>a span:last-child {
    font-size: 12px;
    line-height: 3.333;
    text-transform: uppercase
}

#nav .bor_r {
    border-right: 1px solid #360d57
}

#nav .bor_l {
    border-left: 1px solid #580d95
}

#sy_nav_ul .bor_r {
    border-right: 1px solid #5792bb!important
}

#sy_nav_ul .bor_l {
    border-right: 1px solid #5792bb!important
}

#nav>ul>li #project {
    position: absolute;
    z-index: 100;
    display: none;
    width: 1200px;
    height: 460px;
    margin-left: -344px;
    border: 1px solid #efebeb;
    background-color: #fff
}

#nav ul li:hover #project {
    display: block
}

.currnet {
    font-weight: bold;
    background: #6a157d
}

.sy_nav .currnet {
    background: #5d819a!important
}

.sy_currnet .currnet {
    font-weight: bold;
    background: #6a157d!important
}

#nav>ul>li:hover {
    background: #6a157d
}

.sy_nav>ul>li:hover {
    background: #5d819a!important
}

#nav .nav_list:nth-child(5) span::before {
    position: absolute;
    top: 5px;
    right: 60px;
    width: 10px;
    height: 10px;
    content: "";
    border-radius: 50%;
    background: #ef4550
}

#project ul {
    float: left;
    width: 158px;
    margin-top: -2px;
    margin-left: 12px
}

#project img {
    width: 152px;
    height: 86px;
    padding: 1px;
    border: 1px solid #e7e7e7
}

#expert {
    position: absolute;
    z-index: 100;
    display: none;
    width: 1200px;
    height: 460px;
    margin: 0 auto 0;
    margin-left: -516px;
    border: 1px solid #efebeb;
    background-color: #fff
}

#expert a {
    width: 188px;
    height: 169px;
    overflow: hidden
}

#expert .last-one {
    width: 342px;
    height: 362px
}

#expert img {
    width: 98%;
    padding: 1px
}

#expert img:last-child {
    width: 340px;
    height: 360px
}

nav ul li:hover #expert {
    display: block
}

#expert ul {
    float: left;
    width: 158px;
    margin-top: -2px;
    margin-right: 22px;
    margin-left: 23px
}

.n_r {
    color: #ac0000
}

#expert .moon a {
    display: block;
    width: 344px
}

#project ul li {
    padding-bottom: 15px
}

nav>ul>li ul li {
    text-align: center
}

nav>ul>li ul li a p {
    font-size: 12px
}

nav>ul>li #project>ul>li a p span {
    color: #000
}

nav > ul > li #project > ul > li:nth-child(2) a p span {
    color: #ac0000
}

nav > ul > li #project > ul > li:nth-child(2) a p i {
    display: inline-block;
    width: 11px;
    height: 11px;
    padding-right: 5px;
    background: url(//img.hzshuangmei.com/pc/nav_star.png+f_address.png+f_phone.png+f_feather.png.pagespeed.is.Rc0pSjLoEg.png) no-repeat center;
    background-position: 0 0
}

nav>ul>li ul li h5 {
    width: 158px;
    height: 23px;
    margin-top: 28px;
    font-size: 16px;
    font-weight: bold;
    line-height: 15px;
    color: #666;
    border-bottom: 2px solid rgba(206,206,206,.8)
}

nav>ul>li ul li h5 a {
    display: block!important;
    height: 18px!important
}

.n_button {
    width: 60px;
    height: 12px;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 12px;
    border: 1px solid #b992c2;
    background-color: #6a157d
}

nav>ul>li ul .n_button a {
    width: 61px;
    line-height: 26px;
    color: #fff
}

#expert ul li {
    width: 187px;
    height: 170px;
    padding-bottom: 0;
    margin-top: -10px;
    margin-bottom: 31px;
    border: 1px solid #e7e7e7
}

#expert ul li:first-child {
    height: 50px;
    padding-top: 5px;
    margin-bottom: 26px;
    border: none
}

#expert h5 {
    width: 187px
}

#expert .moon {
    width: 344px
}

#expert p {
    position: relative;
    top: -84px;
    width: 187px;
    height: 26px;
    line-height: 26px;
    background-color: rgba(255,255,255,.502)
}

.n_f {
    padding-right: 8px;
    font-size: 14px;
    color: #000
}

.n_b {
    color: #000
}

.banner a {
    display: block
}

.banner>img {
    vertical-align: bottom
}

.swiper-slide img {
    width: 100%
}

.banner .banner_swiper .swiper-slide img {
    display: block
}

.banner .banner-pagination .swiper-pagination-bullet {
    display: inline-block;
    width: 16px;
    height: 16px;
    opacity: 1;
    border-radius: 100%;
    background: #dfdfdf
}

.banner .banner-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #59277d
}

.sy_banner .banner-pagination .swiper-pagination-bullet-active {
    background: #59277d!important
}

.index_items {
    height: 285px;
    background-color: #f0f0f0
}

.index_items .shuang_m1>div {
    float: left;
    width: 298px;
    height: 222px;
    margin-top: 35px
}

.index_items .shuang_m1 .border-r {
    border-right: 1px solid #e1e1e1
}

.index_items .shuang_m1 .border-l {
    border-left: 1px solid #fff
}

.index_items .shuang_m1>div span {
    font-size: 18px;
    color: #4f3d79
}

.index_items .shuang_m1>div i {
    display: block;
    width: 69px;
    height: 68px;
    margin-top: 24px
}

.index_items .shuang_m1>div:first-child i {
    background: url(//img.hzshuangmei.com/pc/p5_01.png) no-repeat center
}

.index_items .shuang_m1 > div:nth-child(2) i {
    background: url(//img.hzshuangmei.com/pc/p5_02.png) no-repeat center
}

.index_items .shuang_m1 > div:nth-child(3) i {
    background: url(//img.hzshuangmei.com/pc/p5_03.png) no-repeat center
}

.index_items .shuang_m1>div:last-child i {
    background: url(//img.hzshuangmei.com/pc/p5_04.png) no-repeat center
}

.index_items .shuang_m1>div .icon {
    float: left;
    padding-top: 22px;
    margin-left: 48px
}

.index_items .shuang_m1>div ul {
    float: left;
    margin-left: 37px;
    font-size: 12px;
    line-height: 24px
}

.index_items .shuang_m1>div ul a {
    color: #593d79
}

.index_items .shuang_m1>div:first-child ul {
    margin-top: 42px
}

.index_items .shuang_m1 > div:nth-child(2) ul {
    margin-top: 12px
}

.index_items .shuang_m1 > div:nth-child(3) ul {
    margin-top: 20px
}

.index_items .shuang_m1>div:last-child ul {
    margin-top: 20px
}

.index_items_n {
    display: none;
    height: 274px;
    background-color: #f0f0f0
}

.index_items_n .shuang_m1>div {
    float: left;
    width: 298px;
    height: 220px;
    margin-top: 35px
}

.index_items_n .shuang_m1 .border-r {
    border-right: 1px solid #e1e1e1
}

.index_items_n .shuang_m1 .border-l {
    border-left: 1px solid #fff
}

.index_items_n .shuang_m1>div span {
    font-size: 18px;
    color: #4f3d79
}

.index_items_n .shuang_m1>div i {
    display: block;
    width: 69px;
    height: 68px;
    margin-top: 24px;
    margin-bottom: 9px
}

.index_items_n .shuang_m1>div:first-child i {
    background: url(//img.hzshuangmei.com/pc/xp5_05.png.pagespeed.ic.gEdvfzCGWK.png) no-repeat center
}

.index_items_n .shuang_m1 > div:nth-child(2) i {
    background: url(//img.hzshuangmei.com/pc/xp5_06.png.pagespeed.ic.kaLCcBfZAp.png) no-repeat center
}

.index_items_n .shuang_m1 > div:nth-child(3) i {
    background: url(//img.hzshuangmei.com/pc/xp5_07.png.pagespeed.ic.h7b-9Z701X.png) no-repeat center
}

.index_items_n .shuang_m1>div:last-child i {
    background: url(//img.hzshuangmei.com/pc/xp5_08.png.pagespeed.ic.ZKiJtZljM8.png) no-repeat center
}

.index_items_n .shuang_m1>div .icon {
    float: left;
    padding-top: 10px;
    margin-left: 48px
}

.index_items_n .shuang_m1>div ul {
    float: left;
    margin-left: 37px;
    font-size: 12px;
    line-height: 24px
}

.index_items_n .shuang_m1>div ul a {
    color: #593d79
}

.index_items_n .shuang_m1>div ul a:hover {
    color: #000
}

.index_items_n .shuang_m1>div:first-child ul {
    margin-top: 35px
}

.index_items_n .shuang_m1 > div:nth-child(2) ul {
    margin-top: 35px
}

.index_items_n .shuang_m1 > div:nth-child(3) ul {
    margin-top: 35px
}

.index_items_n .shuang_m1>div:last-child ul {
    margin-top: 35px
}

#expert i {
    position: relative;
    top: -86px;
    left: 79px;
    display: block;
    width: 26px;
    height: 2px;
    background-color: #8a5ea8
}

footer {
    width: 100%;
    height: 398px;
    color: #fff;
    background-color: #300a4e
}

footer .left {
    float: left;
    width: 600px
}

footer .left h2 {
    padding-top: 49px;
    margin-left: 180px;
    text-align: left
}

footer .left i {
    display: inline-block;
    width: 16px;
    height: 21px;
    margin-right: 5px;
    background: url(//img.hzshuangmei.com/pc/nav_star.png+f_address.png+f_phone.png+f_feather.png.pagespeed.is.Rc0pSjLoEg.png) no-repeat center;
    background-position: 0 -11px
}

footer .left p {
    margin-left: 33px;
    font-size: 12px;
    line-height: 25px
}

footer .left .addr {
    margin: 20px 0 10px;
    margin-left: 24px;
    font-size: 18px
}

footer .middle {
    float: left;
    height: 206px;
    margin-top: 120px;
    border-right: 1px solid #55128d;
    border-left: 1px solid #300a4e
}

footer .right {
    float: left;
    width: 570px;
    margin-top: 120px;
    margin-left: 20px
}

footer .right .right_t>div {
    float: left
}

footer .right .right_t .ewm {
    display: block;
    width: 105px;
    height: 107px;
    margin-right: 10px;
    background: url(//img.hzshuangmei.com/pc/xWeChatApplet.jpg.pagespeed.ic.GfIqr9G0eK.jpg) no-repeat center;
    background-size: contain
}

footer .right .right_t .f_phone {
    width: 71px;
    height: 72px;
    margin: 7px 10px 0 28px;
    background: url(//img.hzshuangmei.com/pc/nav_star.png+f_address.png+f_phone.png+f_feather.png.pagespeed.is.Rc0pSjLoEg.png) no-repeat center;
    background-position: 0 -32px
}

footer .right .right_t>div>div {
    float: left;
    font-size: 12px;
    line-height: 27px
}

footer .right .right_t>div>div .fon1 {
    font-size: 18px
}

footer .right .right_t>div>div .fon2 {
    font-size: 28px
}

footer .right .right_t>div>div .fon3 {
    font-size: 14px
}

footer .right .right_b {
    margin-top: 30px;
    line-height: 25px
}

footer .right .right_b i {
    display: inline-block;
    width: 12px;
    height: 16px;
    margin-right: 3px;
    background: url(//img.hzshuangmei.com/pc/nav_star.png+f_address.png+f_phone.png+f_feather.png.pagespeed.is.Rc0pSjLoEg.png) no-repeat center;
    background-position: 0 -104px
}

footer .right .right_b span {
    font-size: 16px
}

footer .right .right_b a {
    margin: 0 6px;
    font-size: 12px;
    color: #fff
}

footer .humanstxt {
    position: relative;
    top: 10px
}

footer .left a {
    color: #fff
}

footer .copyright {
    padding-top: 22px;
    color: #c1b6ca;
    float: left;
}

footer .copyright a {
    color: #c1b6ca
}

footer .copyright a:hover {
    color: #ceb3e0
}

footer .right1 {
    margin-top: 150px
}

.yb_conct {
    position: fixed;
    right: -128px;
    z-index: 999999;
    cursor: pointer;
    transition: all .3s ease
}

.yb_bar ul li {
    width: 188px;
    height: 56px;
    margin-bottom: 1px;
    overflow: hidden;
    font: 16px/53px "Microsoft YaHei";
    transition: all .5s ease;
    text-indent: 80px;
    color: #fff;
    border-radius: 3px
}

.yb_bar .yb_QQ {
    text-indent: 0;
    background: #7d64c3 url(//img.hzshuangmei.com/pc/chat.png) no-repeat
}

.yb_bar .yb_phone {
    background: #c364b2 url(//img.hzshuangmei.com/pc/info.png) no-repeat
}

.yb_bar .yb_ercode {
    background: #64a9c3 url(//img.hzshuangmei.com/pc/qrcode.png) no-repeat
}

.yb_bar .yb_top {
    background: #91c364 url(//img.hzshuangmei.com/pc/top.png) no-repeat
}

.hd_qr {
    padding: 10px 29px 25px 30px
}

.yb_QQ a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: 80px;
    color: #fff
}

.yb_phone a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: 80px;
    color: #fff
}

body .popup {
    border-radius: 10px;
    background-color: transparent
}

body .popup .layui-layer-content {
    height: 385px!important
}

body .popup .layui-layer-content img {
    display: block;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

body .popup .layui-layer-btn .layui-layer-btn0 {
    width: 120px;
    margin: 5px 15px 0;
    color: #999;
    border: 1px solid #cecece;
    background-color: #fff
}

body .popup .layui-layer-btn .layui-layer-btn1 {
    width: 120px;
    margin: 5px 15px 0;
    color: #7d64c3;
    border: 1px solid #cbbeef;
    background-color: #fff
}

body .popup .layui-layer-btn .layui-layer-btn2 {
    width: 120px;
    margin: 5px 15px 0;
    color: #fff;
    border: 1px solid #dedede;
    background-color: #7d64c3
}

@-moz-keyframes tada2 {
    0% {
        -moz-transform: scale(1);
    }

    91%, 92% {
        -moz-transform: scale(.9) rotate(-3deg);
    }

    93%, 95%, 97%, 99% {
        -moz-transform: scale(1.2) rotate(3deg);
    }

    94%, 96%, 98% {
        -moz-transform: scale(1.2) rotate(-3deg);
    }

    100% {
        -moz-transform: scale(1) rotate(0);
    }
}

@-webkit-keyframes tada2 {
    0% {
        -webkit-transform: scale(1);
    }

    91%, 92% {
        -webkit-transform: scale(.9) rotate(-3deg);
    }

    93%, 95%, 97%, 99% {
        -webkit-transform: scale(1.2) rotate(3deg);
    }

    94%, 96%, 98% {
        -webkit-transform: scale(1.2) rotate(-3deg);
    }

    100% {
        -webkit-transform: scale(1) rotate(0);
    }
}

.fq {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 998;
    width: 200px;
    -webkit-animation: tada2 10s -9s ease both infinite;
    -moz-animation: tada2 10s -9s ease both infinite
}

.lazyload,.lazyloading {
    opacity: 0
}

.lazyloaded {
    transition: opacity 500ms;
    opacity: 1
}

.Double_Eleven_Button {
    position: absolute;
    bottom: 14.5%;
    left: 50%;
    display: block;
    width: 10%!important;
    height: 7%
}

.Double_Eleven_Button_anima {
    -webkit-animation: scaleAC 1.5s linear .3s infinite;
    -moz-animation: scaleAC 1.5s linear .3s infinite;
    -ms-animation: scaleAC 1.5s linear .3s infinite;
    -o-animation: scaleAC 1.5s linear .3s infinite;
    animation: scaleAC 1.5s linear .3s infinite
}

@-webkit-keyframes scaleAC {
    0%, 100% {
        transform: scale(.9);
        opacity: 1;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes scaleAC {
    0%, 100% {
        transform: scale(.9);
        opacity: 1;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
}

@-o-keyframes scaleAC {
    0%, 100% {
        transform: scale(.9);
        opacity: 1;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleAC {
    0%, 100% {
        transform: scale(.9);
        opacity: 1;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
}

#k_s_ol_inviteWin {
    display: block!important;
    margin-top: -192.5px!important;
    margin-left: -300px!important
}

#howdy {
    font-size: 17px;
    color: #f8e7db
}

#howdy span#heading {
    font-size: 18px;
    font-weight: bold;
    color: #fff
}

#howdy small {
    font-size: 12px;
    color: #f8e7db
}

#howdy a {
    color: #fff
}

#howdy a:link {
    color: #fff
}

#howdy a:visited {
    color: #fff
}

.howdydo-style {
    text-align: center;
    border-bottom: #999 0 solid;
    background-color: #ea3333
}

#howdydo-wrapper {
    position: relative;
    z-index: 1000;
    width: 100%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    overflow: visible
}

.howdydo-box {
    z-index: 9999;
    display: none;
    width: 100%;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 0
}

#howdydo-close {
    position: absolute;
    right: 30px;
    bottom: 10px
}

#howdydo-open {
    position: absolute;
    top: 0;
    right: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px
}

.howdydo-hover {
    position: absolute;
    top: 0;
    left: 0
}

.howdydo-scroll {
    position: fixed;
    top: 0;
    left: 0
}

.howdydo-push {
    position: relative;
    float: left;
    margin-bottom: 1px;
    clear: both
}

#div3 {
    top: 333px!important;
    left: 331px!important
}

#div36 {
    left: 448px!important;
    width: 122px!important
}

.list_information_nav li.currnet4 {
    background: #6a157d
}

.list_information_nav li.currnet4 a {
    color: #fff
}

#nav .nav_list:nth-child(5) span::before {
    position: absolute;
    top: 5px;
    right: 44px;
    width: 10px;
    height: 10px;
    content: "";
    border-radius: 50%;
    background: #ef4550
}

#information {
    position: absolute;
    z-index: 100;
    display: none;
    width: 1200px;
    height: 503px;
    margin-left: -1030px;
    border: 1px solid #efebeb;
    background-color: #fff
}

#nav ul li:hover #information {
    display: block
}

.information_con1 {
    width: 810px;
    margin-top: 58px;
    margin-left: 47px
}

.information_con1>ul {
    position: relative;
    height: 18px
}

.information_con1>ul>li {
    float: left
}

.information_zx {
    margin-right: 0!important;
    font-size: 18px;
    font-weight: bold;
    color: #4d4d4d
}

.information_zx span {
    margin: 0 34px 0 13px;
    color: #999
}

.information_zx {
    width: auto!important
}

.information_con1 li {
    height: 17px;
    min-width: 64px;
    margin-right: 27px;
    line-height: 17px;
    text-align: center
}

.information_con1 li a {
    display: block;
    width: 100%;
    height: 100%
}

.information_con1 li a:hover {
    color: #410e6b
}

.information_con1 {
    overflow: hidden
}

.information_con1>ul {
    margin-bottom: 38px
}

.list_information {
    margin-top: 30px
}

.list_information_nav {
    width: 1072px;
    height: 40px;
    margin: auto;
    line-height: 40px
}

.list_information_nav li {
    float: left;
    width: 150px;
    height: 100%;
    margin-left: 3px!important;
    background: #eae8ea
}

.list_information_nav li:nth-of-type(1) {
    margin-left: 0!important
}

.list_information_nav li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    text-align: center;
    color: #6a157d
}

.active_infor_List {
    color: #fff!important;
    background: #6a157d
}

.list_information_nav li:hover {
    background: #6a157d
}

.list_information_nav li>a:hover {
    color: #fff!important
}

.information_tag span {
    display: inline-block;
    padding: 2px 8px;
    margin-right: 20px;
    cursor: pointer;
    color: #fff;
    border-radius: 6px;
    background: #c2c7f5
}

.information_tag span>a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff
}

.information_tag {
    margin-top: 20px;
    margin-left: 43px
}

.information_right {
    position: absolute;
    top: 34px;
    right: 23px;
    width: 226px;
    height: 439px;
    border: 1px solid #f2f2f2;
    box-shadow: 3px 4px 13px rgba(224,224,224,.24)
}

.information_right>ul>li {
    position: relative;
    width: 201px;
    height: 118px;
    margin: auto;
    margin-bottom: 13px
}

.information_right>ul>li>img {
    display: block;
    width: 100%;
    height: 100%
}

.information_right>ul>li>a>img {
    display: block;
    width: 100%;
    height: 100%
}

.information_right>ul>li>a>span {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 22px;
    overflow: hidden;
    line-height: 22px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: rgba(65,14,107,.7)
}

.information_right>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff
}

.information_right > ul > li:nth-of-type(1) {
    margin-top: 20px
}

.list_information {
    width: 1200px;
    height: 200px
}

.list_information_nav li {
    margin: 0 0!important;
    border-bottom: none!important
}

.information_content h3 {
    margin: 30px 0 1px;
    border-bottom: none!important
}

.information_content .news_main {
    position: relative;
    width: 856px;
    padding-left: 21px;
    margin-top: 50px!important;
    margin-top: 50px!important;
    margin-bottom: 150px;
    border: 1px solid #f2f2f2;
    box-shadow: 0 5px 13px rgba(224,224,224,.31)
}

.news_content .news_main .i3T {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    background: url(https://img.hzshuangmei.com/pc/home.png+line.png+ns_02.png+ns_03.png+share_011.png.pagespeed.is.P2ekrn8epB.png) no-repeat center;
    background-position: 0 -37px
}

.information_content {
    position: relative
}

.information_content ul li {
    position: relative
}

.information_content .date {
    position: absolute;
    top: 16px;
    right: 0
}

.information_content ul li h4 {
    width: 385px!important
}

.list_infor_tag a {
    display: inline-block;
    padding: 1px 6px;
    margin-right: 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px
}

.list_infor_tag a:hover {
    color: #fff!important;
    background: #c2c7f5
}

.news_content>.news_main>p {
    width: 1px;
    height: 36px;
    margin-top: 29px;
    background: #d5cfe5
}

.infor_Btitle {
    position: absolute;
    top: 24px;
    left: 31px;
    font-size: 24px;
    color: #693290
}

.infor_infotitle {
    position: absolute;
    font-size: 10px;
    color: #d5cfe5
}

.infor_infotitle {
    position: absolute;
    top: 53px;
    left: 32px;
    font-size: 10px;
    color: #d5cfe5
}

.list_infor_tag {
    margin-top: 20px
}

.information_content .ns_pa {
    position: relative;
    margin: 55px auto 59px!important
}

.infor_right {
    width: 306px
}

.pro1 {
    position: absolute;
    top: 90px;
    right: 0;
    display: block;
    width: 282px;
    height: 164px;
    padding: 12px 13px;
    border: 1px solid #f2f2f2;
    box-shadow: 0 5px 13px rgba(224,224,224,.31)
}

.pro2 {
    position: absolute;
    top: 288px;
    right: 0;
    width: 306px;
    height: 544px;
    border: 1px solid #f2f2f2;
    box-shadow: 0 5px 13px rgba(224,224,224,.31)
}

.pro2Line {
    width: 1px;
    height: 31px;
    margin-top: 31px;
    margin-left: 18px;
    background: #d5cfe5
}

.pro2>span {
    position: absolute;
    top: 27px;
    left: 0;
    left: 24px;
    font-size: 18px;
    color: #693290
}

.pro2_info {
    position: absolute;
    top: 49px;
    left: 25px;
    font-size: 10px;
    color: #d5cfe5
}

.typeIdRight {
    display: none
}

.pro2_tag {
    margin-top: 27px;
    margin-left: 18px;
    overflow: hidden
}

.pro2_tag li {
    float: left;
    width: 124px;
    margin: 0 20px 17px 0!important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: none!important
}

.pro2_tag li>a {
    color: #666!important
}

.pro2_tag li>a:hover {
    text-decoration: underline;
    color: #693290!important
}

.pro2_tag li>a>span:hover {
    text-decoration: underline
}

.pro2_tag li > a > span:nth-of-type(1) {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    font-size: 12px;
    line-height: 10px;
    text-align: center;
    color: #fff;
    background: #d5cfe5
}

.pro3>li>a {
    display: block;
    width: 100%;
    height: 100%
}

.pro3 > li > a > span:nth-of-type(1) {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    opacity: .4;
    background: #2d014c
}

.pro3 > li > a > span:nth-of-type(2) {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff
}

.actvie_T {
    background: #f6a7b6!important
}

.actvie_T a {
    color: #fff!important
}

.actvie_Th {
    background: #b17e6b!important
}

.actvie_Th a {
    color: #f6a7b6!important
}

.infors_main_T ul li p span {
    color: #8c64a0!important
}

.infors_main_Th ul li p span {
    color: #8c64a0!important
}

.information_con1>ul>span {
    position: absolute;
    right: 0;
    bottom: -16px;
    z-index: 112;
    display: block;
    width: 674px;
    border-bottom: 1px dashed #e5e5e5
}

#ptab2_n ul li:first-child {
}

#ptab2_n {
    width: 1200px
}

#ptab2_n>ul {
    float: left
}

#project_nav_n {
    width: 998px
}

.proTop {
    float: left;
    width: 199px;
    height: 100%;
    height: 105px;
    text-align: center;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    background: #f5f5f5
}

.proTop>span {
    display: block;
    margin-top: 17px;
    font-size: 18px;
    color: #000
}

#ptab2_n ul li:nth-of-type(1), #ptab2_n ul li:nth-of-type(2), #ptab2_n ul li:nth-of-type(3), #ptab2_n ul li:nth-of-type(4), #ptab2_n ul li:nth-of-type(5) {
    border-bottom: none;
    border-left: none
}

#ptab2_n ul li:nth-of-type(6), #ptab2_n ul li:nth-of-type(7), #ptab2_n ul li:nth-of-type(8), #ptab2_n ul li:nth-of-type(9), #ptab2_n ul li:nth-of-type(10) {
    border-left: none
}

#ptab2_n ul li {
    width: 198px;
    height: 52px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #e7e7e7
}

#ptab2_n ul li a {
    height: 100%
}

#project_con1 {
    clear: both
}

#project_con1>div {
    float: left
}

#project_con1 .pro_conT>li {
    float: left;
    width: 139px;
    margin-right: 56px;
    position: relative
}

#pro_conT li a:hover {
    color: #6e3693
}

.pro_con1_con1 {
    width: 200px;
    height: 179px;
    text-align: center;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    background: #f5f5f5
}

.pro_con1_con1>span {
    display: block;
    margin-top: 23px;
    font-size: 18px;
    color: #000
}

#ptab2_n {
    clear: both
}

#pro_01 {
    padding-top: 70px
}

.pro_con1_con2 {
    width: 993px;
    height: 179px;
    border-top: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7
}

.pro_conT {
    margin-top: 28px;
    margin-left: 39px;
    overflow: hidden
}

.pro_conT>li a {
    font-size: 18px;
    color: #434343
}

.pro_conT>li>span {
    position: absolute;
    display: block;
    top: 3px;
    right: 0;
    width: 22px;
    height: 21px;
    overflow: hidden;
}

.pro_conT li:nth-of-type(1) span {
    background: url(//img.hzshuangmei.com/pc/pro_zx_t.png.pagespeed?v=0.3) center center;
}
.pro_conT li:nth-of-type(1):hover span{
    background: url(//img.hzshuangmei.com/pc/pro_zx_t_act.png?v=0.3);
}
.pro_conT li:nth-of-type(2) span {
    background: url(//img.hzshuangmei.com/pc/pro_jg_t.png?v=0.3)
}
.pro_conT li:nth-of-type(2):hover span{
    background: url(//img.hzshuangmei.com/pc/pro_jg_t_act.png?v=0.3)
}

.pro_conT li:nth-of-type(3) span {
    background: url(//img.hzshuangmei.com/pc/pro_wc_t.png?v=0.3)
}
.pro_conT li:nth-of-type(3):hover span{
    background: url(//img.hzshuangmei.com/pc/pro_wc_t_act.png?v=0.3);
    top:1.5px;
}
.pro_conT li:nth-of-type(4) span {
    background: url(//img.hzshuangmei.com/pc/pro_wc_mr.png?v=0.3) center center;
    padding-top:0.5px;
}
.pro_conT li:nth-of-type(4):hover span{
    background: url(//img.hzshuangmei.com/pc/pro_wc_mr_act.png?v=0.3) center center;
}
.pro_conT li:nth-of-type(5) span {
    background: url(//img.hzshuangmei.com/pc/pro_sh_t.png?v=0.3)
}
.pro_conT li:nth-of-type(5):hover span{
    background: url(//img.hzshuangmei.com/pc/pro_sh_t_act.png?v=0.3)
}
.pro_conT li:nth-of-type(1).conT span {
    background: url(//img.hzshuangmei.com/pc/pro_zx_t_act.png?v=0.3)
}

.pro_conT li:nth-of-type(2).conT span {
    background: url(//img.hzshuangmei.com/pc/pro_jg_t_act.png?v=0.3)
}

.pro_conT li:nth-of-type(3).conT span {
    background: url(//img.hzshuangmei.com/pc/pro_wc_t_act.png?v=0.3)
}

.pro_conT li:nth-of-type(4).conT span {
    background: url(//img.hzshuangmei.com/pc/pro_wc_mr_act.png?v=0.3)
}
.pro_conT li:nth-of-type(5).conT span {
    background: url(//img.hzshuangmei.com/pc/pro_sh_t_act.png?v=0.3)
}
.pro_con1_con2_1 {
    background: #f5f2fe
}
.pro_conT .pro_conTLast {
    margin-right: 0!important
}
.pro_con1_con2_1 {
    position: relative;
    display: none;
    height: auto;
    padding-top: 21px;
    padding-bottom: 25px;
    padding-left: 24px;
    margin-top: 16px;
    margin-left: 41px;
    clear: both;
    background: #f5f2fe;
    width: 894px
}
.pro_con1_con2_1>li {
    position: relative;
    float: left;
    margin-right: 47px;
    line-height: 27px
}

.pro_con1_con2_1>p {
    position: absolute;
    top: -6px;
    width: 0;
    height: 0;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #f1ecfe;
    border-left: 7px solid transparent
}

.pro_conT>li>a:hover {
    color: #6e3693
}

.pro_con1_con2_1>li>a:hover {
    text-decoration: none;
    color: #6e3693
}

.pro_pr {
    display: block
}

.pro_con1_con2_2>p {
    left: 243px
}

.pro_con1_con2_3>p {
    left: 440px
}

.pro_con1_con2_4>p {
    left: 640px
}

.pro_con1_con2_5>p {
    left: 840px
}

.pro_conT>li.conT a {
    color: #6e3693
}

.pro_conT>li a.conT {
    color: #6e3693
}

#ptab2_n .currnet2_n {
    background: #8150a1
}

#ptab2_n .currnet2_n a {
    color: #fff
}

.project_content #ptab2_n li {
    float: left;
    font-size: 18px;
    line-height: 52px;
    text-align: center
}

.project_content #ptab2_n li:hover {
    color: #fff;
    background: #8150a1
}

.project_content #ptab2_n li:hover {
    background: #8150a1
}

.project_content #ptab2_n li:hover a {
    color: #fff
}

.pro_con1_con2_act {
    color: #6e3693;
    font-size: 15px;
    border-bottom: 1px solid #6e3693
}

.pro_con1_con2_act a {
    color: #6e3693;
    font-size: 15px;
    text-decoration: underline;
    text-decoration: none
}

.pro_con1_con2_1 a {
    display: block
}

#pro_con1_con2>.pro_con1_con2_1>li.hoverClass {
    border-bottom: 1px solid #6e3693
}

.pro_con1_con2_1 li:hover {
    border-bottom: 1px solid #6e3693
}
._CNav_div input::-webkit-input-placeholder{
    color:#a5a5a5;
}
._CNav_div input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#a5a5a5;
}
._CNav_div input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#a5a5a5;
}
._CNav_div input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #a5a5a5;
}