.m1 {
    width: 1200px;
    margin: 0 auto;
}
.location {
    margin: 19px 8px 6px 29px;
}
.location i {
    display: inline-block;
    width: 17px;
    height: 16px;

    background: url(//img.hzshuangmei.com/pc/sy/home.png) no-repeat center;
}
.location span {
    font-size: 14px;

    color: #64b1e6;
}
.location a {
    font-size: 12px;

    color: #696969;
}
.line {
    width: 1199px;
    height: 7px;

    background: url(//img.hzshuangmei.com/pc/sy/line.png) no-repeat center;
}
.h2_tit {
    margin: 25px 0 30px;

    text-align: center;
}
#news_banner .swiper-container {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}
#news_banner .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    font-size: 18px;

    text-align: center;

    background: #fff;

    -webkit-align-items: center;
            align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
}
#news_banner .swiper-slide img {
    width: 100%;
}
#news_banner .swiper-slide p {
    width: 1200px;
}
#news_banner .news_pagination {
    position: relative;

    margin: 35px auto 0;
}
#news_banner .news_pagination .swiper-pagination-bullet {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 7px;

    opacity: 1;
    border-radius: 0;
    background: #e3e3e3;
}
#news_banner .news_pagination .swiper-pagination-bullet:hover {
    background: #c0a9d5;
}
#news_banner .news_pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #64b1e6;
}
.news_content h3 {
    margin: 30px 0 1px;

    border-bottom: 1px solid #ebebeb;
}
.news_content h3 img {
    padding-bottom: 25px;
}
.news_content .news_main {
    border-top: 1px solid #ebebeb;
}
.news_content ul li > div {
    float: left;
}

.news_content .news_main .ns_pic {
    display: block;
    max-width: 313px;
    max-height: 183px;
}
.news_content .news_main .ns_pic img {
    max-width: 313px;
}
.news_content ul li > div:first-child {
    padding-bottom: 30px;
    margin-right: 30px;
}
/* 三亚双美 */
.sy_ImgBox {
    float: right!important;
}
.news_content ul li > div:nth-child(2) {
    width: 762px;
    height: 182px;
}
.news_content .news_main .i1 {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 20px;

    background: url(//img.hzshuangmei.com/pc/sy/news/ns_02.png) no-repeat center;
}
.news_content ul li {
    margin: 28px 0;

    border-bottom: 1px dashed #e5e5e5;
}
.news_content ul li h4 {
    margin-bottom: 10px;

    font-size: 30px;
}
.news_content ul li h4 a {
    color: #000;
}
.news_content ul li p {
    width: 810px;
    margin-left: 42px;

    font-size: 16px;
    line-height: 30px;
}
.news_content ul li p span {
    /*color: #8c64a0;*/
    color: #64b1e6;
}
.news_content .news_main .i2 {
    position: relative;
    top: 2px;

    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;

    background: url(//img.hzshuangmei.com/pc/sy/news/ns_03.png) no-repeat center;
}
.news_content .news_main .date {
    float: right;

    font-size: 14px;

    /*color: #bdbdbd;*/
    color: #64b1e6;
}
/* 三亚 */
.sy_date {
    float: left!important;
}
.news_content .news_main .date span {
    margin-right: 25px;
}
.news_content .pagination > li {
    float: left;
    padding: 8px 14px;
    margin: 5px;

    border: 1px solid #e6e6e6;
}

.news_content .pagination li:hover {
    /*background-color: #8a59a7;*/
    background-color: #64b1e6
}

.pagination li:hover a {
    color: #fff;
}




.thisclass {
    color: #fff;
    background-color: #64b1e6;
    /*background-color: #8a59a7;*/
}
.ns_pa {
    margin: 50px auto;
}
.news_content .share_01 {
    position: relative;
    top: 0;

    display: inline-block;
    width: 20px;
    height: 15px;
    margin-right: 10px;

    background: url(//img.hzshuangmei.com/pc/share_011.png) no-repeat center;
}
.news_content .share > a {
    display: block;
    float: left;
    margin: 40px 9px 0 0;
}
.ns_pa > ul {
    float: left;
    margin-left: 302px;
}
.ns_pa > div {
    float: right;
}
.ns_pa > div > p {
    float: left;
    margin-top: 10px;
}
.ns_pa > div > div {
    float: left;
}
