body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}

._po_abs {
    position: absolute;
}

.w1200 {
    position: relative;

    width: 1200px;
    margin: auto;
}

.sale_banner {
    height: 983px;
}

.sale_banner .salesroomBanner {
    position: absolute;

    margin-left: -360px;
}

body {
    overflow-x: hidden;
}

.sale_banner .sale_banner_h1 {
    top: 227px;
    right: 18px;

    display: block;
    /* width:210px; */

    font-size: 35px;
    font-weight: normal;
    /* cursor:pointer; */

    color: #fdfcfd;
}

.sale_ul {
    top: 293px;
    right: 18px;
}

.sale_ul li {
    height: 26px;
    margin-bottom: 19px;

    font-size: 26px;
    line-height: 26px;
    list-style: none;

    text-indent: 28px;

    background: url(https://img.hzshuangmei.com/pc/sale_li.png) no-repeat;
    background-position: 0 4px;
}

.sale_ul li a {
    text-decoration: none;

    color: #fdfcfd;
}

.sale_banner .nav_link {
    font-size: 25px;

    text-decoration: none;

    color: #000;
}

.sale_list_dz {
    top: 410px;
    left: 197px;
}

.sale_banner .nav_link span {
    display: block;
    width: 6px;
    height: 6px;

    text-decoration: none;

    border-radius: 50%;
    background: #000;
}

.sale_list_hk {
    top: 305px;
    left: 487px;

    font-size: 25px;

    text-decoration: none;

    color: #000;
}

.sale_list_sy {
    top: 738px;
    left: 178px;
}

.sale_list_qh {
    top: 478px;
    left: 510px;
}

.sale_list_lsx {
    top: 690px;
    left: 364px;
}

.sale_dz {
    left: 34px;
}

.sale_hk {
    left: 36px;
}

.sale_qh {
    left: 29px;
}

.sale_lsx {
    left: 32px;
}

.sale_sy {
    left: 33px;
}

.sale_list {
    width: 1200px;
    margin: 147px auto 0;

    list-style: none;
}

.sale_list li {
    display: block;
    float: left;
    width: 270px;
    height: 240px;
    margin-right: 40px;
    margin-bottom: 81px;
}

.sale_list li:nth-of-type(4n) {
    margin-right: 0;
}

.sale_list li a p img {
    width: 100%;
    height: 100%;
}

.sale_list a {
    display: block;
    width: 100%;
    height: 100%;

    text-decoration: none;
}

.sale_list li span {
    display: inherit;
    height: 40px;

    font-size: 20px;
    line-height: 24px;

    text-align: center;
    text-decoration: none;

    color: #875aa6;
    border-right: .021333rem solid #e5e5e5;
    border-bottom: .021333rem solid #e5e5e5;
    border-left: .021333rem solid #e5e5e5;
}

.sale_list .i1 {
    display: inline-block;
    width: 16px;
    height: 21px;
    padding-top: 12px;
    margin-right: 6px;

    background: url(https://img.hzshuangmei.com/pc/xposition.png.pagespeed.ic.xsqqDc4Y3y.png);
    background-repeat: no-repeat;
    background-position: 1px 13px;
    background-size: 100%;
}

.sale_banner .nav_link:hover {
    color: #cf4e42;
}

.sale_banner .nav_link:hover > span {
    background: #cf4e42;
}

.index_items {
    clear: both;
}

.information_tag span > a {
    height: auto;
}

.ns_pa {
    width: 1200px;
    margin: 50px auto;
    clear: both;
}

.thisclass {
    color: #fff;
    background-color: #8a59a7;
}

.pagination li:hover a {
    color: #fff;
}

.ns_pa > ul {
    float: right;
    margin-left: 302px;
}

.pagination > li {
    float: left;
    padding: 8px 14px;
    margin: 5px;

    border: 1px solid #e6e6e6;
}

.pagination > li {
    float: left;
    padding: 8px 14px;
    margin: 5px;

    border: 1px solid #e6e6e6;
}

.pagination li:hover {
    background-color: #8a59a7;
}
.location {
    width: 1200px;
    margin: 25px auto 14px;
}
.location i {
    display: inline-block;
    width: 17px;
    height: 16px;

    background: url(//img.hzshuangmei.com/pc/home.png+line.png+ns_02.png+ns_03.png+share_011.png.pagespeed.is.P2ekrn8epB.png) no-repeat center;
    background-position: 0 0;
}
.location span {
    font-size: 14px;

    color: #9d85c1;
}.location a {

    font-size: 12px;

    color: #696969;
}
