.tjb {
    width: 100%;
    min-height: 916px;
    padding-bottom: 120px;
    overflow: hidden;

    background: url(//img.hzshuangmei.com/pc/tjb_bg.jpg) no-repeat fixed;
    background-size: cover;
}
.tjb_title1 {
    padding-top: 80px;

    text-align: center;
}
.tjb_rj {
    padding-top: 50px;
}
.tjb_rj > li {
    float: left;
    margin: 0 14px;
}
.tbj_t {
    width: 372px;
    height: 402px;
    overflow: hidden;

    text-align: center;
}
.tbj_t img {
    width: 372px;
    height: 402px;

    vertical-align: bottom;
}
.tbj_b {
    position: relative;

    width: 372px;
    height: 175px;
    /*background: url("//img.hzshuangmei.com/pc/tjb_rjbg.png") top center;*/

    background-color: rgba(255, 255, 255, .5);    /*opacity: 0.5;*/
}
.tbj_b .tbj_b_img {
    position: absolute;
    top: -76px;
    left: 28%;    /* margin-left: -68px; */
    z-index: 3;

    display: block;
    max-width: 152px;
    max-height: 152px;    /* width: 152px; */    /* height: 152px; */

    overflow: hidden;

    text-align: center;

    border-radius: 50%;
}
.tbj_b .tbj_b_img img {
    width: 100%;
}
.tbj_b .p1 {
    padding-top: 73px;
    padding-left: 4px;
}
.tbj_b_p1 {
    font-size: 20px;

    color: #5f3c79;
}
.tbj_b .p2 {
    width: 344px;
    padding-top: 10px;
    margin: 0 auto;

    font-size: 18px;

    color: #5c2672;
}
.tbj_b .p2 br {
    display: none;
}
.tbj_b .p2 a {
    font-size: 18px;

    color: #5c2672;
}
.tjb_video {
    position: absolute;
    top: 116px;
    right: 0;
}
.tjb_zj {
    padding-top: 96px;
}
.tjb_zj li {
    float: left;
}
.tjb_zj li:first-child {
    margin-right: 8px;
}
.tjb_title2 {
    padding-top: 120px;

    text-align: center;
}
.tjb_zj li .tjb_l {
    float: left;
    width: 308px;
    height: 370px;
}
.tjb_zj li .tjb_l img {
    width: 308px;
    height: 370px;
}
.tjb_zj li .tjb_r {
    float: left;
    width: 288px;
    height: 370px;

    background-color: rgba(227, 189, 229, .502);
}
.tjb_name {
    font-size: 42px;

    color: #32263f;
}
.tjb_sc {
    width: 240px;
    margin: 15px auto 0;
}
.tjb_sc > p {
    float: left;

    font-size: 17px;
}
.tjb_sc > p:first-child {
    width: 86px;

    color: #672f71;
}
.tjb_sc > p:last-child {
    width: 153px;
    height: 90px;
    overflow: hidden;

    color: #1d1c1c;
}
.tjb_sc > p:last-child a {
    color: #41384e;
}
.tjb_r .p3 {
    padding-top: 67px;

    font-size: 42px;

    text-align: center;

    color: #150914;
}
.tjb_r .p4 {
    width: 240px;
    height: 45px;
    margin: 12px auto 0;

    font-size: 24px;
    line-height: 1.85;

    text-align: center;

    border-radius: 30px;
    background-color: rgba(194, 193, 205, .451);
}
.tjb_r .p4 a {
    color: #4a4667;
}
.tjb_button {
    text-align: center;
}
.tjb_button img {
    display: inline-block;
}
.tjb_title3 {
    padding-top: 100px;

    text-align: center;
}
.tjb_xm {
    width: 1200px;
    height: 527px;
    margin: 48px auto 0;

    background-color: rgba(255, 255, 255, .102);
}
.tjb_img {
    height: 496px;
    padding-top: 16px;
    margin: auto;
    overflow: hidden;
}
.tjb_img > a img {
    width: 386px;
    height: 246px;
    margin-bottom: 4px;
}
.tjb_img > a:first-child {
    float: left;
    margin: 0 6px 0 15px;
}
.tjb_img > a:first-child img {
    width: 780px;
    height: 496px;
}
.tjb_img > a:nth-child(2) {
    margin-bottom: 1px;
}
.tjb_title1 img {
    margin: 0 auto;
}
.tjb_title2 img {
    margin: 0 auto;
}
.tjb_title3 img {
    margin: 0 auto;
}
.m_zj {
    width: 1200px;
    margin: 0 auto;
}
.m_rj {
    display: none;
    width: 1200px;
    margin: 0 auto;
}
.m_xm {
    width: 1200px;
    margin: 0 auto;
}
/* 新增引流熊掌号样式 */
.m_xz {
    width: 1200px;
    margin: 0 auto;
}
.tjb_title4 {
    padding-top: 100px;

    text-align: center;
}
.tjb_xz {
    width: 1189px;
    height: 545px;
    padding-top: 11px;
    padding-left: 12px;
    margin: 48px auto 0;

    font-size: 0;

    background-color: rgba(255, 255, 255, .102);
}
.tjb_xz li {
    position: relative;

    display: inline-block;
    width: calc(33.3% - 10px);
    margin-right: 10px;
    margin-bottom: 22.5px;

    vertical-align: top;
}
.tjb_xz .thumbnail {
    position: relative;

    display: block;
    width: 100%;
}
.tjb_xz .thumbnail img {
    width: 100%;
}
.expertSpan {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    display: block;
    width: 100%;

    font-size: 24px;
    line-height: 50px;

    text-align: center;

    color: #fff;
}
.thumbnailOp {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
}
