@charset "utf-8";
/* ===============variable============= */
.img-respon { display: block; width: 100%; height: auto; }
/************** /variable *************/
/* 重置 */
* {    /* outline: solid 1px black; */ }
.g-doc {    /* outline: solid 2px red; */ }
/* ***reset*** */
a { border: none; outline: none；; -webkit-tap-highlight-color: transparent; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
a, body { color: #000; }
body, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, html, input, label, li, p, textarea, ul { padding: 0; margin: 0; }
form { display: inline; }
img { border: 0; }
td { word-break: break-all; }
dd, dl, dt, li, ul { list-style: none; }
a { text-decoration: none; }
/* a:hover {
    color:black;
} */
body { padding-top: 2.05rem !important; overflow-x: hidden; }
body { font-family: sans-serif, Verdana, Arial; background: #fff; }
/* 统一清除浮动 */
.f-fr { float: right; }
.f-fl { float: left; }
.f-cb:after { display: block; visibility: hidden; height: 0; overflow: hidden; clear: both; content: "."; }
.f-cb { zoom: 1; }
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
/* 统一背景图 */
/* .banner { background: url("https://img.hzshuangmei.com/m/banner.jpg") center top no-repeat; height: 323px; } */
/* global */
.g-doc { width: 1200px; margin-right: auto; margin-left: auto; }
.consult { display: block; }
.consult:hover { transform: scale(.9, .9); }
body { max-width: 16rem; margin-right: auto !important; margin-left: auto !important; }
/* layout */
.custom-wrapper {    /* fixed navbar */
position: fixed; z-index: 20180110; height: 2.35rem; width: 16rem; overflow: hidden; }
.contents { padding-top: 2.35rem; }
.custom-wrapper.open { height: auto; }
#menu{box-sizing: content-box;}
.menu-head { position: relative; width: 100%; height: 2.35rem; text-align: center; background: url("https://img.hzshuangmei.com/m/bg_header.jpg") center center no-repeat #41046b; background-size: auto 100%; }
#toggle { position: absolute; top: 0; bottom: 0; left: 0; margin: auto; display: block; width: .85rem; padding: 0 .75rem; height: 2.35rem; background: url("https://img.hzshuangmei.com/m/icon_menu.png") center center no-repeat; background-size: .85rem; }
.open #toggle { background: url("https://img.hzshuangmei.com/m/icon_back.png") center center no-repeat; background-size: .85rem; }
.menu-heading img { display: inline-block; height: 2.35rem; }
.menu-tel { position: absolute; top: 0; right: 0; bottom: 0; display: block; padding: 0 .75rem; width: .85rem; height: 2.35rem; margin: auto; background: url("https://img.hzshuangmei.com/m/icon_phone.png") center center no-repeat; background-size: .85rem; }
.tab-nav-wrap { padding: 0;    /* height: 53rem/@fb; */ margin: 0; list-style: none; text-align: center; border-bottom: solid 1px #d2d2d2; background-color: #fff; }
.tab-nav { display: inline-block;    /* margin: 0 30rem/@fb; */ width: 28%; list-style: none; }
.tab-nav:hover { cursor: pointer; }
.tab-nav p { width: 2.5rem; margin: 0 auto; font-size: .6rem; line-height: 1.25rem; text-align: center; color: #715d81; }
.tab-nav.active p, .tab-nav:hover p { border-bottom: solid 3px #e596c5; }
.tab-content-wrap { position: relative; }
.tab-content:nth-child(2), .tab-content:nth-child(3) { position: absolute; top: 0; right: 0; left: 0; z-index: -2; }
.tab-content { padding-top: .25rem; padding-bottom: 1.25rem; background: #fff; }
.tab-content.active { z-index: 1; }
.tab-content .title { width: 4.7rem; margin-top: .5rem; margin-left: 0; font-weight: normal; background: url("https://img.hzshuangmei.com/m/bg_title.png") left center no-repeat; background-size: 100% 100%; }
.tab-content .title span { display: block; width: 59%; padding-left: 15%; font-size: .55rem; line-height: 1.05rem; text-align: center; color: #fff; text-shadow: 1px 1px 1px #b96d9a; }
.menu-item-wrap { padding: 0 3%; margin-top: .65rem; }
.menu-item { float: left; width: 29%; max-width: 4.575rem;    /* height: 244rem/@fb; */ margin: .125rem 2%; border-radius: .125rem; background: #f0f0f0; }
.menu-item img { display: block; width: 100%; border-radius: .125rem; }
.menu-item h3 { margin-top: .25rem; font-weight: normal; line-height: .7rem; text-align: center; }
.menu-item h3 a { display: block; font-size: .5rem; line-height: .7rem; text-align: center; color: #6e5a7f; }
.menu-item .line { width: 60%; height: 0; margin: 2px auto; border-top: solid 1px #cec7d3; }
.menu-item p { padding-bottom: .25rem; line-height: .55rem; text-align: center; }
.menu-item p a { display: block; font-size: .4rem; line-height: .55rem; text-transform: uppercase; color: #afa7b6; }
body { padding-bottom: 2.4rem !important; }
.footer { position: fixed; bottom: 0; z-index: 99999; width: 100%; height: 2.4rem; max-width: 16rem; margin: auto; background: #f7f7f7; }
.footer a { position: relative; display: block; float: left; height: 2.4rem; text-align: center; outline: solid 1px #e6e6e6; background: #f7f7f7; }
.footer img { position: absolute; top: 0; right: 0; bottom: 0; left: 0; display: block; margin: auto; }
.footer a:nth-child(1), .footer a:nth-child(2) { width: 22%; }
.footer a:nth-child(1) img, .footer a:nth-child(2) img { width: 1.25rem; }
.footer a:nth-child(3) { width: 41%; outline: solid 1px #866cd1; background: #866cd1; }
.footer a:nth-child(3) img { width: 4.6rem; }
.footer a:nth-child(4) { width: 15%; }
.footer a:nth-child(4) img { width: 1.125rem; }
/* typographical */
/*popup*/
body .popup { width: 80% !important; background-color: transparent; }
body .popup .layui-m-layerbtn { border: 0; }
body .popup .layui-m-layerbtn .never { font-size: .8rem; color: #999; border: 1px solid #cecece; border: 0; border-top: 0; border-right: 1px solid #cecece; border-bottom-right-radius: 0; background-color: #fff; }
body .popup .layui-m-layerbtn span[no] { font-size: .8rem; color: #7d64c3; border: 1px solid #cbbeef; border: 0; border-top: 0; border-right: 0; border-right: 1px solid #cecece; border-left: 0; border-bottom-left-radius: 0; background-color: #fff; }
body .popup .layui-m-layerbtn span[yes] { font-size: .8rem; color: #fff; border: 1px solid #dedede; border: 0; border-top: 0; border-right: 1px solid #cecece; border-bottom-left-radius: 0; background-color: #7d64c3; }
body .popup .layui-m-layercont img { display: block; width: 100%; height: auto; max-width: 100%; }
body .popup .layui-m-layerbtn { display: -webkit-box; width: 100%; height: 2rem !important; font-size: 0; line-height: 2rem !important; border-top: 1px solid #d0d0d0; background-color: #f2f2f2; }
/* lxb  reset*/
body #LXB_CONTAINER, body #LXB_CONTAINER_SHOW, body #LXB_CONTAINER_SHOW ins, body #LXB_CONTAINER ins, body #LXB_CONTAINER em, body #LXB_CONTAINER a, body #LXB_CONTAINER input { width: auto; height: auto; margin: 0; padding: 0; background-color: transparent; background-position: 0 0; background-size: auto; background-repeat: repeat; background-origin: padding-box; background-clip: border-box; background-attachment: scroll; background-image: none; border: none; outline: invert none medium; color: #000; direction: ltr; letter-spacing: normal; line-height: normal; text-align: left; text-decoration: none; text-indent: 0; text-transform: none; white-space: normal; word-spacing: normal; font-size: 0.6rem; font-family: Tahoma, "宋体", Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: 400; visibility: visible; overflow: visible; list-style: none; float: none; clear: none; display: block; position: static; top: auto; left: auto; vertical-align: baseline; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; -webkit-user-select: text; -moz-user-select: text; user-select: text; }
body #LXB_CONTAINER, body #LXB_CONTAINER ins { display: block; text-decoration: none; visibility: visible !important; }
body #LXB_CONTAINER ins { background-color: transparent; }
body #LXB_CONTAINER.lxb-container { position: fixed; z-index: 2147483647; font-size: 0.6rem; }
.lxb-mobile-pos-left { left: 0; }
.lxb-mobile-pos-right { right: 0; }
.lxb-mobile-pos-top { top: 0 !important; }
.lxb-mobile-pos-middle { top: 35%; }
.lxb-mobile-pos-bottom { bottom: 0; }
body #LXB_CONTAINER input.lxb-cb-input { position: absolute; border: 0; font-size: 0.6rem; outline: none; }
body #LXB_CONTAINER .lxb-cb-input-clear, body #LXB_CONTAINER .lxb-cb-latest-call, body #LXB_CONTAINER .lxb-cb-input-feedback { position: absolute; overflow: hidden; cursor: pointer; }
body #LXB_CONTAINER .lxb-cb-input-clear { width: 1.1rem; height: 1.1rem; background: url(img/icon.png) 0 0 no-repeat; }
body #LXB_CONTAINER .lxb-cb-input-btn, body #LXB_CONTAINER .lxb-container-btn-hide { position: absolute; overflow: hidden; cursor: pointer; }
body #LXB_CONTAINER .lxb-cb-input-tip, body #LXB_CONTAINER .lxb-cb-input-feedback { position: absolute; font-size: 0.6rem; line-height: 0.7rem; }
body #LXB_CONTAINER .lxb-cb-input-tip b { font-size: 0.6rem; }
body #LXB_CONTAINER .lxb-cb-input-tip-content, body #LXB_CONTAINER .lxb-cb-input-feedback-txt { margin: 2% 4%; }
body #LXB_CONTAINER_SHOW.lxb-container-btn-show { position: fixed; width: 10%; cursor: pointer; overflow: hidden; background-color: #b7dde8; color: #fff; text-align: center; text-decoration: none; padding: 0.25rem 0; border-radius: 5px; font-size: 0.6rem; z-index: 2147483647; }
body #LXB_CONTAINER_SHOW.lxb-container-btn-show-bdbox { border-radius: 0 5px 5px 0; background-color: #00aef1; padding: 0; height: 1.8rem; line-height: 1.8rem; width: 6rem; bottom: 0; left: 0; }
body #LXB_CONTAINER_SHOW.lxb-container-btn-show-bdbox input { visibility: hidden; }
body #LXB_CONTAINER_SHOW .lxb-btn-show-bd-inner { display: block; margin: 0 auto; position: absolute; line-height: normal; white-space: nowrap; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
body #LXB_CONTAINER_SHOW .lxb-btn-show-bd-img { display: inline-block; position: relative; top: -0.05rem; vertical-align: middle; width: 0.9rem; height: 1rem; background: url(img/bdbox-img.png) 0 0 no-repeat; background-size: 100%; }
body #LXB_CONTAINER_SHOW .lxb-btn-show-bd-txt { display: inline; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-family: "PingFang SC", "HanHei SC", "PingHei", "Helvetica Neue", "Helvetica", "Arial", sans-serif; color: #fff; font-size: 0.75rem; margin-left: 0.45rem; }
body #LXB_CONTAINER .lxb-container-btn-hide { width: 1.5rem; height: 1.5rem; background: url(img/icon.png) -2rem 0; top: -0.75rem; right: -0.75rem; }
body #LXB_CONTAINER.lxb-container-mobile-5 { height: 2.05rem; width: 100%; background: body #47afff; left: 0; }
body #LXB_CONTAINER.lxb-container-mobile-3, body #LXB_CONTAINER.lxb-container-mobile-4 { border: 2px solid body #0b7bd2; border-radius: 4px; height: 6.4rem; width: 85%; background: body #fff; left: 7%; top: 35%; -webkit-box-shadow: 0.15rem 0 0.4rem body #ccc; -moz-box-shadow: 0.15rem 0 0.4rem body #ccc; box-shadow: 0.15rem 0 0.4rem body #ccc; }
body #LXB_CONTAINER.lxb-container-mobile-5 .lxb-cb-input { top: 0.25rem; left: 2%; width: 70%; height: 1.55rem; padding: 0 0.25rem; border: 1px solid body #ccc; background-color: #fff; -webkit-border-radius: 3px; border-radius: 3px; z-index: 2; }
body #LXB_CONTAINER.lxb-container-mobile-5 .lxb-cb-input-btn { top: 0.3rem; left: 78%; right: 3%; height: 1.45rem; line-height: 1.45rem; background: body #2590e2; color: #fff; border-radius: 5px; font-size: 0.6rem; text-align: center; vertical-align: middle; }
body #LXB_CONTAINER.lxb-container-mobile-5 .lxb-cb-input-tip-content { font-size: 0.6rem; line-height: 0.7rem; }
body #LXB_CONTAINER.lxb-container-mobile-5 .lxb-cb-input-clear { top: 50%; margin-top: -0.55rem; right: 27.5%; z-index: 3; }
body #LXB_CONTAINER.lxb-container-mobile-5 .lxb-cb-latest-call { color: #666; width: 70%; left: 2%; font-size: 0.6rem; padding: 0.25rem 0.25rem; background: body #fff !important; border: 1px solid body #ccc; z-index: 1; }
body #LXB_CONTAINER.lxb-mobile-pos-bottom .lxb-cb-input-tip, body #LXB_CONTAINER.lxb-mobile-pos-bottom .lxb-cb-input-feedback { width: 100%; bottom: 2.05rem; left: 0; background: body #b7dde8 !important; }
body #LXB_CONTAINER.lxb-mobile-pos-top .lxb-cb-input-tip, body #LXB_CONTAINER.lxb-mobile-pos-top .lxb-cb-input-feedback { width: 100%; top: 2.05rem; left: 0; background: body #b7dde8 !important; }
body #LXB_CONTAINER.lxb-mobile-pos-bottom .lxb-cb-latest-call { bottom: 1.8rem; }
body #LXB_CONTAINER.lxb-mobile-pos-top .lxb-cb-latest-call { top: 1.8rem; }
body #LXB_CONTAINER.lxb-container-mobile-3 .lxb-cb-input, body #LXB_CONTAINER.lxb-container-mobile-4 .lxb-cb-input { top: 0.95rem; left: 2%; width: 69%; height: 1.25rem; padding: 0 0.25rem; border: 1px solid body #ccc !important; background-color: #fff; -webkit-border-radius: 3px; border-radius: 3px; z-index: 2; }
body #LXB_CONTAINER.lxb-container-mobile-3 .lxb-cb-input-btn, body #LXB_CONTAINER.lxb-container-mobile-4 .lxb-cb-input-btn { top: 1.05rem; left: 77%; right: 4%; height: 1.2rem; line-height: 1.2rem; background: body #2590e2 !important; color: #fff; -webkit-border-radius: 3px; border-radius: 3px; font-size: 0.6rem; font-weight: 700; text-align: center; }
body #LXB_CONTAINER.lxb-container-mobile-3 .lxb-cb-input-clear, body #LXB_CONTAINER.lxb-container-mobile-4 .lxb-cb-input-clear { top: 1.1rem; left: 66%; z-index: 3; }
body #LXB_CONTAINER.lxb-container-mobile-3 .lxb-cb-latest-call, body #LXB_CONTAINER.lxb-container-mobile-4 .lxb-cb-latest-call { color: #444; width: 69%; left: 2%; padding: 0.4rem 0.25rem; background: body #fff !important; font-size: 0.6rem; border: 1px solid body #ccc; border-radius: 3px; top: 2.15rem; z-index: 1; }
body #LXB_CONTAINER.lxb-container-mobile-3 .lxb-cb-input-tip, body #LXB_CONTAINER.lxb-container-mobile-4 .lxb-cb-input-tip { width: 96%; top: 2.5rem; left: 2%; display: block; }
body #LXB_CONTAINER.lxb-container-mobile-3 .lxb-cb-input-tip-content, body #LXB_CONTAINER.lxb-container-mobile-4 .lxb-cb-input-tip-content { color: #2d85d5; font-size: 0.6rem; line-height: 0.7rem; }
body #LXB_CONTAINER.lxb-container-mobile-3 .lxb-cb-input-feedback, body #LXB_CONTAINER.lxb-container-mobile-4 .lxb-cb-input-feedback { width: 96%; top: 2.5rem; left: 2%; display: block; }
/*系统快商通样式更改 图片尺寸520px*/
#_ks_ol_inviteWin {  margin-top: -6.21rem !important; margin-left: -6.5rem !important; }
#divbg { width: 13rem !important; height: 12.43rem !important;background-size: 100%; }
#div19 { left: 6.24rem !important; top: 9.91rem !important; width: 5.63rem !important; height: 1.73rem !important; line-height: 1.13rem !important; font-size: 0.78rem !important; }
#div23 { left: 1.53rem !important; top: 10.26rem !important; width: 4.13rem !important; height: 0.99rem !important; line-height: 0 !important; }
