@charset "utf-8";

/* ===============variable============= */

.img-respon { display: block; width: 100%; height: auto; }

/************** /variable *************/

/* 重置 */
* {  /* outline: solid 1px black; */ }
.g-doc {  /* outline: solid 2px red; */ }

/* ***reset*** */
a, body { color: #000; }
body, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, html, input, label, li, p, textarea, ul { margin: 0; padding: 0; }
form { display: inline; }
img { border: 0; }
td { word-break: break-all; }
dd, dl, dt, li, ul { list-style: none; }
a { text-decoration: none; }

/* a:hover {
    color:black;
} */
body {overflow-x: hidden;}
body { background: #fff; font-family: sans-serif,'微软雅黑', 'Microsoft Yahei', Verdana, Arial; }

/* 统一清除浮动 */
.f-fr { float: right; }
.f-fl { float: left; }
.f-cb:after { display: block; visibility: hidden; clear: both; height: 0; overflow: hidden; content: '.'; }
.f-cb { zoom: 1; }
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

/* 统一背景图 */
/* .banner { background: url("//img.hzshuangmei.com/m/banner.jpg") center top no-repeat; height: 323px; } */

/* global */
.g-doc { margin-left: auto; margin-right: auto; width: 1200px; }
.consult { display: block; }
.consult:hover { transform: scale(0.9, 0.9); }
body { max-width: 16rem; margin-left: auto !important; margin-right: auto !important; }
/* layout */
.custom-wrapper { height: 2.35rem; overflow: hidden; }
.custom-wrapper.open { height: auto; }
.menu-head { position: relative; width: 100%; height: 2.35rem; text-align: center; background: url("//img.hzshuangmei.com/m/bg_header.jpg") center center no-repeat #41046b; background-size: auto 100%; }
#toggle { display: block; position: absolute; top: 0; bottom: 0; left: 0.75rem; margin: auto; width: 0.85rem; height: 0.85rem; background: url('//img.hzshuangmei.com/m/icon_menu.png') center center no-repeat; background-size: auto 100%; }
.open #toggle { background: url('//img.hzshuangmei.com/m/icon_back.png') center center no-repeat; background-size: auto 100%; }
.menu-heading img { height: 2.35rem; display: inline-block;}
.menu-tel { display: block; position: absolute; top: 0; bottom: 0; right: 0.75rem; margin: auto; width: 0.85rem; height: 0.85rem; background: url('//img.hzshuangmei.com/m/icon_phone.png') center center no-repeat; background-size: auto 100%; }
.tab-nav-wrap { margin: 0; padding: 0; /* height: 53rem/@fb; */ border-bottom: solid 1px #d2d2d2;background-color: #fff;list-style: none; text-align: center; }
.tab-nav { display: inline-block;  /* margin: 0 30rem/@fb; */ width: 28%;list-style: none; }
.tab-nav:hover { cursor: pointer; }
.tab-nav p { margin: 0 auto; width: 2.5rem; text-align: center; font-size: 0.6rem; line-height: 1.25rem; color: #715d81; }
.tab-nav.active p, .tab-nav:hover p { border-bottom: solid 3px #e596c5; }
.tab-content-wrap { position: relative; }
.tab-content:nth-child(2), .tab-content:nth-child(3) { position: absolute; top: 0; left: 0; right:0;z-index: -2; }
.tab-content { background: #fff; padding-top: 0.25rem; padding-bottom: 1.25rem; }
.tab-content.active { z-index: 1; }
.tab-content .title { margin-top: 0.5rem; margin-left: 0;width: 4.7rem; font-weight: normal; background: url('//img.hzshuangmei.com/m/bg_title.png') left center no-repeat; background-size: 100% 100%; }
.tab-content .title span { display: block; width: 59%; padding-left: 15%; text-align: center; font-size: 0.55rem; line-height: 1.05rem; color: #fff; text-shadow: 1px 1px 1px #b96d9a; }
.menu-item-wrap { margin-top: 0.65rem; padding: 0 3%; }
.menu-item { float: left; margin: 0.125rem 2%; border-radius: 0.125rem; width: 29%; max-width: 4.575rem;  /* height: 244rem/@fb; */ background: #f0f0f0; }
.menu-item img { display: block; width: 100%; border-radius: 0.125rem; }
.menu-item h3 { margin-top: 0.25rem; text-align: center; font-weight: normal; line-height: 0.7rem; }
.menu-item h3 a { display: block; font-size: 0.5rem; line-height: 0.7rem; color: #6e5a7f; text-align: center; }
.menu-item .line { margin: 2px auto; width: 60%; height: 0; border-top: solid 1px #cec7d3; }
.menu-item p { text-align: center; padding-bottom: 0.25rem; line-height: 0.55rem; }
.menu-item p a { display: block; text-transform: uppercase; font-size: 0.4rem; line-height: 0.55rem; color: #afa7b6; }
body { padding-bottom: 2.4rem !important; }
.footer { background: #f7f7f7; height: 2.4rem; position: fixed; bottom: 0; margin: auto; width: 100%; max-width: 16rem; z-index: 15; }
.footer a { position: relative; outline: solid 1px #e6e6e6; display: block; height: 2.4rem; float: left; text-align: center; background: #f7f7f7; }
.footer img { position: absolute; display: block; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
.footer a:nth-child(1), .footer a:nth-child(2) { width: 22%; }
.footer a:nth-child(1) img, .footer a:nth-child(2) img { width: 1.25rem; }
.footer a:nth-child(3) { width: 41%; outline: solid 1px #866cd1; background: #866cd1; }
.footer a:nth-child(3) img { width: 4.6rem;}
.footer a:nth-child(4) { width: 15%; }
.footer a:nth-child(4) img { width: 1.125rem; }
/* typographical */
