body,
dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
label,
li,
p,
textarea,
ul {
    padding: 0;
    margin: 0;
}

.help_list .g-container {
    margin: 0 auto;
}

.help_list .g-container {
    margin: 0 auto;
}

.help_list .nav ul {
    display: flex;
    width: 100%;

    font-size: 0;

    align-items: center;
    flex-wrap: wrap;
}

.g-doc,
.help_list .g-doc,
.art_info .g-doc {
    width: auto!important;
}

.help_list .nav ul li {
    display: inline-block;
    width: 32%;
    margin: 0 auto .2rem;
}

.help_list .nav ul li.active a,
.help_list .nav ul li:hover a {
    color: #fff;
    background-color: #6a157d;
}

.help_list .nav ul li a,
.art_info .nav ul li a {
    padding: 0 .9rem!important;
}

.help_list .nav ul li a {
    display: block;
    height: 1.6rem;
    padding: 0 .9rem;

    font-size: .5rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.6rem;

    text-align: center;
    letter-spacing: 0;

    color: #6a157d;
    background-color: #f3f3f3;
}

a {
    text-decoration: none;
}

.help_list {
    width: 15.4rem;
    margin: .93867rem auto 0;
}

.help_list .helps .g-title {
    padding-left: 3.3rem;
    margin-bottom: .7rem;
    margin-left: .25rem;

    background: url(https://img.hzshuangmei.com/m/xnews_t1bg.png.pagespeed.ic.UrrU2t0yo9.png) left center no-repeat;
    background-size: 3.3rem .75rem;
}

.help_list .helps .g-title h2 {
    font-size: .6rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .75rem;

    letter-spacing: 0;

    color: #693290;
}

.helps li {
    margin: .59733rem 0;

    border-bottom: 1px dashed #e5e5e5;
}

.helps li {
    list-style: none;

    border: 1px solid #e0e0ff;
    background: #f2f2ff;
    box-shadow: 0 .10667rem .27733rem rgba(224,224,224,.31);
}

.helps li > div {
    position: relative;

    height: 6.016rem;
    overflow: hidden;
}

.helps li > div > h4 {
    position: relative;

    height: 2.02667rem;

    line-height: 2.24rem;

    text-indent: 1.64267rem;

    background: #fff;
}

.helps li > div > h4 > img {
    position: absolute;
    top: .66133rem;
    left: 0;
    left: .68267rem;

    width: .91733rem;
    height: .91733rem;
}

.helps li > div > h4 > a {
    margin-left: .256rem;

    font-size: .384rem;
    font-size: .49067rem;

    color: #676767;
}

.helps li > div > p {
    position: relative;

    padding-top: .832rem;
    margin-right: .576rem;
}

.helps li > div > p > img {
    position: absolute;
    top: 1.088rem;
    left: .704rem;
}

.helps li > div > p > a {
    display: block;
    margin-left: 1.92rem;

    font-size: .448rem;
    line-height: .768rem;

    color: #666;
}

.helps li > div > p > a > span {
    color: #693290;
}

.helps li > div > span:nth-of-type(1) {
    display: block;
    margin-top: .68267rem;
    margin-bottom: .32rem;
    margin-left: 2.496rem;

    font-size: .40533rem;

    color: #bdbdbd;
}

.helps li > div > span:nth-of-type(2) {
    position: absolute;
    right: .576rem;
    bottom: .55467rem;

    display: block;
    width: 2.66667rem;

    font-size: .40533rem;
    line-height: .68267rem;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border-radius: .10667rem;
    background: #6e63a8;
}

.helps .time {
    position: absolute;
    top: 5.14133rem;
    left: 1.92rem;

    width: .384rem;
    height: .384rem;
}

.help_list .pageindex {
    padding: 1rem .25rem;

    font-size: .4rem;

    text-align: auto;
    text-align: center;

    background-color: #fff;
}

.help_list .pageindex ul {
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.help_list .pageindex ul li {
    float: left;
    margin-left: .25rem;

    font-size: .4rem;
    line-height: 1.05rem;
    list-style: none;

    cursor: pointer;
    vertical-align: middle;

    border: solid 1px #e6e6e6;
}

.help_list .pageindex ul a {
    display: inline-block;
    padding: 0 .45rem;

    font-size: .4rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.05rem;

    letter-spacing: 0;

    color: #333;
}

.help_list .pageindex li:hover {
    background-color: #8a59a7;
}

.help_list .pageindex .thisclass {
    color: #fff;
    background-color: #8a59a7;
}

.help_list .pageindex ul .thisclass {
    padding: 0 .45rem;

    font-size: .4rem;

    color: #fff;
    border: solid 1px #e6e6e6;
    background-color: #8a59a7;
}

.list_pro_help {
    position: relative;
    /* width:15.65rem; */

    padding-top: 1rem;
    margin: .35rem auto;

    border: solid 1px #f2f2f2;
    box-shadow: .075rem .1rem .325rem 0 rgba(224,224,224,.31);
}

.list_pro_help .g-title, {
    position: relative;

    padding-left: 4.75rem;
    margin-right: .25rem;
    margin-bottom: .7rem;
    margin-left: .25rem;

    background: url(https://img.hzshuangmei.com/m/xnews_t2bg.png.pagespeed.ic.vkykJBYtX8.png) left center no-repeat;
    background-size: 4.75rem .8rem;
}

.list_pro_help .g-title {
    padding-left: 3.3rem;
    margin-bottom: .7rem;
    margin-left: .25rem;

    background: url(https://img.hzshuangmei.com/m/xnews_t1bg.png.pagespeed.ic.UrrU2t0yo9.png) left center no-repeat;
    background-size: 3.3rem .75rem;
}

.list_pro_help .g-title h2 {
    width: 3.75rem;

    font-size: .6rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .75rem;

    letter-spacing: 0;

    color: #693290;
}

.list_pro_help .g-title .more {
    position: absolute;
    top: 1.13067rem;
    right: .256rem;

    width: 2.05rem;
    height: .55rem;

    font-size: .35rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: .55rem;

    text-align: center;
    letter-spacing: 0;

    color: #8c64a0;
    border: solid 1px #8c64a0;
}

.list_pro_help .g-content,
.news_list .project .g-content {
    display: -ms-flexbox;
    display: flex;
    height: 4.65rem;
    padding: 0 .2rem;
    padding-bottom: .6rem;

    -ms-flex-pack: justify;
    justify-content: space-between;
}

.list_pro_help .g-content a,
.art_info .project .g-content a {
    display: block;
    float: left;
    width: 7.58rem;
    height: 4.65rem;
}

.list_pro_help .g-content a img,
.art_info .project .g-content a img {
    display: block;
    width: 100%;
    height: 4.65rem;
}

.help_list .g-doc .g-content > a:nth-of-type(1),
.help_info .g-doc .g-content > a:nth-of-type(1) {
    margin-right: .15rem!important;
}

.pro2 {
    position: relative;

    width: 15.65867rem;
    margin: auto;

    border: 1px solid #f2f2f2;
    box-shadow: 0 .10667rem .27733rem rgba(224,224,224,.31);
}

.pro2Line {
    width: 1px;
    height: .66133rem;
    margin-top: .66133rem;
    margin-left: .384rem;

    background: #d5cfe5;
}

.pro2 > span {
    position: absolute;
    top: .576rem;
    left: 0;
    left: .512rem;

    font-size: .384rem;

    color: #693290;
}

.pro2_info {
    position: absolute;
    top: 1.04533rem;
    left: .53333rem;

    font-size: .21333rem;

    color: #d5cfe5;
}

.typeIdRight {
    display: none;
}

.pro2_tag {
    margin-top: .576rem;
    margin-left: .384rem;
    overflow: hidden;
}

.pro2_tag li {
    float: left;
    width: 2.64533rem;
    margin: 0 .42667rem .36267rem 0!important;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;

    border-bottom: none!important;
}

.pro2_tag li {
    width: 14.31467rem;
    margin: 0 .42667rem .832rem 0!important;

    line-height: .512rem;
}

.pro2_tag li > a {
    font-size: .576rem;

    color: #666!important;
}

.pro2_tag li > a:hover {
    text-decoration: underline;

    color: #693290!important;
}

.pro2_tag li > a > span:hover {
    text-decoration: underline;
}

.pro2_tag li > a > span:nth-of-type(1) {
    display: inline-block;
    width: .53333rem;
    height: .512rem;
    margin-right: .17067rem;

    font-size: .55467rem;
    line-height: .512rem;

    text-align: center;

    color: #fff;
    background: #d5cfe5;
}

.pro2_tag li:nth-of-type(1) {
    background: url(helpHot.png) no-repeat right;
}

.pro2_tag li:nth-of-type(2) {
    background: url(helpHot.png) no-repeat right;
}

.pro2N_title {
    display: block;
    width: 7.82933rem;
    margin: 1.00267rem 0 .74667rem .27733rem;
}

.help_kst {
    position: absolute;
    top: 1.00267rem;
    right: .46933rem;

    display: block;
    width: 3.02933rem;
}
