/* carousel */
#banner img { width: 100%; }
.img-responsive, .carousel-inner>.item>img, .carousel-inner>.item>a>img { display: block; max-width: 100%; height: auto; }
.img-rounded { border-radius: 6px; }
.img-thumbnail { padding: 4px; line-height: 1.42857143; background-color: #ffffff; border: 1px solid #dddddd; border-radius: 4px; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; display: inline-block; max-width: 100%; height: auto; }
.img-circle { border-radius: 50%; }
hr { margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 1px solid #eeeeee; }
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
.sr-only-focusable:active, .sr-only-focusable:focus { position: static; width: auto; height: auto; margin: 0; overflow: visible; clip: auto; }
[role="button"] { cursor: pointer; }
.carousel { position: relative; }
.carousel-inner { position: relative; overflow: hidden; width: 100%; }
.carousel-inner>.item { display: none; position: relative; -webkit-transition: 0.6s ease-in-out left; -o-transition: 0.6s ease-in-out left; transition: 0.6s ease-in-out left; }
.carousel-inner>.item>img, .carousel-inner>.item>a>img { line-height: 1; width: 100%; }
@media all and (transform-3d), (-webkit-transform-3d) {
	.carousel-inner>.item { -webkit-transition: -webkit-transform 0.6s ease-in-out; -o-transition: -o-transform 0.6s ease-in-out; transition: transform 0.6s ease-in-out; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000px; perspective: 1000px; }
	.carousel-inner>.item.next, .carousel-inner>.item.active.right { -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); left: 0; }
	.carousel-inner>.item.prev, .carousel-inner>.item.active.left { -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); left: 0; }
	.carousel-inner>.item.next.left, .carousel-inner>.item.prev.right, .carousel-inner>.item.active { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); left: 0; }
}
.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev { display: block; }
.carousel-inner>.active { left: 0; }
.carousel-inner>.next, .carousel-inner>.prev { position: absolute; top: 0; width: 100%; }
.carousel-inner>.next { left: 100%; }
.carousel-inner>.prev { left: -100%; }
.carousel-inner>.next.left, .carousel-inner>.prev.right { left: 0; }
.carousel-inner>.active.left { left: -100%; }
.carousel-inner>.active.right { left: 100%; }
.carousel-control { position: absolute; top: 0; left: 0; bottom: 0; width: 15%; opacity: 0.5; filter: alpha(opacity=50); font-size: 20px; color: #ffffff; text-align: center; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); background-color: rgba(0, 0, 0, 0); }
.carousel-control.left { background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%); background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%); background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001))); background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1); }
.carousel-control.right { left: auto; right: 0; background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%); background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%); background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5))); background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1); }
.carousel-control:hover, .carousel-control:focus { outline: 0; color: #ffffff; text-decoration: none; opacity: 0.9; filter: alpha(opacity=90); }
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right { position: absolute; top: 50%; margin-top: -10px; z-index: 5; display: inline-block; }
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left { left: 50%; margin-left: -10px; }
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right { right: 50%; margin-right: -10px; }
.carousel-control .icon-prev, .carousel-control .icon-next { width: 20px; height: 20px; line-height: 1; font-family: serif; }
.carousel-control .icon-prev:before { content: '\2039'; }
.carousel-control .icon-next:before { content: '\203a'; }
.carousel-indicators { position: absolute; bottom: 10px; left: 50%; z-index: 15; width: 60%; margin-left: -30%; padding-left: 0; list-style: none; text-align: center; }
.carousel-indicators li { display: inline-block; width: 10px; height: 10px; margin: 1px; text-indent: -999px; border: 1px solid #ffffff; border-radius: 10px; cursor: pointer; background-color: #000 \9; background-color: rgba(0, 0, 0, 0); }
.carousel-indicators .active { margin: 0; width: 12px; height: 12px; background-color: #ffffff; }
.carousel-caption { position: absolute; left: 15%; right: 15%; bottom: 20px; z-index: 10; padding-top: 20px; padding-bottom: 20px; color: #ffffff; text-align: center; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
.carousel-caption .btn { text-shadow: none; }
@media screen and (min-width:768px) {
	.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next { width: 30px; height: 30px; margin-top: -10px; font-size: 30px; }
	.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev { margin-left: -10px; }
	.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next { margin-right: -10px; }
	.carousel-caption { left: 20%; right: 20%; padding-bottom: 30px; }
	.carousel-indicators { bottom: 20px; }
}

/* /carousel */

/*********************** index ***********************/

/* 首页导航 */

#nav { position: relative; }
.nav-main { padding: 1rem 0; background-color: #fff; opacity: 1; transition: opacity .5s linear; }
.nav-main.hidden { opacity: .2; z-index: -1; }
.nav-main .row { margin: 0.55rem 6%; display: -webkit-box;    /*old ios 6-,safari 3.1-6*/ display: -moz-box;    /*old firefox 19-*/ display: -ms-flexbox;    /*tweener ie10*/ display: -webkit-flex;    /*new  chrome*/ display: flex;    /*new ,spec -opera12.1,firefox 20+*/ justify-content: space-between; }
.nav-more { position: absolute; top: 1rem; left: 0; right: 0; width: 90%; border-radius: 2rem; margin: 0 auto; padding: 1.95rem 0 2.7rem;    /* background-color: #f0ecf3; */ background-color: rgba(240, 236, 243, 0.76); z-index: -1; transform: scale(0, 0); transform-origin: right bottom; transition: transform .3s linear; }
.nav-more.show { z-index: 1; transform: scale(1, 1); }
.nav-more .row { margin: 0.55rem 14%; display: -webkit-box;    /*old ios 6-,safari 3.1-6*/ display: -moz-box;    /*old firefox 19-*/ display: -ms-flexbox;    /*tweener ie10*/ display: -webkit-flex;    /*new  chrome*/ display: flex;    /*new ,spec -opera12.1,firefox 20+*/ justify-content: space-between; }
.nav-more .nav-info { color: #63576f; }
.nav-more .close { position: absolute; top: 0.6rem; right: 0rem; width: 1.1rem; height: 1.1rem; background: url('//img.hzshuangmei.com/m/btn_close.png') center center no-repeat; background-size: 100%; }
.nav-more .close:hover { cursor: pointer; }
.nav-toggle:hover { cursor: pointer; }
.nav-item { width: 2.725rem; margin-left: 1%; margin-right: 1%; }
.nav-icon { border-radius: 0.625rem; width: 100%; overflow: hidden; background-color: #e5defe; }
.nav-icon img { width: 100%; display: block; }
.nav-info { display: block; text-align: center; font-size: 0.525rem; line-height: 1rem; color: #695e73; }
.row1 .nav-item:nth-child(1) .nav-icon { background-color: #eb675b; }
.row1 .nav-item:nth-child(2) .nav-icon { background-color: #f18896; }
.row1 .nav-item:nth-child(3) .nav-icon { background-color: #48b1b4; }
.row1 .nav-item:nth-child(4) .nav-icon { background-color: #a778c6; }
.row2 .nav-item:nth-child(1) .nav-icon { background-color: #dca352; }
.row2 .nav-item:nth-child(2) .nav-icon { background-color: #b4ce53; }
.row2 .nav-item:nth-child(3) .nav-icon { background-color: #fc8b61; }
.row2 .nav-item:nth-child(4) .nav-icon { background-color: #6fc9e3; }
.row3 .nav-item:nth-child(1) .nav-icon { background-color: #7d9ab8; }
.row3 .nav-item:nth-child(2) .nav-icon { background-color: #88adf1; }
.row3 .nav-item:nth-child(3) .nav-icon { background-color: #d069ba; }
.row4 .nav-item:nth-child(1) .nav-icon { background-color: #bd82bf; }
.row4 .nav-item:nth-child(2) .nav-icon { background-color: #baae5d; }
.row4 .nav-item:nth-child(3) .nav-icon { background-color: #5586c8; }
.row5 .nav-item:nth-child(1) .nav-icon { background-color: #d4b269; }
.row5 .nav-item:nth-child(2) .nav-icon { background-color: #74bfbe; }
.row5 .nav-item:nth-child(3) .nav-icon { background-color: #bc589a; }

/* 首页推荐项目 */
#project { border-bottom: solid 0.175rem #ececf6; padding-bottom: 0.95rem; }
.project-wrap { position: relative; margin: 0 4%; }
#project a { display: inline-block; }
.big { width: 63%; }
.big img { border-radius: 0.4rem; width: 100%; }
.small { position: absolute; width: 33%; }
.small1 { top: 0; right: 0; }
.small2 { bottom: 0; right: 0; }
.small img { border-radius: 0.2rem; width: 100%; }

/* 首页新闻 */
#news { position: relative;    /* padding: 0.35rem 3% 0.35rem 2%; */ padding: 0.55rem 3% 0.55rem 2%; }
#news .item { padding-left: 3.85rem; }
#news h2 { position: absolute; top: 0; bottom: 0; left: 2%; margin: auto; border-right: dotted 0.05rem #cfcdcd; padding-right: 0.6rem; font-size: 1em; width: 2.625rem; height: 1.05rem; background: url('//img.hzshuangmei.com/m/bg_txt_xinwen.jpg') left center no-repeat; background-size: 2.625rem auto; }
#news h3 { padding-right: 1.125rem; font-size: 0.5rem; line-height: 1.1em; color: #32306a; font-weight: normal; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
#news h3 a { color: #32306a; }
#news p { font-size: 0.35rem; line-height: 1.5em; color: #cacaca; padding-right: 1.125rem; }
#news .item, #video .item { position: relative; overflow: hidden; }
#news .more, #video .more { position: absolute; bottom: 0; right: 0; text-transform: uppercase; display: block; border: solid 1px #a69ec4; width: 1.125rem; height: 0.4rem; font-size: 0.3rem; line-height: 0.4rem; color: #8276ab; text-align: center; }
#video { position: relative; padding: 0.35rem 3% 0.35rem 2%; background: #ededed;min-height:.55rem;}
#video .item { padding-left: 4.85rem;    /* height: 42rem/@fb; */ }
#video h2 { position: absolute; top: 0; bottom: 0; left: 2%; margin: auto; padding-right: 0.6rem; border-right: dotted 0.05rem #cfcdcd;    /* padding-right: 18rem/@fb; */ font-size: 0.65rem; line-height: 0.65rem; color: #9464b4;    /* width: 105rem/@fb; */ height: 1em; }
#video .icon-show { display: inline-block; vertical-align: middle; width: 1.42307692em; height: 0.80769231em; background: url('//img.hzshuangmei.com/m/icon_show.png') center center no-repeat; background-size: 100%; }
#video h3 { font-size: 0.5rem; line-height: 1.05rem; color: #32306a; font-weight: normal; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; padding-right: 1.125rem; }
#video h3 a { color: #32306a; }
#doctor .heading { position: relative; background: #f6f6fd; padding: 1.25rem 0; text-align: center; }
#doctor .heading h2 { font-size: 0.725rem; color: #704096; font-weight: normal; }
#doctor .heading .more { position: relative; display: inline-block; margin: 0.22rem auto 0; border: solid 1px #a69ec4;    /* width: 2rem; */ padding: 0.15rem 0.2rem; font-size: 0.35rem; line-height: 0.35rem; color: #8276ab; text-transform: uppercase; background: #f6f6fd; z-index: 2; }
#doctor .heading .line { position: absolute; bottom: 1.575rem; left: 0; right: 0; margin: auto; width: 3.25rem; height: 1px; background: #a69ec4; }
#doctor .content { display: -webkit-box;    /*old ios 6-,safari 3.1-6*/ display: -moz-box;    /*old firefox 19-*/ display: -ms-flexbox;    /*tweener ie10*/ display: -webkit-flex;    /*new  chrome*/ display: flex;    /*new ,spec -opera12.1,firefox 20+*/ justify-content: space-between; background: linear-gradient(180deg, #f6f6fd, #fff); }
#doctor .item { position: relative; width: 33%; max-width: 5.3rem; }
#doctor .item img { width: 100%; display: block; }
#doctor .item:nth-child(1) .info { background-color: rgba(169, 125, 203, 0.8); }
#doctor .item:nth-child(2) .info, #doctor .item:nth-child(3) .info { background-color: rgba(125, 125, 203, 0.8); }
#doctor .info { position: absolute; left: 0; bottom: 0; padding: 0.3rem 0 0.2rem; width: 100%; text-align: center; }
#doctor h3 { font-size: 0.55rem; line-height: 0.6rem; color: #fff; font-weight: normal; }
#doctor h3 a { color: #fff; }
#doctor p { padding-top: 0.1rem; height: 0.35rem; font-size: 0.35rem; line-height: 0.35rem; color: rgba(255, 255, 255, 0.8); }
#doctor p span { display: inline-block; transform: rotateZ(90deg); }
#doctor p a { padding-top: 0.05rem; color: rgba(255, 255, 255, 0.8); }
@media (min-width:640rem/40) {
	#doctor .content { justify-content: space-around; }
}

/* 首页日记 */
#diary .heading { position: relative; padding: 1.15rem 0 2%; text-align: center; }
#diary .heading h2 { margin: 0 auto; width: 3.75rem; font-size: 0.725rem; line-height: 1em; color: #704096; font-weight: normal; background: #fff; }
#diary .heading .more { display: inline-block; margin: 0.3rem auto 0; border: solid 1px #a69ec4;    /* width: 2.2rem;  */ padding: 0.15rem 0.2rem; font-size: 0.35rem; line-height: 1em; color: #8276ab; text-transform: uppercase; }
#diary .heading .line { position: absolute; z-index: -1; top: 1.5rem; left: 0; right: 0; margin: auto; width: 63%; height: 0.05rem; background: linear-gradient(90deg, #fff 0%, #704096 50%, #fff 100%); }
#diary .item { padding: 0 5%; border-top: solid 0.125rem #f6f4f7; }
#diary .item:first-child { border: none; }
#diary .title { padding-top: 0.35rem; height: 1.6rem; }
#diary .thum { float: left; border-radius: 50%; width: 1.6rem; height: 1.6rem; overflow: hidden; }
#diary .thum img { display: block; width: 100%; }
#diary .name { float: left; padding-left: 0.25rem; font-size: 0.6rem; line-height: 2.66666667em; color: #9999cc; font-weight: normal; }
#diary .name a { color: #9999cc; }
#diary .des { margin-top: 0.3rem; font-size: 0.4rem; line-height: 1.5em;    /* color: #b6b6b6; */ color: #3e3d3d }
#diary .pic { margin-top: 0.5rem; }
#diary .pic img { width: 100%; display: block; }
#diary .before { float: left; position: relative; overflow: hidden; width: 50%; max-width: 7.35rem;outline: solid 1px #eaeaea; }
#diary .after { float: left; position: relative; overflow: hidden; width: 50%; max-width: 7.35rem;outline: solid 1px #eaeaea; }
#diary .flag { position: absolute; left: 0; bottom: -1rem; width: 2rem; height: 2rem; border-top-right-radius: 1.25rem; border-bottom-right-radius: 1.25rem; background: rgba(154, 66, 172, 0.4); font-size: 0.5rem; line-height: 1rem; color: #fff; padding-left: 0.5rem; }
#diary .label { padding: 0.4rem 0 0.5rem; height: 0.8rem; line-height: 0.8rem; }
#diary .label span { display: inline-block; vertical-align: middle; }
#diary .pro { padding-left: 1.05rem; font-size: 0.4rem; color: #9999cc; line-height: 0.8rem; background: url('//img.hzshuangmei.com/m/icon_flag.png') left center no-repeat; background-size: auto 100%; }
#diary .pro a{color: #9999cc; }
#diary .right { float: right; line-height: 0.8rem; }
#diary .show { width: 0.875rem; height: 0.425rem; background: url('//img.hzshuangmei.com/m/icon_show2.png') center center no-repeat; background-size: auto 100%; }
#diary .click { margin-left: 0.45rem; padding-left: 0.75rem; font-size: 0.45rem; color: #b292d2; background: url('//img.hzshuangmei.com/m/icon_eye.png') left center no-repeat; background-size: auto 1em; }
#picinfo { background: #eee; padding: 1.35rem 3% 0; display: -webkit-box;    /*old ios 6-,safari 3.1-6*/ display: -moz-box;    /*old firefox 19-*/ display: -ms-flexbox;    /*tweener ie10*/ display: -webkit-flex;    /*new  chrome*/ display: flex;    /*new ,spec -opera12.1,firefox 20+*/ justify-content: space-between; }
#picinfo .item-wrap { width: 4.925rem; overflow: hidden; }
#picinfo .title { position: relative; padding: 8% 0; text-align: center; font-size: 0.4rem; color: #fff; }
#picinfo .title h3 { font-weight: normal; }
#picinfo .title a { color: #fff; }
#picinfo .lefticon { display: block; position: absolute; top: 0; bottom: 0; left: 10%; margin: auto; width: 0; height: 0; border-style: solid; border-width: 0.15rem 0.225rem; border-color: transparent rgba(255, 255, 255, 0.5) transparent transparent; }
#picinfo .righticon { display: block; position: absolute; top: 0; bottom: 0; right: 10%; margin: auto; width: 0; height: 0; border-style: solid; border-width: 0.15rem 0.225rem; border-color: transparent transparent transparent rgba(255, 255, 255, 0.5); }
#picinfo .item-wrap:nth-child(1) .title { background: #6c3c89; }
#picinfo .item-wrap:nth-child(2) .title { background: #92569f; }
#picinfo .item-wrap:nth-child(3) .title { background: #ac81b5; }
@media (min-width:640rem/40) {
	#picinfo { justify-content: space-around; }
}

/* 版权声明 */
.copyright { padding: 0.9rem 0 1.05rem; background: #eee; }
.copyright p { font-size: 0.35rem; line-height: 1.71428571em; color: #77718f; text-align: center; }
.copyright p span { font-size: 0.45rem; }

/*********************** project_list ***********************/
.item_icons { display: inline-block; overflow: hidden; background-repeat: no-repeat; background-image: url("//img.hzshuangmei.com/m/items.png"); background-size: 2.4rem 9.55rem; }
.item_bi { width: 1.15rem; height: 0.75rem; background-position: 0rem 0rem }
.item_bi2 { width: 1.15rem; height: 0.75rem; background-position: -1.2rem 0rem }
.item_bo { width: 1.15rem; height: 0.75rem; background-position: 0rem -0.8rem }
.item_bo2 { width: 1.15rem; height: 0.75rem; background-position: -1.2rem -0.8rem }
.item_botox { width: 1.15rem; height: 0.75rem; background-position: 0rem -1.6rem }
.item_botox2 { width: 1.15rem; height: 0.75rem; background-position: -1.2rem -1.6rem }
.item_hengli { width: 1.15rem; height: 0.75rem; background-position: 0rem -2.4rem }
.item_hengli2 { width: 1.15rem; height: 0.75rem; background-position: -1.2rem -2.4rem }
.item_mian { width: 1.15rem; height: 0.75rem; background-position: 0rem -3.2rem }
.item_mian2 { width: 1.15rem; height: 0.75rem; background-position: -1.2rem -3.2rem }
.item_more { width: 1.15rem; height: 0.75rem; background-position: 0rem -4rem }
.item_more2 { width: 1.15rem; height: 0.75rem; background-position: -1.2rem -4rem }
.item_pi { width: 1.15rem; height: 0.75rem; background-position: 0rem -4.8rem }
.item_pi2 { width: 1.15rem; height: 0.75rem; background-position: -1.2rem -4.8rem }
.item_simi { width: 1.15rem; height: 0.75rem; background-position: 0rem -5.6rem }
.item_simi2 { width: 1.15rem; height: 0.75rem; background-position: -1.2rem -5.6rem }
.item_wen { width: 1.15rem; height: 0.75rem; background-position: 0rem -6.4rem }
.item_wen2 { width: 1.15rem; height: 0.75rem; background-position: -1.2rem -6.4rem }
.item_xing { width: 1.15rem; height: 0.75rem; background-position: 0rem -7.2rem }
.item_xing2 { width: 1.15rem; height: 0.75rem; background-position: -1.2rem -7.2rem }
.item_xiong { width: 1.15rem; height: 0.75rem; background-position: 0rem -8rem }
.item_xiong2 { width: 1.15rem; height: 0.75rem; background-position: -1.2rem -8rem }
.item_yan { width: 1.15rem; height: 0.75rem; background-position: 0rem -8.8rem }
.item_yan2 { width: 1.15rem; height: 0.75rem; background-position: -1.2rem -8.8rem }
.project-nav { padding: 1.85rem 2% 1.45rem; }
.project-nav .nav-item { background: linear-gradient(180deg, #fff 0%, #f5f4ff 100%); float: left; margin: 0; outline: solid 1px #ececec;    /* width: 2.25rem;  */ width: 16.666%; height: 1.75rem; }
.project-nav .nav-item:hover, .project-nav .nav-item.active { background: #591983; }
.project-nav .nav-item:hover .nav-info, .project-nav .nav-item.active .nav-info { color: #fff; }
.project-nav .nav-item:hover .item_bi, .project-nav .nav-item.active .item_bi { background-position: -1.2rem 0rem }
.project-nav .nav-item:hover .item_bo, .project-nav .nav-item.active .item_bo { background-position: -1.2rem -0.8rem }
.project-nav .nav-item:hover .item_mian, .project-nav .nav-item.active .item_mian { background-position: -1.2rem -3.2rem }
.project-nav .nav-item:hover .item_pi, .project-nav .nav-item.active .item_pi { background-position: -1.2rem -4.8rem }
.project-nav .nav-item:hover .item_wen, .project-nav .nav-item.active .item_wen { background-position: -1.2rem -6.4rem }
.project-nav .nav-item:hover .item_xing, .project-nav .nav-item.active .item_xing { background-position: -1.2rem -7.2rem }
.project-nav .nav-item:hover .item_yan, .project-nav .nav-item.active .item_yan { background-position: -1.2rem -8.8rem }
.project-nav .nav-item:hover .item_simi, .project-nav .nav-item.active .item_simi { background-position: -1.2rem -5.6rem }
.project-nav .nav-item:hover .item_xiong, .project-nav .nav-item.active .item_xiong { background-position: -1.2rem -8rem }
.project-nav .nav-item:hover .item_botox, .project-nav .nav-item.active .item_botox { background-position: -1.2rem -1.6rem }
.project-nav .nav-item:hover .item_hengli, .project-nav .nav-item.active .item_hengli { background-position: -1.2rem -2.4rem }
.project-nav .nav-item:hover .item_more, .project-nav .nav-item.active .item_more { background-position: -1.2rem -4rem }
.project-nav .nav-link { display: block; margin: 0 auto; width: 2.25rem; height: 1.75rem; text-align: center; font-size: 0; }
.project-nav .nav-icon { background-color: transparent; margin: 0.3rem auto 0; width: 1.15rem; height: 0.75rem; border-radius: 0; }
.project-nav .nav-info { font-size: 0.4rem; line-height: 0.5rem; color: #4a4a4c; }
.project-items { padding: 0 2% 1.25rem; font-size: 0; text-align: left; }
.pro-item { position: relative; display: inline-block; width: 49%;    /* width: 7.6rem; */ max-width: 7.48rem; min-height: 6.15rem; margin-right: 1%; margin-bottom: 0.7rem; }
.pro-thum { border: solid 0.05rem #f5f4f7; width: 100%; max-height: 4.85rem; overflow: hidden; }
.pro-thum img { width: 100%; }
.pro-info { position: relative; text-align: left; }
.pro-title { margin-top: 0.25rem; font-weight: normal; }
.pro-title a { font-size: 0.45rem; line-height: 0.75rem; color: #6e3693; }
.pro-subtitle { font-size: 0.3rem; line-height: 0.4rem; color: #dddcdc; text-transform: uppercase; padding-right: 1rem; height: 0.4rem; overflow: hidden; }
.pro-line { margin-top: 0.35rem; width: 0.55rem; height: 0.1rem; background: #6e3693; }
.pro-dianji { position: absolute; right: 0; bottom: 0.4rem; display: block; padding-left: 0.6rem; padding-right: 0.2rem; border: solid 1px #e1e1e1;    /* width: 0.8rem; */ height: 0.6rem; line-height: 0.6rem; font-size: 0.275rem; line-height: 0.65rem; color: #8b8b8b; background: url('//img.hzshuangmei.com/m/icon_xin.png') 0.15rem center no-repeat; background-size: 0.3rem 0.3rem; }
.pro-more { display: none; margin: 0 auto; width: 2.6rem; height: 1.25rem; border: solid 1px #ada5d5; font-size: 0.4rem; line-height: 0.75rem; color: #918bbc; text-align: center; }
.pro-more:hover { cursor: pointer; }
.pro-more span { display: block; margin: 0 auto; width: 0.475rem; height: 0.375rem; background: url('//img.hzshuangmei.com/m/icon_more_down.png') center center no-repeat; background-size: 100%; }

/* 相关案例 */
.relatecase { background: #efefef; padding-bottom: 0.75rem; }
.relatecase .heading { padding: 0.65rem 0 0.8rem; text-align: center; }
.relatecase .title { margin: 0 auto 0.1rem; padding-bottom: 0.25rem; border-bottom: solid 0.05rem #a87ebd; width: 4.15rem; font-size: 0.5rem; line-height: 0.55rem; color: #591983; font-weight: normal; }
.relatecase .more { margin-top: 1.35rem; text-align: center; }
.relatecase .more a { font-size: 0.45rem; line-height: 0.45rem; color: #591983; }
.relatecase .more a span { display: inline-block; border-radius: 50%; width: 0.45rem; height: 0.45rem; background: #591983; color: #fff; text-align: center; line-height: 0.4rem; }
#slidecase { position: relative; margin: 0 auto; width: 15.1rem; height: 9.85rem; background: #e9e4f2; }
#slidecase .item { width: 15.1rem; height: 9.85rem; }
#slidecase .item .left { float: left; padding-left: 0.5rem; width: 6.25rem; }
#slidecase .item .right { padding-top: 0.5rem; }
#slidecase .item .name { margin-top: 0.25rem; padding: 0.65rem 0 0 1.6rem; width: 2.15rem; height: 0.8rem; background: url('//img.hzshuangmei.com/m/bg_name.png') left center no-repeat; background-size: auto 100%; font-family: "﻿RTWSYueGoTrial-Regular", "MicrosoftYaHei"; font-size: 0.5rem; line-height: 0.5rem; color: #6e3693; }
#slidecase .item .name a { color: #6e3693; }
#slidecase .item .pro { position: relative; margin-top: 0.15rem; padding-top: 0.05rem; padding-left: 1.5rem; min-height: 0.975rem; width: 4rem; font-size: 0.45rem; line-height: 0.65rem; color: #6e3693; }
#slidecase .item .pro a { color: #6e3693; }
#slidecase .item .pro .icon { position: absolute; top: 0; left: 0; display: block; padding-top: 0.15rem; width: 1.3rem; height: 1.225rem; background: #672d8e; font-size: 0.45rem; line-height: 0.5rem; color: #fff; text-align: center; }
#slidecase .item .before { position: relative; margin-top: 0.6rem; border: solid 0.075rem #e0c7ea; border-radius: 50%; width: 5.4rem; height: 5.4rem; overflow: hidden; }
#slidecase .item .before img { width: 100%; }
#slidecase .item .before .info { position: absolute; left: 0; bottom: 0; width: 100%; height: 1rem; font-size: 0.45rem; line-height: 1rem; color: #591983; text-align: center; background: rgba(255, 255, 255, 0.5); }
#slidecase .item .after { position: relative; width: 8rem; height: 8.75rem; overflow: hidden; }
#slidecase .item .after img { width: 100%; }
#slidecase .item .after .info { position: absolute; left: 0; bottom: 0; width: 100%; height: 1rem; font-size: 0.45rem; line-height: 1rem; color: #591983; text-align: center; background: rgba(255, 255, 255, 0.5); }
#slidecase .item .after .consult { position: absolute; right: 0.25rem; bottom: 0; border: solid 0.075rem rgba(227, 174, 244, 0.7); border-radius: 50%; display: block; padding-top: 0.25rem; width: 1.575rem; height: 1.325rem; background: #686aa5; font-size: 0.45rem; line-height: 0.5rem; color: #fff; text-align: center; }
#slidecase .carousel-indicators { margin-top: 0; margin-bottom: 0; bottom: -1rem; }
#slidecase .carousel-indicators li { border: none; border-radius: 0; margin-left: 0.175rem; margin-right: 0.175rem; background-color: #a484b9; }
#slidecase .carousel-indicators li.active { border-radius: 0; background-color: #591983; }

/*********************** zhuanjia_list ***********************/
.zhuanjia-nav { padding: 0.875rem 0 0.875rem 6%; }
.zhuanjia-nav .nav-item { float: left; width: 4.675rem; margin: 0; }
.zhuanjia-nav .nav-item:hover, .zhuanjia-nav .nav-item.active { background: #6d3694; }
.zhuanjia-nav .nav-item:hover .nav-link, .zhuanjia-nav .nav-item.active .nav-link { color: #fff; }
.zhuanjia-nav .nav-link { display: block; width: 4.675rem; height: 1.05rem; outline: solid 1px #d4d3d3; font-size: 0.5rem; line-height: 1.05rem; color: #9065b7; text-align: center; }
.zhuanjia-items { padding: 0 2% 1.5rem; }
.zhuanjia-item { position: relative; border: solid 1px #e3e3e3; margin-bottom: 0.2rem; padding-left: 7.7rem; min-height: 7.4rem; }
.zhuanjia-thum { position: absolute; left: 0; top: 0; width: 7.1rem; height: 7.25rem; overflow: hidden; border: solid 0.075rem #fff; }
.zhuanjia-thum img { width: 100%; }
.zhuanjia-title { margin-top: 1.25rem; border-bottom: solid 1px #ccc; padding-left: 0.75rem; width: 4rem; background: url('//img.hzshuangmei.com/m/icon_people.png') left center no-repeat; background-size: 0.75rem 0.7rem; font-size: 0.65rem; line-height: 1.25rem; color: #282828; }
.zhuanjia-info .zhuanjia-title a { color: #282828; }
.zhuanjia-info .zhiwei { margin-top: 0.2rem; font-size: 0.45rem; line-height: 0.625rem; color: #aaa; }
.zhuanjia-info .shanchang { font-size: 0.375rem; line-height: 0.625rem; color: #aaa; }
.zhuanjia-info a { color: #aaa; }
.zhuanjia-info .zhuanjia-more { margin-top: 0.35rem; display: block; width: 3rem; height: 0.75rem; background: #a786bf; text-align: center; font-size: 0.45rem; line-height: 0.75rem; color: #fff; }

/*************************** article_list ***************************/
.article-list .heading { padding: 0.75rem 0 1rem; text-align: center; }
.article-list .heading .title { margin: 0 auto 0.1rem; padding-bottom: 0.25rem; border-bottom: solid 0.05rem #a87ebd; width: 4.15rem; font-size: 0.5rem; line-height: 0.55rem; color: #774db5; font-weight: normal; }
.article-list .heading img { display: block; margin: 0 auto; }
.article-list .recommend { border-bottom: solid 1px #ededed; padding: 0 2% 0.75rem; text-align: center; font-size: 0; }
.article-list .recommend .item { position: relative;    /* float: left; */ display: inline-block; width: 7.6rem;    /* height: 5.9rem; */ }
.article-list .recommend .item img { width: 100%; display: block; }
.article-list .recommend .item .info { overflow: hidden; position: absolute; left: 0; bottom: 0; width: 100%; height: 1.1rem; font-size: 0.4rem; line-height: 1.1rem; color: #fff; background: rgba(70, 39, 78, 0.4); text-align: center; text-overflow: ellipsis; white-space: nowrap; }
.article-list .recommend .item .info a { color: #fff; }
.article-list .article-items .title { padding: 1rem 3% 0.35rem; font-size: 0.6rem; line-height: 0.75rem; color: #774db5; height: 0.75rem; font-weight: normal; }
.article-list .article-items .title img { vertical-align: middle; }
.article-list .article-item { padding: 0.6rem 3%; border-bottom: dotted 0.05rem #f5f5f5; }
.article-list .item-wrap { position: relative; padding-left: 8.25rem; min-height: 4.55rem; }
.article-list .item-thum { position: absolute; top: 0; left: 0; width: 7.8rem; height: 4.55rem; overflow: hidden; }
.article-list .item-thum img { width: 100%; }
.article-list .item-info { position: relative; padding-top: 0.55rem; min-height: 4rem; }
.article-list .item-title{font-size:0.5rem;line-height:0.6rem;color:#333;font-weight:normal}
.article-list .item-title a { color: #333; }
.article-list .item-des { margin-top: 0.1rem; font-size: 0.325rem; line-height: 0.425rem; color: #b2b2b2; }
.article-list .item-des a { color: #b2b2b2; }
.article-list .item-more { margin-top: 0.5rem; display: block; width: 2rem; height: 0.5rem; border: solid 1px #d2d1d1; font-size: 0.35rem; line-height: 0.5rem; color: #929095; text-align: center; }
.article-list .item-date { position: absolute; bottom: 0; right: 0; font-size: 0.3rem; line-height: 0.35rem; color: #b2b2b2; }
.article-list .item-date span { display: inline-block; }
.article-list .item-date .click { padding-left: 0.35rem; background: url('//img.hzshuangmei.com/m/icon_xin.jpg') left center no-repeat; background-size: 0.3rem 100%; }
.article-list .item-date .date { padding-left: 0.45rem; }

/* 
 * pagination
 * ====================================================
*/
.pagination { padding: 1rem .25rem; background-color: #fff; text-align: center; font-size: 0.4rem; }
.pagination ul { display: inline-block; *display: inline; *zoom: 1; margin-left: 0; margin-bottom: 0; padding: 0 }
.pagination ul>li { display: inline; }
.pagination ul>li>a, .pagination ul>li>span { margin: 0 0.13rem; float: left; border: solid 1px #ccc; padding: 0.2rem 0.4rem 0.17rem; text-decoration: none; background-color: #fff; color: #333; opacity: .88 }
.pagination ul .thisclass { margin: 0 0.13rem; float: left; border: solid 1px #8a59a8; padding: 0.2rem 0.4rem 0.17rem; text-decoration: none; background-color: #8a59a8; color: #fff; opacity: .88 }
.pagination-multi ul>li>a, .pagination-multi ul>li>span { padding: 0.17rem 0.4rem; margin: 0 2px; font-size: 0.3rem; }
.pagination ul>li>a:hover, .pagination ul>li>a:focus { opacity: 1 }
.pagination ul>.active>a, .pagination ul>.active>span { background-color: #8a59a8; color: #fff }
.pagination ul>.active>a, .pagination ul>.active>span { cursor: default }
.pagination ul>li>span, .pagination ul>.disabled>span, .pagination ul>.disabled>a, .pagination ul>.disabled>a:hover, .pagination ul>.disabled>a:focus { color: #999999; background-color: transparent; cursor: default }
.pagination ul>li.next-page>a, .pagination ul>li.thisclass>a, .pagination ul>li>a:hover { background-color: #8a59a8; color: #fff; }
.ias_trigger { margin: 20px 0; }
.ias_trigger a { background-color: #eee; display: block; line-height: 35px; text-align: center; font-size: 14px; color: #999; }
.ias_trigger a:hover { background-color: #ddd; color: #666; }
.pagination-loading { font-size: 16px; text-align: center; color: #999; padding: 30px 0 40px; }
.pagination-loading .glyphicon { top: 2px }
.pagenav { overflow: hidden; text-align: center; padding: 20px }
.pagenav a, .pagenav .current, .pagenav .page-numbers { padding: 4px 12px 3px; color: #666; display: inline-block; background-color: #eee; margin: 0 1px }
.pagenav .current { background-color: #61B3E6; color: #fff }
.pagenav a:hover { background-color: #ccc; color: #444 }

/********************** case_list ***********************/
.case-nav { padding: 3% 1% 1%; }
.case-nav .nav-item { float: left; width: 25%;    /* max-width: 3.1rem; */ outline: solid 1px #dcdcdc; margin: 0; }
.case-nav .nav-item:hover, .case-nav .nav-item.active { background-color: #9065b7; }
.case-nav .nav-item:hover .nav-link, .case-nav .nav-item.active .nav-link { color: #fff; }
.case-nav .nav-link { display: block; width: 100%; height: 1.4rem; font-size: 0.5rem; line-height: 1.4rem; color: #9065b7; text-align: center; }
.case-nav .more .nav-link { font-size: 0.45rem; line-height: 1.4rem; color: #e66cea; }
.case-nav .more .nav-link span { display: inline-block; border: solid 1px #e66cea; border-radius: 50%; width: 0.35rem; height: 0.35rem; line-height: 0.3rem; vertical-align: middle; }

/*********************** article_article ***********************/
.article .heading { padding-top: 1.5rem; text-align: center; }
.article .heading .title { font-size: 0.675rem; line-height: 0.825rem; color: #774db5; padding: 0 0.25rem; }
.article .heading .line { margin: 0.35rem auto 0; width: 60%; border-bottom: solid 0.05rem #e7e6e6; }
.article .heading .line span { display: block; margin: 0 auto; width: 0.8rem; height: 0.075rem; background: #9479ba; }
.article .heading .info { margin-top: 0.15rem; font-size: 0.35rem; line-height: 0.85rem; color: #b998ca; }
.article .heading .info span { display: inline-block; }
.article .heading .info .source { padding-left: 0.25rem; }
.article .heading .info .click { color: #afafaf; padding-left: 0.75rem; }
.article .heading .info .consult { margin-left: 0.75rem; width: 1.75rem; height: 0.5rem; vertical-align: middle; background: url("//img.hzshuangmei.com/m/icon_qq.jpg") center center no-repeat; background-size: 1.75rem .5rem; }
.article .article-main { padding: 1.25rem 2% 2rem; font-size: 0.6rem; line-height: 1.5; color: #565656; text-align: justify;}
.doctor-article .article-main, .project-article .article-main { padding: 0 2%; }
.article .article-main h1, .article .article-main h2, .article .article-main h3, .article .article-main h4, .article .article-main h5, .article .article-main h6 { color: #303030; }
.article .article-main P { margin-top: 0.4rem; margin-bottom: 0.4rem; text-indent: 2em;}
.article .article-main img { margin-top: 0.25rem; margin-bottom: 0.25rem; width: 100%; max-width: 20rem;display: block; }
/* .equipment .article-main img { width: 50%; } */
.article .article-main ol li{list-style: decimal;}
.article .article-main ul li{list-style: disc ;}
.article .article-main em{margin-top:-0.4rem;display:block;text-align:center;font-size: 0.4rem;}
.relate-link { margin-top: 2.5em; margin-bottom: 1em; padding: 0 2% 1.5rem; font-size: 0.3rem; color: #6a6a6a; line-height: 0.85rem; }
.relate-link a {    /* display:block; */
font-size: 0.3rem; line-height: 0.85rem; color: #6a6a6a; }
.relate-link .prev { float: left; border: solid 1px #e0d3ed; padding: 0 0.4rem; width: 42%; line-height: 0.85rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis }
.relate-link .next { float: right; border: solid 1px #e0d3ed; padding: 0 0.4rem; width: 42%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis }

/********************* case_article *********************/
.case .heading-wrap { padding: 0 3%; background: #f5f5f5; }
.case .heading { position: relative; padding: 0.75rem 0; }
.case .heading p { position: relative; padding-left: 2.5rem; padding-right: 19%; padding-bottom: 0.2rem; font-size: 0.5rem; line-height: 0.65rem; min-height: 0.65rem; color: #a675b1; }
.case .heading p span { position: absolute; left: 0; padding-left: 0.4rem; font-size: 0.5rem; line-height: 0.65rem; color: #8c4a9a; font-weight: bold; background: url('//img.hzshuangmei.com/m/icon_point.png') left center no-repeat; }
.case .heading p span i { display: inline-block; width: 1em; }
.case .heading .evaluate { font-size: 0.375rem; }
.case .heading a { color: #bb14a5; }
.case .heading .pro { color: #bb14a5; }
.case .heading .pro a { color: #bb14a5; }
.case .heading .after { position: absolute; top: 0.75rem; right: 0; width: 1.6rem; height: 1.6rem; border-radius: 50%; overflow: hidden; }
.case .heading .after img { width: 100%; }
.case .step { border-bottom: solid 1px #f0f0f0; padding: 0.65rem 5%; }
.case .step .title { position: relative; display: inline-block; background: #cbbfe3; padding: 0 0.5rem; font-weight: normal; font-size: 0.6rem; line-height: 0.9rem; color: #fff; }
.case .step .title strong { color: #cf35ba; font-weight: normal; }
.case .step .title i { position: absolute; right: -0.6rem; top: 0; display: block; width: 0; height: 0; border-style: solid; border-color: transparent transparent transparent #cbbfe3; border-width: 0.45rem 0.3rem; }
.case .step .des { margin-top: 0.15rem; margin-bottom: 0.6rem; font-size: 0.5rem; line-height: 1.6; color: #9b71a5; }
.case .step .pic { font-size: 0; }
.case .step .pic img { display: inline-block; width: 49%; margin: 0 1% 1% 0;  }
.relatemodule { background: #f4f4f4; overflow:hidden;}
.relatemodule .heading { text-align: center;  padding: .75rem 0;}
.relatemodule .heading .title {padding: 0; margin:0;display: inline-block; font-weight: normal; font-size: 0.7rem; line-height: 0.75rem; color: #fff; }
.relatemodule .heading .title span { vertical-align: bottom; }
.relatemodule .heading .lefticon { display: inline-block; padding-right: 0.5rem; width: 0.6rem; height: 0.5rem; background: url('//img.hzshuangmei.com/m/icon_t_left.png') center center no-repeat; }
.relatemodule .heading .righticon { display: inline-block; padding-left: 0.5rem; width: 0.6rem; height: 0.5rem; background: url('//img.hzshuangmei.com/m/icon_t_right.png') center center no-repeat; }
.relatemodule .heading .lefticon2 { display: inline-block; padding-right: 0.5rem; width: 0.6rem; height: 0.5rem; background: url('//img.hzshuangmei.com/m/icon_t_left2.png') center center no-repeat; }
.relatemodule .heading .righticon2 { display: inline-block; padding-left: 0.5rem; width: 0.6rem; height: 0.5rem; background: url('//img.hzshuangmei.com/m/icon_t_right2.png') center center no-repeat; }
.relatemodule .carousel-indicators { margin-top: 0; margin-bottom: 0; bottom: -1.3rem; }
.relatemodule .carousel-indicators li{border:none;width:7px;height:7px;padding:3px;margin-left:0.175rem;margin-right:0.175rem;background-color:#fff ;background-clip:content-box;border:solid 1px transparent;}
.relatemodule .carousel-indicators li.active{background-color:#ff96f9 ; background-clip:content-box;border:solid 1px #ff96f9;}
.relatemodule .heading .line { position: relative; margin: 0.2rem auto 0; width: 69%; border-bottom: solid 1px #9b7ab5; float: none;}
.relatemodule .heading .line span { position: absolute; left: 0; right: 0; top: -0.05rem; margin: auto; display: block; width: 0.1rem; height: 0.1rem; background: #d8d0df; transform: rotateZ(45deg); }

.relateporject .heading .line{border-bottom: solid 1px #7e52a2;}
.relateporject .content { padding: 0.55rem 3.5% 1.65rem; font-size: 0; text-align: center; }
.relateporject .content .imgbox { background: #865ba9; font-size: 0; padding:.1rem 0;}
.relateporject .content img { margin: 0.125rem; width: 47.5%; max-width: 7.6rem; }
.articlerelatedoctor{background:#76449e;height: 13.15rem; }
.articlerelatedoctor .heading .line{border-bottom: solid 1px #8a60ab;}
.articlerelatedoctor .content {padding: .55rem 2% 1.9rem; }
.articlerelatedoctor .zhuanjia-item{border: solid 1px #906aaf;overflow:hidden;}
.articlerelatedoctor .zhuanjia-thum{border: solid 3px #76449e;}
.articlerelatedoctor .zhuanjia-title{font-size:0.8rem;border-bottom: solid 1px #5e367e;background:url(//img.hzshuangmei.com/m/icon_people2.png) left center no-repeat;background-size:0.75rem 0.7rem;}
.articlerelatedoctor .zhuanjia-info .zhuanjia-title a{color:#fff;font-weight: normal;  }
.articlerelatedoctor .zhuanjia-info .zhiwei{color:#fff;color:rgba(255,255,255,.9);font-size: 0.55rem;}
.articlerelatedoctor .zhuanjia-info .shanchang{color:#fff;color:rgba(255,255,255,.85);font-size:0.45rem;padding-top: .1rem;}
.articlerelatedoctor .zhuanjia-info .zhuanjia-more{background: #c058d8;margin-top: 1rem;}
.articlerelatecase{background:#8c64ab;}

/* .articlerelatecase{height: 15rem;} */
 #articleslidecase{height:9.5rem;}
.articlerelatecase .content{padding-top: 0.55rem ;padding-bottom: 1.9rem;}
.articlerelatecase #diary .item{border:none; height: 9.5rem;width:14.4rem;}
.articlerelatecase #diary .pic{margin-top: 0;}
.articlerelatecase #diary .label span{ color: #704096;}
.articlerelatecase #diary .right{margin-right: 0.15rem;}
.articlerelatecase  #diary .pro { margin-left: 4px; background: url(//img.hzshuangmei.com/m/icon_flag2.png) left center no-repeat; background-size: auto 100%; }
.articlerelatecase  #diary .pro a{color:#704096}
.articlerelatecase  #diary .click { margin-left: 0.15rem;padding-left: .9rem; background: url(//img.hzshuangmei.com/m/icon_eye2.png) left center no-repeat; background-size: auto 1em; }
.articlerelatecase .label{background:#ddd1e6;}
.relateporject {background:#683293}

/********************* case_article  modal*********************/

.wrapper{position: relative;}
.case-article-modal{position: fixed;top:0;bottom: 0;left: 0;right: 0;background: rgba(0, 0, 0, .6);z-index: -10;visibility: hidden;padding:0 5%;}
.case-article-modal.show{z-index: 999;visibility: visible;}
.case-article-modal img{position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;max-height:80%;    max-width: 80%;}
/*# sourceMappingURL=site.css.map */
