/* ***reset*** */
a, body { color: #000; }
body, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, html, input, label, li, p, textarea, ul { margin: 0; padding: 0; }
form { display: inline; }
img { border: 0; }
td { word-break: break-all; }
dd, dl, dt, li, ul { list-style: none; }
a { text-decoration: none; }

/* a:hover {
    color:black;
} */
body {overflow-x: hidden;}
body { background: #fff; font-family: sans-serif,'微软雅黑', 'Microsoft Yahei', Verdana, Arial; }

/* 统一清除浮动 */
.f-fr { float: right; }
.f-fl { float: left; }
.f-cb:after { display: block; visibility: hidden; clear: both; height: 0; overflow: hidden; content: '.'; }
.f-cb { zoom: 1; }
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
.copyright { padding: 6% 0 7%; background: #eee; font-size: 16px;}
.copyright p { font-size: 14px; line-height: 1.71428571em; color: #77718f; text-align: center; }
.copyright p span { font-size: 18px; }
.footer-placehold{width: 100%; padding-bottom: 15%;}
.zt-header { position: relative; width: 100%; padding-bottom: 15%; background: url('//img.hzshuangmei.com/m/header.jpg') center center no-repeat; background-size: 100%; }
.zt-footer { position: fixed; bottom: 0; left: 0;z-index: 10; width: 100%; padding-bottom: 15%; background: url('//img.hzshuangmei.com/m/footer.jpg') center center no-repeat; background-size: 100%; }
.zt-header a { position: absolute; display: block; top: 0; bottom: 0; }
.zt-header a:nth-child(1) { width: 15%; left: 0; }
.zt-header a:nth-child(2) { width: 70%; left: 15%; }
.zt-header a:nth-child(3) { width: 15%; left: 85%; }
.zt-footer a { position: absolute; display: block; top: 0; bottom: 0; }
.zt-footer a:nth-child(1) { width: 23%; left: 0; }
.zt-footer a:nth-child(2) { width: 23%; left: 23%; }
.zt-footer a:nth-child(3) { width: 40%; left: 46%; }
.zt-footer a:nth-child(4) { width: 14%; left: 86%; }