@charset "utf-8";
.sr-only, img {
    border: 0
}

.consult, a, body {
    color: #000
}

.consult, .m1 {
    font-size: .55rem
}

.f-cb:after, .m1 .item, .m2 .slideW, .m5 .slideW, .m6 .item li, .m6 .slideW, .sr-only {
    overflow: hidden
}

.m6 .item li, td {
    word-break: break-all
}

.img-respon {
    display: block;
    width: 100%;
    height: auto
}

body, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, html, input, label, li, p, textarea, ul {
    margin: 0;
    padding: 0
}

form {
    display: inline
}

dd, dl, dt, li, ul {
    list-style: none
}

a {
    text-decoration: none
}

body {
    background: #fff;
    font-family: '微软雅黑', 'Microsoft Yahei', Verdana, Arial, sans-serif
}

.f-fr {
    float: right
}

.f-fl, .m2 .row1 li {
    float: left
}

.f-cb:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.'
}

.f-cb {
    zoom: 1
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0)
}

.m1_2, .m2 h2 {
    height: 4.025rem
}

.banner {
    background: url(//img.hzshuangmei.com/m/bnset/images/banner.jpg) center center no-repeat #cbdfff;
    background-size: auto 100%;
    padding-bottom: 50%
}

.m1_2 {
    background: url(//img.hzshuangmei.com/m/bnset/images/bg1_cb.jpg) center bottom no-repeat;
    background-size: auto 4.025rem
}

.m1_2 .g-doc {
    background: 0 0;
    margin-top: 0
}

.m2 h2 {
    background: url(//img.hzshuangmei.com/m/bnset/images/bgt2.jpg) center 1rem no-repeat;
    width: 13.875rem;
    background-size: auto 4.025rem
}

.m2 .next, .m2 .prev {
    width: 1.25rem;
    height: 1.25rem
}

.m2 .next {
    background: url(//img.hzshuangmei.com/m/bnset/images/bg_next1.jpg) center top no-repeat;
    background-size: 1rem 1rem
}

.m2 .prev {
    background: url(//img.hzshuangmei.com/m/bnset/images/bg_prev1.jpg) center top no-repeat;
    background-size: 1rem 1rem
}

.m2 .row2 span {
    background: url(//img.hzshuangmei.com/m/bnset/images/bg_get.jpg) center bottom no-repeat;
    width: 1.65rem;
    background-size: auto 1.65rem
}

.m2 .slideW:hover .next {
    background: url(//img.hzshuangmei.com/m/bnset/images/bg_next2.jpg) center top no-repeat;
    height: 1.25rem;
    width: 1.25rem;
    background-size: 1rem 1rem
}

.m2 .slideW:hover .prev {
    background: url(//img.hzshuangmei.com/m/bnset/images/bg_prev2.jpg) center top no-repeat;
    height: 1.25rem;
    width: 1.25rem;
    background-size: 1rem 1rem
}

.m3, .m6 {
    background: url(//img.hzshuangmei.com/m/bnset/images/bg_cb.jpg) center top no-repeat;
    background-size: auto 1.2rem
}

.m3 h2 {
    background: url(//img.hzshuangmei.com/m/bnset/images/bgt3.jpg) center 1rem no-repeat;
    height: 2.625rem;
    width: 15.9rem;
    background-size: auto 2.625rem
}

.m3 .content {
    background: url(//img.hzshuangmei.com/m/bnset/images/bg3_circle.jpg) center top no-repeat;
    height: 10.9rem;
    background-size: auto 10.9rem
}

.m3_2 {
    background: url(//img.hzshuangmei.com/m/bnset/images/bg3_cb.jpg) center bottom no-repeat;
    background-size: auto 3.25rem;
    height: 3.25rem
}

.m3_2 .g-doc {
    background: 0 0
}

.m1 h2 {
    background: url(//img.hzshuangmei.com/m/bnset/images/bgt4.jpg) center 1rem no-repeat;
    height: 3.9rem;
    width: 14.65rem;
    background-size: auto 3.9rem
}

.m5 .g-doc {
    background-color: #fff
}

.m5 h2 {
    background: url(//img.hzshuangmei.com/m/bnset/images/bgt5.jpg) center 1rem no-repeat;
    height: 2.625rem;
    width: 15.95rem;
    background-size: auto 2.625rem
}

.m6 h2 {
    background: url(//img.hzshuangmei.com/m/bnset/images/bgt6.jpg) center 1rem no-repeat;
    height: 3.9rem;
    width: 13.9rem;
    background-size: auto 3.9rem
}

.container h2 {
    display: inline-block;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem
}

.jiantou::after, .jiantou::before {
    position: absolute;
    content: " ";
    height: .5rem;
    width: 3.6rem
}

.m1 h2, .m2 h2, .m6 h2 {
    padding-bottom: 0
}

.jiantou::before {
    top: 0;
    left: 0;
    background: url(//img.hzshuangmei.com/m/bnset/images/bgt_tl.jpg) center top no-repeat;
    background-size: auto .5rem
}

.jiantou::after {
    right: 0;
    bottom: 0;
    background: url(//img.hzshuangmei.com/m/bnset/images/bgt_br.jpg) center top no-repeat;
    background-size: auto .5rem
}

.m1_2 .consult, .m2 .content {
    position: relative
}

body {
    width: 100%;
    overflow-x: hidden
}

.g-doc {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.65rem;
    width: 16rem;
    text-align: center;
    background: #fff
}

.m2 .row1 li, .m2 .slideW {
    width: 12.85rem;
    height: 7.5rem
}

.m2, .m5 {
    background-color: #cbdfff
}

.m2 .g-doc, .m5 .g-doc {
    padding-top: 1.25rem
}

.consult {
    display: inline-block;
    border-radius: .25rem;
    padding: .25rem .4rem;
    line-height: .55rem;
    background: #ffca2a;
    box-shadow: .075rem .075rem 0 #cc9a02
}

.m2 .slideW:hover, .m5 .indicator li, .m5 .slideW:hover, .m6 .slideW:hover {
    cursor: pointer
}

.consult:hover {
    transform: scale(.9, .9)
}

.banner .g-doc {
    padding: 0
}

.m1_2 .consult {
    margin-left: 3.25rem
}

.m1 {
    line-height: .85rem;
    color: #333
}

.m1 span, .m2 p {
    color: #000
}

.m1 span {
    font-size: 1rem;
    font-weight: 700
}

.m3 h3, .m5 h3, .m6 h3 {
    font-weight: 400
}

.m2 {
    padding-top: 1rem;
    padding-bottom: .5rem
}

.m2 .slideW {
    margin: 1.25rem auto 0
}

.m2 .slideC {
    width: 38.55rem;
    height: 7.5rem
}

.m2 .btn {
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem
}

.m2 .next {
    top: 3.25rem;
    right: .25rem
}

.m2 .prev {
    top: 3.25rem;
    left: .25rem
}

.m2 .row2 {
    margin-top: 1.75rem
}

.m2 .row2 span {
    display: inline-block;
    vertical-align: bottom;
    padding-top: .75rem
}

.m2 .row3 {
    position: relative;
    margin-top: .4rem
}

.m2 .row3 li {
    position: absolute;
    width: 3.25rem;
    text-align: center
}

.m3_2 .consult, .m5 .g-doc, .m5 .row {
    position: relative
}

.m2 .step1 {
    top: 5.3rem;
    left: 1.15rem
}

.m2 .step2 {
    top: 2.05rem;
    left: 6.375rem
}

.m2 .step3 {
    top: 5.25rem;
    left: 11.65rem
}

.m2 .step4 {
    top: 12.2rem;
    left: 9.75rem
}

.m2 .step5 {
    top: 12.2rem;
    left: 3.15rem
}

.m2 .consult {
    margin-top: 2.5rem;
    margin-bottom: .95rem
}

.m2 .row1 img {
    width: 12.85rem
}

.m2 .row2 img {
    width: 3.5rem
}

.m2 .row2 p {
    font-size: .7rem;
    color: #000
}

.m2 .row3, .m2 p {
    font-size: .5rem
}

.m2 .row3 img {
    width: 15.775rem
}

.m2 .row3 span {
    font-size: .4rem;
    color: #737373
}

.m3 {
    padding-top: 2.25rem
}

.m3 .g-doc {
    padding-top: 0
}

.m3 .des {
    margin-top: 1.2rem;
    padding: 0 .75rem;
    height: 4.25rem;
    text-align: left
}

.m1 .item:nth-child(2) p, .m5 p {
    text-align: justify
}

.m3 .content {
    margin-top: 1.35rem
}

.m3 .row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between
}

.m1 .item, .m1 h3, .m5 .indicator li {
    display: inline-block
}

.m3 .item {
    margin: 0 0 .8rem .5rem;
    padding-top: 1.25rem;
    width: 4.9rem;
    height: 3.65rem
}

.m1 .item, .m1 img {
    width: 5.5rem
}

.m3 .item h3 {
    height: 1.25rem
}

.m3 .item p {
    padding: .5rem .45rem
}

.m3 .item:first-child {
    margin-left: 0
}

.m3_2 .g-doc {
    margin-top: 1.25rem;
    padding-top: .5rem
}

.m3_2 .consult {
    padding: .3rem 1.25rem;
    top: 0;
    left: -1.5rem
}

.m3 h3 {
    font-size: .6rem;
    line-height: 1.25rem
}

.m3 .item1 h3 {
    color: #eca203
}

.m3 .item2 h3 {
    color: #459ffc
}

.m3 .item3 h3 {
    color: #7683f1
}

.m3 .item4 h3 {
    color: #f28614
}

.m3 .item5 h3 {
    color: #b1b02c
}

.m3 .item6 h3 {
    color: #d078e7
}

.m3 p {
    font-size: .55rem;
    line-height: .9rem;
    color: #595959
}

.m3 .item p {
    font-size: .45rem;
    line-height: .6rem;
    color: #fff
}

.m1 {
    padding-bottom: .5rem
}

.m1 .content {
    padding-top: .25rem
}

.m1 .row {
    margin-top: .75rem
}

.m1 .item {
    vertical-align: top;
    margin-left: 1.95rem;
    border: 1px solid #fee088;
    border-radius: .15rem;
    height: 9.25rem
}

.m1 .item:first-child {
    margin-left: 0
}

.m1 h3 {
    border-radius: .15rem;
    padding: 0 .5em;
    margin-top: .6rem;
    height: 1rem;
    font-size: .6rem;
    line-height: 1rem;
    color: #000;
    background-color: #fdc211
}

.m1 p {
    margin-top: .4rem;
    padding: 0 .25rem;
    font-size: .45rem;
    line-height: .5rem;
    color: #666
}

.m1 .consult {
    margin-top: 1.9rem;
    margin-left: -2.5rem;
    margin-bottom: 1.25rem;
    font-size: .6rem
}

.m5 {
    padding-top: 1rem
}

.m5 .content {
    margin-top: 1rem
}

.m5 .slideW {
    margin: 0 auto;
    width: 16rem;
    height: 12.05rem
}

.m5 .slideW img {
    width: 100%
}

.m5 .slideC {
    width: 32rem;
    height: 12.05rem
}

.m5 .indicator {
    position: absolute;
    bottom: -1.15rem;
    left: 7.5rem;
    margin: 0;
    padding: 0
}

.m5 .indicator li {
    float: none;
    border-radius: 50%;
    border: 2px solid #ffca2a;
    width: .25rem;
    height: .25rem;
    background: #ffca2a
}

.m5 img, .m6 img {
    display: block
}

.m5 .indicator li.active {
    border: 2px solid #000
}

.m5 li {
    position: relative;
    float: left;
    width: 16rem
}

.m5 .cat, .m5 h3, .m5 p {
    position: absolute
}

.m5 h3 {
    top: 0;
    left: 8.5rem;
    width: 5.5rem;
    font-size: .65rem;
    line-height: 1.15rem;
    color: #000
}

.m5 p {
    top: 1.7rem;
    left: 8.3rem;
    width: 6rem;
    font-size: .45rem;
    line-height: .6rem;
    color: #666
}

.m5 .consult {
    margin-top: 1.75rem;
    margin-bottom: 1.25rem
}

.m6 .content, .m6 .slideW .item ul {
    margin-top: .5rem
}
.m6 .slideW .item ul{
    margin-top: 0;
}
.m6 .slideW .item h4{
    margin-top: 0.45rem;
}
.m5 .cat {
    top: 17.1rem;
    left: 11.3rem
}

.m5 .cat img {
    width: 4.575rem
}

.m6 {
    padding-top: 1rem
}

.m6 .content {
    position: relative;
    text-align: left
}

.m6 .slideW {
    width: 16rem;
    height: 11.5rem
}

.m6 .slideW .slideC {
    position: relative;
    height: 11.5rem;
    width: 48rem
}

.m6 .slideW .item {
    position: relative;
    float: left;
    padding-top: 0;
    width: 16rem;
    height: 11.5rem;
    list-style: none;
    background: #fff
}

.m6 .slideW .item .box {
    padding-left: 7.5rem;
    width: 8.5rem
}

.m6 .slideW .item p {
    margin-top: .35rem
}

.m6 .slideW .item li {
    float: none;
    padding-left: .25rem;
    padding-top: .2rem;
    width: 8.1rem
}

.m6 .slideW .item li p {
    width: 9.5rem
}

.m6 .slideW img {
    position: absolute;
    top: 0;
    left: 0;
    width: 7.525rem
}

.m6 .slideW .consult {
    margin-top: .55rem;
    padding: .3rem 1.25rem
}

.m6 h3 {
    font-size: 1rem;
    color: #000
}

.m6 h3 span {
    display: inline-block;
    padding-left: .25rem;
    font-size: .45rem;
    background: url(//img.hzshuangmei.com/m/bnset/images/bg_line.jpg) left center no-repeat;
    background-size: auto .25rem
}

.m6 .item li {
    font-size: .45rem;
    color: #4d4d4d;
    background: url(//img.hzshuangmei.com/m/bnset/images/bg_item.jpg) left .45rem no-repeat;
    background-size: auto .2rem;
    text-overflow: ellipsis;
    white-space: nowrap
}

.m6 h4 {
    font-size: .5rem;
    color: #000;
    font-weight: 700
}

.m6 p {
    font-size: .4rem;
    color: #4d4d4d
}