
    /*@-moz-keyframes tada{*/
    /*0%{-moz-transform:scale(1);}*/
    /*10%,20%{-moz-transform:scale(0.9) rotate(-3deg);}*/
    /*30%,50%,70%,90%{-moz-transform:scale(1.2) rotate(3deg);}*/
    /*40%,60%,80%{-moz-transform:scale(1.2) rotate(-3deg);}*/
    /*100%{-moz-transform:scale(1) rotate(0);}*/
    /*}*/

    /*@-webkit-keyframes tada{*/
    /*0%{-webkit-transform:scale(1);}*/
    /*10%,20%{-webkit-transform:scale(0.9) rotate(-3deg);}*/
    /*30%,50%,70%,90%{-webkit-transform:scale(1.2) rotate(3deg);}*/
    /*40%,60%,80%{-webkit-transform:scale(1.2) rotate(-3deg);}*/
    /*100%{-webkit-transform:scale(1) rotate(0);}}*/
@-moz-keyframes tada{
    0%{-moz-transform:scale(1);}
    91%,92%{-moz-transform:scale(0.9) rotate(-3deg);}
    93%,95%,97%,99%{-moz-transform:scale(1.2) rotate(3deg);}
    94%,96%,98%{-moz-transform:scale(1.2) rotate(-3deg);}
    100%{-moz-transform:scale(1) rotate(0);}
}

@-webkit-keyframes tada{
    0%{-webkit-transform:scale(1);}
    91%,92%{-webkit-transform:scale(0.9) rotate(-3deg);}
    93%,95%,97%,99%{-webkit-transform:scale(1.2) rotate(3deg);}
    94%,96%,98%{-webkit-transform:scale(1.2) rotate(-3deg);}
    100%{-webkit-transform:scale(1) rotate(0);}}
.fq{
    position: fixed;
    width: 200px;
    left: 20px;
    bottom: 20px;
    z-index:1000;
    -webkit-animation: tada 10s -9s ease both infinite;
    -moz-animation: tada 10s -9s ease both infinite;
}
*{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.m1{
    position: relative;
    font-size: 0;
    background: url("//img.hzshuangmei.com/pc/fqfk/images/m1bg.jpg") center no-repeat;
    height: 870px;
}
.yinshen {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
.m2{
    position: relative;
    font-size: 0;
    padding-top: 1px;
    background-color:#d0ecfe ;
}
.m2tit{
    display: block;
    width: 671px;
    margin:37px auto 110px;
}
.m2con>span{
    position: absolute;
    top:176px;
    font-size: 24px;
    line-height: 24px;
    left: 50%;
    margin-left: -150px;
}
.buzhou{
    width: 1200px;
    margin: auto;
}
.buzhou>div{
    margin-right: 35px;
    display:inline-block;
    vertical-align: top;
    width: 268px;
    height: 461px;
    border-radius: 100px;
    margin-bottom: 195px;
}
.buzhou .d1{
    background: url("//img.hzshuangmei.com/pc/fqfk/images/m2img1.jpg");
}
.buzhou .d2{
    background: url("//img.hzshuangmei.com/pc/fqfk/images/m2img2.jpg");
}
.buzhou .d3{
    background: url("//img.hzshuangmei.com/pc/fqfk/images/m2img3.jpg");
}
.buzhou .d4{
    margin-right: 0;
    background: url("//img.hzshuangmei.com/pc/fqfk/images/m2img4.jpg");
}
.buzhou>div p:nth-child(1){
    width: 91px;
    margin:55px auto 50px;
    height: 91px;
    border-radius: 50%;
    text-align: center;
    font-size: 76px;
    line-height: 91px;
    border: solid 2px #c398f0;
    color: #cd9bff;
}
.buzhou>div p:nth-child(2){
    text-align: center;
    margin:0 auto 56px;
    height: 50px;
    font-size: 50px;
    line-height:50px;
    color: #ffffff;
}
.buzhou>div p:nth-child(3){
    width: 234px;
    margin: auto;
    height: 64px;
    font-size: 26px;
    line-height: 30px;
    color: #e1dff5;
}
.buzhou> .d3 p:nth-child(3){
    width:213px;
}
.anniu1{
    top: -80px;
    right: 0;
    z-index: 5;
    height: 185px;
    position: absolute;
    width: 586px;
}
.anniu1 span:first-child{
    position: absolute;
    width: 480px;
    height: 48px;
    top:0;
    left: 50%;
    margin-left: -240px;
    font-size: 48px;
    line-height: 48px;
    color: #535e66;
}
.anniu1 span:last-child{
    position: absolute;
    width: 208px;
    margin-left: -104px;
    top: 101px;
    left: 50%;
    height: 35px;
    font-size: 34px;
    line-height: 35px;
    color: #469fbd;
}
.anniu1 img{
    width: 585px;
    margin-top: 56px;
}
.m3{
    font-size: 0;
    z-index: 2;
    height: 1987px;
    position: relative;
    background: url("//img.hzshuangmei.com/pc/fqfk/images/m3bg.jpg")center no-repeat;
}
.m3con{
    padding-top: 1px;
    width: 1200px;
    margin: auto;
    position: relative;
}
.m3tit{
    display: block;
    margin: 310px auto 124px;
}
.m3con>span{
    top: 512px;
    font-size: 24px;
    position: absolute;
    left: 50%;
    width: 394px;
    color: #514c5b;
    margin-left: -202px;
}
.m3page{
    padding-top: 50px;
    position: absolute;
    width: 836px;
    text-align:center;
    background-color: rgba(255, 255, 255, 0.2);
    right: 0;
    top: 660px;
}
.m3page::after{
    position: absolute;
    bottom: -120px;
    content: ' ';
    width: 0;
    height: 0;
    left: 0;
    border-left: 418px solid transparent;
    border-right: 418px solid transparent;
    border-top: 120px solid  rgba(255, 255, 255, 0.2);


}
.m3page>div{
    position: relative;
    display: inline-block;
    background-color: rgba(79, 159, 225, 0.8);
    width: 223px;
    height: 223px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 35px;
}
.m3page>.d3,.m3page>.d3{
    margin-right: 0;
}
.m3page>div :nth-child(1){
    margin: 56px auto 13px;
    display: block;
    width: 120px;
    text-align: center;
    height: 36px;
    font-size: 36px;
    line-height: 35px;
    color: #ffffff;
}
.m3page>div :nth-child(2){
    width: 198px;
    border-top: 1px solid #416dc1;
    border-bottom: 1px solid #8fd4ff;
    margin:0 auto 20px;
}
.m3page>div :nth-child(3){
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 103px;
    width: 5px;
    height: 5px;
    background-color: #57a9e4;
    border: solid 1px #4686c8;
    border-radius: 50%;
}
.m3page>div>p{
    width: 113px;
    margin: auto;
    font-size: 22px;
    line-height: 28px;
    color: #ddeefa;
}
.anniu2{
    width: 634px;
    height: 147px;
    position: absolute;
    top: 1320px;
    margin-left: -60px;
    left:0%;
}
.anniu2 span{
    position: absolute;
    color: #000;
    font-size: 30px;
}
.anniu2 .sb1{
    left: 143px;
    top: 24px;
    -webkit-transform: rotate(13deg);
    -ms-transform: rotate(13deg);
    transform: rotate(13deg);
}
.anniu2 .sb2{
    top: 54px;
    left: 272px;
    -webkit-transform: rotate(13deg);
    -ms-transform: rotate(13deg);
    transform: rotate(13deg);
}
.m4{
    height: 900px;
    background-color: #5e36b4;
    font-size: 0;
    position: relative;
    z-index: 5;
}
.m4con{

    width: 1200px;
    margin: auto;
    padding-top: 1px;
}
.m4tit{
    position: absolute;
    left: 50%;
    top: -205px;
    margin-left: -322px;
    display: block;
    width: 670px;
}
.m4text{
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top:-72px;
    line-height: 35px;
    height: 35px;
    font-size: 35px;
    color: #cbc1e9;
}
.m4page{

    color: #cdc2e9;
    margin-top: 78px;
    text-align: center;
    margin-bottom: 62px;
}
.m4page>div{
    color: #cdc2e9;
    position: relative;
    width: 143px;
    height: 143px;
    background-color: transparent;
    margin-right: 110px;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 2px 4px 4px 4px #482792;
}
.m4page .d1{
    background-color: #5682e5;

    color: #d5e1f9;
}
.m4page>div::after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 13px solid transparent;
    left: 50%;
    margin-left: -6.5px;
    bottom: -32px;
}
.m4page>.d1::after{
    border-top: 13px solid #5682e5;
}
.m4page>div:nth-child(4){
    margin-right: 0;
}
.m4page>div span{
    display: block;
    margin: auto;
    font-size: 28px;
    line-height: 36px;
    margin-top: 36px;
}
.m4page>div p{
    margin: auto;
    font-size: 24px;
    line-height: 36px;
}
.m4pagecon{
    position: relative;
    text-align: center;
}
.m4pagecon ul::after{
    display: block;
    content: ' ';
    clear: both;
}
.m4pagecon li{
    float: left;
    width: 390px;
    height: 564px;
    background-color: #57259c;
    position: relative;
    margin-right: 8px;
}
.m4pagecon li:nth-child(3){
    margin-right:0;
}
.m4pagecon li img:nth-child(1){
    width: 390px;
    height: 540px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:1;
}
.m4pagecon li .tm1{
    width: 390px;
    height: 286px;
    position:absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
}
.m4pagecon .d1 li .tm1,.m4pagecon .d1 li .tm2,.m4pagecon .d1 li .tm3{
    bottom: 24px;
}

.m4pagecon li .tm2{
    width: 390px;
    height: 260px;
    position:absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
}

.m4pagecon li .tm3{
    width: 390px;
    height: 259px;
    position:absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
}
.m4licon{
    width: 390px;
    height: 200px;
    position: absolute;
    bottom: 24px;
    left: 0;
    z-index: 6;
}
.m4pagecon .d1 .m4licon{

    height: 224px;
}

.m4pagecon li h4{
    height: 46px;
    font-size: 46px;;
    line-height: 46px;
    text-align: center;
    margin-bottom: 12px;
    color: #ffffff;
}
.m4licon>div>span{
    font-size: 20px;
    line-height: 30px;
    color: #e6dbe9;
    margin-right: 15px;
}
.d3 .m4licon>div>span{
    font-size: 20px;
    line-height: 30px;
    color: white;
    margin-right: 7px;
}
.m4licon>div>:last-child{
    margin-right: 0;
}
.m4pagecon>div li a{
    margin:38px auto 0;
    display: block;
    height: 47px;
    width: 227px;
    background-color:transparent;
    border: solid 1px #6aa6ae;
    font-size: 30px;
    line-height: 46px;
    color: #56e9fd;
}
.m4pagecon>.d1 li a{
    width: 250px;
    height: 46px;
}
.m4pagecon>div{
    display: none;
}
.m4pagecon li a img{
    width: 31px;
    margin-left: 15px;
    vertical-align: text-bottom;
}
.m4pagecon .d1 li a img{
    margin-left: 4px;
}
.d1 li:nth-child(2) a{
    width: 286px;
}
.m5{
    background: url(//img.hzshuangmei.com/pc/fqfk/images/m5bg.jpg) no-repeat center;
    height: 2168px;
    z-index: 233;
    position: relative;
}
.m5con{
    position: relative;
    width: 1200px;
    padding-top: 1px;
    margin: auto;
}
.anniu3{
    top: 0;
    position: absolute;
    width: 442px;
    margin-left: -221px;
    left: 50%;
    display: block;
}
.anniu3 img{
    width: 442px;
}
.m5tit{
    width: 671px;
    display: block;
    margin: 338px 0 0 300px;
}
.m5con>p{
    position: absolute;
    left: 495px;
    top: 477px;
    width: 277px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    color: #2c2834;
}

.q{
    padding-top: 1px;
    position:relative;
    width: 1066px;
    height: 204px;
    margin: auto;
}
.q1{
    margin-top: 48px;
}
.q>img{
    position: absolute;
    width: 213px;
    left: -53px;
    top: -5px;
}
.qacon{
    width: 925px;
    height: 178px;
    margin-top: 39px;
    margin-left: 93px;
    background: url(//img.hzshuangmei.com/pc/fqfk/images/qa3.png) no-repeat center;
}
.qacon>:nth-child(1){
    width: 42px;
    margin-right: 10px;
    margin-left: 110px;
    font-size: 38px;
    line-height: 80px;
    color: #502c9f;
}
.qacon>:nth-child(2){
    display: inline-block;
    width: 83px;
    height: 2px;
    background-color: #502c9f;
    vertical-align: unset;
}
.qacon>:nth-child(3){
    font-size: 38px;
    line-height: 38px;
    color: #392070;
    margin-left: 105px;
}
.qaq{
    padding-top: 1px;
    position:relative;
    width: 1066px;
    height: 204px;
    margin: 20px auto 0;
}
.qaq>img{
    position: absolute;
    width: 213px;
    right: -64px;
    top: -17px;
}
.qaqcon{
    position: relative;
    padding-top: 1px;
    width: 925px;
    height: 182px;
    margin-top: 24px;
    margin-left: 57px;
    background: url(//img.hzshuangmei.com/pc/fqfk/images/qa4.png) no-repeat center
}
.qaqcon>p:nth-child(1){
    width: 500px;
    height: 32px;
    font-size: 32px;
    line-height: 32px;
    margin: 38px 0 15px 35px;
    color: #b9b8f5;
}
.qqaa3 .qaqcon>p:nth-child(1){
    width: 600px;
    height: 38px;
    font-size: 38px;
    line-height: 38px;
    margin-top: 66px;
    margin-left: 70px;
    color: #9898f7;
}
.qaqcon>p:nth-child(2),.qaqcon>p:nth-child(3){;
    font-size: 22px;
    line-height: 27px;
    margin-left: 35px;
    color: #9898f7;
}
.qaq .qaqcon a{
    right: 117px;
    top: 26px;
    position: absolute;
    padding: 25px;
    font-size: 30px;
    line-height: 34px;
    color: #c6c6fe;
}
.qqaa2{
    margin-top: 63px;
}
.qqaa3{
    margin-top: 72px;
}
.qaqcon ul{
    margin-top: 25px;
    margin-left: 50px;
}
.qaqcon ul li{
    font-size: 22px;
    line-height: 30px;
    color: #9f9fff;
}
.m6{
    background: url("//img.hzshuangmei.com/pc/fqfk/images/m6bg.jpg") top center no-repeat;
    height: 866px;
    position: relative;
    background-color: #332259;
}
.m6con{
    width: 1200px;
    padding-top: 1px;
    margin: auto;
}
.m6con>h3{
    /*width: 375px;*/
    height: 75px;
    font-size: 75px;
    line-height: 75px;
    margin: 460px 0 8px 238px;
    color: #282c35;
}
.m6con>p{
    width: 367px;
    height: 40px;
    margin-left: 242px;
    font-size: 40px;
    line-height: 48px;
    color: #282c35;
}
.anniu4{
    margin-left: 150px;
    margin-top: 32px;
    width: 492px;
    height: 132px;
    position: relative;
}
.anniu4 span{
    top: 58px;
    left: 106px;
    position: absolute;
    height: 34px;
    font-size: 34px;
    line-height: 46px;
    color: #000000;

}
