/components/
/default*/
/node_modules/
*.7z
*.html
*.xml
*.tar.gz
*.tar
!*.php
!*.css
!*.js
!static.hzshuangmei.com/img/pc/banner/news/
!static.hzshuangmei.com/img/pc/banner/doctors/
!static.hzshuangmei.com/img/pc/banner/project/
*.mp4
.txt
.project
.buildpath
composer.json
!xapp/
!xapp/templets/admin/*.xml
/www.hzshuangmei.com/a/
/m.hzshuangmei.com/a/
data/
about/
activity/
brand/
cases/
doctors/
environment/
equipment/
honors/
install/
/www.hzshuangmei.com/m/
/m.hzshuangmei.com/m/
news/
pma/
projects/
special/
uploads/
video/
wenzhang/
backupdata/
cache/
tplcache/
sessions*/
!kst.html
