/components/
/default*/
*.html
*.xml
*.tar.gz
*.tar
!*.php
!*.css
!*.js
/.well-known
/www.hzshuangmei.com/a/
/m.hzshuangmei.com/a/
about/
activity/
brand/
cases/
doctors/
environment/
equipment/
honors/
install/
/www.hzshuangmei.com/m/
/m.hzshuangmei.com/m/
news/
pma/
projects/
special/
uploads/
video/
wenzhang/
backupdata/
cache/
tplcache/
sessions*/
