@charset "utf-8";
a,
body {
    color: #000;
}

body,
dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
label,
li,
p,
textarea,
ul {
    padding: 0;
    margin: 0;
}

form {
    display: inline;
}

img {
    border: 0;
}

td {
    word-break: break-all;
}

dd,
dl,
dt,
li,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "微软雅黑", sans-serif, Verdana, Arial;

    background: #fff;
}
.header {
    width: 100%;
}
.header > img {
    width: 100%;
}
img {
    display: block;
}
img {
    border: 0;
}
.box {
    width: 16rem;
    margin: auto;
}
.m1 {
    display: block;
    width: 100%;
}
.m1Go {
    display: block;
    width: 100%;
}
.m2 {
    display: block;
    width: 100%;
}
.m3 {
    display: block;
    width: 100%;
}
.m3Go {
    display: block;
    width: 100%;
}
.m4,
.m4Go {
    display: block;
    width: 100%;
}
