/*初始化*/
*{
    font-family:微软雅黑;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
ul, ol { list-style:none; }
a { text-decoration:none; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
.banner{
    height: 779px;
    background: url("//img.hzshuangmei.com/pc/hzsypxf/images/banner.jpg") center no-repeat;
}
.onlitext{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
.m1,.m2,.m3,.m4,.m5,.m6,.m7{
    font-size: 0;
}
.m1_con1{
    height: 458px;
    background-color: #f1eded;
}
.m1_con1 h4{
    padding-top: 82px;
   text-align: center;
    height: 34px;
    font-size: 34px;
    line-height: 34px;
    margin: auto;
    color: #433d3d;
}
.m1_con1 .hx{

    margin: 28px auto 16px;
    width: 82px;
    height: 4px;
    background-color: #942d34;
}
.m1_con1 p{
    margin: auto;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #807c86;
}
.m1_con2{
    padding-top: 1px;
    position: relative;
    height: 466px;
    background-color: white;
}
.m1img1{
    position: absolute;
    width: 972px;
    margin: auto;
    top: -129px;
    left: 50%;
    margin-left: -486px;
}
.djzx{
    display: block;
    border: solid 1px #b99288;
    text-align: center;
    color:#a8918b ;
    font-size: 38px;
    line-height: 80px;
    border-radius: 40px;
    height: 80px;
    -webkit-animation:aa1 2s infinite ;
    -o-animation:aa1 2s infinite ;
    -moz-animation: aa1 2s infinite;
    animation: aa1 2s infinite;
}
@keyframes aa1 {
    0%{
        transform:scale(0.7,0.7)
    }
    50%{
        transform:scale(0.8,0.8);
    }
    100%{
        transform:scale(0.7,0.7);
    }
}
@keyframes aa2 {
    0%{
        background-color: beige;
    }
    50%{
        background-color: darkslategray;
    }
    100%{
        background-color: blue;
    }
}

.m1_con2 .djzx{
    width: 589px;
    margin: 270px auto 0;
}
.djzx span{
    background-color: #ba9f9f;
    color: white;
    padding:5px 26px;
    border-radius: 30px;
    margin-left: 10px;
}

.m2{
    height: 1283px;
    padding-top: 1px;
    background: url("//img.hzshuangmei.com/pc/hzsypxf/images/m2bg.jpg") no-repeat center;
}
.djzx:hover{
    color: rgba(144,36,44,0.85);
}
.djzx:hover span{
    color: rgba(255,255,255,0.85);
    background-color: #9e4249;
}
.m2h{
    display: block;
    margin: 122px auto 0;
    width: 409px;
}
.m2>p{
    width: 271px;
    font-size: 28px;
    color: #f5f3f2;
    margin: auto;
    text-align: center;
    line-height: 28px;
}
.m2>.hen1{
    width: 82px;
    height: 4px;
    background-color: #9e4047;
    margin: 33px auto 21px;
}
.m2_con1{
    width: 1310px;
    margin: 41px auto 0;
}
.page{
    vertical-align: top;
    text-align: center;
    display: inline-block;
    width: 311px;
    height: 723px;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0.8;
    margin-right: 16px;
    border-radius: 155.5px;
}
.page:last-child{
    margin-right: 0;
}
.page>img{
    display: block;
    margin: 23px auto 0;

    width: 268px;
    border-radius: 50%;
}
.page>h4{
    width: 290px;
    margin: 62px auto 0;
    text-align: center;
    height: 29px;
    font-size: 29px;
    line-height: 29px;
    color: #ac6d5c;
}
.page>.hen2{
    width: 56px;
    height: 3px;
    background-color: #997b73;
    margin: 20px auto 10px;
}
.page>p{
    width: 300px;
    margin: auto;
    font-size: 16px;
    line-height: 16px;
    color: #a8928d;
}
.page>div{
    text-align: left;
    margin:58px auto 0;
    width: 261px;
    font-size: 21px;
    line-height: 35px;
    color: #9d847e;
}
.m2 .djzx{
    width: 626px;
    margin: 86px auto 0;
    color: #90242c;
}
.m2 .djzx span{
    background-color: #9e4249;
}
.m3{

    height: 1200px;
    padding-top: 1px;
    background: url("//img.hzshuangmei.com/pc/hzsypxf/images/m3bg.jpg") no-repeat center bottom;
}
.m3cont{
    position: relative;
    width: 1400px;
    margin: auto;
}
.m3img1{
    display: block;
    margin: 130px auto 0;
    width: 467px;
}
.m3cont>ul{
    position: absolute;
    top: 290px;
    right: -8px;
    width: 862px;
}
.m3cont>ul::after{
    content: ' ';
    display: block;
    clear: both;
}
.m3cont li{
    width: 285px;
    height: 285px;
    float: left;
    background-color: #e8dad6;
    margin-right: 2px;
    margin-bottom: 2px;
}


.m3cont li>img{
    display: block;
    width: 216px;
    margin: 17px auto 5px;
    border-radius: 50%;
}
.m3cont li>p{
    text-align: center;
    font-size: 24px;
    height: 29px;
    line-height: 30px;
    color: #715d61;
}
.m3 .djzx{
    position: absolute;
    color: #90242c;
    width: 646px;
    top: 908px;
    right: 138px;
}
.m3 .djzx span{
    background-color: #9e4249;
}
.m4{
    height: 1254px;
    background: url("//img.hzshuangmei.com/pc/hzsypxf/images/m4bg.jpg") no-repeat center;
}
.m4cont{
    padding-top: 1px;
    width: 1400px;
    margin: auto;
}
.m4img1{
    margin: 142px auto 132px;
    display: block;
    width: 326px;
}
.m4img2{
    width: 1392px;
    margin: auto;
    display: block;

}
.m4text>div{
    margin-top: 19px;
    display: inline-block;
    width: 25%;
    font-size: 23px;
    line-height: 29px;
    text-align: center;
    color: #a89d9d;
}
.m4 .djzx{
    border: solid 1px #846063;
    width: 572px;
    margin:135px auto 0;
    color: #761f25;
}
.m4 .djzx span{
    background-color: #9e4249;
}

.m5{
    background-color:#f1eded ;
    height: 1448px;
}
.m5cont{
    padding-top: 1px;
    width: 1400px;
    margin: auto;
}
.m5img1{
    display: block;
    margin: 138px auto 87px;
    width: 399px;
}
.m5 .ulbox{
    overflow: hidden;
    position: relative;
    margin: auto;
    width: 1135px;
    height: 70px;
    border-left: solid 1px #e2d1ce;
    border-right: solid 1px #e2d1ce;
}
.m5 ul{
    width: 1190px;

    position: absolute;
    top:0;
    left: -35px;
}
.m5 ul::after{
    content: " ";
    display: block;
    clear: both;
}
.jiantou::before{
    transform: rotate(45deg);
    background-color:#f1eded ;
    content: "";
    position: absolute;
    top: 8px;
    left: -27px;
    height: 49px;
    width: 49px;
    border: solid 1px #e2d1ce;
    border-left-color: transparent;
    border-bottom-color: transparent;
}
.jiantou{
    color: #6a5e5e;
    float: left;
    width: 180px;
    margin-right: 5px;
    height: 68px;
    border-top: solid 1px  #e2d1ce;
    border-bottom: solid 1px  #e2d1ce;
    font-size: 20px;
    line-height: 68px;
    text-align: center;
    position: relative;
    /* background-color: #89363d; */
}
.jiantou::after{
    transform: rotate(45deg);
    z-index: 3;
    content: "";
    left: 153px;
    position: absolute;
    top: 8px;
    height: 49px;
    width: 49px;
    background: inherit;
    border: solid 1px  #e2d1ce;
    border-left-color: transparent;
    border-bottom-color: transparent;
}
.jiantou>span{
    position:absolute;
    z-index: 4;
    height: 72px;
    left: 38px;
    width: 150px;
    text-align: center;
}
.jiantou1,.jiantou5{
    width: 220px; ;
}
.jiantou1{
    color: white;
    background-color: #89363d;
}
.jiantou1::after{
    left: 193px;
}
.jiantou1>span{
    left: 58px;
}
.jiantou5::after{
    left: 190px;
}
.jiantoucont{
    margin: 52px auto 0;
    width: 1400px;
    height: 694px;
}
.pagecont{
    display: none;
}
.pagecont>div{
    /*margin-top: 37px;*/
    display: inline-block;
    vertical-align: top;
}
.pagecont>.left{
    background-color: #c5b0ab;
    width: 381px;
    padding-left: 21px;
    padding-top: 1px;
    height: 695px;
}
.pagecont>.left>h5{
    margin-top: 50px;
    margin-bottom: 26px;
    width: 232px;
    height: 32px;
    font-size: 31px;
    line-height: 32px;
    color: #261f1f;
}
.pagecont>.left>p{
    font-size: 20px;
    line-height: 32px;
    color: #3e302e;
}
.pagecont>.left>img{
    width: 354px;
    margin: 23px 0 39px;
    border: 7px solid #e0cdc9;
}
.pagecont>.left>span{
    width: 93px;
    display: block;
    text-align: center;
    font-size: 22px;
    height: 32px;
    border-radius: 16px;
    background-color: #f8d9d0;
    color: #675c5b;
    line-height: 32px;
    margin-bottom: 8px;
}
.pagecont>.left>p:last-child{
    width: 359px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}
.pagecont>.right{
    position: relative;
}
.pagecont>.right>img{
    width: 996px;
}
.pagecont>.right>span{
    position: absolute;
    width: 194px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 27px;
    font-size: 26px;
    border: solid 1px rgba(241, 237, 232, 0.5);
    opacity: 0.5;
}
/*.pagecont>.right .span1{*/
/*bottom: 13px;*/
/*color: #a38989;*/
/*left: 25%;*/
/*margin-left: -97px;*/
/*}*/
/*.pagecont>.right .span2{*/
/*bottom: 13px;*/
/*color: #603b3b;*/
/*right: 25%;*/
/*margin-right: -97px;*/
/*}*/
.m5 .djzx{
    width: 626px;
    margin: 78px auto 0;
    color: #90242c;
}
.m5 .djzx span{
    background-color: #9e4249;
}
.m6{
    height: 1258px; ;
    background: url("//img.hzshuangmei.com/pc/hzsypxf/images/m6bg.jpg") center no-repeat;
}
.m6cont{
    width: 1400px;
    margin: auto;
    padding-top: 1px;
}
.m6img1{
    display: block;

    margin: 92px auto 80px;
    width: 545px;
}
.m6imgcont>img{
    width: 687px;
    margin-bottom: 18px;
}
.m6imgcont .imgm6left{
    margin-right: 18px;
}
.m6 .djzx{
    height: 72px;
    line-height: 72px;
    font-size: 37px;
    width: 400px;
    margin: 69px auto 0;
}
.m7{
    position:relative;
    z-index: 2;
    height: 1541px;
    background: url("//img.hzshuangmei.com/pc/hzsypxf/images/m7.jpg") no-repeat center;
}
.m7cont{
    position: relative;
    width: 1400px;
    margin: auto;
    z-index: 3;
    height: 1541px;
}
.m7byuan1{
    position: absolute;
    right: 750px;
    top: 410px;
    width: 178px;
    height: 73px;
    overflow: hidden;
    text-align: center;
    font-size: 29px;
    line-height: 85px;
}
.m7byuan1 span{
    top: 0;
    left: 0;
    position: absolute;
    width: 178px;
    height: 93px;
    color: white;
    text-align: center;
    border-radius: 93px 93px 0 0;
    background: #942d34;
    font-size: 29px;
    line-height: 85px;
    z-index: 2;
}
.m7img1,.m7img2,.m7img3{
    position: absolute;
    right: 0;
    z-index: 3;

}
.m7img1{
    right: 100px;
    top: 156px;
    width: 524px;
}
.m7img2{
    width: 985px;
    top: 482px;
}
.m7img3{
    width: 988px;
    top: 608px;
}
.m7cont ul{
    position: absolute;
    right: 0;
    bottom: 270px;
    width: 852px;
    border-left: 1px solid #4a4755;
    border-top: 1px solid #4a4755;
}
.m7cont ul::after{
    content: ' ';
    display: block;
    clear: both;
}
.m7cont ul li{
    color: #d4d3d7;
    font-size: 24px;
    text-align: center;
    width: 212px;
    height: 83px;
    line-height: 83px;
    border-right:1px solid #4a4755;
    border-bottom: 1px solid #4a4755;
    float: left;
}
.m7cont ul .smli{
    font-size: 20px;
}
.m7cont ul .smli:last-child{
    width: 425px;
}
.m7byuan2{
    height: 169px;
    width: 79px;
    position: absolute;
    font-size: 29px;
    overflow: hidden;
    right: 852px;
    bottom: 270px;

}
.m7byuan2 span{
    position: absolute;
    line-height: 29px;
    height: 145px;
    padding-top: 25px;
    color: white;
    padding-left: 35px;
    width: 50px;
    border-radius: 85px 0 0 85px;
    background: #942d34;

}
.m7 .djzxm7{

    cursor:pointer;
    padding-left: 15px;
    border-radius: 35px;
    overflow: hidden;
    font-size: 27px;
    line-height: 70px;
    width: 483px;
    position: absolute;
    background-color: #353343;
    color: #9a99a1;
    height: 70px;
    border: solid 2px #9e4249;
    text-align: center;
    right: 404px;
    bottom: 143px;
    -webkit-animation:aa1 2s infinite ;
    -o-animation:aa1 2s infinite ;
    -moz-animation: aa1 2s infinite;
    animation: aa1 2s infinite;

}
.m7 .djzxm7>div{
    float: right;
    width: 160px;
    display: inline-block;
    font-size: 28px;
    background-color: #262435;
    color: #842c34;
    border-radius: 50px;
}
.m7 .djzxm7 span{
    letter-spacing: -10px;
}
.m7 .djzxm7:last-child{
    right: -55px;
    bottom: 143px;
}
.banner a{
    display: inline-block;
    width: 100%;
    height: 100%;
}