* {
    padding: 0;
    margin: 0;
}
.mrjnr {
    width: 16rem;
    margin: auto;
    font-size: 0;
}
.mrjnr div img{
    width: 16rem;
}
.mrjnr div {
    position: relative;
}
.mrjnr div a {
    position: absolute;
}
.m2 a {
    top: 18.375rem;
    left: 4.875rem;
    width: 6.25rem;
    height: 2rem;
}
.m3 a {
    top: 3rem;
    left: 10.125rem;
    width: 4rem;
    height: 4rem;
}
