* {
    padding: 0;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}
ul,
li {
    list-style: none;
}
img {
    display: block;
    border: 0;
}
em {
    font-style: normal;
}
body {
    font-family: "微软雅黑";
    color: #fff;
    background-color: #bac79c;
}
a {
    text-decoration: none;
    border: none;
}
.banner {
    width: 100%;
}
.main {
    width: 16rem;
    height: 155.05rem;
    margin: 0 auto;
    box-shadow: 0 2.325rem .5rem #565655;
}
.main-top {
    width: 100%;
    height: 1rem;
    border-bottom: .025rem dashed #fff;
}
.Mone-top {
    position: relative;
    width: 11.875rem;
    height: 1.625rem;
    padding-top: .25rem;
    margin: .175rem auto 1.375rem;
    text-align: center;
    background-color: #98b478;
}
.Mone-top img {
    display: inline;
}
.Mone-top .p1 {
    font-size: .75rem;
    font-weight: 700;
    color: #fff;
}
.Mone-top .p2 {
    font-family: "Opima";
    font-size: .35rem;
    font-weight: 700;
    word-spacing: -0.125rem;
    color: #d6e1c9;
}
.Mone-top:before,
.Mone-top:after {
    position: absolute;
    width: 0;
    height: 0;
    content: "";
}
.Mone-top:before {
    bottom: -0.025rem;
    left: -0.025rem;
    border-right: .75rem solid transparent;
    border-bottom: .75rem solid #bac79c;
}
.Mone-top:after {
    right: -0.025rem;
    bottom: -0.025rem;
    border-bottom: .75rem solid #bac79c;
    border-left: .75rem solid transparent;
}
.main01,
.main02 {
    position: relative;
    font-size: 0;
    width: 15.725rem;
    height: 9.475rem;
    padding-top: .25rem;
    margin: 0 auto;
}

.main01 .MOnel {
    float: left;
    width: 10rem;
    height: 9.05rem;
    margin-top: .125rem;
}
.MOnel img {
    float: left;
    margin-right: .125rem;
}
.MOner {
    float: right;
    width: 5rem;
    height: 9.5rem;
}
.MOner-top {
    width: 100%;
    height: 4.65rem;
    background: url(//img.hzshuangmei.com/m/hzbbqb/images/ysbyinying.png) no-repeat bottom center;
    background-size: 4.5rem .35rem;
}
.MOner-top p,
.Mttop-in p {
    position: relative;
    font-size: .7rem;
    font-weight: 700;
    line-height: 1.225rem;
    text-align: center;
    color: #25281f;
}
.MOner-top p em,
.Mttop-in p em {
    position: absolute;
    left: 1.03rem;
    font-size: .375rem;
    color: #fff;
}
.MOarc {
    width: 4.2rem;
    height: 2.85rem;
    padding: .25rem 0 0 .625rem;
    background-color: #74a6a5;
    font-size: 0.475rem;
}
.MOner-b {
    position: relative;
    margin-top: .325rem;
}
.MOner-b .MOarc {
    background-color: #bdbedd;
}
.main01 i {
    position: absolute;
    top: .15rem;
    left: 2.625rem;
    z-index: -1;
    width: 9.25rem;
    height: .625rem;
    border: .025rem solid #fff;
    border-bottom: 0;
}
.main01 span {
    /*z-index: -1;*/
    position: absolute;
    top: .625rem;
    left: -1.775rem;
    width: 2.9rem;
    border-top: .025rem solid #fff;
}
.main02 {
    margin-top: .75rem;
}
.Mtleft {
    float: left;
    width: 5rem;
    height: 9.5rem;
}
.Mtright {
    float: right;
    width: 10rem;
    height: 9.075rem;
}
.Mtright img {
    float: left;
    margin-left: .15rem;
}
.Mttop {
    width: 100%;
    height: 4.65rem;
    background: url(//img.hzshuangmei.com/m/hzbbqb/images/ysbyinying.png) no-repeat bottom center;
}
.Mttop-in {
    position: relative;
    width: 100%;
    height: 4.1rem;
}
.Mttop-in div {
    width: 100%;
    height: 3.075rem;
    padding: .25rem .025rem 0 .25rem;
    box-sizing: border-box;
    font-size: .475rem;
    background-color: #c7ad92;
}

.Mttop-in p em {
    right: -1.4rem;
}
.Mtbottom {
    margin-top: .25rem;
}
.Mtbottom .Mttop-in div {
    background-color: #eda5b0;
}
.main02 i {
    position: absolute;
    top: -0.175rem;
    left: 3.725rem;
    z-index: -1;
    width: 10.8rem;
    height: 1rem;
    border: .025rem solid #fff;
    border-bottom: 0;
}
.Mtbottom .Mttop-in span {
    position: absolute;
    top: .625rem;
    right: -1.725rem;
    width: 2.9rem;
    border-top: .025rem solid #fff;
}
.standard {
    position: relative;
    width: 13.8rem;
    height: .95rem;
    margin: 1.75rem auto 1.7rem;
    border: .025rem solid #fff;
}
.standard p,
.standard h3,
.standard h2 {
    position: absolute;
    font-weight: 700;
    background-color: #bac79c;
}
.standard p {
    top: -0.425rem;
    left: 1.15rem;
    width: 7.5rem;
    height: .675rem;
    font-size: .5rem;
    text-align: right;
    color: #648357;
}
.standard h3 {
    bottom: -0.325rem;
    left: 3.325rem;
    width: 5.375rem;
    height: .825rem;
    padding-left: .375rem;
    font-size: .7rem;
    color: #000;
}
.standard h2 {
    right: .225rem;
    bottom: -0.475rem;
    width: 4.75rem;
    height: 1.25rem;
    font-size: 1.1rem;
    line-height: 1.25rem;
    color: #ed7c61;
    background: url(//img.hzshuangmei.com/m/hzbbqb/images/gantan.png) no-repeat bottom right;
    background-color: #bac79c;
}
.bantwo {
    width: 100%;
    height: auto;
}
.Mrtop {
    display: inline-block;
    width: 10.875rem;
    height: 2rem;
    margin: .675rem 0 0 .3rem;
    background: url(//img.hzshuangmei.com/m/hzbbqb/images/qq.png) no-repeat center bottom;
}
.Mrtop-in {
    width: 100%;
    height: 1.7rem;
    border-radius: .375rem;
    background-color: #fff;
}
.Mrtop-in p {
    float: left;
    width: 7.6rem;
    height: 1.6rem;
    margin-left: .025rem;
    text-align: center;
    border: .05rem solid #fff;
    border-radius: .375rem;
    background-color: #f4c778;
}
.Mrtop-in p img {
    display: inline;
    margin-top: .325rem;
}
.meihuyi {
    width: 14.75rem;
    height: 1.35rem;
    margin: 0 auto;
    line-height: .75rem;
    color: #757e62;
}
.meihuer,
.mherarc {
    margin-left: 3.5rem;
}
.mherarc {
    width: 11.525rem;
    height: 1.5rem;
}
.youshiq {
    position: relative;
    width: 15.25rem;
    height: 10rem;
    margin: 0 auto;
    border: .05rem solid #98b478;
}
.youshiq-l {
    position: absolute;
    top: .925rem;
    left: .65rem;
    width: 4.925rem;
    height: 7.625rem;
}
.ystu {
    position: absolute;
    right: 0;
    bottom: 0;
}
.ystitle {
    width: 100%;
    height: 1.2rem;
    font-size: .8rem;
    font-weight: 700;
    line-height: 1.2rem;
    text-align: center;
    color: #768556;
    background-color: #dde3ce;
}
.ysarc {
    width: 100%;
    height: 2.25rem;
    margin-top: .125rem;
    line-height: .725rem;
}
.ystitle-margin {
    margin-top: .625rem;
}
.youshiw {
    margin-top: 1.125rem;
}
.youshiw img {
    left: 0;
}
.youshiw .youshiq-l {
    top: 1.175rem;
    left: 9.4rem;
}
.youshie {
    margin-top: 1.875rem;
}
.different {
    width: 14.325rem;
}
.different .p1 {
    font-size: .65rem;
}
.title1 {
    position: relative;
    width: 15.75rem;
    height: 1.45rem;
    margin: 0 auto;
    border: .025rem solid #fff;
}
.title1 p {
    width: 9.725rem;
    height: 2rem;
    margin: -0.4rem auto 0.125rem;
    font-size: .5rem;
    text-align: center;
    color: #648357;
    background-color: #bac79c;
}
.title1 img {
    position: absolute;
}
.title1 .bbqb01 {
    top: .425rem;
    left: .175rem;
    width: 3.225rem;
}
.title1 .bbqb02 {
    top: .55rem;
    right: .1rem;
    width: 12.275rem;
}
.pug {
    width: 100%;
    height: 6.15rem;
    margin-top: .75rem;
}
.pug img {
    float: left;
    width: 5.075rem;
    height: 6.15rem;
}
.pug img.ee {
    margin-right: .375rem;
}
.pug .rr {
    float: right;
}
.pugtwo {
    width: 100%;
    height: 6.15rem;
    margin-top: .3rem;
    background-color: #edb2bb;
}
.pugtwo li {
    float: left;
    width: 5.075rem;
    height: 100%;
    border-right: .375rem solid #edb2bb;
    background-color: #edb2bb;
}
.pugtwo li.uu {
    float: right;
    border: 0;
}
.start {
    text-align: center;
}
.start .Sttop {
    margin-top: 1.125rem;
    font-size: 1rem;
}
.start .Stcenter {
    margin-top: .5rem;
    font-size: .45rem;
    line-height: .65rem;
    color: #000;
}
.zx {
    width: 2.575rem;
    height: .7rem;
    margin: .5rem auto 0;
    border: .025rem solid #fff;
}
.zx a {
    font-size: .425rem;
    font-weight: 700;
    line-height: .7rem;
    color: #000;
}
.issue-in {
    width: 100%;
    height: 11.55rem;
}
.issue-in li {
    position: relative;
    float: left;
    width: 5.275rem;
    height: 5.375rem;
    margin: .125rem .025rem;
    text-align: center;
}
.issue-in li img {
    display: inline;
    padding: .125rem;
    border: .025rem dashed #eaeee1;
    border-radius: 50%;
}
.issue-in li span {
    position: absolute;
    bottom: .65rem;
    left: 50%;
    font-size: .6rem;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    color: #72572c;
}
.boult {
    width: .8rem;
    height: .75rem;
    margin: 0 auto;
    background-color: #fff;
}
.boult-b {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-top: .875rem solid #fff;
    border-right: .75rem solid transparent;
    border-left: .75rem solid transparent;
}
.anlitt {
    width: 5.825rem;
    height: 1.525rem;
    margin: 0 auto;
    background: url(//img.hzshuangmei.com/m/hzbbqb/images/anliyinying.png) no-repeat bottom center;
    -webkit-background-size: contain;
    background-size: contain;
}
.anlitt .TTtop {
    width: 100%;
    height: 1.3rem;
    text-align: center;
    background-color: #98b478;
}
.anlitt .TTtop .p1 {
    font-size: .725rem;
    font-weight: 700;
    line-height: .925rem;
}
.anlitt .TTtop .p2 {
    font-size: .25rem;
    color: #ccdabc;
}
.anli {
    position: relative;
    width: 100%;
    height: 11.675rem;
    margin: 1.375rem auto 0;
    background: url(//img.hzshuangmei.com/m/hzbbqb/images/anlibg.png) no-repeat top center;
}
.anli div {
    float: left;
}
.imgdiv {
    width: 7.65rem;
    height: 4.8rem;
    margin-left: .175rem;
}
.imgdiv img {
    float: left;
    margin-left: .2rem;
}
.imgtitle {
    width: 100%;
    height: .675rem;
    margin: 0 auto;
}
.imgtitle .qq {
    float: left;
    width: 15.25rem;
    height: .675rem;
    background-color: #98b478;
}
.imgtitle .qq span {
    padding: 0 1.7rem 0 1.35rem;
    font-size: .4rem;
    line-height: .65rem;
    color: #fff;
}
.imgtitle .qq .shuhou {
    padding-left: 1.5rem;
}
.imgtitle .qq .nopadding {
    padding-right: 0;
}
.imgtitle img {
    float: left;
    width: .35rem;
    height: .675rem;
}
.zj {
    width: 8.75rem;
    height: 1.125rem;
    margin-bottom: .7rem;
}
.zj .p1 {
    line-height: .625rem;
}
.doctor-b {
    width: 16rem;
    height: 13.375rem;
    margin: 0 auto;
    overflow: hidden;
    background: url(//img.hzshuangmei.com/m/hzbbqb/images/lzk.png) no-repeat top left;
    background-size: 7.05rem 11.025rem;
}
.doctorarc {
    width: 10rem;
    height: 9.825rem;
    /*margin-top: 1.375rem;*/
    /*font-size: 0;*/
    margin-left: auto;
}
.doctorarc-t {
    width: 9.65rem;
    height: 1.575rem;
    margin-left: 0.25rem;
    border-bottom: .025rem solid #dde3ce;
}
.doctorarc-t li {
    float: left;
}
.dol {
    width: 5.2rem;
    height: 100%;
    /*margin-left:0.575rem;*/
}
.dol img {
    margin-left: .8rem;
}
.dol p {
    width: 5.2rem;
    font-size: .6rem;
    line-height: .6rem;
    color: #fff;
}
.likee {
    width: 3.775rem;
    height: auto;
}
.likee img {
    width: 3.825rem;
    margin-top: .275rem;
    margin-left: auto;
}
.likesj {
    width: 0;
    height: 0;
    margin-top: 1rem;
    border-right: .325rem solid transparent;
    border-bottom: .4rem solid #dde3ce;
    border-left: .325rem solid transparent;
}
.abstract {
    width: 8.075rem;
    height: 4.325rem;
    margin-top: .5rem;
    margin-left: .25rem;
    font-size: .45rem;
    line-height: .45rem;
}
.abstract p {
    width: 100%;
    /*height: .45rem;*/
    padding-left: .5rem;
    margin-bottom: .3rem;
    box-sizing: border-box;
    line-height: .55rem;
    color: #fff;
    background: url(//img.hzshuangmei.com/m/hzbbqb/images/xin3.png) no-repeat left 0.125rem;
    background-size: .4rem .3rem;
}
.abstract > p:nth-child(4),
.abstract > p:nth-child(5) {
    width: 10rem;
}
.goodat {
    width: 2.575rem;
    height: 1.05rem;
    margin: .9rem 0 0 1.3rem;
    font-size: .4rem;
    font-weight: 700;
    line-height: .85rem;
    color: #5c5b7e;
    background: url(//img.hzshuangmei.com/m/hzbbqb/images/goodat.png) no-repeat;
    background-size: 2.575rem 1.05rem;
}
.goodat em {
    margin-right: .125rem;
}
.goodatarc {
    width: 7.7rem;
    /*height: 1.7rem;*/
    margin-left: 1.25rem;
    font-size: .45rem;
    line-height: .775rem;
    color: #fff;
}
.zixun {
    width: 100%;
    height: 1.625rem;
    padding-top: .45rem;
    text-align: center;
    background-color: #9ccfcc;
}
.zixun a {
    padding: .2rem 1.5rem .2rem 1.5rem;
    font-size: .6rem;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    border: .025rem solid #fff;
}
.ljzx {
    width: 100%;
    height: 1.6rem;
    overflow: hidden;
    background-color: #fffffc;
}
.ljzx p {
    width: 5.175rem;
    height: .875rem;
    margin: .425rem auto 0;
    border: .025rem solid #ed7c61;
    border-radius: .125rem;
}
.ljzx p a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: .5rem;
    font-weight: 700;
    line-height: .875rem;
    text-align: center;
    color: #ed7c61;
}
.anliyw {
    display: inline;
}
.main {
    font-size: .5rem;
}
.cc {
    width: 6.7rem;
}
.MOnel img {
    height: 9.05rem;
}
.Mtright img {
    height: 9.075rem;
}
.we {
    width: 6.55rem;
}
.rt {
    width: 6.725rem;
}
.vv {
    width: 5.225rem;
}
.ystu {
    width: 9.875rem;
}
.ystu:nth-child(2) {
    width: 9.9rem;
}
.ystu:nth-child(3) {
    width: 10.45rem;
}
.bb {
    width: 8.025rem;
}
.pugtwo img {
    height: 6.15rem;
}
.pug img {
    width: 5.075rem;
}
.nn {
    width: 10.675rem;
}
.issue-in li img {
    width: 4.825rem;
}
.anliyw {
    width: 1.1rem;
}
.anlitt {
    font-size: 0;
}
.imgdiv img {
    width: 3.625rem;
}
.imgtitle img {
    width: .35rem;
}
.pugtow img {
    width: 6.15rem;
}
.mm {
    width: 2.625rem;
}
.sjimgy {
    width: 1.825rem;
}
