@charset "utf-8";
a,
body {
    color: #000;
}body,

dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
label,
li,
p,
textarea,
ul {
    padding: 0;
    margin: 0;
}form {

    display: inline;
}img {

    border: 0;
}td {

    word-break: break-all;
}dd,

dl,
dt,
li,
ul {
    list-style: none;
}a {

    text-decoration: none;
}body {

    font-family: "微软雅黑",sans-serif,Verdana,Arial;

    background: #fff;
}.f-fr {

    float: right;
}.f-fl {

    float: left;
}.f-cb:after {

    display: block;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    clear: both;

    content: ".";
}.f-cb {

    zoom: 1;
}.sr-only {

    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);

    border: 0;
}.img-respon {

    display: block;
    width: 100%;
    height: auto;
}.g-row {

    font-size: 0;
}.g-row .g-item {

    display: inline-block;

    vertical-align: top;
}.consult:hover {

    -webkit-transform: scale(.9,.9);
            transform: scale(.9,.9);
}.zt-container {

    min-width: 15.99829352rem;
    overflow: hidden;

    background: #fff;
}.g-doc {

    width: 15.99829352rem;
    padding: 1.49317406rem 0 1.49317406rem;
    margin: 0 auto;
}.g-doc .title {

    margin-bottom: .85324232rem;
}.consult {

    display: block;
    margin: 0 auto;
}.zt-banner {

    min-width: 15.99829352rem;
    padding-bottom: 54%;
    overflow: hidden;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/banner.jpg") center top no-repeat;
    background-size: auto 100%;
}.zt-m1 .zt-title {

    height: 2.77303754rem;
    margin-right: auto;
    margin-left: auto;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bgt1.png") center center no-repeat;
    background-size: auto 100%;
}.zt-m1 .consult {

    height: 1.49317406rem;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bg_consult1.png") center center no-repeat;
    background-size: auto 100%;
}.zt-m1 .g-doc {

    padding-bottom: 1.70648464rem;
}.zt-m1 .zt-content {

    margin-top: .93856655rem;
}.zt-m1 .consult {

    margin-top: .63993174rem;
}.zt-m1 .g-row {

    text-align: center;
}.zt-m1 .g-item {

    width: 6.76194539rem;
    height: 7.12457338rem;
    margin: .10665529rem;

    background: #bedbec;
}.zt-m1 .g-item img {

    width: 4.9274744rem;
    height: 4.9274744rem;
    margin-top: .63993174rem;

    transition: all .3s linear;

    border-radius: 100%;
}.zt-m1 .g-item img:hover {

    -webkit-transform: scale(1.1,1.1);
            transform: scale(1.1,1.1);
}.zt-m1 .g-item p {

    margin-top: .42662116rem;

    font-size: .51194539rem;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: .89590444rem;

    text-align: center;
    letter-spacing: 0rem;

    color: #447895;
}.zt-m1 .g-item p span {

    display: inline-block;
    padding: 0 .42662116rem 0 0rem;

    font-size: .89590444rem;
    line-height: .89590444rem;

    vertical-align: top;
}.zt-m1 .g-item:last-child {

    background-color: rgba(190,219,236,.6);
}.zt-m1 .slideWraper {

    width: 14.07849829rem;
    height: 7.12457338rem;
    margin: 0 auto;
    overflow: hidden;
}.zt-m1 .sliderContainer {

    width: 42.23549488rem;
    height: 7.12457338rem;
}.zt-m1 .sliderItem {

    float: left;
    width: 14.07849829rem;
    height: 7.12457338rem;
    overflow: hidden;
}.zt-m1 .sliderIndicator {

    margin-top: .29863481rem;

    text-align: center;
}.zt-m1 .sliderIndicator li {

    display: inline-block;
    width: 1.15187713rem;
    height: .10665529rem;

    border: solid 1px #c4dfee;
    border-radius: .04266212rem .04266212rem .04266212rem .04266212rem;
}.zt-m1 .sliderIndicator li.active {

    background-color: #c4dfee;
}.zt-m2 {

    height: 27.94368601rem;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bg2.jpg") center top no-repeat;
    background-size: auto 100%;
}.zt-m2 .zt-title {

    height: 2.30375427rem;
    margin-right: auto;
    margin-left: auto;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bgt2.png") center center no-repeat;
    background-size: auto 100%;
}.zt-m2 .consult {

    height: 1.3225256rem;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bg_consult2.png?v=20190327172846") center center no-repeat;
    background-size: auto 100%;
}.zt-m2 .g-doc {

    padding-top: 1.0665529rem;
}.zt-m2 .zt-content {

    padding: 13.86518771rem 1.27986348rem 0;
}.zt-m2 .zt-content p {

    width: 13.43856655rem;

    font-size: .51194539rem;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: .85324232rem;

    text-align: justify;
    letter-spacing: 0rem;

    color: #edf6fc;
}.zt-m2 .zt-content p strong {

    font-size: .51194539rem;
}.zt-m2 .zt-content p span {

    font-weight: bold;
}.zt-m2 .consult {

    width: 8.70307167rem;
    margin-top: 1.0665529rem;
    margin-left: 2.34641638rem;
}.zt-m3 {

    height: 30.29010239rem;
}.zt-m3 .g-doc {

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bg3.jpg") center 9.0443686rem no-repeat;
    background-size: 100%;
}.zt-m3 .zt-title {

    height: 3.58361775rem;
    margin-right: auto;
    margin-left: auto;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bgt3.png") center center no-repeat;
    background-size: auto 100%;
}.zt-m3 h3 {

    width: 7.721843rem;
    height: .63993174rem;
    margin-left: .21331058rem;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bgt3_2.png？v=20190327172523") center center no-repeat;
    background-size: auto 100%;
}.zt-m3 .consult {

    height: 1.83447099rem;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bg_consult3.png") center center no-repeat;
    background-size: auto 100%;
}.zt-m3 .g-doc {

    padding-top: .85324232rem;
}.zt-m3 .zt-content {

    padding: 0 .63993174rem;
    padding-bottom: 9.81228669rem;
    margin-top: .63993174rem;
}.zt-m3 .zt-content p {

    width: 13.95051195rem;
    height: 10.66552901rem;
    margin-top: .42662116rem;
    margin-left: .21331058rem;

    font-size: .38395904rem;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: .85324232rem;

    letter-spacing: 0rem;

    color: #397198;
}.zt-m3 .zt-content .p2 {

    width: 10.45221843rem;
    height: 1.25853242rem;
    padding-top: .21331058rem;
    margin-top: .51194539rem;
    margin-left: 2.1331058rem;

    font-size: .63993174rem;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: .51194539rem;

    text-align: center;
    letter-spacing: 0rem;

    color: #fff;
}.zt-m3 .consult {

    width: 8.66040956rem;
    margin-top: 8.19112628rem;
}.zt-m4 {

    height: 21.88566553rem;

    background: #e1f3f6;
}.zt-m4 .zt-title {

    height: 3.54095563rem;
    margin-right: auto;
    margin-left: auto;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bgt4.png") center center no-repeat;
    background-size: auto 100%;
}.zt-m4 .consult {

    height: 1.70648464rem;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bg_consult4.png") center center no-repeat;
    background-size: auto 100%;
}.zt-m4 .g-doc {

    padding-top: .85324232rem;
}.zt-m4 .zt-content {

    position: relative;

    height: 14.07849829rem;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/img4.jpg") center 2.34641638rem no-repeat;
    background-size: 100%;
}.zt-m4 .zt-content p {

    font-size: .38395904rem;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: .51194539rem;

    text-align: justify;

    color: #397198;
}.zt-m4 .zt-content .des {

    width: 14.71843003rem;
    margin: 0 auto;

    line-height: 1.36518771rem;

    text-align: center;

    border: solid 1px #3d66a6;
}.zt-m4 .zt-content .item {

    position: absolute;
}.zt-m4 .zt-content .item1 {

    top: 4.65017065rem;
    left: .29863481rem;

    width: 3rem;
}.zt-m4 .zt-content .item2 {

    top: 4.90614334rem;
    left: 13rem;

    width: 2.6rem;
}.zt-m4 .zt-content .item3 {

    top: 11.4334471rem;
    left: .51194539rem;

    width: 2.64505119rem;
}.zt-m4 .zt-content .item4 {

    top: 11.4334471rem;
    left: 12.58532423rem;

    width: 3.11433447rem;
}.zt-m4 .consult {

    margin-top: .21331058rem;
}.zt-m5 {

    height: 25.21331058rem;

    background: #b8e5f6;
}.zt-m5 .zt-title {

    height: 4.778157rem;
    margin-right: auto;
    margin-left: auto;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bgt5.png") center center no-repeat;
    background-size: auto 100%;
}.zt-m5 .consult {

    height: 3.24232082rem;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bg_consult5.png") center center no-repeat;
    background-size: auto 100%;
}.zt-m5 .g-doc {

    padding-top: .42662116rem;
}.zt-m5 .zt-content {

    margin-top: 0rem;
}.zt-m5 .zt-content .g-row {

    text-align: center;
}.zt-m5 .zt-content .item {

    display: inline-block;
    width: 7.18856655rem;
    height: 8.95904437rem;

    vertical-align: top;

    background: #1d6ea4;
    background-color: rgba(29,110,164,.53);
}.zt-m5 .zt-content .item .box {

    position: relative;

    height: 3.41296928rem;
    padding-left: 3.41296928rem;

    text-align: left;
}.zt-m5 .zt-content .item .box img {

    position: absolute;
    top: .42662116rem;
    left: .21331058rem;

    width: 2.83703072rem;
    height: 2.83703072rem;

    border-radius: 100%;
}.zt-m5 .zt-content .item .box .detail h3 {

    padding-top: 1.27986348rem;

    font-size: .53327645rem;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: .76791809rem;

    letter-spacing: 0rem;

    color: #fff;
}.zt-m5 .zt-content .item .box .detail span {

    font-size: .38395904rem;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: .76791809rem;

    letter-spacing: 0rem;

    color: #fff;
}.zt-m5 .zt-content .item .box .detail .line {

    width: 1.02389078rem;
    height: 1px;

    background: #fff;
}.zt-m5 .zt-content .item p {

    width: 6.39931741rem;
    padding-left: .34129693rem;

    font-size: .42662116rem;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: .68259386rem;

    text-align: justify;
    letter-spacing: 0rem;

    color: #fff;
}.zt-m5 .zt-content .item1,

.zt-m5 .zt-content .item3 {
    margin-bottom: .51194539rem;
}.zt-m5 .zt-content .item2,

.zt-m5 .zt-content .item4 {
    margin-left: .21331058rem;
}.zt-m5 .zt-content .item2 p,

.zt-m5 .zt-content .item4 p {
    width: 6.61262799rem;
}.zt-m5 .zt-content .item3 {

    height: 7.29522184rem;
}.zt-m5 .zt-content .item4 {

    width: 7.16723549rem;
    height: 7.29522184rem;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bg6.jpg") center center no-repeat;
    background-size: 100%;
}.zt-m5 .zt-content .consult {

    margin-top: 1.91979522rem;
}.zt-m6 .zt-title {

    height: 2.85836177rem;
    margin-right: auto;
    margin-left: auto;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bgt6.png") center center no-repeat;
    background-size: auto 100%;
}.zt-m6 .consult {

    height: 1.74914676rem;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bg_consult6.png") center center no-repeat;
    background-size: auto 100%;
}.zt-m6 .g-doc {

    padding-top: .85324232rem;
}.zt-m6 .zt-content {

    margin-top: 1.0665529rem;
}.zt-m6 .zt-content img {

    display: block;
    margin: 0 auto;
}.zt-m6 .zt-content .g-row {

    margin-bottom: .51194539rem;

    text-align: center;
}.zt-m6 .zt-content .g-row img {

    width: 12.96928328rem;
}.zt-m6 .zt-content .g-item {

    height: 3.88225256rem;
    box-sizing: border-box;

    background: #deeffb;
}.zt-m6 .zt-content .item1 {

    width: 7.03924915rem;
    padding: 0 .76791809rem;
}.zt-m6 .zt-content .item2 {

    width: 5.97269625rem;
    padding: 0 20px 0 .85324232rem;
    margin-left: .04266212rem;
}.zt-m6 .zt-content .item3 {

    width: 7.03924915rem;
    padding: 0 .76791809rem;
}.zt-m6 .zt-content .item4 {

    width: 5.97269625rem;
    padding: 0 .42662116rem 0 .85324232rem;
    margin-left: .04266212rem;
}.zt-m6 .zt-content p {

    font-size: .38395904rem;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: .51194539rem;

    text-align: left;
    letter-spacing: 0rem;

    color: #4982aa;
}.zt-m6 .zt-content .title {

    position: relative;

    margin: .42662116rem 0 .21331058rem;

    font-size: .42662116rem;
    font-style: normal;
    font-stretch: normal;
    line-height: .68259386rem;

    letter-spacing: 0rem;

    color: #397198;
}.zt-m6 .zt-content .title span {

    position: absolute;
    top: .2559727rem;
    left: -.42662116rem;

    display: block;
    width: .17064846rem;
    height: .17064846rem;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bg6_point.png");
    background-size: .17064846rem;
}.zt-m6 .zt-content .g-row2 {

    width: 15.99829352rem;
    height: 4.05290102rem;

    text-align: justify;

    background: #66a2c6;
}.zt-m6 .zt-content .g-row2 p {

    width: 9.59897611rem;
    padding-top: .76791809rem;
    margin: 0 auto;

    font-size: .46928328rem;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: .68259386rem;

    text-align: center;
    letter-spacing: 0rem;

    color: #fff;
}.zt-m6 .zt-content .g-row2 p span {

    display: block;
    padding-top: .21331058rem;

    font-size: .76791809rem;
    font-weight: normal;

    letter-spacing: 0rem;

    color: #fff;
}.zt-m6 .consult {

    width: 8.2337884rem;
    margin-top: 1.49317406rem;
}.zt-m7 {

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bg7.jpg") center top no-repeat;
    background-size: 100%;
}.zt-m7 .zt-title {

    height: 2.73037543rem;
    margin-right: auto;
    margin-left: auto;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bgt7.png") center center no-repeat;
    background-size: auto 100%;
}.zt-m7 .consult {

    height: 1.74914676rem;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bg_consult7.png") center center no-repeat;
    background-size: auto 100%;
}.zt-m7 .g-doc {

    padding-top: .21331058rem;
}.zt-m7 .zt-content {

    margin-top: .85324232rem;
}.zt-m7 .zt-content img {

    display: block;
    width: 12.7559727rem;
    height: 16.46757679rem;
    margin: 0 auto;
}.zt-m7 .consult {

    width: 7.16723549rem;
    margin-top: .63993174rem;
}.zt-m8 {

    height: 20.13651877rem;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bg8.jpg") center top no-repeat;
    background-size: 100%;
}.zt-m8 .zt-title {

    height: 1.62116041rem;
    margin-right: auto;
    margin-left: auto;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bgt8.png") center center no-repeat;
    background-size: auto 100%;
}.zt-m8 .g-doc {

    position: relative;

    height: 18.98464164rem;
    padding-top: 1.0665529rem;
    padding-bottom: 0;
}.zt-m8 .zt-content {

    height: 14.93174061rem;
    padding-top: 1.0665529rem;
    padding-right: .85324232rem;
    padding-left: 5.97269625rem;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bg8_border.png") 4.90614334rem 1.79180887rem no-repeat;
    background-size: 5.07679181rem;
}.zt-m8 .zt-content img {

    position: absolute;
    bottom: -9.17235495rem;
    left: -5.97269625rem;
}.zt-m8 .zt-content h3 {

    font-size: 1.0665529rem;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: .76791809rem;

    text-align: right;
    letter-spacing: .01279863rem;

    color: #5b5865;
}.zt-m8 .zt-content ul {

    margin-top: .42662116rem;
}.zt-m8 .zt-content ul li {

    position: relative;

    padding-left: .42662116rem;

    font-size: .51194539rem;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.02389078rem;

    letter-spacing: .00426621rem;

    color: #68626f;
}.zt-m8 .zt-content ul li::before {

    position: absolute;
    top: .34129693rem;
    left: -.21331058rem;

    display: block;
    width: .34129693rem;
    height: .34129693rem;

    content: "";

    opacity: .7;
    border-radius: 100%;
    background: #e45b6d;
}.zt-m8 .zt-content .item1 {

    position: absolute;

    visibility: hidden;
}.zt-m8 .zt-content .item1 img {

    width: 10.79351536rem;
}.zt-m8 .zt-content .item2 {

    position: absolute;

    visibility: hidden;
}.zt-m8 .zt-content .item2 ul {

    position: relative;
    top: .63993174rem;
    left: 0rem;
}.zt-m8 .zt-content .item2 img {

    bottom: -10.19624573rem;

    width: 7.63651877rem;
}.zt-m8 .zt-content .active {

    visibility: visible;
}.zt-m8 .zt-content .tab-indicator {

    position: absolute;
    right: .42662116rem;
    bottom: 5.11945392rem;
    z-index: 2;
}.zt-m8 .zt-content .tab-indicator div {

    display: inline-block;
    padding: .17064846rem .2559727rem;

    background-color: rgba(138,175,212,.65);
}.zt-m8 .zt-content .tab-indicator .active {

    background-color: rgba(92,138,188,.7);
}.zt-m8 .zt-content .tab-indicator p {

    font-size: .46928328rem;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: .51194539rem;

    letter-spacing: .00426621rem;

    color: #fff;
}.zt-m8 .zt-content .tab-indicator p span {

    display: block;

    font-size: .2559727rem;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: .4rem;

    letter-spacing: .1px;
    text-transform: uppercase;

    color: #fff;
}.zt-m8 .consult-box {

    position: absolute;
    right: 2.77303754rem;
    bottom: 1.0665529rem;
}.zt-m8 .consult-box .consult {

    display: inline-block;
}.zt-m8 .consult-box .consult1 {

    width: 4.94880546rem;
    height: 1.15187713rem;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bg_consult81.png") center center no-repeat;
    background-size: 100%;
}.zt-m8 .consult-box .consult2 {

    width: 4.94880546rem;
    height: 1.15187713rem;
    margin-left: .42662116rem;

    background: url("https://img.hzshuangmei.com/m/shuiguangzhen/bg_consult82.png") center center no-repeat;
    background-size: 100%;
}
