/** 
* demo V1.0.0 
* By 小珍
* http://www.baidu.com/
 */
@charset "utf-8";
/* ***reset*** */
a,
body {
  color: #000;
}
body,
dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
label,
li,
p,
textarea,
ul {
  margin: 0;
  padding: 0;
}
form {
  display: inline;
}
img {
  border: 0;
}
td {
  word-break: break-all;
}
dd,
dl,
dt,
li,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* a:hover {
    color:black;
} */
body {
  background: #fff;
  font-family: "微软雅黑", sans-serif, Verdana, Arial;
}
.f-fr {
  float: right;
}
.f-fl {
  float: left;
}
.f-cb:after {
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  clear: both;
  content: ".";
}
.f-cb {
  zoom: 1;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* 各属性的混入 */
/* 动画帧的usage    #test>.keyframes(test)*/
.img-respon {
  display: block;
  width: 100%;
  height: auto;
}
/* .block-element-h-center */
/* .block-text-h-center */
/* .block-element-v-center */
/* .block-element-v-center */
/* .line-element-v-center */
/* 定位居中 */
/* .location-center */
/* .location-h-center */
/* .location-v-center */
.g-row {
  font-size: 0;
}
.g-row .g-item {
  display: inline-block;
  vertical-align: top;
}
.consult:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}
/* global */
* {
  /*outline: 1px solid black;*/
}
.zt-container {
  min-width: 15.99829352rem;
  overflow: hidden;
  background: #fff;
}
.g-doc {
  margin: 0 auto;
  width: 15.99829352rem;
  padding: 1.49317406rem 0 1.49317406rem;
}
.g-doc .title {
  margin-bottom: 0.85324232rem;
}
.g-doc .des {
  /*margin-bottom: 40rem/@fb;*/
}
.consult {
  display: block;
  margin: 0 auto;
}
/*banner*/
.zt-banner {
  min-width: 15.99829352rem;
  overflow: hidden;
  background: url('https://img.hzshuangmei.com/m/banner.jpg') center top no-repeat;
  padding-bottom: 54%;
  background-size: auto 100%;
}
/*m1*/
.zt-m1 .zt-title {
  margin-left: auto;
  margin-right: auto;
  height: 2.77303754rem;
  background: url('https://img.hzshuangmei.com/m/bgt1.png') center center no-repeat;
  background-size: auto 100%;
}
.zt-m1 .consult {
  height: 1.49317406rem;
  background: url('https://img.hzshuangmei.com/m/bg_consult1.png') center center no-repeat;
  background-size: auto 100%;
}
.zt-m1 .g-doc {
  padding-bottom: 1.70648464rem;
}
.zt-m1 .zt-title {
  /*margin-top: 70rem/@fb;*/
}
.zt-m1 .zt-content {
  margin-top: 0.93856655rem;
}
.zt-m1 .consult {
  margin-top: 0.63993174rem;
}
.zt-m1 .g-row {
  text-align: center;
}
.zt-m1 .g-item {
  width: 6.76194539rem;
  height: 7.12457338rem;
  margin: 0.10665529rem;
  background: #bedbec;
}
.zt-m1 .g-item img {
  border-radius: 100%;
  margin-top: 0.63993174rem;
  /*margin-left: 49rem/@fb;*/
  transition: all .3s linear;
  width: 4.9274744rem;
  height: 4.9274744rem;
}
.zt-m1 .g-item img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.zt-m1 .g-item p {
  margin-top: 0.42662116rem;
  font-size: 0.51194539rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.89590444rem;
  letter-spacing: 0rem;
  color: #447895;
  text-align: center;
}
.zt-m1 .g-item p span {
  padding: 0 0.42662116rem 0 0rem;
  display: inline-block;
  vertical-align: top;
  font-size: 0.89590444rem;
  line-height: 0.89590444rem;
}
.zt-m1 .g-item:last-child {
  background-color: rgba(190, 219, 236, 0.6);
}
.zt-m1 .slideWraper {
  margin: 0 auto;
  width: 14.07849829rem;
  height: 7.12457338rem;
  overflow: hidden;
}
.zt-m1 .sliderContainer {
  width: 42.23549488rem;
  height: 7.12457338rem;
}
.zt-m1 .sliderItem {
  float: left;
  width: 14.07849829rem;
  height: 7.12457338rem;
  overflow: hidden;
}
.zt-m1 .sliderIndicator {
  margin-top: 0.29863481rem;
  text-align: center;
}
.zt-m1 .sliderIndicator li {
  display: inline-block;
  width: 1.15187713rem;
  height: 0.10665529rem;
  border-radius: 0.04266212rem 0.04266212rem 0.04266212rem 0.04266212rem;
  border: solid 1px #c4dfee;
}
.zt-m1 .sliderIndicator li.active {
  background-color: #c4dfee;
}
.zt-m2 {
  background: url('https://img.hzshuangmei.com/m/bg2.jpg') center top no-repeat;
  height: 27.94368601rem;
  background-size: auto 100%;
}
.zt-m2 .zt-title {
  margin-left: auto;
  margin-right: auto;
  height: 2.30375427rem;
  background: url('https://img.hzshuangmei.com/m/bgt2.png') center center no-repeat;
  background-size: auto 100%;
}
.zt-m2 .consult {
  height: 1.3225256rem;
  background: url('https://img.hzshuangmei.com/m/bg_consult2.png') center center no-repeat;
  background-size: auto 100%;
}
.zt-m2 .g-doc {
  padding-top: 1.0665529rem;
}
.zt-m2 .zt-content {
  padding: 13.86518771rem 1.27986348rem 0;
}
.zt-m2 .zt-content p {
  font-size: 0.51194539rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.85324232rem;
  letter-spacing: 0rem;
  color: #edf6fc;
  text-align: justify;
  width: 13.43856655rem;
}
.zt-m2 .zt-content p strong {
  font-size: 0.51194539rem;
}
.zt-m2 .zt-content p span {
  font-weight: bold;
}
.zt-m2 .consult {
  width: 8.70307167rem;
  margin-top: 1.0665529rem;
  margin-left: 2.34641638rem;
}
.zt-m3 {
  height: 30.29010239rem;
  background: url('https://img.hzshuangmei.com/m/bg3.jpg') center 9.0443686rem no-repeat;
  background-size: 100%;
}
.zt-m3 .zt-title {
  margin-left: auto;
  margin-right: auto;
  height: 3.58361775rem;
  background: url('https://img.hzshuangmei.com/m/bgt3.png') center center no-repeat;
  background-size: auto 100%;
}
.zt-m3 h3 {
  margin-left: 0.21331058rem;
  width: 7.721843rem;
  height: 0.63993174rem;
  background: url('https://img.hzshuangmei.com/m/bgt3_2.png') center center no-repeat;
  background-size: auto 100%;
}
.zt-m3 .consult {
  height: 1.83447099rem;
  background: url('https://img.hzshuangmei.com/m/bg_consult3.png') center center no-repeat;
  background-size: auto 100%;
}
.zt-m3 .g-doc {
  padding-top: 0.85324232rem;
}
.zt-m3 .zt-content {
  margin-top: 0.63993174rem;
  padding-bottom: 9.81228669rem;
  padding: 0 0.63993174rem;
}
.zt-m3 .zt-content p {
  margin-left: 0.21331058rem;
  margin-top: 0.42662116rem;
  width: 13.95051195rem;
  height: 10.66552901rem;
  font-size: 0.38395904rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.85324232rem;
  letter-spacing: 0rem;
  color: #397198;
}
.zt-m3 .zt-content .p2 {
  margin-top: 0.51194539rem;
  margin-left: 2.1331058rem;
  width: 10.45221843rem;
  padding-top: 0.21331058rem;
  height: 1.25853242rem;
  font-size: 0.63993174rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.51194539rem;
  letter-spacing: 0rem;
  color: #ffffff;
  text-align: center;
}
.zt-m3 .consult {
  width: 8.66040956rem;
  margin-top: 8.19112628rem;
}
.zt-m4 {
  height: 21.88566553rem;
  background: #dbeff4;
}
.zt-m4 .zt-title {
  margin-left: auto;
  margin-right: auto;
  height: 3.54095563rem;
  background: url('https://img.hzshuangmei.com/m/bgt4.png') center center no-repeat;
  background-size: auto 100%;
}
.zt-m4 .consult {
  height: 1.70648464rem;
  background: url('https://img.hzshuangmei.com/m/bg_consult4.png') center center no-repeat;
  background-size: auto 100%;
}
.zt-m4 .g-doc {
  padding-top: 0.85324232rem;
}
.zt-m4 .zt-content {
  background: url('https://img.hzshuangmei.com/m/img4.jpg') center 2.34641638rem no-repeat;
  background-size: 100%;
  /*margin-top: 70rem/@fb;*/
  height: 14.07849829rem;
  position: relative;
}
.zt-m4 .zt-content p {
  font-size: 0.38395904rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.51194539rem;
  letter-spacing: 0.00426621rem;
  color: #397198;
  text-align: justify;
}
.zt-m4 .zt-content .des {
  width: 14.71843003rem;
  margin: 0 auto;
  border: solid 1px #3d66a6;
  line-height: 1.36518771rem;
  text-align: center;
}
.zt-m4 .zt-content .item {
  position: absolute;
}
.zt-m4 .zt-content .item1 {
  top: 4.65017065rem;
  left: 0.29863481rem;
  width: 4.22354949rem;
}
.zt-m4 .zt-content .item2 {
  top: 4.90614334rem;
  left: 12.79863481rem;
  width: 3.07167235rem;
}
.zt-m4 .zt-content .item3 {
  top: 11.4334471rem;
  left: 0.51194539rem;
  width: 2.64505119rem;
}
.zt-m4 .zt-content .item4 {
  top: 11.4334471rem;
  left: 12.58532423rem;
  width: 3.11433447rem;
}
.zt-m4 .consult {
  margin-top: 0.21331058rem;
}
.zt-m5 {
  height: 25.21331058rem;
  background: #b8e5f6;
}
.zt-m5 .zt-title {
  margin-left: auto;
  margin-right: auto;
  height: 4.778157rem;
  background: url('https://img.hzshuangmei.com/m/bgt5.png') center center no-repeat;
  background-size: auto 100%;
}
.zt-m5 .consult {
  height: 3.24232082rem;
  background: url('https://img.hzshuangmei.com/m/bg_consult5.png') center center no-repeat;
  background-size: auto 100%;
}
.zt-m5 .g-doc {
  padding-top: 0.42662116rem;
}
.zt-m5 .zt-content {
  margin-top: 0rem;
}
.zt-m5 .zt-content .g-row {
  text-align: center;
}
.zt-m5 .zt-content .item {
  background: #1d6ea4;
  background-color: rgba(29, 110, 164, 0.53);
  display: inline-block;
  vertical-align: top;
  width: 7.18856655rem;
  height: 8.95904437rem;
}
.zt-m5 .zt-content .item .box {
  padding-left: 3.41296928rem;
  height: 3.41296928rem;
  position: relative;
  text-align: left;
}
.zt-m5 .zt-content .item .box img {
  border-radius: 100%;
  position: absolute;
  top: 0.42662116rem;
  left: 0.21331058rem;
  width: 2.83703072rem;
  height: 2.83703072rem;
}
.zt-m5 .zt-content .item .box .detail h3 {
  padding-top: 1.27986348rem;
  font-size: 0.53327645rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.76791809rem;
  letter-spacing: 0rem;
  color: #ffffff;
}
.zt-m5 .zt-content .item .box .detail span {
  font-size: 0.38395904rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.76791809rem;
  letter-spacing: 0rem;
  color: #ffffff;
}
.zt-m5 .zt-content .item .box .detail .line {
  width: 1.02389078rem;
  height: 1px;
  background: #fff;
}
.zt-m5 .zt-content .item p {
  width: 6.39931741rem;
  text-align: justify;
  padding-left: 0.34129693rem;
  font-size: 0.42662116rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.68259386rem;
  letter-spacing: 0rem;
  color: #ffffff;
}
.zt-m5 .zt-content .item1,
.zt-m5 .zt-content .item3 {
  margin-bottom: 0.51194539rem;
}
.zt-m5 .zt-content .item2,
.zt-m5 .zt-content .item4 {
  margin-left: 0.21331058rem;
}
.zt-m5 .zt-content .item2 p,
.zt-m5 .zt-content .item4 p {
  width: 6.61262799rem;
}
.zt-m5 .zt-content .item3 {
  height: 7.29522184rem;
}
.zt-m5 .zt-content .item4 {
  width: 7.16723549rem;
  height: 7.29522184rem;
  background: url('https://img.hzshuangmei.com/m/bg6.jpg') center center no-repeat;
  background-size: 100%;
}
.zt-m5 .zt-content .consult {
  margin-top: 1.91979522rem;
}
.zt-m6 .zt-title {
  margin-left: auto;
  margin-right: auto;
  height: 2.85836177rem;
  background: url('https://img.hzshuangmei.com/m/bgt6.png') center center no-repeat;
  background-size: auto 100%;
}
.zt-m6 .consult {
  height: 1.74914676rem;
  background: url('https://img.hzshuangmei.com/m/bg_consult6.png') center center no-repeat;
  background-size: auto 100%;
}
.zt-m6 .g-doc {
  padding-top: 0.85324232rem;
}
.zt-m6 .zt-content {
  margin-top: 1.0665529rem;
}
.zt-m6 .zt-content img {
  display: block;
  margin: 0 auto;
}
.zt-m6 .zt-content .g-row {
  text-align: center;
  margin-bottom: 0.51194539rem;
}
.zt-m6 .zt-content .g-row img {
  width: 12.96928328rem;
}
.zt-m6 .zt-content .g-item {
  background: #deeffb;
  box-sizing: border-box;
  height: 3.88225256rem;
}
.zt-m6 .zt-content .item1 {
  width: 7.03924915rem;
  padding: 0 0.76791809rem;
}
.zt-m6 .zt-content .item2 {
  width: 5.97269625rem;
  padding: 0 0.85324232rem;
  margin-left: 0.04266212rem;
}
.zt-m6 .zt-content .item3 {
  width: 7.03924915rem;
  padding: 0 0.76791809rem;
}
.zt-m6 .zt-content .item4 {
  width: 5.97269625rem;
  padding: 0 0.42662116rem;
  margin-left: 0.04266212rem;
}
.zt-m6 .zt-content p {
  font-size: 0.38395904rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.51194539rem;
  letter-spacing: 0rem;
  color: #4982aa;
  text-align: left;
}
.zt-m6 .zt-content .title {
  margin: 0.42662116rem 0 0.21331058rem;
  font-size: 0.42662116rem;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.68259386rem;
  letter-spacing: 0rem;
  color: #397198;
  position: relative;
}
.zt-m6 .zt-content .title span {
  background: url('https://img.hzshuangmei.com/m/bg6_point.png');
  display: block;
  width: 0.17064846rem;
  height: 0.17064846rem;
  position: absolute;
  top: 0.2559727rem;
  left: -0.42662116rem;
}
.zt-m6 .zt-content .g-row2 {
  width: 15.99829352rem;
  height: 4.05290102rem;
  background: #66a2c6;
  text-align: justify;
}
.zt-m6 .zt-content .g-row2 p {
  padding-top: 0.76791809rem;
  font-size: 0.46928328rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.68259386rem;
  letter-spacing: 0rem;
  color: #ffffff;
  text-align: center;
}
.zt-m6 .zt-content .g-row2 p span {
  padding-top: 0.21331058rem;
  font-size: 0.76791809rem;
  font-weight: normal;
  letter-spacing: 0rem;
  color: #ffffff;
  display: block;
}
.zt-m6 .consult {
  width: 8.2337884rem;
  margin-top: 1.49317406rem;
}
.zt-m7 {
  background: url('https://img.hzshuangmei.com/m/bg7.jpg') center top no-repeat;
}
.zt-m7 .zt-title {
  margin-left: auto;
  margin-right: auto;
  height: 2.73037543rem;
  background: url('https://img.hzshuangmei.com/m/bgt7.png') center center no-repeat;
  background-size: auto 100%;
}
.zt-m7 .consult {
  height: 1.74914676rem;
  background: url('https://img.hzshuangmei.com/m/bg_consult7.png') center center no-repeat;
  background-size: auto 100%;
}
.zt-m7 .g-doc {
  padding-top: 0.21331058rem;
}
.zt-m7 .zt-content {
  margin-top: 0.85324232rem;
}
.zt-m7 .zt-content img {
  display: block;
  width: 12.7559727rem;
  height: 16.46757679rem;
  margin: 0 auto;
}
.zt-m7 .consult {
  margin-top: 0.63993174rem;
  width: 7.16723549rem;
}
.zt-m8 {
  height: 21.20307167rem;
  background: url('https://img.hzshuangmei.com/m/bg8.jpg') center top no-repeat;
}
.zt-m8 .zt-title {
  margin-left: auto;
  margin-right: auto;
  height: 1.62116041rem;
  background: url('https://img.hzshuangmei.com/m/bgt8.png') center center no-repeat;
  background-size: auto 100%;
}
.zt-m8 .zt-title {
  /*margin-left: 420rem/@fb;*/
}
.zt-m8 .g-doc {
  padding-top: 1.0665529rem;
  padding-bottom: 0;
  height: 18.98464164rem;
  position: relative;
}
.zt-m8 .zt-content {
  padding-left: 5.97269625rem;
  padding-top: 1.0665529rem;
  padding-right: 0.85324232rem;
  height: 14.93174061rem;
  background: url('https://img.hzshuangmei.com/m/bg8_border.png') 4.90614334rem 1.79180887rem no-repeat;
  background-size: 5.07679181rem;
}
.zt-m8 .zt-content img {
  position: absolute;
  left: -5.97269625rem;
  bottom: -9.17235495rem;
}
.zt-m8 .zt-content h3 {
  font-size: 1.0665529rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.76791809rem;
  letter-spacing: 0.01279863rem;
  color: #5b5865;
  text-align: right;
}
.zt-m8 .zt-content ul {
  /*padding-left: 20rem/@fb;*/
  margin-top: 0.42662116rem;
}
.zt-m8 .zt-content ul li {
  /*display: block;*/
  position: relative;
  padding-left: 0.42662116rem;
  font-size: 0.51194539rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02389078rem;
  letter-spacing: 0.00426621rem;
  color: #68626f;
}
.zt-m8 .zt-content ul li::before {
  display: block;
  position: absolute;
  top: 0.34129693rem;
  left: -0.21331058rem;
  content: "";
  width: 0.34129693rem;
  height: 0.34129693rem;
  border-radius: 100%;
  background: #e45b6d;
  opacity: .7;
}
.zt-m8 .zt-content .item1 {
  position: absolute;
  visibility: hidden;
}
.zt-m8 .zt-content .item1 img {
  /*top: 70rem/@fb;*/
  width: 10.79351536rem;
}
.zt-m8 .zt-content .item2 {
  position: absolute;
  visibility: hidden;
}
.zt-m8 .zt-content .item2 ul {
  position: relative;
  left: 0rem;
}
.zt-m8 .zt-content .item2 img {
  bottom: -10.19624573rem;
  width: 7.63651877rem;
}
.zt-m8 .zt-content .active {
  visibility: visible;
}
.zt-m8 .zt-content .tab-indicator {
  position: absolute;
  right: 0.42662116rem;
  bottom: 5.11945392rem;
  z-index: 2;
}
.zt-m8 .zt-content .tab-indicator div {
  display: inline-block;
  background-color: rgba(138, 175, 212, 0.65);
  padding: 0.08532423rem 0.12798635rem;
}
.zt-m8 .zt-content .tab-indicator .active {
  background-color: rgba(92, 138, 188, 0.7);
}
.zt-m8 .zt-content .tab-indicator p {
  font-size: 0.46928328rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.51194539rem;
  letter-spacing: 0.00426621rem;
  color: #ffffff;
}
.zt-m8 .zt-content .tab-indicator p span {
  display: block;
  font-size: 0.2559727rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.2559727rem;
  letter-spacing: 0.1px;
  color: #ffffff;
  text-transform: uppercase;
}
.zt-m8 .consult-box {
  position: absolute;
  right: 2.77303754rem;
  bottom: 1.0665529rem;
}
.zt-m8 .consult-box .consult {
  display: inline-block;
}
.zt-m8 .consult-box .consult1 {
  width: 4.94880546rem;
  height: 1.15187713rem;
  background: url('https://img.hzshuangmei.com/m/bg_consult82.png') center center no-repeat;
  background-size: 100%;
}
.zt-m8 .consult-box .consult2 {
  width: 4.94880546rem;
  height: 1.15187713rem;
  background: url('https://img.hzshuangmei.com/m/bg_consult81.png') center center no-repeat;
  background-size: 100%;
}
