body, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, html, input, label, ol, li, p, textarea, ul {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #555
}
a:hover {
    text-decoration: none
}
ol, ul, li {
    list-style: none
}
body {
    font-family: Helvetica,"Alibaba-PuHuiTi-Regular","Alibaba-PuHuiTi-Medium",Arial,sans-serif;
    overflow-x: hidden;
    position: relative;
}

@font-face {
    font-family: "Alibaba-PuHuiTi-Regular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Alibaba-PuHuiTi-Regular.ttf") format("truetype"),url("../fonts/Alibaba-PuHuiTi-Regular.woff") format("woff"), url("../fonts/Alibaba-PuHuiTi-Regular.svg") format("svg");
}
@font-face {
    font-family: "Alibaba-PuHuiTi-Medium";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Alibaba-PuHuiTi-Medium.ttf") format("truetype"),url("../fonts/Alibaba-PuHuiTi-Medium.woff") format("woff"), url("../fonts/Alibaba-PuHuiTi-Medium.svg") format("svg");
}

@font-face {
    font-family: "arialmt";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/arialmt.ttf") format("truetype"),url("../fonts/arialmt.woff") format("woff"), url("../fonts/arialmt.svg") format("svg");
}

._w1400{ width: 1440px; margin: 0 auto}
._bone {  min-width: 1440px;  }
.main{ background-color: white; padding: 0px;}
.banner{ width: 100%;  position: relative;}
.banner a img { width: 100%;  min-width: 1440px;  }

._w1400{ width: 1440px; margin: 0 auto}
._bone {  min-width: 1440px;  }
.main{ background-color: white; padding: 0px;}
.banner{ width: 100%;  position: relative;}
.banner a img { width: 100%;  min-width: 1440px;  }

.box1{margin-top: 127px; overflow: hidden;}
.box1_con{width: 1163px;margin: 0 auto;margin-top: 53px;text-align: center;}
.box1_tit{ text-align: center}
.box1_en_tit{background: url(../images/entit_bg.png) no-repeat center;background-size: 100%;
    width: 543px;  text-align: center;  height: 38px; background-size: 100%;  margin: 0 auto;  margin-top: 25px;}

.en_tit_bg {
    background: url(../images/entit_bg.png) no-repeat center;
    background-size: 100%;
    width: 543px;
    text-align: center;
    height: 15px;
    margin: 0 auto;
    margin-top: 26px;
}
.tit{ font-family: "Alibaba-PuHuiTi-Regular"; font-size: 60px; color: rgb(82,171,200); line-height: 60px;}
.tit span{ font-family: "Alibaba-PuHuiTi-Medium"; color: rgb(250,140,171)}
.tit2{  font-family: "Alibaba-PuHuiTi-Regular"; color: rgb(82,171,200); font-size: 40px;line-height: 40px;}
.en_tit{font-family: "ArialMT";color: rgb(82,171,200);font-size: 18px;line-height: 18px;}
.con{font-family: "Alibaba-PuHuiTi-Regular";font-size: 22px;color: rgb(102,102,102);line-height: 22px;}
.box1_min{width: 1336px;margin: 0 auto;overflow: hidden;margin-top: 86px;}
.box1_min li{width: 340px;height: 370px;float: left;position: relative;margin-right: 157px;margin-bottom: 97px;}
.box1_min li a{width: 340px;display: block;}
.box1_min li:nth-of-type(3n){ margin-right: 0px;}
.box1_min li span{width: 303px; height: 60px;  background-color: rgb(129,204,227);  display: block;  border-radius: 19px;  font-size: 31px;  font-family: "Alibaba-PuHuiTi-Regular";
    color: rgb(255,255,255);  text-align: center;  line-height: 60px;  position: absolute;  top: 309px;  }
.box1_min li p{ font-family: "Alibaba-PuHuiTi-Medium"; font-size: 25px; color: rgb(130,81,33);margin-top: 40px;}
.box1_min img{ width: 340px; height: 336px;}

.box1_icon{vertical-align: -4%; margin-right: 9px;}
.btn{color: rgb(255,255,255);font-size: 35px;font-family:"Alibaba-PuHuiTi-Regular";}
.btn a{ display: block; color: white;}
.box1_btn{
    width: 422px;
    height: 85px;
    background: url(../images/box1_btn.png) no-repeat;
    background-size: 100%;
    margin: 0 auto;
    margin-top: 23px;
}
.box1_btn span{padding-left: 83px;height: 70px;line-height: 70px;}

.box2{ background-color: rgb(249,249,249);margin-top: 50px; overflow: hidden; width: 100%; }
.box2_en_tit{ margin-top: 19px; text-align: center}
.box2_tit{ margin-top: 96px; text-align: center}
.box2_banner {  width: 1352px;  z-index: 1;  margin: 0 auto; overflow: hidden; margin-top: 109px;  }
.box2_banner li{ float: left;}
.box2_banner li a{ width:651px; height: 859px; display: block}
.box2_banner li:first-child{ margin-right: 50px;}
.box2_banner img{ width:651px; height: 859px; }
.box2_btn{
    width: 469px;
    height: 86px;
    background: url(../images/box2_btn.png) no-repeat;
    background-size: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 108px;
    margin-bottom: 117px;
}
.box2_btn span{padding-left: 43px;height: 70px;line-height: 70px;}

.box3{width: 100%; overflow: hidden; position: relative }
.box3_con{width: 1151px;margin: 0 auto;margin-top: 49px;text-align: center; line-height: 35px;}
.box3_tit{ margin-top: 83px; text-align: center}
.box3_min{width: 1440px;margin: 0 auto;position: relative;overflow: hidden;margin-top: 91px;height: 500px;padding-top: 9px;}
.box3_part_l{ float: left; width: 683px;
    height:481px;}
.box3_part_l ul li{ background: url("../images/box3_conbg.png") center no-repeat;background-size: 100%; width: 683px; height: 191px;}
.box3_part_l ul li:first-child{margin-bottom: 99px;}
.box3_part_r{ float: right}
.box3_part_r ul li{ background: url("../images/box3_conbg2.png") center no-repeat;background-size: 100%; width: 683px; height: 191px;}
.box3_part_r ul li:first-child{margin-bottom: 99px;}

.box3_part_l .span1{line-height: 32px;font-size: 32px;font-family: "Alibaba-PuHuiTi-Regular";color: rgb(254,254,254);min-width: 92px;display: block;width: 153px;float: left;}
.box3_part_l .span2{
    font-size: 20px;
    font-family: "Alibaba-PuHuiTi-Regular";
    color: rgb(254,254,254);
    width: 256px;
    min-width: 235px;
    display: block;
    float: left;
    line-height: 23px;
}

.box3_part_r .span1{line-height: 32px;font-size: 32px;font-family: "Alibaba-PuHuiTi-Regular";color: rgb(254,254,254);min-width: 92px;display: block;width: 132px;text-align: right;float: right;}
.box3_part_r .span2{
    font-size: 20px;
    font-family: "Alibaba-PuHuiTi-Regular";
    color: rgb(254,254,254);
    width: 256px;
    min-width: 235px;
    display: block;
    float: right;
    line-height: 23px;
}

.box3_con_part1 {float: left;padding-top: 58px;text-align: left;padding-left: 22px;}
.box3_con_part2 {float: left;padding-top: 48px;text-align: left;padding-left: 19px;}
.box3_con_part3 {float: left;padding-top: 64px;/* text-align: left; */padding-left: 22px;}
.box3_con_part4 {float: left;padding-top: 61px;text-align: left;padding-left: 19px;}
.box3_con_part5 {float: left;padding-top: 38px;/* text-align: right; */padding-right: 44px;}
.box3_con_part6 {float: left;padding-top: 25px;text-align: left;padding-right: 25px;}
.box3_con_part7 {float: left;padding-top: 60px;text-align: left;padding-right: 42px;}
.box3_con_part8 {float: left;padding-top: 49px;text-align: left;padding-right: 22px;}
.box3_img{width: 500px;height: 501px;position: absolute;top: 0px;left: 450px;z-index: 9999;}
.box3_btn{
    width: 511px;
    height: 82px;
    background: url(../images/box3_btn.png) no-repeat;
    background-size: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 86px;
}
.box3_btn span{padding-left: 43px;height: 70px;line-height: 70px;}


.box4{ background: url("../images/box4_bg.jpg") no-repeat center;background-size: 100%; width: 1920px; height: 903px; margin-top:120px; overflow: hidden;position: relative }
.box4_min{ width: 1440px; height: 691px; background: rgba(255,255,255,0.87); margin: 0 auto; margin-top: 106px; overflow: hidden;  }
.box4_en_tit{
    background: url(../images/entit_bg.png) no-repeat center;
    background-size: 100%;
    width: 655px;
    text-align: center;
    height: 38px;
    margin: 0 auto;
    margin-top: 25px;
}
.box4_tit{margin-top: 100px;text-align: center;}
.box4_con{background: url("../images/box4_conbg.png") no-repeat center;background-size: 100%;width: 1297px;height: 326px;margin: 0 auto;overflow: hidden;}
.box4_part{
    font-size: 30px;
    font-family: "Alibaba-PuHuiTi-Regular";
    color: rgb(102,102,102);
    width: 1150px;
    height: 162px;
    margin: 0 auto;
    line-height: 44px;
    text-align: center;
    margin-top: 68px;
}
.box4_part span{color:rgb(250,140,171); }
.box4_btn{
    width: 510px;
    height: 83px;
    background: url(../images/box4_btn.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 620px;
    left: 703px;
}
.box4_btn span{padding-left: 28px;height: 63px;line-height: 65px;}

.box5{ overflow: hidden; width: 100%; }
.box5_en_tit{ margin-top: 19px; text-align: center}
.box5_tit{margin-top: 186px;text-align: center;}
.box5_banner li{float: left; margin-right: 65px; position: relative;}
.box5_banner {width: 1393px;z-index: 1;margin: 0 auto;overflow: hidden;margin-top: 106px;position: relative;}
.box5_swiper .swiper-wrapper .swiper-slide a{  display: block;  width: 421px;  height: 100%;  text-decoration: none;  }
.box5_swiper .swiper-wrapper .swiper-slide a img{height: 506px; width: 421px;}
.box5_swiper .swiper-wrapper .swiper-slide{height: 506px;background: none;}

.box5_swiper img{width: 421px;height: 506px;}
.box5_swiper{height: 830px;}
.box5_swiper a{width: 421px;display: block;line-height: 0;}
.box5_swiper a:nth-of-type(2){ margin-right: 0px;}
.box5 .swiper-pagination-bullets{bottom: 0px;text-align: center;}
.box5 .swiper-pagination-bullet{width: 20px;height: 21px;}
.box5 .swiper-pagination-bullets .swiper-pagination-bullet{ margin: 0 17px}
.box5 .swiper-pagination-bullet-active{ background: rgb(82,171,200);}
.doc_pos{
    font-family: "Alibaba-PuHuiTi-Regular";
    font-size: 26px;
    color:rgb(255,255,255);
    background-color: rgb(250,140,171);
    border-radius: 0px 21px 21px 0px;
    width: 162px;
    height: 42px;
    top: 448px;
    position: absolute;
    left: 0px;
}
.doc_pos span{ margin-left: 17px;}
.doc_txt{ width: 421px; height:215px; text-align: center;
    background: -webkit-linear-gradient(left, rgb(100,183,211) , rgb(133,201,223)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgb(100,183,211), rgb(133,201,223)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgb(100,183,211), rgb(133,201,223)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgb(100,183,211) , rgb(133,201,223)); /* ??????????????????? */  }
.doc_txt_p1{
    font-size: 27px;
    font-family: "Alibaba-PuHuiTi-Regular";
    color: rgb(255,255,255);
    width: 338px;
    height: 47px;
    border-bottom: 2px dotted white;
    margin: 0 auto;
    line-height: 30px;
    padding-top: 23px;
}
.doc_txt ol{font-size: 22px;font-family: "Alibaba-PuHuiTi-Regular";color: rgb(255,255,255);}
.ol_w1{width: 229px;height: 56px;margin: 0 auto;margin-top: 16px;}
.doc_txt ol li{float: left;margin-right: 32px;}
.doc_txt ol li span{width: 7px;height: 6px;display: inline-block;background-color: white;border-radius: 50%;vertical-align: -40%;margin-right: 3px;}
.doc_txt ol li:nth-of-type(2n){ margin-right: 0px;}
.pos_w4{ width: 260px;}
.wol1{width: 350px;}
.wol2{width: 240px;}
.wol3{width: 340px;}
.wol4{width: 355px;}
.wol1 .liw{margin-right: 5px;}
.wol2 .liw{ margin-right: 45px;}
.wol3 .liw{margin-right: 56px;}
.wol4 .liw{margin-right: 10px;}
.box5_btn{width: 428px;
    height: 83px;
    background: url(../images/box5_btn.png) no-repeat;
    background-size: 100%;
    position: relative;  margin: 0 auto; margin-top: 50px;}
.box5_btn span{padding-left: 32px;height: 70px;line-height: 70px;}
.box5_swiper img {
    width: 421px;
    height: 506px;
}



.box6{background-color: rgb(249,249,249);margin-top: 50px;overflow: hidden;width: 100%;/* position: relative; */}
.box6_min{width: 1392px;overflow: hidden;margin: 0 auto;margin-top: 49px;/* position: relative; */}
.box6_min li{width: 456px;height:561px;float: left;margin-right:12px;position: relative;}
.box6_min li:nth-of-type(3){margin-right: 0px;}
.box6_min img{ width: 456px; height: 561px;}

.title3 {position: absolute;font-family: "Alibaba-PuHuiTi-Regular";font-size: 41px;line-height: 31px;color: #fff;}
.title4 {position: absolute;width: 363px;font-family: "Alibaba-PuHuiTi-Regular";font-size: 23px;line-height: 30px;color: #fff;}
.title3_1 {top: 317px;left: 145px;}
.title3_2 {top: 54px;left: 146px;}
.title3_3 {top: 318px;left: 148px;}
.title4_1 {top: 406px;left: 65px;}
.title4_2 {top: 142px;left: 42px;}
.title4_3 {top: 685px;right: 26px;}
.box6_btn{width: 382px;
    height: 84px;
    background: url(../images/box6_btn.png) no-repeat;
    background-size: 100%;
    position: relative;  margin: 0 auto; margin-top: 96px; margin-bottom: 100px;}
.box6_btn span{ padding-left: 59px; height: 70px; line-height: 70px;}

.box7{overflow: hidden;width: 100%;height: 655px;}
.box7_tit{color: rgb(82,171,200);font-size: 60px;line-height: 60px;font-family: "Alibaba-PuHuiTi-Medium";text-align: center;margin-top: 112px;}
.box7_tit img{ margin-left: 15px; vertical-align: -5%; width: 53px; height: 53px;}
.box7_tit span{ display: inline-block}
.box7_con{width: 1397px;height: 283px;border:3px solid rgba(130,81,33,0.09);margin: 0 auto;margin-top: 41px;position: relative;}
.box7_min{width: 855px;height: 182px;margin-top: 51px;margin-left: 35px;}
.box7_num{
    background: url("../images/box7_num.png") no-repeat;
    background-size: 100%;
    width: 22px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 19px;
    color:rgb(249,249,249);
    font-family: "Alibaba-PuHuiTi-Regular";
    font-size: 19px;
    vertical-align: 18%;
}
.box7_min li{font-family: "Alibaba-PuHuiTi-Regular";width: 340px;font-size: 32px;color: rgb(82,171,200);float: left;margin-right: 0px;line-height: 60px;}
.box7_min li:nth-of-type(2n){ margin-right: 0px;}
.box7_min li a{color: rgb(82,171,200);margin-left: 19px;}
.box7_ren{position: absolute;top: -99px;right: 90px;}
.box7_ren img{width: 205px; height: 409px}
.box7_btn{width: 281px;height: 73px;background: url(../images/box7_btn.png) no-repeat;background-size: 100%;position: absolute;top: 251px;right: 50px;}
.box7_btn span{padding-left: 51px;height: 160px;line-height: 38px;font-size: 30px;}

.box8{ background-color: rgb(249,249,249);overflow: hidden; width: 100%;}
.box8_img{text-align: center;width: 1864px;height: 1281px;margin: 0 auto;display: block;margin-top: 71px;}
.box8_btn{width: 342px;
    height: 84px;
    background: url(../images/box8_btn.png) no-repeat;
    background-size: 100%;
    position: relative;  margin: 0 auto; margin-top: 63px; margin-bottom: 145px;}
.box8_btn span{ padding-left: 62px; height: 70px; line-height: 70px;}

.zx{animation: myfirst 1s infinite;}
@keyframes myfirst {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}