* {
    padding: 0;
    margin: 0;

    font-family: "微软雅黑";
    font-weight: normal;
    list-style: none;
}
a {
    text-decoration: none;

    color: white;
}
a:hover {
    text-decoration: none;
}
h3 {
    font-weight: normal;
}
body {
    overflow-x: hidden;
}
.yinshen {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
.bk {
    display: block;
    margin: auto;
}
.zslbcon {
    font-size: 0;
}
.mncon {
    position: relative;

    width: 1200px;
    padding-top: 1px;
    margin: auto;
}
.banner img {
    width: 100%;
}
.m1tit {
    margin: 98px 0 102px;

    text-align: center;
}
.m1tit > img {
    width: 455px;
}
.zszx {
    position: relative;

    display: block;
    height: 68px;
    margin: auto;

    font-size: 36px;
    line-height: 68px;

    border-radius: 10px;
    background-color: #9c3921;
}
.zszx::after {
    position: absolute;
    right: 26px;
    bottom: 23px;

    content: "";

    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 19px solid white;
    background-color: #9c3921;
}
.m1zx {
    width: 234px;
    margin: 98px auto 58px;
}
/*.m1zx::after{*/
/*}*/
.zszx span {
    margin-left: 27px;
    /* margin-left: 109px; */
}
.m5zx span {
    margin-left: 109px!important;
}
.m2 {
    height: 975px;

    background: url("//img.hzshuangmei.com/pc/zslb/m2bg.jpg") no-repeat center;
}
.m2tit {
    margin: 90px auto 0;

    text-align: center;
}
.m2con > p {
    position: absolute;

    height: 67px;

    font-size: 35px;
    line-height: 67px;

    text-align: center;

    color: #7e2307;
    background-color: #f6dcb3;
}
.m2con > p::after {
    position: absolute;
    top: 25px;

    content: " ";

    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
}
.m2p2::after,
.m2p4::after,
.m2p6::after {
    left: -16px;

    border-right: 16px solid #f6dcb3;
    border-left: 0 solid #f6dcb3;
}
.m2p1::after,
.m2p3::after,
.m2p5::after {
    right: -16px;

    border-right: 0 solid #f6dcb3;
    border-left: 16px solid #f6dcb3;
}
.m2p1 {
    top: 362px;
    left: 60px;

    width: 254px;
}
.m2p2 {
    top: 392px;
    right: 36px;

    width: 267px;
}
.m2p3 {
    top: 496px;
    left: 20px;

    width: 254px;
}
.m2p4 {
    top: 542px;
    right: 62px;

    width: 279px;
}
.m2p5 {
    top: 635px;
    left: 112px;

    width: 255px;
}
.m2p6 {
    top: 664px;
    right: 5px;

    width: 298px;
}
.m2zx {
    width: 412px;
    height: 68px;
    margin-top: 572px;
}
.m3tit {
    margin-top: 108px;
    margin-bottom: 38px;

    text-align: center;
}
.m3tit img {
    width: 476px;
}
.m3p1 {
    margin-bottom: 32px;

    font-size: 22px;
    line-height: 36px;

    text-align: center;

    color: #695c5c;
}
.m3lb {
    position: relative;

    width: 1200px;
    margin-bottom: 80px;
}
.m3lbcon {
    width: 543px;
    height: 500px;

    border: solid 3px #9c3921;
}
.m3lbcon span {
    display: block;
}
.m3lbcon > :nth-child(1) {
    margin: 17px 0 0 14px;

    font-size: 119px;
    font-style: italic;
    line-height: 119px;

    color: #9c3921;
}
.m3lbcon > :nth-child(2) {
    margin: 10px 0 20px 30px;

    font-size: 36px;
    line-height: 36px;

    color: #8f7b79;
}
.m3lbcon > :nth-child(3) {
    width: 44px;
    height: 8px;
    margin: 0 0 0 35px;

    background-color: #9c3921;
}
.m3lbcon > :nth-child(4) {
    width: 448px;
    margin: 38px 0 28px 24px ;

    font-size: 18px;
    line-height: 28px;

    color: #695c5c;
}
.m3lbcon ul {
    margin-left: 29px;

    font-size: 18px;
    line-height: 28px;

    color: #695c5c;
}
.m3lbcon ul :first-child {
    font-weight: bold;
}
.m3lb2 {
    margin-left: auto;
}
.m3img1 {
    position: absolute;
    top: 27px;
    right: 0;

    width: 674px;
}
.m3img2 {
    position: absolute;
    top: 27px;
    left: 0;

    width: 664px;
}
.m3con a {
    position: relative;

    display: inline-block;
    height: 46px;
    margin-top: 46px;
    margin-right: 10px;

    vertical-align: top;

    border-radius: 10px;
    background-color: #9c3921;
}
.m3con a::after {
    position: absolute;
    top: 15px;
    right: 25px;

    content: " ";

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 14px solid #fff;
}
.m3con a span {
    margin-left: 15px;

    font-size: 22px;
    line-height: 46px;
}
.m3lba1 {
    width: 268px;
}
.m3lba2 {
    /* width: 268px; */
    width: 217px;
}
.m3lba3 {
    width: 285px;
    margin-left: 551px;
}
.m3con .m3lba2  span {
    /* margin-left: 18px; */
    margin-left: 27px;
}
.m3con .m3lba3 span {
    margin-left: 26px;
}
.m3con .m3lba4 span {
    margin-left: 20px;
}
.m3lba4 {
    width: 344px;
}
.m3con .m3lba3::after,
.m3con .m3lba4::after {
    right: 14px;
}
.m4 {
    height: 1305px;

    background: url("//img.hzshuangmei.com/pc/zslb/m4bg.jpg") no-repeat center;
}
.m4tit {
    margin-top: 98px;
    margin-bottom: 36px;

    text-align: center;
}
.m4tit img {
    width: 618px;
}
.m4p1 {
    font-size: 22px;
    line-height: 36px;

    text-align: center;

    color: #4d1505;
}
.m4js1 {
    margin-right: 12px;
}
.m4js {
    display: inline-block;
    width: 594px;
    height: 715px;
    margin-top: 54px;

    vertical-align: top;

    background-color: rgba(255, 255, 255, .52);
    box-shadow: 3px 6px 8px 0
    rgba(222, 215, 205, .26);
}
.m4js > :nth-child(1) {
    display: block;
    margin: 56px 0 0 23px;

    font-size: 32px;
    line-height: 32px;

    letter-spacing: 2px;

    color: #262222;
}
.m4js > :nth-child(2) {
    margin: 23px 0 17px 23px;

    font-size: 24px;
    line-height: 32px;

    color: #332d2c;
}
.m4js > :nth-child(3) {
    display: block;
    width: 543px;
    height: 1px;
    margin-left: 23px;

    background-color: rgba(128, 112, 112, .5);
}
.m4js > :nth-child(4) {
    width: 538px;
    margin: 32px 0 53px 24px;

    font-size: 18px;
    line-height: 28px;

    color: #4d4343;
}
.m4js2 > :nth-child(4) {
    width: 512px;
    margin-bottom: 25px;
}
.m4js img {
    height: 330px;
    margin-left: 20px;
}
.m4zx {
    width: 570px;
    margin-top: 52px;
}
.m5 {
    height: 1140px;

    background-color: #ebeaea;
}
.m5tit {
    margin-top: 120px;

    text-align: center;
}
.m5tit img {
    width: 644px;
}
.m5_tab1 {
    width: 258px;
    margin-top: 182px;
}
.m5_tab1 li {
    width: 220px;
    height: 85px;
    padding-left: 38px;
    margin-bottom: 20px;
    margin-left: 45px;

    font-size: 35px;
    line-height: 85px;

    color: #f6e2c3;
    border-radius: 10px;
    background-color: #d9ad5f;
    box-shadow: 2px 4px 5px 0;
}
.m5_tab1 .m5active1 {
    margin-left: 0;

    background-color: #ab7115;
}
.m5_tab2 {
    position: absolute;
    top: 349px;
    right: 0;

    width: 1007px;
}
.m5_tab2 li {
    display: none;
}
.m5_tab2 .m5active2 {
    display: block;
}
.m5_tab2 img {
    width: 1007px;
}
.m6tit {
    margin: 82px auto 120px ;

    text-align: center;
}
.m6tit img {
    width: 736px;
}
.m6 .huang {
    height: 340px;
    margin-top: 490px;
    margin-bottom: 277px;

    background-color: #f9eed7;
}
.m6ys {
    position: absolute;
    top: 344px;
    left: 50%;

    width: 1168px;
    height: 884px;
    margin-left: -584px;

    background: url("//img.hzshuangmei.com/pc/zslb/m6img1.jpg") no-repeat center;
}
.m6ysl,
.m6ysz,
.m6ysg {
    position: absolute;

    width: 324px;
    height: 117px;
    padding-top: 23px;
    padding-left: 22px;

    background-color: rgba(156, 57, 33, .85);
}
.m6ysl {
    bottom: 65px;
    left: -20px;
}
.m6ysz {
    bottom: 88px;
    left: 377px;
}
.m6ysg {
    bottom: 65px;
    left: 775px;
}
.m6ys div p:nth-child(1) {
    font-size: 29px;
    line-height: 29px;

    color: #f6e2c3;
}.m6ys div p:nth-child(2) {

    margin-top: 14px;

    font-size: 18px;
    line-height: 26px;

    color: #f6e2c3;
}

.m6ys div span {
    font-size: 20px;
    line-height: 20px;
}
.m6zx {
    position: absolute;
    top: 920px;
    left: 50%;

    width: 398px;
    margin-left: -230px;
}
.m5zx {
    width: 387px;
    padding-left: 10px;
    margin-top: 175px;
    margin-left: 495px;
}
