body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    font-size: 14px;

    color: #555;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

a {
    cursor: pointer;
    text-decoration: none;

    color: #555;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

img {
    border: none;
}

ol,
ul,
li {
    list-style: none;
}

input,
textarea,
select,
button {
    font: 14px Verdana,Helvetica,Arial,sans-serif;

    border: 1px solid #999;
}

table {
    border-collapse: collapse;
}

.clearFix:after {
    display: block;
    clear: both;

    content: "";
}

i {
    font-style: normal;
}
.banner {
    display: block;
}

.banner img {
    width: 100%;
}

.m1 {
    width: 16rem;
    margin: 0 auto;
}

h1 img {
    width: 16rem;
    height: 3rem;
    margin-left: -.3rem;
}

.part1 {
    margin-top: 1.6rem;
}

.part1 .tip {
    width: 12.975rem;
    height: 1.025rem;
    margin: 1.2rem auto 1.375rem;

    font-size: .5rem;
    line-height: .75;

    text-align: center;

    color: #fff;
    border-radius: .475rem;
    background-color: #fc6d72;
    box-shadow: 2.5px 4.33px 5px 0 #fc6d72;
}

.part1 .tip span {
    position: relative;
    top: .35rem;

    font-size: 1rem;
}

.box1 {
    float: left;
    width: 5.05rem;
    height: 4.325rem;
    margin: 0 .125rem;

    text-align: center;

    color: #707070;
}

.box1 img {
    width: 5.05rem;
    height: 2.5rem;
}

.box1 h3 {
    margin-top: .6rem;

    font-size: .45rem;
}

.ask {
    display: block;
    width: 5.6rem;
    height: 1.05rem;
    margin: 1.075rem auto 0;

    font-size: .55rem;
    line-height: 1.05rem;

    text-align: center;

    color: #ee6d72;
    border-width: .05rem;
    border-style: solid;
    border-color: #cf9ea1;
    border-radius: .375rem;
}

.ask span {
    width: .05rem;
    height: 1rem;
    margin-left: .2rem;

    color: #cf9ea1;
}

.ask i {
    position: relative;
    top: .15rem;

    display: inline-block;
    width: .65rem;
    height: .7rem;

    background: url(https://img.hzshuangmei.com/m/slxc/click.png) no-repeat top center;
    background-size: cover;
}

.content2 {
    margin-top: 1.8rem;
}

.box2 {
    width: 15.7rem;
    height: 6.55rem;
    margin: .85rem auto 0;

    text-align: center;

    border-radius: .25rem;
    background-color: #fdd6d5;
    box-shadow: .001rem .002rem .001rem .1rem rgba(0, 82, 75, .06);
}

.box2 h2 {
    position: relative;
    top: .5rem;

    margin: 0 auto 1.33rem;

    font-size: .75rem;

    color: #ee6d72;
}

.box2 .standard {
    height: 4.25rem;

    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    background-color: #fff;
}

.standard .example {
    position: relative;
    top: -.7rem;
}

.standard .example .f_c {
    -webkit-animation: scaleAC 2s linear 1s infinite;
       -moz-animation: scaleAC 2s linear 1s infinite;
        -ms-animation: scaleAC 2s linear 1s infinite;
         -o-animation: scaleAC 2s linear 1s infinite;
            animation: scaleAC 2s linear 1s infinite;

    color: #ee6d72;
}

.standard .example > div {
    float: left;
    margin-left: .825rem;

    font-size: .45rem;

    color: #707070;
}

.standard .example > div img {
    width: 4.05rem;
    height: 2.8rem;
}

.standard .example > div p {
    margin-top: 8px;
}

.part2 {
    height: 23rem;

    background: url(https://img.hzshuangmei.com/m/slxc/bg_01.png) no-repeat top center;
    background-size: cover;
}

.part2 h1 {
    padding-top: 2.1rem;
    padding-bottom: 1.2rem;
}

.part2 .content3 .lun1 img {
    width: 9.25rem;
    height: 15.85rem;
}

.part2 .content3 .lun2 {
    margin-left: -.8rem;
}

.part2 .content3 .lun2 img {
    width: 8.7rem;
    height: 16.389999rem;
}

.part2 .content3 .lun_font {
    margin-top: 1rem;
    margin-left: -10%;
}

.part2 .content3 .lun_font img {
    width: 1.75rem;
    height: 10.975rem;
}

.part2 .content3 .lun_font .lun_f {
    margin-left: .45rem;
}

.part2 .content3 .lun_font > div h3 {
    margin: 0 0 .125rem;

    font-size: .55rem;

    color: #f66066;
}

.part2 .content3 .lun_font > div p {
    font-size: .5rem;

    color: #707070;
}

.part2 .content3 .lun_font > div .p2 {
    margin-bottom: .6rem;
}

.part2 .content3 .lun_font > div .p3 {
    margin-bottom: .3rem;
}

.part2 .content3 .lun_font > div .p4 {
    margin-bottom: 1.2rem;
}

.part2 .content3 .lun_font > div .p5 {
    margin-bottom: .6rem;
}

.part2 .content3 .lun_font2 {
    position: relative;

    margin-left: 1%;
}

.part2 .content3 .lun_font2 img {
    width: 1.75rem;
    height: 9.65rem;
}

.part2 .ask {
    margin-left: -1rem;
}

.part3 {
    margin-top: 1.8rem;
}
.part3 .content4 {
    margin-top: 1.0rem;
    margin-bottom: 1.3rem;
}
.part3 .advantage {
    width: 15.625rem;
    height: 4.475rem;
    margin: .5rem auto 0;

    border-width: 1px;
    border-style: solid;
    border-color: #dfdfdf;
    border-radius: .6rem;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(184, 189, 188, .17);
}

.part3 .advantage img {
    float: left;
    width: 7.775rem;
    height: 4.49rem;
}

.part3 .advantage .yuan {
    position: relative;

    display: inline-block;
    float: left;
    width: 2.325rem;
    height: 2.325rem;
    margin-top: 1.2rem;
    margin-left: -1.2rem;

    font-size: .6rem;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background-color: rgba(238,109,114,.702);
}

.part3 .advantage .yuan1 {
    position: relative;
    left: 1.8rem;
}

.part3 .advantage p {
    float: left;
    margin-top: 1.2rem;
    margin-left: .25rem;

    font-size: .55rem;

    text-align: center;

    color: #707070;
}

.part3 .advantage .yuan span {
    position: relative;
    top: .35rem;
}

.part3 .advantage .lei {
    margin-left: 1rem;
}

.part3 .advantage .img1 {
    float: right;
}
.part4 {
    margin-top: -.8rem;
}
.part4 .part4_m {
    height: 20.65rem;

    background: url(https://img.hzshuangmei.com/m/slxc/bg_02.png) no-repeat top center;
    background-size: cover;
}

.part4 .content5 {
    padding-top: 1.2rem;
}

.part4 .content5_1 {
    padding-top: 1.5rem;
}

.part4 .content5 .p4_01 img {
    width: 7.225rem;
    height: 8.275rem;
    margin-left: .15rem;
}

.part4 .p4_font {
    width: 53.5%;

    text-align: center;
}

.part4 .p4_font h4 {
    margin-bottom: .5rem;

    font-size: .6rem;
    font-weight: 700;

    color: #ee6d72;
}

.part4 .p4_font p {
    font-size: .45rem;
    line-height: 1.5;

    color: #707070;
}

.part4 .p4_font p span {
    color: #ee6d72;
}

.part4 .p4_font p .span1 {
    font-weight: 700;
}

.part4 .p4_font1 {
    margin-top: -3.3rem;
}

.part4 .p4_font1 img {
    width: 3.75rem;
    height: 2.55rem;
}

.part4 .p4_f1 {
    margin-top: .6rem;
    margin-left: .1rem;
}

.part4 .p4_font a {
    margin-top: .5rem;
}

.part4 .p4_pic img {
    width: 11.45rem;
    height: 4.4rem;
    margin: -.8rem 0 0 4.175rem;
}

.part4 .p4_pic1 img {
    width: 11.45rem;
    height: 4.4rem;
    margin: -.8rem 0 0 .5rem;
}

.part5 {
    margin-top: 1.5rem;
}

.part5 .content6_1 {
    height: 11.225rem;
    margin-top: 1.1rem;

    background: url(https://img.hzshuangmei.com/m/slxc/p5_01.png) no-repeat;
    background-size: cover;
}

.part5 .content6 {
    width: 15.75rem;
    margin: 0 auto;
}

.part5 .content6 > div {
    float: left;
    margin-top: 4.675rem;

    font-size: .4rem;

    text-align: center;

    color: #868686;
}

.part5 .content6 .fir {
    width: 30%;
    margin-top: -2.9rem;
}

.part5 .content6 .sec {
    width: 39%;
    margin-top: -.9rem;
}

.part5 .content6 .thr {
    float: right;
    width: 30%;
    margin-top: -2.9rem;
}

.part5 .content6 h4 {
    font-size: .6rem;

    color: #4d4d4d;
}

.part5 .content6 h4 span {
    font-size: .45rem;

    color: #ee6d72;
}

.part5 .content6 p {
    margin: .2rem 0 35px;
}

.part5 a {
    position: relative;
    top: -1rem;
}

.part6_1 {
    width: 16rem;
    height: 18.325001rem;
    margin-top: -1.7rem;

    background: url(https://img.hzshuangmei.com/m/slxc/bg_03.png) no-repeat top center;
    background-size: cover;
}

.part6 .content7 {
    width: 11.175rem;
    height: 11.3rem;
    margin: .86rem auto 0;

    background: url(https://img.hzshuangmei.com/m/slxc/p6_01.png) no-repeat center center;
    background-size: cover;
}

.part6 .content7 .p6_02 {
    position: relative;
    left: 8rem;

    width: 5.25rem;
    height: 3.8rem;

    font-size: .6rem;

    -webkit-animation: myfirstUP .8s linear 1s infinite;
       -moz-animation: myfirstUP .8s linear 1s infinite;
         -o-animation: myfirstUP .8s linear 1s infinite;
            animation: myfirstUP .8s linear 1s infinite;
    text-align: center;

    color: #ee6d72;
    background: url(https://img.hzshuangmei.com/m/slxc/p6_02.png) no-repeat;
    background-size: cover;
}

.part6 .content7 .p6_02 span {
    position: relative;
    top: 1rem;
}

.content7_font {
    position: relative;
    top: 3.9rem;
    left: -1.8rem;

    width: 15rem;
    height: 2.05rem;

    font-size: .45rem;

    text-align: center;

    color: #fff;
    border-radius: 10px;
    background-color: rgba(52,189,164,.8);
}

.content7_font span {
    position: relative;
    top: .4rem;
}

.ask img {
    -webkit-animation: scaleAC 2s linear 1s infinite;
       -moz-animation: scaleAC 2s linear 1s infinite;
        -ms-animation: scaleAC 2s linear 1s infinite;
         -o-animation: scaleAC 2s linear 1s infinite;
            animation: scaleAC 2s linear 1s infinite;
}

.ask img:hover {
    -webkit-animation: none;
       -moz-animation: none;
        -ms-animation: none;
         -o-animation: none;
            animation: none;
}

.part1 .ask1,
.part1 .ask2 {
    margin: 1.5rem auto 0;
}

.part2 .content3 > div,
.part2 .content3 .lun_font > div,
.part4 .content5 > div {
    float: left;
}

.part2 .content3 .lun_font > div .p1,
.part2 .content3 .lun_font > div .p6 {
    margin-bottom: .5rem;
}

.part4 h1,
.part6 h1 {
    padding-top: 2.9rem;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 1.5rem;
}

.swiper-pagination-bullet {
    width: .5rem;
    height: .5rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 20px;

    width: 45%;
}

.swiper-pagination-bullet {
    opacity: 1;
    background: #ee6d72;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #34bda4;
}
.part6 {
    padding-bottom: 1rem;
}
