/*!
[目录表]
1- article  本文没有，占位置
2- tt       标题内容
3- part1    有毛毛的烦恼
4- part2    美洲冰点脱毛
5- part3    清凉脱毛的优势
6- part4    脱毛的流程
7- part5    脱毛的方案
8- part6    红妆脱毛权威专家-李杰
9- part7    脱毛案例
10-part8    了解更多
源码基于小超tobe库创建生成，
感谢公司
感谢大漠、感谢结一和雅虎、腾讯等提供的架构资料
感谢lost，chris，云的一路的栽培
*/

* {
    margin: 0;
    padding: 0;
    outline: 0
}

a {
    text-decoration: none
}

body,
html {
    height: 100%
}

html {
    font-size: 100px
}

em,
i {
    font-style: normal
}

body {
    font: "\5FAE\8F6F\96C5\9ED1,Microsoft Yahei";
    margin: 0 auto;
    background: #fff;
    font-size: .12rem;
    margin-top: 40px
}

li,
ul {
    list-style: none
}

img {
    display: block;
    width: 100%
}

.clear {
    clear: both
}

.hidden {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden
}

.footer {
    border: 1px #e1e1e1 solid;
    width: 100%;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fafafa;
    z-index: 9999
}

.padfoot {
    height: 73px
}

.bs {
    color: #fff
}

.ls {
    color: #0a6ca6
}

.spanbar-1 {
    border-right: .87rem solid #055a8c
}

.spanbar-2 {
    border-right: .87rem solid #9edcee
}

.ibar-1 {
    border-left: .87rem solid #055a8c
}

.ibar-2 {
    border-left: .87rem solid #9edcee
}

.zx {
    width: .7rem;
    height: .175rem;
    border: solid 1px #1c82be;
    margin-top: .05rem;
    line-height: .175rem;
    font-weight: bold;
    margin: 0 .02rem 0 .05rem
}

.zx a {
    color: #0a6ba4;
    display: block;
    float: left;
    padding-left: .02rem
}

.zx i {
    border-radius: .13rem;
    margin-top: .02rem;
    width: .13rem;
    height: .13rem;
    background: #0a6ba4;
    display: block;
    float: left
}

.zx i img {
    width: .065rem;
    margin: .02rem auto
}

body {
    background: #d4f1fc
}

.lt {
    float: left
}

.rt {
    float: right
}

.pr {
    position: relative
}

.pa {
    position: absolute
}

.clear {
    clear: both
}

.ov {
    overflow: hidden
}

.ma {
    margin: 0 auto
}

.tt {
    text-align: center;
    margin: .365rem 0 .21rem
}

.tt h2 {
    height: .33rem;
    padding: 0 .12rem;
    line-height: .33rem;
    font-size: .2rem;
    display: inline-block;
    color: #076093;
    border: solid 2px #076093;
    border-radius: .1rem
}

.tt h2 a {
    color: #076093
}

.tt p {
    color: #0c76b4;
    font-weight: bold;
    line-height: .12rem;
    padding: .05rem .13rem
}

.tt hr {
    width: .5rem;
    display: inline-block;
    height: 2px;
    border: none;
    border-top: 2px solid #216e9b
}

.part1 {
    height: 1.6rem;
    color: #055a8c
}

.part1 li {
    width: .785rem;
    float: left;
    height: .8rem
}

.part1 h3 {
    text-align: center;
    margin: .05rem 0
}

.part1 p {
    width: .67rem;
    font-size: .115rem;
    line-height: .15rem;
    margin: 0 auto;
    letter-spacing: -.01rem
}

.part1 li:nth-child(1),
.part1 li:nth-child(3) {
    background: #9edcee
}

.part1 li:nth-child(6),
.part1 li:nth-child(8) {
    background: #055a8c;
    color: #fff
}

.part1 li:nth-child(2) i,
.part1 li:nth-child(4) i {
    width: 0;
    height: 0;
    border: .0575rem solid transparent;
    border-left: .07rem solid #9edcee;
    top: .37rem;
    left: -.005rem
}

.part1 li:nth-child(5) i,
.part1 li:nth-child(7) i {
    width: 0;
    height: 0;
    border: .0575rem solid transparent;
    border-right: .07rem solid #055a8c;
    top: .37rem;
    right: -.005rem
}

.part1-cn {
    margin-top: .3rem;
    height: 1.57rem;
    background: no-repeat url(//img.hzshuangmei.com/m/tuomao2/bl.png) bottom center;
    background-size: 100%;
    color: #0c76b4
}

.part1-cn h3 {
    text-align: center;
    margin: .07rem 0;
    font-weight: bold
}

.part1-cn p {
    margin: .08rem .03rem;
    line-height: .15rem
}

.part1-cn img {
    width: .485rem;
    bottom: -.54rem;
    right: 0
}

.part2 {
    height: 3.09rem;
    background: no-repeat url(//img.hzshuangmei.com/m/tuomao2/bl.png) bottom center;
    background-size: 100%
}

.part2 img {
    width: 1.275rem;
    left: .01rem;
    top: .14rem
}

.part2 .part2-cn {
    width: 2.715rem;
    height: 2.26rem;
    float: right;
    border: solid 2px #aad8ee;
    border-radius: .15rem;
    margin-right: .02rem
}

.part2 .nr {
    width: 1.85rem;
    float: right;
    margin-top: -.19rem
}

.part2 .nr h3 {
    color: #0a6ba4;
    font-size: .14rem;
    line-height: .14rem
}

.part2 .nr h4 {
    margin: .035rem 0 .115rem;
    width: 1.65rem;
    height: .35rem;
    background: #0a6ba4;
    color: #fff;
    text-align: center;
    line-height: .15rem;
    margin: .05rem 0 .1rem
}

.part2 .nr p {
    color: #0a6ba4;
    line-height: .16rem
}

.part3 {
    height: 4.6rem;
    background: no-repeat url(//img.hzshuangmei.com/m/tuomao2/bl.png) bottom center;
    background-size: 100%
}

.part3 img {
    bottom: .25rem;
    right: .01rem
}

.part3 ul {
    height: 3.91rem
}

.part3 ul li {
    position: absolute
}

.part3 ul li span,
.part3 ul li i {
    display: block;
    float: left
}

.part3 ul li span {
    border-top: .87rem solid transparent;
    border-bottom: .87rem solid transparent
}

.part3 ul li i {
    border-top: .87rem solid transparent;
    border-bottom: .87rem solid transparent
}

.part3 ul li div {
    width: 1.74rem;
    height: 1.74rem
}

.part3 ul li div h3 {
    text-align: center;
    height: .23rem;
    font-size: .16rem;
    font-weight: bold;
    margin-top: .34rem;
    line-height: .21rem
}

.part3 ul li div p {
    padding-top: .05rem 0 0 .13rem;
    border-top: solid 1px #9bbdd1;
    line-height: .15rem;
    width: 1.09rem;
    text-align: center;
    margin: .06rem auto
}

.part3 ul li:nth-child(1),
.part3 ul .part1 li:nth-child(3),
.part1 .part3 ul li:nth-child(3) {
    top: 0;
    left: .91rem
}

.part3 ul li:nth-child(2),
.part3 ul .part1 li:nth-child(4),
.part1 .part3 ul li:nth-child(4) {
    top: .91rem;
    left: 0
}

.part3 ul li:nth-child(3) {
    top: 1.25rem;
    right: .01rem
}

.part3 ul li:nth-child(4) {
    top: 2.14rem;
    left: .55rem
}

.part4 {
    height: 1.55rem;
    width: 2.98rem;
    margin: 0 auto;
    border: solid 5px #a4d4ec;
    background: #fff;
    border-radius: .05rem
}

.part4 ul {
    width: 2.9rem;
    height: 1.44rem;
    margin: .05rem auto
}

.part4 ul li {
    float: left;
    width: .94rem;
    height: .7rem;
    margin: .01rem
}

.part5 {
    height: 3.03rem;
    background: no-repeat url(//img.hzshuangmei.com/m/tuomao2/bl.png) bottom center;
    background-size: 100%
}

.part5 ul {
    widvth: 3.075rem;
    height: 2.79rem;
    margin: 0 auto
}

.part5 li {
    height: .46rem;
    margin: .13rem auto
}

.part5 img {
    width: .65rem;
    float: left;
    padding: .08rem
}

.part5 p {
    float: left;
    border-left: solid 3px #6db1d6;
    line-height: .15rem;
    padding-left: .08rem;
    height: .46rem;
    color: #0672b1;
    width: 2.15rem
}

.part6 {
    height: 3.22rem;
    background: #c1ecfc
}

.part6 .topbar {
    height: 1.59rem;
    margin: .215rem 0 .13rem
}

.part6 .topbar .lj-img {
    width: 1.185rem;
    margin-left: .02rem;
    border: solid 1px #6cb0d3;
    float: left
}

.part6 .topbar .top-cn {
    width: 1.92rem;
    float: right
}

.part6 .topbar .top-cn dl {
    height: .26rem;
    border-bottom: solid 1px #6cb0d3;
    color: #0a6ba4
}

.part6 .topbar .top-cn dl dt {
    font-size: .22rem;
    float: left
}

.part6 .topbar .top-cn dl .blue {
    width: .35rem;
    display: block;
    height: .03rem;
    background: #1c82be;
    top: .26rem
}

.part6 .topbar .top-cn ul {
    margin-top: .16rem
}

.part6 .topbar .top-cn ul li {
    color: #0a6ba4;
    line-height: .16rem
}

.part6 .topbar .top-cn ul li span {
    width: .06rem;
    height: .06rem;
    border-radius: .06rem;
    background: #0a6ba4;
    display: block;
    float: left;
    font-size: 23px;
    margin-top: .06rem
}

.part6 .foot-cn {
    height: 1.19rem;
    border-top: solid 1px #5fa7cd;
    color: #5fa7cd
}

.part6 .foot-cn p {
    margin: .11rem .04rem;
    line-height: .15rem
}

.part6 .t52 {
    top: .26rem
}

.part6 .t0 {
    top: 0
}

.part6 .blue {
    width: .35rem;
    display: block;
    height: .03rem;
    background: #1c82be
}

.tt7 {
    margin-top: .16rem;
    height: 1.375rem;
    background: no-repeat url(//img.hzshuangmei.com/m/tuomao2/bl.png) top center;
    background-size: 100%
}

.tt7 .tt {
    margin: .48rem 0 .44rem
}

.part7 {
    background: no-repeat url(//img.hzshuangmei.com/m/tuomao2/bl.png) bottom center;
    background-size: 100%;
    height: 1.955rem
}

.part7 .box {
    width: 2.59rem;
    height: .62rem;
    border-radius: .1rem;
    border: solid 2px #72b6db;
    border-top: none;
    margin: .65rem auto .13rem
}

.part7 ul {
    top: 0
}

.part7 ul li {
    width: .76rem;
    float: left;
    margin: 0 .02rem
}

.part7 ul li img {
    border: solid 1px #1f7db4;
    border-radius: .76rem
}

.part7 ul li p {
    height: .2rem;
    background: #0a6ba4;
    line-height: .2rem;
    text-align: center;
    margin: .1rem 0;
    color: #d4f1fc
}

.p8-img01 {
    width: .89rem;
    top: -.65rem
}

.part8 {
    height: 3.005rem;
    background: no-repeat url(//img.hzshuangmei.com/m/tuomao2/qipao6.png) bottom center;
    background-size: 100%
}

.part8 ul {
    margin: .05rem .15rem;
    width: 2.23rem
}

.part8 ul li {
    height: .22rem
}

.part8 ul li a {
    color: #0a6ba4
}

.part8 ul li span {
    margin-right: .1rem;
    color: #d4f1fc;
    text-align: center;
    line-height: .12rem;
    background: no-repeat url(//img.hzshuangmei.com/m/tuomao2/ioc.png);
    width: .2rem;
    height: .16rem;
    display: inline-block;
    background-size: 100%
}

.part8 img {
    position: absolute
}

.part8 img:nth-child(2) {
    top: 0;
    right: .67rem;
    width: .225rem
}

.part8 img:nth-child(3) {
    top: .21rem;
    right: 0;
    width: .695rem
}

.part8 img:nth-child(4) {
    top: 1.155rem;
    right: .7rem;
    width: .475rem
}

.part8 img:nth-child(5) {
    top: 1.405rem;
    right: 0;
    width: .43rem
}

.part8 img:nth-child(6) {
    top: 2.15rem;
    right: .96rem;
    width: .265rem
}


/*# sourceMappingURL=index.css.map */