.zhuti div img{
    width:100%;
    vertical-align: bottom;
    display:block;
}
.zixun1{
    position:relative
}
.zixun1 .anniu1{
    position: absolute;
    right:0
}
.zixun2{
    position:relative
}
.zixun2 .anniu2{
    position: absolute;
    top: 0.3rem;
    left: 1rem;
}
.zixun2 .anniu3{
    position: absolute;
    top: 1rem;
    left: 1rem;
}