body, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, html, input, label, ol, li, p, textarea, ul {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #555
}
a:hover {
    text-decoration: none
}
ol, ul, li {
    list-style: none
}
body {
    font-family: Helvetica,Arial,sans-serif,"Alibaba-PuHuiTi-Medium","Alibaba-PuHuiTi-Regular";
    overflow-x: hidden;
    position: relative;
}
@font-face {
    font-family: "Alibaba-PuHuiTi-Medium";
    font-style: normal;
    font-weight: normal;
    src: url("//css.hzshuangmei.com/fonts/xdlb/Alibaba-PuHuiTi-Medium.ttf") format("truetype"),url("//css.hzshuangmei.com/fonts/xdlb/Alibaba-PuHuiTi-Medium.woff") format("woff"), url("//css.hzshuangmei.com/fonts/xdlb/Alibaba-PuHuiTi-Medium.svg") format("svg");
}
@font-face {
    font-family: "Alibaba-PuHuiTi-Regular";
    font-style: normal;
    font-weight: normal;
    src: url("//css.hzshuangmei.com/fonts/xdlb/Alibaba-PuHuiTi-Regular.ttf") format("truetype"),url("//css.hzshuangmei.com/fonts/xdlb/Alibaba-PuHuiTi-Regular.woff") format("woff"), url("//css.hzshuangmei.com/fonts/xdlb/Alibaba-PuHuiTi-Regular.svg") format("svg");
}

.main{width: 16.0rem;margin: 0 auto;}   
.banner{width: 100%;}
.banner img{width: 100%;height: auto;}
.box1{width: 100%;margin-top: 0.896rem;}
.box_title{width: 100%;text-align: center;}
.box1 .box_title img{width: 10.581333rem;height: 2.346667rem;}
.box1_min{width: 14.613333rem;margin: 0 auto;margin-top: 1.024rem;}
.box1_min>p{font-size: 0.512rem;color: rgb(77,77,77);font-family: "Alibaba-PuHuiTi-Regular";text-align: center;line-height: 1.024rem;}
.box1_min ul{width: 14.613333rem;margin: 0 auto;margin-top: 1.450667rem;overflow: hidden;}
.box1_min li{width: 4.48rem;float: left;margin-right: 0.576rem;margin-bottom: 1.28rem;}
.box1_min li:nth-of-type(3n){margin-right: 0;}
.box1_min li img{width: 4.48rem;height: 4.650667rem;}
.box1_min li p{font-size: 0.512rem;color: rgb(14,137,177);font-family: "Alibaba-PuHuiTi-Regular";text-align: center;}
.box1_min li p span{color: rgb(14,137,177);font-family: "Alibaba-PuHuiTi-Medium";}
.box_zx{width: 6.485333rem;margin: 0 auto;margin-top: 0.426667rem;position: relative;}
.box_zx a{display: block;}
.box_zx img{width: 6.485333rem;height: 1.216rem;}
.box_zx span{width: 5.034667rem;height: 1.216rem; position: absolute;top:0.0rem;left: 0.0rem;font-size: 0.746667rem;color: rgb(255,255,255);font-family: "Alibaba-PuHuiTi-Regular";
    line-height: 1.216rem;text-align: center;padding-left: 0.533333rem;box-sizing: border-box;}

.box2{width: 100%;height: 21.930667rem;margin-top: 1.962667rem;background: url("//img.hzshuangmei.com/m/xdlb/box2_bg.jpg") no-repeat center;background-size: 100%;padding-top: 1.386667rem;
    box-sizing: border-box;}
.box2 .box_title img{width: 9.984rem;height: 2.368rem;}
.box2_min{margin-top: 2.133333rem;}
.box2_min .box2_min_ca1{text-align: right;margin-bottom: 0.213333rem;position: relative;}
.box2_min .box2_min_ca1>img{width: 8.448rem;height: 3.669333rem;}
.box2_min .box2_min_ca1:nth-of-type(2)>img{width: 9.429333rem;}
.box2_min .box2_min_ca1:nth-of-type(3)>img{width: 8.256rem;}
.box2_myd{width: 3rem;position: absolute;top:0.789333rem;right:0.4rem;text-align: center;}
.box2_myd .box2_myd_p1{font-size: 0.469333rem;color: rgb(14,137,177);font-family: "Alibaba-PuHuiTi-Regular";}
.box2_myd .box2_myd_p1 img{width: 0.32rem;height: 0.341333rem;margin: 0 0.213333rem;}
.box2_myd .box2_myd_p2{font-size: 0.469333rem;color: rgb(14,137,177);font-family: "Alibaba-PuHuiTi-Regular";}
.box2_myd .box2_myd_p3{margin-top: 0.106667rem;line-height: 0;}
.box2_myd .box2_myd_p3 img{width: 2.133333rem;height: 0.256rem;}         
.box2 .box_zx{margin-top: 1.2rem;}
.box2 .box_zx span{padding-left: 0.32rem;}

.box3{width: 100%;margin-top: 1.536rem;}
.box3 .box_title img{width: 10.986667rem;height: 2.368rem;}
.box3_min{margin-top: 1.92rem;position: relative;}
.box3_min>p:nth-of-type(1){font-size: 0.512rem;color: rgb(76,76,76);font-family: "Alibaba-PuHuiTi-Medium";}
.box3_min>p:nth-of-type(1) span{width: 0.106667rem;height: 0.106667rem;background: rgb(87,189,222);border-radius: 1.066667rem;display: inline-block;vertical-align: -42%;margin: 0 0.213333rem;}
.box3_min>p:nth-of-type(2){width: 8.533333rem;font-size: 0.426667rem;color: rgb(76,76,76);line-height: 0.853333rem;margin-top: 0.32rem;margin-left: 0.512rem; text-align: justify;font-family: "Alibaba-PuHuiTi-Regular";letter-spacing: -0.021333rem;}
.box3_min>img{width: 6.528rem;height: 6.976rem;position: absolute;top:-0.426667rem;right:0.0rem;}
.box3_min ul{width: 15.189333rem;margin: 0 auto; margin-top: 1.28rem;overflow: hidden;}
.box3_min li{width: 4.949333rem;float: left;margin-right: 0.170667rem;position: relative;}
.box3_min li img{width: 4.949333rem;height: 4.309333rem;}
.box3_min li:nth-of-type(3n){margin-right: 0;}
.box3_min li p{font-size: 0.448rem;color: rgb(76,76,76);font-family: "Alibaba-PuHuiTi-Regular";position: absolute;top:3.669333rem;left:1.728rem;}
.box3 .box_zx{margin-top: 1.898667rem;}
.box3 .box_zx span{padding-left: 0.32rem;}

.box4{width: 100%;height: 26.346667rem;margin-top: 1.813333rem;background: url("//img.hzshuangmei.com/m/xdlb/box4_bg.jpg") no-repeat center;background-size: 100%;padding-top: 1.664rem;
    box-sizing: border-box;overflow: hidden;position: relative;}
.box4 .box_title img{width: 10.986667rem;height: 2.368rem;}
.box4_min1{position: absolute;top:6.037333rem;left:6.186667rem;}
.box4_min p:nth-of-type(1){font-size: 0.768rem;color: rgb(41,160,193);font-family: "Alibaba-PuHuiTi-Medium";text-align: center;margin-left: 0.576rem;}
.box4_min p:nth-of-type(2){font-size: 0.426667rem;color: rgb(24,145,183);font-family: "Alibaba-PuHuiTi-Regular";width: 3.861333rem;letter-spacing: -0.021333rem;}
.box4_min2{position: absolute;top:10.901333rem;left:11.669333rem;}
.box4_min3{position: absolute;top:17.322667rem;left:10.026667rem;}
.box4_min4{position: absolute;top:17.322667rem;left:2.581333rem;}
.box4_min5{position: absolute;top:10.901333rem;left:1.002667rem;}
.box4_min5 p:nth-of-type(2){width: 4rem;}
.box4 .box_zx{margin-top: 18.965333rem;width: 7.125333rem;}
.box4 .box_zx img{width: 7.125333rem;}
.box4 .box_zx span{padding-left: 0.32rem;width: 5.674667rem;}

.box5{width: 100%;margin-top: 1.536rem;position: relative;}
.box5 .box_title img{width: 9.024rem;height: 2.368rem;}
.box5_min{margin-top: 1.493333rem;}
.box5_min img{width: 16.0rem;height: 17.557333rem;}
.box5 .box_zx{position: absolute;top:12.053333rem;left:9.173333rem;}
.box5 .box_zx span{padding-left: 0.277333rem;}

.box6{width: 100%;height: 25.450667rem;margin-top: 0.106667rem;background: url("//img.hzshuangmei.com/m/xdlb/box6_bg.jpg") no-repeat center;background-size: 100%;padding-top: 1.514667rem;
    box-sizing: border-box;overflow: hidden;position: relative;}
.box6 .box_title img{width: 7.978667rem;height: 2.368rem;}
.box6_min{width: 15.274667rem;margin: 0 auto; margin-top: 1.173333rem;}
.box6_min li{position: relative;margin-bottom: 0.384rem;}
.box6_min li img{width: 15.274667rem;height: 3.754667rem;letter-spacing: -0.021333rem;}
.box6_min li p{width: 5.546667rem;font-size: 0.426667rem;color: rgb(77,77,77);position: absolute;top:0.938667rem;left:9.002667rem;line-height: 0.917333rem;font-family: "Alibaba-PuHuiTi-Regular";letter-spacing: -0.021333rem;}
.box6_min li:nth-of-type(4) p:nth-of-type(1){top:0.490667rem;left:0.469333rem;}
.box6_min li:nth-of-type(4) p:nth-of-type(2){top:0.938667rem;left:9.386667rem;font-size: 0.704rem;color: rgb(24,145,183);line-height: 0.96rem;width: 5.44rem;}
.box6 .box_zx{margin-top: 0.9rem;width: 7.125333rem;}
.box6 .box_zx img{width: 7.125333rem;}
.box6 .box_zx span{padding-left: 0.32rem;width: 5.674667rem;}

.box7{width: 100%;margin-top: 1.898667rem;position: relative;}
.box7 .box_title img{width: 10.026667rem;height: 2.965333rem;}
.box7_min{width: 13.098667rem;margin: 0 auto;margin-top: 1.130667rem;}
.box7_min ul{overflow: hidden;}
.box7_min li{width: 6.165333rem;margin-right: 0.746667rem;margin-bottom: 1.130667rem;position: relative;float: left;}
.box7_min li:nth-of-type(2n){margin-right: 0;}
.box7_min li img{width: 6.165333rem;height: 1.173333rem;}
.box7_min li a{display: block;}
.box7_min li p{font-size: 0.597333rem;color: rgb(255,255,255);font-family: "Alibaba-PuHuiTi-Regular";width: 5.013333rem;position: absolute;top:0.0rem;left: 1.301333rem;line-height: 1.173333rem;}


.zx{animation: myfirst 1s infinite;}

@keyframes myfirst {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}




















