.sr-only,
img {
    border: 0;
}
a,
body {
    color: #000;
}
body,
dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
label,
li,
p,
textarea,
ul {
    padding: 0;
    margin: 0;
}
form {
    display: inline;
}
td {
    word-break: break-all;
}
dd,
dl,
dt,
li,
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
a:hover {
    color: #428bca;
}
.consult:hover {
    transform: scale(.9, .9);
}
.sr-only {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    margin: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
.zt-container {
    min-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.zt-container .zt-doc {
    width: 1200px;
    margin: 0 auto;
}
.zt-container img {
    display: block;
}
.zt-container .zt-title {
    margin-right: auto;
    margin-left: auto;
}
.zt-container .consult {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.banner {
    width: 100%;
    height: 700px;

    background: url("//img.hzshuangmei.com/pc/bdtm2/banner.jpg") center center no-repeat;
}
.banner .consult {
    display: block;
    width: 100%;
    height: 100%;
}
.m1 {
    height: 1850px;
}
.m1 .zt-doc {
    padding-top: 100px;
}
.m1 .zt-doc .zt-title {
    width: 490px;
    height: 200px;

    background: url("//img.hzshuangmei.com/pc/bdtm2/bgt1.jpg") center center no-repeat;
}
.m1 .zt-doc .zt-content {
    margin-top: 50px;
}
.m1 .zt-doc .zt-content .row {
    position: relative;

    width: 1200px;
    height: 510px;
}
.m1 .zt-doc .zt-content .row1 {
    background: url("//img.hzshuangmei.com/pc/bdtm2/img1_1.jpg") center center no-repeat;
}
.m1 .zt-doc .zt-content .row2 {
    background: url("//img.hzshuangmei.com/pc/bdtm2/img1_2.jpg") center center no-repeat;
}
.m1 .zt-doc .zt-content .row3 {
    background: url("//img.hzshuangmei.com/pc/bdtm2/img1_3.jpg") center center no-repeat;
}
.m1 .zt-doc .zt-content .consult {
    position: absolute;

    width: 160px;
    height: 40px;
}
.m1 .zt-doc .zt-content .item1 .consult,
.m1 .zt-doc .zt-content .item4 .consult,
.m1 .zt-doc .zt-content .item7 .consult {
    top: 430px;
    left: 134px;
}
.m1 .zt-doc .zt-content .item2 .consult,
.m1 .zt-doc .zt-content .item5 .consult,
.m1 .zt-doc .zt-content .item8 .consult {
    top: 430px;
    left: 520px;
}
.m1 .zt-doc .zt-content .item3 .consult,
.m1 .zt-doc .zt-content .item6 .consult,
.m1 .zt-doc .zt-content .item9 .consult {
    top: 430px;
    left: 904px;
}
.m2 {
    height: 1200px;

    background: url("//img.hzshuangmei.com/pc/bdtm2/bg2.jpg") center bottom no-repeat;
}
.m2 .zt-doc {
    padding-top: 60px;
}
.m2 .zt-doc .zt-title {
    width: 700px;
    height: 230px;

    background: url("//img.hzshuangmei.com/pc/bdtm2/bgt2.jpg") center center no-repeat;
}
.m2 .zt-doc .zt-content {
    position: relative;

    height: 900px;
    margin-top: 50px;
}
.m2 .zt-doc .zt-content .consult {
    position: absolute;
    top: 626px;
    left: 416px;

    width: 264px;
    height: 50px;
}
.m3 {
    height: 1046px;

    background: url("//img.hzshuangmei.com/pc/bdtm2/bg2_2.jpg") center center no-repeat;
}
.m3 .zt-doc .zt-title {
    width: 0;
    height: 0;

    background: url("//img.hzshuangmei.com/pc/bdtm2/bgt1.jpg") center center no-repeat;
}
.m3 .zt-doc .zt-content {
    position: relative;

    height: 1046px;
}
.m3 .zt-doc .zt-content .consult {
    position: absolute;
    top: 718px;
    left: 818px;

    width: 180px;
    height: 180px;
}
.m4 {
    height: 1140px;

    background: url("//img.hzshuangmei.com/pc/bdtm2/bg4.jpg") center center no-repeat;
}
.m4 .zt-doc {
    padding-top: 120px;
}
.m4 .zt-doc .zt-title {
    width: 450px;
    height: 190px;

    background: url("//img.hzshuangmei.com/pc/bdtm2/bgt4.jpg") center center no-repeat;
}
.m4 .zt-doc .zt-content {
    width: 1200px;
    height: 550px;
    margin-top: 60px;

    background: url("//img.hzshuangmei.com/pc/bdtm2/img4.jpg") center center no-repeat;
}
.m4 .zt-doc .consult {
    width: 242px;
    height: 104px;
    margin: 54px auto 0;

    background: url("//img.hzshuangmei.com/pc/bdtm2/bg_consult4.png") center center no-repeat;
}
.m5 {
    height: 920px;

    background: url("//img.hzshuangmei.com/pc/bdtm2/bg5.jpg") center center no-repeat;
}
.m5 .zt-doc .zt-title {
    width: 0;
    height: 0;

    background: url("//img.hzshuangmei.com/pc/bdtm2/bgt1.jpg") center center no-repeat;
}
.m5 .zt-doc .zt-content {
    position: relative;

    height: 920px;
}
.m5 .zt-doc .zt-content .consult {
    position: absolute;
    top: 630px;
    left: 22px;

    width: 160px;
    height: 50px;
}
.m1 .item {
    position: relative;

    float: left;
    width: 363px;
    height: 483px;
    margin-right: 25px;
    margin-bottom: 15px;
}
.m1 .clearFix {
    /* border:  1px solid red; */
    width: 1164px;
    margin: AUTO;
    overflow: hidden;
}
.m1 .item :hover {
    position: ABSOLUTE;
    top: -1px;
    left: -1px;

    box-shadow: 5px 5px 8px #ccc;
}
.m1 .item a {
    display: block;
    width: 100%;
    height: 100%;
}
