@charset "utf-8";
a,
body {
    color: #000;
}

body,
dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
label,
li,
p,
textarea,
ul {
    padding: 0;
    margin: 0;
}

form {
    display: inline;
}

img {
    border: 0;
}

td {
    word-break: break-all;
}

dd,
dl,
dt,
li,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "微软雅黑", sans-serif, Verdana, Arial;

    background: #fff;
}

.f-fr {
    float: right;
}

.f-fl {
    float: left;
}

.f-cb:after {
    display: block;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    clear: both;

    content: ".";
}

.f-cb {
    zoom: 1;
}

.sr-only {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    border: 0;
}

.img-respon {
    display: block;
    width: 100%;
    height: auto;
}

.g-row {
    font-size: 0;
}

.g-row .g-item {
    display: inline-block;

    vertical-align: top;
}

.consult:hover {
    -webkit-transform: scale(.9, .9);
            transform: scale(.9, .9);
}



.zt-container {
    min-width: 1200px;
    overflow: hidden;

    background: #fff;
}

.g-doc {
    width: 1200px;
    padding: 70px 0 90px;
    margin: 0 auto;
}

.g-doc .title {
    margin-bottom: 40px;
}



.consult {
    display: block;
    margin: 0 auto;
}

.zt-banner {
    height: 746px;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/banner.jpg") center top no-repeat;
}

.zt-banner .g-doc {
    position: relative;
}

.zt-banner .consult {
    position: absolute;
    top: 542px;
    left: 204px;

    width: 202px;
    height: 50px;
}

.zt-m1 .zt-title {
    width: 718px;
    height: 148px;
    margin-right: auto;
    margin-left: auto;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bgt1.png") center center no-repeat;
}

.zt-m1 .consult {
    width: 500px;
    height: 106px;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bg_consult1.png") center center no-repeat;
}

.zt-m1 .g-doc {
    padding-bottom: 80px;
}



.zt-m1 .zt-content {
    margin-top: 50px;
}

.zt-m1 .consult {
    margin-top: 80px;
}

.zt-m1 .g-row {
    text-align: center;
}

.zt-m1 .g-item {
    width: 357px;
    height: 376px;
    margin: 5px;

    background: #bedbec;
}

.zt-m1 .g-item img {
    margin-top: 37px;

    transition: all .3s linear;

    border-radius: 100%;
}

.zt-m1 .g-item img:hover {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
}

.zt-m1 .g-item p {
    margin-top: 20px;

    font-size: 28px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 48px;

    text-align: center;
    letter-spacing: 0;

    color: #447895;
}

.zt-m1 .g-item p span {
    display: inline-block;
    padding: 0 32px 0 0;

    font-size: 48px;
    line-height: 48px;

    vertical-align: top;
}

.zt-m2 {
    height: 1092px;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bg2.jpg") center top no-repeat;
}

.zt-m2 .zt-title {
    width: 878px;
    height: 132px;
    margin-right: auto;
    margin-left: auto;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bgt2.png") center center no-repeat;
}

.zt-m2 .consult {
    width: 408px;
    height: 62px;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bg_consult2.png?v=20190327173727") center center no-repeat;
}

.zt-m2 .zt-content {
    padding: 342px 0 0 750px;
}

.zt-m2 .zt-content p {
    width: 422px;

    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 30px;

    text-align: justify;
    letter-spacing: 0;

    color: #edf6fc;
}

.zt-m2 .zt-content p strong {
    font-size: 24px;
}

.zt-m2 .zt-content p span {
    font-weight: bold;
}

.zt-m2 .consult {
    margin-top: 50px;
    margin-left: 728px;
}

.zt-m3 {
    height: 1360px;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bg3.jpg") center 280px no-repeat;
}

.zt-m3 .zt-title {
    width: 658px;
    height: 172px;
    margin-right: auto;
    margin-left: auto;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bgt3.png") center center no-repeat;
}

.zt-m3 h3 {
    width: 538px;
    height: 44px;
    margin-left: 10px;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bgt3_2.png?v=20190327173628") center center no-repeat;
}

.zt-m3 .consult {
    width: 500px;
    height: 106px;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bg_consult3.png") center center no-repeat;
}

.zt-m3 .zt-content {
    padding-bottom: 460px;
    margin-top: 100px;
}

.zt-m3 .zt-content p {
    width: 620px;
    height: 134px;
    margin-top: 20px;
    margin-left: 10px;

    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 26px;

    letter-spacing: 0;

    color: #397198;
}

.zt-m3 .zt-content .p2 {
    width: 446px;
    height: 54px;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 60px;

    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 23.13px;

    text-align: center;
    letter-spacing: 0;

    color: #fff;
}

.zt-m3 .consult {
    margin-top: 80px;
}

.zt-m4 {
    height: 1450px;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bg4.jpg") center top no-repeat;
}

.zt-m4 .zt-title {
    width: 728px;
    height: 144px;
    margin-right: auto;
    margin-left: auto;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bgt4.png") center center no-repeat;
}

.zt-m4 .consult {
    width: 500px;
    height: 106px;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bg_consult4.png") center center no-repeat;
}

.zt-m4 .zt-content {
    position: relative;

    height: 956px;
    margin-top: 70px;
}

.zt-m4 .zt-content p {
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 30px;

    color: #397198;
}

.zt-m4 .zt-content .des {
    width: 838px;
    margin: 0 auto;

    line-height: 77px;

    text-align: center;

    border: solid 1px #3d66a6;
}

.zt-m4 .zt-content .item {
    position: absolute;
}

.zt-m4 .zt-content .item1 {
    top: 370px;
    left: 20px;
}

.zt-m4 .zt-content .item2 {
    top: 372px;
    left: 972px;

    width: 240px;
}

.zt-m4 .zt-content .item3 {
    top: 665px;
    left: 34px;
}

.zt-m4 .zt-content .item4 {
    top: 665px;
    left: 982px;
}

.zt-m4 .consult {
    margin-top: 40px;
}

.zt-m5 {
    height: 1182px;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bg5.jpg") center top no-repeat;
}

.zt-m5 .zt-title {
    width: 728px;
    height: 234px;
    margin-right: auto;
    margin-left: auto;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bgt5.png") center center no-repeat;
}

.zt-m5 .consult {
    width: 182px;
    height: 152px;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bg_consult5.png") center center no-repeat;
}

.zt-m5 .zt-content {
    margin-top: 72px;
}

.zt-m5 .zt-content .g-row {
    padding-left: 358px;
}

.zt-m5 .zt-content .item {
    display: inline-block;
    width: 434px;
    height: 358px;

    vertical-align: top;
}

.zt-m5 .zt-content .item .box {
    position: relative;

    height: 184px;
    padding-left: 180px;
}

.zt-m5 .zt-content .item .box img {
    position: absolute;
    top: 30px;
    left: 30px;

    border-radius: 100%;
}

.zt-m5 .zt-content .item .box .detail h3 {
    padding-top: 60px;

    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 36px;

    letter-spacing: 0;

    color: #fff;
}

.zt-m5 .zt-content .item .box .detail span {
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 36px;

    letter-spacing: 0;

    color: #fff;
}

.zt-m5 .zt-content .item .box .detail .line {
    width: 48px;
    height: 1px;

    background: #fff;
}

.zt-m5 .zt-content .item p {
    padding-left: 36px;

    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;

    letter-spacing: 0;

    color: #fff;
}

.zt-m5 .zt-content .item1,
.zt-m5 .zt-content .item3 {
    margin-bottom: 24px;
}

.zt-m5 .zt-content .item1 p,
.zt-m5 .zt-content .item3 p {
    width: 360px;
}

.zt-m5 .zt-content .item2,
.zt-m5 .zt-content .item4 {
    width: 370px;
    margin-left: 10px;
}

.zt-m5 .zt-content .item2 p,
.zt-m5 .zt-content .item4 p {
    width: 310px;
}

.zt-m5 .zt-content .consult {
    margin-top: 76px;
    margin-left: 130px;
}

.zt-m6 .zt-title {
    width: 938px;
    height: 144px;
    margin-right: auto;
    margin-left: auto;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bgt6.png") center center no-repeat;
}

.zt-m6 .consult {
    width: 500px;
    height: 106px;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bg_consult6.png") center center no-repeat;
}

.zt-m6 .zt-content {
    margin-top: 80px;
}

.zt-m6 .zt-content img {
    display: block;
    margin: 0 auto;
}

.zt-m6 .zt-content .g-row1 {
    width: 1200px;
    height: 214px;

    background: #d3eaf9;
}

.zt-m6 .zt-content .g-row2 {
    width: 1200px;
    height: 140px;

    text-align: justify;

    background: #66a2c6;
}

.zt-m6 .zt-content .g-row2 p {
    padding-top: 36px;

    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 32px;

    text-align: center;
    letter-spacing: 0;

    color: #fff;
}

.zt-m6 .zt-content .g-row2 p span {
    display: block;
    padding-top: 10px;

    font-size: 36px;
    font-weight: normal;

    letter-spacing: 0;

    color: #fff;
}

.zt-m6 .zt-content .g-item {
    margin-left: 58px;
}

.zt-m6 .zt-content .item1 {
    width: 252px;
}

.zt-m6 .zt-content .item2 {
    width: 172px;
    margin-left: 70px;
}

.zt-m6 .zt-content .item3 {
    width: 244px;
    margin-left: 64px;
}

.zt-m6 .zt-content .item4 {
    width: 216px;
    margin-left: 70px;
}

.zt-m6 .zt-content p {
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;

    letter-spacing: 0;

    color: #4982aa;
}

.zt-m6 .zt-content .title {
    position: relative;

    margin: 32px 0 10px;

    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 32px;

    letter-spacing: 0;

    color: #397198;
}

.zt-m6 .zt-content .title span {
    position: absolute;
    top: 12px;
    left: -20px;

    display: block;
    width: 8px;
    height: 8px;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bg6_point.png");
}

.zt-m6 .consult {
    margin-top: 70px;
}

.zt-m7 {
    height: 1320px;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bg7.jpg") center top no-repeat;
}

.zt-m7 .zt-title {
    width: 938px;
    height: 144px;
    margin-right: auto;
    margin-left: auto;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bgt7.png") center center no-repeat;
}

.zt-m7 .consult {
    width: 434px;
    height: 106px;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bg_consult7.png") center center no-repeat;
}

.zt-m7 .zt-content {
    margin-top: 70px;
}

.zt-m7 .consult {
    margin-top: 70px;
}

.zt-m8 {
    height: 1004px;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bg8.jpg") center top no-repeat;
}

.zt-m8 .zt-title {
    width: 744px;
    height: 90px;
    margin-right: auto;
    margin-left: auto;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bgt8.png") center center no-repeat;
}

.zt-m8 .zt-title {
    margin-left: 420px;
}

.zt-m8 .g-doc {
    position: relative;

    height: 844px;
    padding-top: 160px;
    padding-bottom: 0;
}

.zt-m8 .zt-content {
    height: 800px;
    padding-top: 70px;
    padding-right: 40px;
    padding-left: 720px;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bg8_border2.png") 585px 103px no-repeat;
}

.zt-m8 .zt-content img {
    position: absolute;
    top: -248px;
}
.zt-m8 .zt-content .item1 img {
    left: -770px;
}
.zt-m8 .zt-content .item2 img {
    left: -860px;
}
.zt-m8 .zt-content h3 {
    font-size: 59.35px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 36.15723px;

    text-align: right;
    letter-spacing: .6px;

    color: #5b5865;
}



.zt-m8 .zt-content ul li {
    position: relative;

    padding-left: 20px;

    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 47.16px;

    letter-spacing: .2px;

    color: #68626f;
}

.zt-m8 .zt-content ul li::before {
    position: absolute;
    top: 16px;
    left: -10px;

    display: block;
    width: 16px;
    height: 16px;

    content: "";

    opacity: .7;
    border-radius: 100%;
    background: #e45b6d;
}

.zt-m8 .zt-content .item1 {
    position: absolute;

    visibility: hidden;
}



.zt-m8 .zt-content .item1 ul {
    margin-top: 54px;
}

.zt-m8 .zt-content .item2 {
    position: absolute;

    visibility: hidden;
}

.zt-m8 .zt-content .item2 ul {
    position: relative;
    left: -40px;

    margin-top: 76px;
}

.zt-m8 .zt-content .active {
    visibility: visible;
}

.zt-m8 .zt-content .tab-indicator {
    position: absolute;
    right: 30px;
    bottom: 228px;
    z-index: 2;
}

.zt-m8 .zt-content .tab-indicator div {
    display: inline-block;
    padding: 8px 12px;

    background-color: #8aafd4;
    background-color: rgba(138, 175, 212, .65);
}

.zt-m8 .zt-content .tab-indicator .active {
    background-color: #5c8abc;
    background-color: rgba(92, 138, 188, .7);
}

.zt-m8 .zt-content .tab-indicator p {
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;

    letter-spacing: .2px;

    color: #fff;
}

.zt-m8 .zt-content .tab-indicator p span {
    display: block;

    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 12px;

    letter-spacing: .1px;
    text-transform: uppercase;

    color: #fff;
}

.zt-m8 .consult-box {
    position: absolute;
    right: 90px;
    bottom: 85px;
}

.zt-m8 .consult-box .consult {
    display: inline-block;
}

.zt-m8 .consult-box .consult1 {
    width: 232px;
    height: 54px;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bg_consult82.png") center center no-repeat;
}

.zt-m8 .consult-box .consult2 {
    width: 232px;
    height: 54px;
    margin-left: 30px;

    background: url("https://img.hzshuangmei.com/pc/shuiguangzhen/bg_consult81.png") center center no-repeat;
}
