@charset "utf-8";
a, body {
    color: #000
}

body, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, html, input, label, li, p, textarea, ul {
    margin: 0;
    padding: 0
}

form {
    display: inline
}

img {
    border: 0
}

td {
    word-break: break-all
}

dd, dl, dt, li, ul {
    list-style: none
}

a {
    text-decoration: none
}

body {
    background: #fff;
    font-family: "微软雅黑", sans-serif, Verdana, Arial
}

.f-fr {
    float: right
}

.f-fl {
    float: left
}

.f-cb:after {
    display: block;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    clear: both;
    content: "."
}

.f-cb {
    zoom: 1
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.img-respon {
    display: block;
    width: 100%;
    height: auto
}

.g-row {
    font-size: 0
}

.g-row .g-item {
    display: inline-block;
    vertical-align: top
}

.consult:hover {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9)
}

* {
}

.zt-container {
    min-width: 1200px;
    overflow: hidden;
    background: #fff
}

.g-doc {
    margin: 0 auto;
    width: 1200px;
    padding: 70px 0 90px
}

.g-doc .title {
    margin-bottom: 40px
}

.g-doc .des {
}

.consult {
    display: block;
    margin: 0 auto
}

.zt-banner {
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/banner.jpg') center top no-repeat;
    height: 746px
}

.zt-banner .g-doc {
    position: relative
}

.zt-banner .consult {
    position: absolute;
    width: 202px;
    height: 50px;
    top: 542px;
    left: 204px
}

.zt-m1 .zt-title {
    margin-left: auto;
    margin-right: auto;
    height: 148px;
    width: 718px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bgt1.png') center center no-repeat
}

.zt-m1 .consult {
    height: 106px;
    width: 500px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bg_consult1.png') center center no-repeat
}

.zt-m1 .g-doc {
    padding-bottom: 80px
}

.zt-m1 .zt-title {
}

.zt-m1 .zt-content {
    margin-top: 50px
}

.zt-m1 .consult {
    margin-top: 80px
}

.zt-m1 .g-row {
    text-align: center
}

.zt-m1 .g-item {
    width: 357px;
    height: 376px;
    margin: 5px;
    background: #bedbec
}

.zt-m1 .g-item img {
    border-radius: 100%;
    margin-top: 37px;
    transition: all .3s linear
}

.zt-m1 .g-item img:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1)
}

.zt-m1 .g-item p {
    margin-top: 20px;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 48px;
    letter-spacing: 0px;
    color: #447895;
    text-align: center
}

.zt-m1 .g-item p span {
    padding: 0 32px 0 0px;
    display: inline-block;
    vertical-align: top;
    font-size: 48px;
    line-height: 48px
}

.zt-m2 {
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bg2.jpg') center top no-repeat;
    height: 1092px
}

.zt-m2 .zt-title {
    margin-left: auto;
    margin-right: auto;
    height: 132px;
    width: 878px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bgt2.png') center center no-repeat
}

.zt-m2 .consult {
    height: 62px;
    width: 408px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bg_consult2.png') center center no-repeat
}

.zt-m2 .zt-content {
    padding: 342px 0 0 750px
}

.zt-m2 .zt-content p {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #edf6fc;
    text-align: justify;
    width: 422px
}

.zt-m2 .zt-content p strong {
    font-size: 24px
}

.zt-m2 .zt-content p span {
    font-weight: bold
}

.zt-m2 .consult {
    margin-top: 50px;
    margin-left: 728px
}

.zt-m3 {
    height: 1360px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bg3.jpg') center 280px no-repeat
}

.zt-m3 .zt-title {
    margin-left: auto;
    margin-right: auto;
    height: 172px;
    width: 658px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bgt3.png') center center no-repeat
}

.zt-m3 h3 {
    margin-left: 10px;
    width: 538px;
    height: 44px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bgt3_2.png') center center no-repeat
}

.zt-m3 .consult {
    height: 106px;
    width: 500px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bg_consult3.png') center center no-repeat
}

.zt-m3 .zt-content {
    margin-top: 100px;
    padding-bottom: 460px
}

.zt-m3 .zt-content p {
    margin-left: 10px;
    margin-top: 20px;
    width: 620px;
    height: 134px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 26px;
    letter-spacing: 0px;
    color: #397198
}

.zt-m3 .zt-content .p2 {
    margin-top: 30px;
    margin-left: 60px;
    width: 446px;
    padding-top: 10px;
    height: 54px;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 23.13px;
    letter-spacing: 0px;
    color: #ffffff;
    text-align: center
}

.zt-m3 .consult {
    margin-top: 80px
}

.zt-m4 {
    height: 1450px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bg4.jpg') center top no-repeat
}

.zt-m4 .zt-title {
    margin-left: auto;
    margin-right: auto;
    height: 144px;
    width: 728px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bgt4.png') center center no-repeat
}

.zt-m4 .consult {
    height: 106px;
    width: 500px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bg_consult4.png') center center no-repeat
}

.zt-m4 .zt-content {
    margin-top: 70px;
    height: 956px;
    position: relative
}

.zt-m4 .zt-content p {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    color: #397198
}

.zt-m4 .zt-content .des {
    width: 838px;
    margin: 0 auto;
    border: solid 1px #3d66a6;
    line-height: 77px;
    text-align: center
}

.zt-m4 .zt-content .item {
    position: absolute
}

.zt-m4 .zt-content .item1 {
    top: 370px;
    left: 108px
}

.zt-m4 .zt-content .item2 {
    top: 372px;
    left: 980px;
    width: 240px;
}

.zt-m4 .zt-content .item3 {
    top: 665px;
    left: 30px
}

.zt-m4 .zt-content .item4 {
    top: 665px;
    left: 985px
}

.zt-m4 .consult {
    margin-top: 40px
}

.zt-m5 {
    height: 1182px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bg5.jpg') center top no-repeat
}

.zt-m5 .zt-title {
    margin-left: auto;
    margin-right: auto;
    height: 234px;
    width: 728px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bgt5.png') center center no-repeat
}

.zt-m5 .consult {
    height: 152px;
    width: 182px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bg_consult5.png') center center no-repeat
}

.zt-m5 .zt-content {
    margin-top: 72px
}

.zt-m5 .zt-content .g-row {
    padding-left: 358px
}

.zt-m5 .zt-content .item {
    display: inline-block;
    vertical-align: top;
    width: 434px;
    height: 358px
}

.zt-m5 .zt-content .item .box {
    padding-left: 180px;
    height: 184px;
    position: relative
}

.zt-m5 .zt-content .item .box img {
    border-radius: 100%;
    position: absolute;
    top: 30px;
    left: 30px
}

.zt-m5 .zt-content .item .box .detail h3 {
    padding-top: 60px;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 36px;
    letter-spacing: 0px;
    color: #ffffff
}

.zt-m5 .zt-content .item .box .detail span {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 36px;
    letter-spacing: 0px;
    color: #ffffff
}

.zt-m5 .zt-content .item .box .detail .line {
    width: 48px;
    height: 1px;
    background: #fff
}

.zt-m5 .zt-content .item p {
    padding-left: 36px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #ffffff
}

.zt-m5 .zt-content .item1, .zt-m5 .zt-content .item3 {
    margin-bottom: 24px
}

.zt-m5 .zt-content .item1 p, .zt-m5 .zt-content .item3 p {
    width: 360px
}

.zt-m5 .zt-content .item2, .zt-m5 .zt-content .item4 {
    width: 370px;
    margin-left: 10px
}

.zt-m5 .zt-content .item2 p, .zt-m5 .zt-content .item4 p {
    width: 310px
}

.zt-m5 .zt-content .consult {
    margin-top: 76px;
    margin-left: 130px
}

.zt-m6 .zt-title {
    margin-left: auto;
    margin-right: auto;
    height: 144px;
    width: 938px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bgt6.png') center center no-repeat
}

.zt-m6 .consult {
    height: 106px;
    width: 500px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bg_consult6.png') center center no-repeat
}

.zt-m6 .zt-content {
    margin-top: 80px
}

.zt-m6 .zt-content img {
    display: block;
    margin: 0 auto
}

.zt-m6 .zt-content .g-row1 {
    background: #d3eaf9;
    height: 214px;
    width: 1200px
}

.zt-m6 .zt-content .g-row2 {
    width: 1200px;
    height: 140px;
    background: #66a2c6;
    text-align: justify
}

.zt-m6 .zt-content .g-row2 p {
    padding-top: 36px;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 32px;
    letter-spacing: 0px;
    color: #ffffff;
    text-align: center
}

.zt-m6 .zt-content .g-row2 p span {
    padding-top: 10px;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #ffffff;
    display: block
}

.zt-m6 .zt-content .g-item {
    margin-left: 58px
}

.zt-m6 .zt-content .item1 {
    width: 252px
}

.zt-m6 .zt-content .item2 {
    width: 172px;
    margin-left: 70px
}

.zt-m6 .zt-content .item3 {
    width: 244px;
    margin-left: 64px
}

.zt-m6 .zt-content .item4 {
    width: 216px;
    margin-left: 70px
}

.zt-m6 .zt-content p {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #4982aa
}

.zt-m6 .zt-content .title {
    margin: 32px 0 10px;
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 32px;
    letter-spacing: 0px;
    color: #397198;
    position: relative
}

.zt-m6 .zt-content .title span {
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bg6_point.png');
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 12px;
    left: -20px
}

.zt-m6 .consult {
    margin-top: 70px
}

.zt-m7 {
    height: 1320px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bg7.jpg') center top no-repeat
}

.zt-m7 .zt-title {
    margin-left: auto;
    margin-right: auto;
    height: 144px;
    width: 938px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bgt7.png') center center no-repeat
}

.zt-m7 .consult {
    height: 106px;
    width: 434px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bg_consult7.png') center center no-repeat
}

.zt-m7 .zt-content {
    margin-top: 70px
}

.zt-m7 .consult {
    margin-top: 70px
}

.zt-m8 {
    height: 1004px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bg8.jpg') center top no-repeat
}

.zt-m8 .zt-title {
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    width: 744px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bgt8.png') center center no-repeat
}

.zt-m8 .zt-title {
    margin-left: 420px
}

.zt-m8 .g-doc {
    padding-top: 160px;
    padding-bottom: 0;
    height: 844px;
    position: relative
}

.zt-m8 .zt-content {
    padding-left: 720px;
    padding-top: 70px;
    padding-right: 40px;
    height: 800px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bg8_border2.png') 585px 103px no-repeat
}

.zt-m8 .zt-content img {
    position: absolute;
    top: -248px;
}
.zt-m8 .zt-content .item1 img {
    left: -770px;
}
.zt-m8 .zt-content .item2 img {
    left: -860px;
}
.zt-m8 .zt-content h3 {
    font-size: 59.35px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 36.15723px;
    letter-spacing: 0.6px;
    color: #5b5865;
    text-align: right
}

.zt-m8 .zt-content ul {
}

.zt-m8 .zt-content ul li {
    position: relative;
    padding-left: 20px;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 47.16px;
    letter-spacing: 0.2px;
    color: #68626f
}

.zt-m8 .zt-content ul li::before {
    display: block;
    position: absolute;
    top: 16px;
    left: -10px;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #e45b6d;
    opacity: .7
}

.zt-m8 .zt-content .item1 {
    position: absolute;
    visibility: hidden
}

.zt-m8 .zt-content .item1 img {
}

.zt-m8 .zt-content .item1 ul {
    margin-top: 54px
}

.zt-m8 .zt-content .item2 {
    position: absolute;
    visibility: hidden
}

.zt-m8 .zt-content .item2 ul {
    position: relative;
    left: -40px;
    margin-top: 76px
}

.zt-m8 .zt-content .active {
    visibility: visible
}

.zt-m8 .zt-content .tab-indicator {
    position: absolute;
    right: 30px;
    bottom: 228px;
    z-index: 2
}

.zt-m8 .zt-content .tab-indicator div {
    display: inline-block;
    background-color: #8aafd4;
    background-color: rgba(138, 175, 212, 0.65);
    padding: 8px 12px
}

.zt-m8 .zt-content .tab-indicator .active {
    background-color: #5c8abc;
    background-color: rgba(92, 138, 188, 0.7)
}

.zt-m8 .zt-content .tab-indicator p {
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #ffffff
}

.zt-m8 .zt-content .tab-indicator p span {
    display: block;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 12px;
    letter-spacing: 0.1px;
    color: #ffffff;
    text-transform: uppercase
}

.zt-m8 .consult-box {
    position: absolute;
    right: 90px;
    bottom: 85px
}

.zt-m8 .consult-box .consult {
    display: inline-block
}

.zt-m8 .consult-box .consult1 {
    width: 232px;
    height: 54px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bg_consult82.png') center center no-repeat
}

.zt-m8 .consult-box .consult2 {
    width: 232px;
    height: 54px;
    margin-left: 30px;
    background: url('https://img.hzshuangmei.com/pc/shuiguangzhen/bg_consult81.png') center center no-repeat
}
