.po {
    position: relative;
}
.w1200 {
    position: relative;

    width: 1200px;
    margin: auto;
}
.po_ab {
    position: absolute;
}
.banner {
    width: 100%;
}
.banner img {
    width: 100%;
}
.part1 {
    width: 100%;
    height: 14.03rem;
    overflow: hidden;

    background: url("//img.hzshuangmei.com/pc/delabialhair/part1BG.jpg")  no-repeat center;
    background-size: 100% 100%;
}
.part1_tit {
    display: block;
    width: 598px;
    margin: 114px auto 93px;
}

.part1_mid {
    width: 1198px;
    margin: 0 auto 26px;
}
.part1 .w1200 span:nth-of-type(1) {
    top: 490px;

    font-size: .433735rem;

    color: rgb(82,53,31);
}
.part1_go {
    bottom: 86px;
    left: 50%;

    width: 337px;
    margin-left: -168.5px;
}
.part2 {
    width: 100%;
    height: 943px;
    overflow: hidden;

    background: url("//img.hzshuangmei.com/pc/delabialhair/part2_bg.jpg")  no-repeat center;
    background-size: 100% 100%;
}


/*part2开始*/
.part2 {
    position: relative;
}
.part2 .title-wrap {
    margin-top: 144px;
    margin-bottom: 84px;
}
.title-wrap {
    width: 100%;
}
.title-wrap img {
    width: 100%;
}
.part2-panel {
    position: absolute;
    left: -31px;
    width: 1300px;
}
.part2-panel .panel-item {
    float: left;
    width: 305px;
    height: 381px;
    position: relative;
    margin-right: 15px;
    box-shadow: -2px 8px 13px 0px rgba(172, 142, 119, 0.41);
}
.part2-panel .panel-item img {
    width: 100%;
    height: 100%;
}
.part2-panel .bottom-txt {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 89px;
    width: 100%;
    background-color: rgba(116, 85, 64, 0.8);
}
.part2-panel .bottom-txt span {
    display: block;
    height: 58px;
    width: 252px;
    text-align: center;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 1px;
    color: #faf7f5;
    margin: 0 auto;
    margin-top: 9px;
}
.part2-panel .bottom-txt i {
    display: block;
    margin-left: -23px;
    font-style: normal;
}
.part2-panel .bottom-txt .bot-only {
    margin-left: 37px;
}
.btn-wrap {
    width: 336px;
    height: 80px;
    background: url('//img.hzshuangmei.com/pc/delabialhair/btn.png') no-repeat;
    background-size: 100%;
    position: absolute;
    left: 50%;
    bottom: 67px;
    margin-left: -168px;
}
.btn-wrap a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.btn-wrap a span  {
    display: block;
    width: 263px;
    margin: 0 auto;
    height: 100%;
    line-height: 80px;
    font-size: 28px;
    letter-spacing: 1px;
    color: #f7d5bf;
    text-align: left;
    vertical-align: top;
    margin-top: -7px;
    background: url("//img.hzshuangmei.com/pc/delabialhair/btn-jian.png") no-repeat right 29px;
    background-size: 24px 24px;
}
/*part2结束*/


/*part3开始*/
.part3 {
    position: relative;
}
.part3 .bg-wrap {
    width: 100%;
    height: 1294px;
}
.part3 .bg-wrap img {
    width: 100%;
    height: 100%;
}
.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.part3 .title-wrap {
    margin-top: 135px;
    margin-bottom: 60px;
}
.part3 .pic-wrap {
    position: relative;
    width: 1197px;
    left: 3px;
    margin-bottom: 26px;
}
.part3 .pic-wrap-1 {
    position: relative;
    width: 1189px;
    left: 6px;
}
.part3 .pic-wrap img, .part3 .pic-wrap-1 img {
    width: 100%;
}
.part3 .txt-wrap {
    position: absolute;
    left: 80px;
    top: 130px;
    width: 503px;
    height: 314px;
}
.part3 .txt-wrap .title {
    font-size: 36px;
    letter-spacing: 2px;
    color: #52351f;
}
.part3 .txt-wrap .txt-con {
    font-size: 24px;
    letter-spacing: 1px;
    color: #684d3a;
    opacity: 0.9;
    margin-top: 27px;
    margin-bottom: 45px;
}
.part3 .btn-wrap {
    left: 155px;
    bottom: 39px;
    width: 282px;
    height: 68px;
    background: url(//img.hzshuangmei.com/pc/delabialhair/btn-1.png) no-repeat;
    background-size: 100%;
}
.part3 .btn-wrap a span {
    font-size: 23px;
    width: 220px;
    background-size: 20px;
    margin-top: -14px;
    background-position: right 30px;
}
.part3 .pic-wrap-1 .bot-txt {
    position: absolute;
    bottom: 20px;
    left: 108px;
    font-size: 30px;
    letter-spacing: 1px;
    color: #684d3a;
}
.part3 .pic-wrap-1 .bot-txt-1 {
    left: 463px;
}
.part3 .pic-wrap-1 .bot-txt-2 {
    left: 894px;
}
/*part3结束*/

/*part4开始*/
.part4 {
    position: relative;
    overflow-y: hidden;
    height: 1230px;
}
.part4 .bg-wrap {
    width: 100%;
    height: 100%;
}
.part4 .bg-wrap img {
    width: 100%;
    height: 100%;
}
.part4 .person-wrap {
    position: absolute;
    left: -44px;
    top: 70px;
    width: 602px;
    height: 1156px;
}
.part4 .person-wrap img {
    width: 100%;
    height: 100%;
}
.part4 .right {
    position: absolute;
    right: 0;
    top: 134px;
    width: 639px;
    height: 761px;
}
.part4 .right > img {
    width: 100%;
    height: 100%;
}
.part4 .right .right-con {
    position: absolute;
    left: 21px;
    top: 62px;
    width: 100%;
    height: 100%;
}
.part4 .right-con .title {
    font-size: 36px;
    letter-spacing: 1px;
    color: #52351f;
    margin-bottom: 25px;
}
.part4 .right-con .txt {
    font-size: 24px;
    letter-spacing: 1px;
    color: #684d3a;
    opacity: 0.9;
}
.part4 .txt-item {
    position: absolute;
    left: 5px;
    bottom: 172px;
    width: 202px;
    height: 247px;
    text-align: center;
}
.part4 .txt-item-1 {
    left: 207px;
}
.part4 .txt-item-2 {
    left: 409px;
}
.part4 .txt-item .title-txt {
    font-size: 26px;
    letter-spacing: 1px;
    color: #52351f;
    font-weight: 600;
}
.part4 .txt-item .title-txt span {
    font-size: 22px;
    display: block;
    letter-spacing: 1px;
    color: #52351f;
    font-weight: normal;
}
.part4 .txt-item .txt-con {
    font-size: 16px;
    line-height: 26px;
    color: #684d3a;
    width: 151px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 16px;
}
.part4 .btn-wrap {
    left: inherit;
    right: 0;
    bottom: 30px;
}
.part4 .btn-wrap a span {
    width: 261px;
}
.part4 .bottom-pic {
    position: absolute;
    top: 887px;
    left: 2px;
    width: 1195px;
}
.part4 .bottom-pic img {
    width: 100%;
}
/*part4结束*/

/*part5开始*/
.part5 {
    position: relative;
    height: 1110px;
}
.part5 .bg-wrap {
    width: 100%;
    height: 100%;
}
.part5 .bg-wrap img {
    width: 100%;
    height: 100%;
}
.part5 .title-wrap {
    margin-top: 140px;
}
.part5 .table-wrap {
    width: 1187px;
    margin: 0 auto;
    margin-top: 72px;
}
.part5 .table-wrap img {
    width: 100%;
}
.part5 .btn-wrap a span {
    width: 238px;
}
/*part5结束*/

/*part6开始*/
.part6 {
    position: relative;
    height: 10.51rem;
    width: 100%;
    overflow-x: hidden;
}
.part6 .bg-wrap {
    width: 100%;
    height: 100%;
}
.part6 .bg-wrap img {
    width: 100%;
    height: 100%;
}
.part6 .panel-wrap {
    position: absolute;
    width: 9.87rem;
    height: 4.69rem;
    top: 2.58rem;
    left: 0;
}
.part6 .panel-wrap img {
    width: 100%;
    height: 100%;
}  
.part6 .title-wrap {
    margin-top: 1.33rem;
}
.part6 .btn-div {
    position: absolute;
    left: 2.4rem;
    top: 6.65rem;
    width: 3.2rem;
    height: 2.23rem;
}
.part6 .btn-div .txt-wrap {
    width: 1.6rem;
    font-size: .3rem;
    line-height: .42rem;
    letter-spacing: 1px;
    color: #f7d5bf;
    margin: 0 auto;
    /*margin-top: .7rem;*/
}
.part6 .btn-div a {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    padding-top: .7rem;
    text-align: center;
    font-size: .3rem;
    line-height: .42rem;
    letter-spacing: 1px;
    color: #f7d5bf;
}
.part6 .btn-div a span {
    display: inline-block;
    width: 1.55rem;
    margin-left: -.1rem;
    text-align: left;
    background: url(//img.hzshuangmei.com/pc/delabialhair/btn-jian-1.png) no-repeat right 7px;
    background-size: .23rem;
}
/*.part6 .btn-div .txt-wrap p:nth-child(2) {
    background: url('//img.hzshuangmei.com/pc/delabialhair/btn-jian-1.png') no-repeat right 7px;
    background-size: .23rem;
}*/
/*part6结束*/

/*part7 开始*/
.part7 {
    background: #b49d8c;
    height: auto;
    padding-top: 1.63rem;
    padding-bottom: 2.31rem;
}
.part7 .title-wrap {
}
.part7 .pic-item-1 {
    width: 100%;
    position: relative;
    margin-top: 1.11rem;
}
.part7 .pic-item-1 img {
    width: 100%;
}
.part7 .pic-item-2 {
    margin-top: .48rem;
}
.part7 .pic-item-1 .left {
    position: absolute;
    left: 0;
    top: 0;
}
.part7 .pic-item-1 .right {
    position: absolute;
    right: 0;
    top: 0;
}
.part7 .pic-item-1 .detail {
    width: 8rem;
    /*height: 7.06rem;*/
}
.part7 .detail .detail-con {
    padding-left: 1.81rem;
}
.part7 .detail .title {
    width: 2.94rem;
    height: 1.1rem;
    margin-top: 1.25rem;
}
.part7 .detail .title img {
    width: 100%;
    height: 100%;
}
.part7 .detail .con-txt {
    width: 4.67rem;
    font-size: .22rem;
    line-height: .31rem;
    letter-spacing: 1px;
    color: #f2e0ce;
    text-align: justify;
    margin: .69rem   0;
}
.part7 .detail .btn {
    width: 2.49rem;
    height: .64rem;
    box-shadow: -1px 2px 5px 0px rgba(105, 80, 66, 0.75);
}
.part7 .detail .btn a {
    display: block;
    width: 100%;
    height: 100%;
}
.part7 .detail .btn img {
    width: 100%;
    height: 100%;
}
.part7 .pic-item-3 {
    position: relative;
    height: 7.37rem;
    margin-top: .41rem;
}
.part7 .pic-item-3 .swiper-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 7.88rem;
    height: 100%;
}
.part7 .pic-item-3 .swiper-left img {
    width: 100%;
    height: 100%;
}
.part7 .pic-item-3 .swiper-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 11.32rem;
    z-index: 2;
}
.part7 .pic-item-3 .swiper-right img {
    width: 100%;
    height: 100%;
}
.pic-item-3 .left {
    position: absolute;
    left: 0;
    top: 0;
}

.part7 .pic-item-3 .con-txt {
    font-size: .28rem;
    letter-spacing: 1px;
    color: #f2e0ce;
    height: 1rem;
}
.part7 .pic-item-3 ul {
    /*width: 3.5rem;*/
    /*margin-bottom: .7rem;*/
}
.part7 .pic-item-3 .item {
    float: left;
    margin-top: .2rem;
}
.part7 .pic-item-3 .item:nth-child(2n-1) {
    margin-right: .54rem;
}
.part7 .pic-item-3 .con-txt span {
    position: relative;
    top: -.07rem;
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #f2e0ce;
    border-radius: 6px;
}
/*swiper样式修改*/
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background: url(//img.hzshuangmei.com/pc/delabialhair/swiper-left.png) no-repeat;
    background-size: 100%;
    left: 0;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background: url(//img.hzshuangmei.com/pc/delabialhair/swiper-right.png) no-repeat;
    background-size: 100%;
    right: 0;
}
.swiper-button-next, .swiper-button-prev {
    width: .73rem;
    height: 1.35rem;
    margin-top: -.5175rem;   
}
/*swiper样式修改*/

/*part7 结束*/