.banner {
    width: 100%;
    height: 920px;
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/banner.jpg) no-repeat top center;
    position: relative;
}

.move {
    position: absolute;
    top: 642px;
    left: 280px;
}

.m1 {
    width: 1200px;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-bottom: 3px;
    padding-top: 110px;
}

.part1 {
    width: 100%;
    height: 1026px;
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p1_bg.png) no-repeat top center;
    text-align: center;
    background-color: #000e45;
}

.part1 h2 {
    border-bottom: 2px dotted #8d8b8c;
    font-size: 36px;
    color: rgb(4, 38, 103);
    line-height: 0.476;
    text-align: center;
}

.part1 h2 span {
    background: #fff;
    padding: 0 25px;
    position: relative;
    top: 10px;
}

.part1 p {
    font-size: 20px;
    color: rgb(141, 139, 140);
    line-height: 1.5;
    text-align: center;
    margin-top: 34px;
}

.part1 .m1 img {
    margin-top: 30px;
}

.part2 {
    width: 100%;
    height: 1720px;
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p2_bg.jpg) no-repeat top center;
    background-color: #000e45;
}

.content {
    position: relative;
    top: 745px;
}

.content > div {
    text-align: center;
    float: left;
    width: 600px;
    height: 251px;
    color: #fff;
}

.part2 .left {
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p2_02.jpg) no-repeat center;
}

.part2 .right {
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p2_03.jpg) no-repeat center;
}

.p1 {
    font-size: 25px;
    padding: 73px 0 30px;
}

.p2 {
    font-size: 20px;
}

.title1 {
    text-align: center;
    margin-bottom: 55px;
}

.ask {
    display: block;
    width: 427px;
    height: 154px;
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/ask.png) no-repeat center;
    text-align: center;
    margin: 0 auto;
    color: #fff;
}

.ask a {
    color: #fff
}

.part2 .ask1 {
    position: relative;
    top: 788px;
}

.ask > div {
    float: left;
    padding-top: 56px;
    padding-left: 131px;
}

.ask > div p:first-child {
    font-size: 38px !important;
}

.ask > div p:last-child {
    font-size: 22px;
}

.ask i {
    float: left;
    display: block;
    width: 56px;
    height: 64px;
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/ask1.png) no-repeat center;
    padding-top: 130px;
    padding-left: 64px;
}

.part3 {
    width: 100%;
    height: 1552px;
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p3_bg.png) no-repeat top center;
    background-color: #000e45;
}

.part3 .m1 {
    width: 1100px;
}

.part3 .m1 > div {
    float: left;
}

.p3_boom {
    width: 295px;
    margin-left: 70px;
}

.p3_boom > div {
    float: left;
}

.part3 .m1 .ho:hover img {
    display: none;
}

.part3 .p3_01 {
    width: 254px;
    height: 301px;
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p3_h01.png) no-repeat center;
    margin: -14px 0 0 40px;
}

.part3 .p3_02 {
    width: 303px;
    height: 339px;
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p3_h02.png) no-repeat center;
    margin: 115px 162px 75px 40px;
}

.part3 .p3_03 {
    width: 242px;
    height: 291px;
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p3_h03.png) no-repeat center;
    margin: 60px 0 0;
}

.part3 .p3_04 {
    width: 287px;
    height: 324px;
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p3_h04.png) no-repeat center;
    margin: 5px 36px 0;
}

.part3 .p3_05 {
    width: 236px;
    height: 285px;
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p3_h05.png) no-repeat center;
    margin: 123px 0 0;
}

.part3 .ask2 {
    position: relative;
    left: -254px;
}

.part4 {
    width: 100%;
    height: 1332px;
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p4_bg.png) no-repeat top center;
    color: #fff;
    background-color: #000e45;
}

.part4 ul {
    width: 1224px;
    margin: 0 auto;
}

.part4 ul li {
    background-color: rgb(0, 14, 69);
    width: 384px;
    height: 293px;
    float: left;
    margin: 12px;
}

.part4 ul li i {
    display: block;
    width: 133px;
    height: 133px;
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p4_01.png) no-repeat;
    float: left;
    margin-left: 25px;
    margin-top: 27px;
}

.part4 ul li div {
    float: left;
    width: 205px;
    margin-left: 20px;
    padding-top: 40px;
}

.part4 ul li hr {
    width: 48px;
    height: 8px;
    background: #fff;
    margin: 10px 0 21px;
}

.part4 ul li div p:first-child {
    font-size: 25px;
}

.part4 ul li div p:nth-child(2) {
    font-size: 18px;
}

.part4 ul li > p {
    font-size: 20px;
    text-align: center;
}

.part4 .ask3 {
    margin-top: 45px;
}

.part5 {
    width: 100%;
    height: 1674px;
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p5_bg.png) no-repeat top center;
    background-color: #000e45;
}

.part5 ul li {
    float: left;
    position: relative;
    width: 129px;
    height: 177px;
    text-align: center;
    color: #000e45;
}

.part5 #tabCon {
    clear: both;
}

.part5 #tab .fli {
    color: #fff;
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p5_arrow.png) no-repeat top center;
}

.part5 #tab p {
    font-size: 20px;
    padding-top: 33%;
}

.part5 #tab div {
    width: 128px;
    height: 127px;
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p5_bj2.png) no-repeat center;
    margin-top: 49px;
}

.part5 #tab .fli1 {
    width: 128px;
    height: 127px;
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p5_bj1.png) no-repeat center;
}

.part5 #tab .fli:hover img {
    display: none;
}

.part5 #tab ul li:first-child {
    margin: 226px 0 0 140px;
}

.part5 #tab ul li:nth-child(2) {
    margin: 430px 0 0 -75px;
}

.part5 #tab ul li:nth-child(3) {
    margin: 300px 0 0 -15px;
}

.part5 #tab ul li:nth-child(4) {
    margin: 510px 0 0 -73px;
}

.part5 #tab ul li:nth-child(5) {
    margin: 250px 0 0 372px;
}

.part5 #tab ul li:nth-child(6) {
    margin: 403px 0 0 -226px;
}

.part5 #tab ul li:nth-child(7) {
    margin: 533px 0 45px -125px;
}

.part5 #tabCon li {
    display: none;
}

.part5 #tabCon li > div {
    float: left;
    width: 388px;
    text-align: center;
    color: #fff;
}

.part5 #tabCon li > div h6 {
    font-size: 25px;
    padding-top: 20px;
}

.part5 #tabCon li > div p {
    font-size: 25.02px;
    padding-top: 20px;
    width: 300px;
    height: 117px;
    margin: auto;
    padding-top: 20%;
}

.part5 #tabCon .fdiv {
    display: block;
    height: 293px;
    width: 1200px;
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p5_bj3.png) no-repeat center;
}

.part5 #tab .lip {
    padding-top: 44%;
}

.part5 #tabCon .lip1 {
    padding-top: 27%;
}

.part5 .ask3 {
    margin-top: 354px;
}

.part6 {
    width: 100%;
    height: 1698px;
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p6_bg.png) no-repeat top center;
    background-color: #000e45;
}

.part6 .m1 ul li {
    width: 361px;
    height: 361px;
    color: #e5e5e5;
    float: left;
    margin: 19px;
    border-radius: 50%;
}

.part6 .m1 ul li:first-child {
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p6_01.png) no-repeat center;
}

.part6 .m1 ul li:nth-child(2) {
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p6_02.png) no-repeat center;
}

.part6 .m1 ul li:nth-child(3) {
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p6_03.png) no-repeat center;
}

.part6 .m1 ul li:nth-child(4) {
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p6_04.png) no-repeat center;
}

.part6 .m1 ul li:nth-child(5) {
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p6_05.png) no-repeat center;
}

.part6 .m1 ul li:nth-child(6) {
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p6_06.png) no-repeat center;
}

.part6 .m1 ul li:last-child {
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p6_07.png) no-repeat center;
}

.part6 .m1 .ask {
    width: 435px;
    height: 361px;
    border-radius: 0;
    float: left;
    margin: 40px 59px 0 119px;
    color: #fff;
}

.part6 .m1 .ask_div {
    float: left;
    padding-top: 164px;
    padding-left: 99px;
    display: block;
    border-radius: 0;
    width: 212px;
    height: 91px;
    background: none;
}

.part6 .m1 ul li div {
    width: 361px;
    height: 361px;
    background: #012b65;
    border-radius: 50%;
    display: none;
}

.part6 .m1 ul li div h6 {
    font-size: 40px;
    text-align: center;
    padding: 97px 0 20px 0;
}

.part6 .m1 ul li div p {
    font-size: 25px;
    width: 250px;
    margin: 0 auto;
}

.part6 .m1 ul li:hover div {
    display: block;
}

.part6 .m1 .ask .ask_i {
    padding-top: 336px;
    padding-left: 67px;
}

.part7 {
    width: 100%;
    height: 1742px;
    background: url(//img.hzshuangmei.com/pc/ztzfmd/images/p7_bg.png) no-repeat top center;
    background-color: #000e45;
}

#center {
    position: relative;
}

#slider {
    position: absolute;
    width: 1200px;
    height: 803px;
    overflow: hidden;
}

#slider .slide {
    position: absolute;
    top: 0;
    height: 803px;
    width: 567px;
    overflow: hidden;
}

#slider .slide img {
    width: 100%;
}

#slider .backgroundText {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
}

#slider .text {
    position: absolute;
    top: 100%;
    color: #FFF;
    width: 567px;
    left: 10px;
}

#slider .diapo {
    position: absolute;
    visibility: hidden;
}

.part7 .ask3 {
    position: relative;
    top: 890px;
}

