* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "微软雅黑";

    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

img {
    display: block;

    border: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

.clearfix:before,
.clearfix:after {
    display: table;

    content: "";
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.banner {
    display: block;
    width: 100%;
    height: 700px;
    min-width: 1260px;

    background: url(//img.hzshuangmei.com/pc/bdtm/banner.jpg) no-repeat top center;
}

.lead {
    width: 100%;
    height: 184px;
    min-width: 1260px;
    padding-top: 30px;

    border-bottom: 16px solid #d7dee2;
    background-color: #9faeb9;
}

.lead-in {
    position: relative;

    width: 780px;
    height: 124px;
    padding: 20px 27px 0;
    margin: 0 auto;

    font-size: 16px;
    line-height: 26px;

    text-align: center;

    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
}

.lead-in span {
    position: absolute;
    bottom: -3px;
    left: 50%;

    width: 166px;
    height: 6px;
    margin-left: -83px;

    background-color: #fff;
}

.main-one {
    width: 1182px;
    height: 812px;
    padding-top: 46px;
    margin: 0 auto;
}

.spokesman1 {
    float: left;
}

.main1-content {
    float: right;
    width: 630px;
    height: 628px;
    padding-top: 97px;
}

.main1-content p {
    font-size: 16px;
    line-height: 28px;

    color: #595e5b;
}

.main1-content p strong {
    font-size: 20px;
    font-weight: 700;
}

.imgp img {
    display: inline-block;
    margin: 8px 5px 0 0;
}

.topp {
    padding-top: 30px;
}

.mian1-problem {
    position: relative;

    width: 100%;
    height: 337px;
    margin-top: 52px;
}

.mian1-problem img {
    float: left;
}

.problem-in {
    float: left;
    width: 600px;
    height: 100%;

    background-color: #dee7ee;
}

.problem-in ul {
    width: 557px;
    height: 265px;
    padding-top: 15px;
    margin: 0 auto;
}

.problem-in ul li {
    float: left;
    width: 100px;
    height: 80px;
    padding-top: 20px;
    margin: 20px 14px 0;

    border: .5px double #9faeb9;
    border-width: 5px;
    border-radius: 50%;
}

.problem-in ul li p {
    width: 100%;
    height: 28px;

    font-size: 24px;
    line-height: 28px;

    text-align: center;

    color: #7d837f;
    color: #7d837f;
}

.mian1-problem h3 {
    position: absolute;
    bottom: -12px;
    left: 0;

    width: 630px;
    height: 40px;

    font-size: 38px;
    font-weight: 700;
    line-height: 40px;

    text-align: center;

    color: #9faeb9;

    -webkit-box-reflect: below 1px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(.3, transparent), to(rgba(3, 3, 3, .4)));
       -moz-box-reflect: below 1px -moz-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(.3, transparent), to(rgba(3, 3, 3, .4)));
        -ms-box-reflect: below 1px -ms-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(.3, transparent), to(rgba(3, 3, 3, .4)));
         -o-box-reflect: below 1px -o-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(.3, transparent), to(rgba(3, 3, 3, .4)));
}

.mian-two {
    width: 100%;
    height: 946px;
    min-width: 1260px;

    background-color: #dee7ee;
}

.main2-in {
    width: 1190px;
    height: 846px;
    padding-top: 80px;
    margin: 0 auto;
}

.main2-in h3,
.main3-in h3,
.main-five h3,
.main-six h3 {
    width: 100%;
    height: 50px;

    font-size: 38px;
    line-height: 50px;

    text-align: center;

    color: #9faeb9;
}

.main2-in h3 strong,
.main3-in h3 strong,
.main-five h3 strong,
.main-six h3 strong {
    font-weight: 700;

    color: #9faeb9;
}

.main2-in h5,
.main3-in h5,
.main-five h5,
.main-six h5 {
    width: 100%;
    height: 40px;

    font-size: 14px;

    text-align: center;
    text-transform: uppercase;

    color: #9faeb9;
}

.gra {
    position: relative;

    width: 700px;
    height: 1px;
    margin: 0 auto;

    background: -webkit-linear-gradient(left, transparent, #f74c80, transparent);
}

.gra em {
    position: absolute;
    bottom: -3px;
    left: 50%;

    width: 118px;
    height: 6px;
    margin-left: -56px;

    background-color: #f74c80;
}

.main2-in ul {
    width: 100%;
    height: 473px;
    padding-top: 103px;
}

.main2-in ul li {
    position: relative;

    float: left;
    width: 292px;
    height: 339px;
    margin: 0 2px 0 3px;
    overflow: hidden;

    border-radius: 10px;
}

.main2-in ul li span {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 69px;

    opacity: .45;
    border-radius: 0 0 10px 10px;
    background-color: #6c7e8e;

    filter: alpha(opacity=45);
}

.main2-in ul li p {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 69px;

    font-size: 20px;
    line-height: 69px;

    text-align: center;

    color: #fff;
}

.btt {
    width: 520px;
    height: 47px;
    margin: 0 auto;

    font-size: 20px;
    line-height: 47px;

    text-align: center;

    color: #5a605d;
    border: 1px solid #5a605d;
}

.determined {
    width: 55px;
    height: 55px;
    margin: 0 auto;
    margin: 36px auto 0;

    border-radius: 50%;
    background: url(//img.hzshuangmei.com/pc/bdtm/jiantou.png) no-repeat center center;
    background-color: #fff;
}

.main-three {
    width: 100%;
    height: 954px;
    min-width: 1260px;
    padding-top: 85px;

    background: url(//img.hzshuangmei.com/pc/bdtm/main3-bg.png) no-repeat center center;
}

.main3-in {
    width: 1200px;
    height: 954px;
    margin: 0 auto;
}

.main3-one {
    position: relative;

    width: 1153px;
    height: 385px;
    margin-top: 118px;

    border-left: 1px dashed #aeb8be;
}

.one3-left {
    float: left;
    width: 405px;
    height: 375px;
    padding: 0 65px 0 32px;
}

.yuanli {
    height: 50px;

    font-size: 30px;
    line-height: 30px;

    color: #8b9ba7;
}

.yuanli strong {
    font-weight: 700;
}

.yuanli-arc {
    width: 100%;
    height: 127px;

    font-size: 16px;
    line-height: 26px;

    color: #6a7c88;
}

.one3-left img {
    display: inline-block;
}

.one3-left span {
    padding-left: 60px;

    font-size: 16px;

    color: #8b9ba7;
}

.one3-left span.span2 {
    padding-left: 150px;

    color: #60b0c6;
}

.one3-right {
    float: left;
    width: 650px;
    height: 274px;
    margin-top: 32px;

    background-color: #aeb8be;
}

.one3-right li {
    float: left;
    width: 188px;
    height: 100%;
    margin: 0 14px;
}

.one3-right li p {
    width: 100%;
    height: 28px;

    font-size: 16px;
    font-weight: 700;
    line-height: 25px;

    text-align: center;
    text-transform: uppercase;

    color: #394b4d;
}

.one3-right li img {
    border: 5px solid #fff;
}

.circle {
    position: absolute;
    top: -1px;
    left: -6px;
}

.down {
    position: absolute;
    top: 156px;
    left: -11px;
}

.main3-two {
    position: relative;

    width: 1165px;
    height: 327px;
    padding-top: 32px;

    border-top: 1px dashed #aeb8be;
    border-right: 1px dashed #aeb8be;
    border-radius: 0 20px 0 0;
}

.p4 {
    float: left;
    width: 346px;
    height: 284px;

    border: 9px solid #aeb8be;
}

.two3-right {
    position: relative;

    float: left;
    width: 722px;
    height: 325px;
    padding-left: 39px;
}

.two3-right .yuanli-arc {
    width: 542px;
    height: 72px;
}

.two3-right .p5,
.p6 {
    display: inline-block;
}

.qh {
    width: 100%;
    height: 25px;
}

.qh .p5,
.qh .p6 {
    font-size: 16px;

    color: #8b9ba7;
}

.qh .p5 {
    padding-left: 67px;
}

.qh .p6 {
    padding-left: 150px;

    color: #60b0c6;
}

.zixun {
    position: absolute;
    right: 0;
    bottom: 25px;

    width: 196px;
    height: 48px;

    border: 1px solid #595e5b;
}

.zixun a {
    display: block;
    width: 100%;
    height: 100%;

    font-size: 24px;

    cursor: pointer;

    color: #595e5b;
}

.zixun a span {
    float: left;
    width: 43px;
    height: 43px;
    margin: 3px 0 0 10px;

    font-size: 22px;

    border-radius: 50%;
    background: url(//img.hzshuangmei.com/pc/bdtm/jiantour.png) no-repeat center center;
    background-color: #d2dbe2;
}

.zixun em {
    float: left;
    margin-left: 20px;

    font-style: normal;
    line-height: 48px;
}

.jiantou-r {
    position: absolute;
    top: -12px;
    left: 419px;
}

.jiantou-d {
    position: absolute;
    top: 200px;
    right: -12px;
}

.main-four {
    width: 100%;
    height: 960px;
    min-width: 1260px;

    background-color: #dee7ee;
}

.main4-in {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.dashe {
    position: relative;

    display: block;
    width: 1165px;
    height: 33px;

    border-right: 1px dashed #aeb8be;
    border-bottom: 1px dashed #aeb8be;
    border-radius: 0 0 10px 0;
}

.jiantou-l {
    position: absolute;
    bottom: -11px;
    left: 600px;
}

.jiantou-xie {
    position: absolute;
    bottom: -4px;
    left: 0;
}

.main4-one {
    width: 1165px;
    height: 376px;

    border-left: 1px dashed #aeb8be;
}

.main4-one .one3-right {
    width: 653px;
    height: 270px;
}

.main4-one .one3-right li {
    width: 140px;
    margin: 0 11px;
}

.main4-one .one3-right li img {
    margin: 15px auto 15px;

    border: 2px solid #fff;
}

.main4-one .one3-right li p {
    width: 100%;

    font-weight: normal;
    line-height: 16px;

    color: #fff;
}

.main4-one .yuanli-arc {
    height: 75px;
}

.main4-one .yuanli {
    height: 86px;

    line-height: 90px;
}

.main4-two {
    position: relative;

    width: 1165px;
    height: 337px;
    padding-top: 56px;

    border-top: 1px dashed #aeb8be;
    border-right: 1px dashed #aeb8be;
    border-bottom: 1px dashed #aeb8be;
    border-radius: 0 20px 10px 0;
}

.jiantou-l2 {
    position: absolute;
    bottom: -11px;
    left: 700px;
}

.circle2 {
    position: absolute;
    bottom: -5px;
    left: 0;

    border-left: 310px solid #dee7ee;
}

.main-five {
    width: 1182px;
    height: 960px;
    padding-top: 62px;
    margin: 0 auto;
}

.main5-content {
    position: relative;

    width: 100%;
    height: 730px;
    margin-top: 86px;
}

.main5-content li {
    position: absolute;

    width: 314px;
    height: 300px;
}

.main5-content li .top {
    position: relative;

    width: 314px;
    height: 202px;
    overflow: hidden;

    border-radius: 10px;
}

.main5-content li .bottom {
    width: 96%;
    height: auto;
    padding-top: 15px;
    margin: 0 auto;

    font-size: 16px;
    line-height: 26px;

    color: #434e57;
}

.sanjiao {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;
    height: 0;

    opacity: .6;
    border-right: 127px solid transparent;
    border-bottom: 77px solid #f05c8d;
}

.main5-content li .top p {
    position: absolute;
    top: 160px;
    left: 6px;

    font-size: 30px;

    color: #fff;
}

.main5A {
    top: 168px;
    left: 0;
}

.main5B {
    top: 0;
    left: 427px;
}

.main5C {
    top: 362px;
    left: 427px;
}

.main5D {
    top: 168px;
    right: 0;
}

.main-six {
    width: 100%;
    height: 1146px;
    min-width: 1260px;
    padding-top: 60px;

    background-color: #eaeaea;
}

.main6-in {
    position: relative;

    width: 1140px;
    height: 1146px;
    margin: 0 auto;
}

.lijie {
    width: 100%;
    height: 914px;
    padding-top: 135px;
}

.mian6-content {
    position: relative;

    width: 510px;
    height: 602px;
    margin-top: 100px;
    margin-left: auto;

    border: 1px solid #91b1b3;
}

.m6-in {
    position: absolute;
    top: -38px;
    left: -40px;

    width: 445px;
    height: 490px;
    padding: 85px 0 0 62px;

    background:         radial-gradient(#fff, #e6eaec, #bfc8cf);
    background: -webkit-radial-gradient(#fff, #e6eaec, #bfc8cf);
    background:    -moz-radial-gradient(#fff, #e6eaec, #bfc8cf);
    background:     -ms-radial-gradient(#fff, #e6eaec, #bfc8cf);
    background:      -o-radial-gradient(#fff, #e6eaec, #bfc8cf);
}

.lj {
    width: 100%;
    height: 83px;

    font-size: 48px;

    color: #000;
}

.m6-in li {
    width: 100%;
    height: 30px;

    font-size: 18px;

    color: #454648;
}

.m6-in li img {
    display: inline-block;
    margin-right: 15px;
}

.jpxm {
    width: 427px;
    height: 55px;
    margin-top: 24px;

    font-size: 22px;
    font-weight: 700;
    line-height: 55px;

    border-top: 1px solid #000;
}

.m6-arc {
    font-size: 18px;
    line-height: 28px;

    color: #454648;
}

.lijietu {
    position: absolute;
    bottom: 0;
    left: 0;
}

.zxzj {
    position: absolute;
    bottom: -23px;
    left: 87px;

    width: 311px;
    height: 72px;

    border-radius: 10px;
    background-color: #fd5588;
}

.zxzj a {
    display: block;
    width: 100%;
    height: 100%;

    font-size: 34px;
    line-height: 72px;

    cursor: pointer;
    text-align: center;

    color: #fff;
}

.zxzj a em {
    padding-left: 10px;
    margin-left: 10px;

    font-style: normal;

    border-left: 3px solid #fff;
}

.zxzj a em strong {
    font-weight: normal;
}

.foot {
    min-width: 1260px;
}

.head {
    min-width: 1260px;
}

.head .Tbody {
    min-width: 1260px;
}
