* {
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
    font-weight: normal;
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
}
h3 {
    font-weight: normal;
}
body {
    overflow-x: hidden;
}
.yinshen {
    position: absolute;
    width: 0.02133333rem;
    height: 0.02133333rem;
    padding: 0;
    margin: -0.02133333rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
.bk {
    display: block;
    margin: auto;
}
.zslbcon {
    font-size: 0;
}
.mncon {
    position: relative;
    width: 16rem;
    padding-top: 0.02133333rem;
    margin: auto;
}
.banner img {
    width: 100%;
}
.m1,
.m2,
.m3,
.m4,
.m5,
.m6 {
    width: 16rem;
    margin: auto;
}
.m1tit,
.m2tit,
.m3tit,
.m4tit,
.m5tit,
.m6tit {
    text-align: center;
}
.m1tit {
    margin: 1.36533333rem 0 0.74666667rem;
}
.m1tit img {
    width: 6.44266667rem;
}
.m1al1 {
    width: 13.90933333rem;
    margin-bottom: 0.32rem;
}
.m1al2 {
    width: 10.368rem;
    margin-bottom: 0.85333333rem;
}
.zszx {
    position: relative;
    display: block;
    height: 0.91733333rem;
    margin: auto;
    font-size: 0.46933333rem;
    line-height: 0.91733333rem;
    border-radius: 0.21333333rem;
    background-color: #9c3921;
}
.zszx::after {
    position: absolute;
    right: 0.34133333rem;
    bottom: 0.256rem;
    content: "";
    border-top: 0.17066667rem solid transparent;
    border-bottom: 0.17066667rem solid transparent;
    border-left: 0.27733333rem solid white;
    background-color: #9c3921;
}
.zszx span {
    margin-left: 0.448rem;
}
.m1zx {
    width: 3.15733333rem;
    margin-bottom: 0.85333333rem;
}
.m2 {
    height: 13.93066667rem;
    background: url("//img.hzshuangmei.com/m/zslb/m2bg.jpg") no-repeat center;
    background-size: 20.48rem 13.93066667rem;
}
.m2tit {
    margin-top: 1.32266667rem;
}
.m2tit img {
    width: 6.76266667rem;
}
.m2con > p {
    position: absolute;
    height: 0.96rem;
    font-size: 0.46933333rem;
    line-height: 0.96rem;
    text-align: center;
    color: #7e2307;
    background-color: #f6dcb3;
}
.m2con > p::after {
    position: absolute;
    top: 0.256rem;
    content: " ";
    border-top: 0.21333333rem solid transparent;
    border-bottom: 0.21333333rem solid transparent;
}
.m2p2::after,
.m2p4::after,
.m2p6::after {
    left: -0.34133333rem;
    border-right: 0.40533333rem solid #f6dcb3;
    border-left: 0 solid #f6dcb3;
}
.m2p1::after,
.m2p3::after,
.m2p5::after {
    right: -0.34133333rem;
    border-right: 0 solid #f6dcb3;
    border-left: 0.40533333rem solid #f6dcb3;
}
.m2p1 {
    top: 5.568rem;
    left: 0.704rem;
    width: 3.66933333rem;
}
.m2p2 {
    top: 5.54666667rem;
    right: 0.64rem;
    width: 3.84rem;
}
.m2p3 {
    top: 7.424rem;
    left: 0.34133333rem;
    width: 3.648rem;
}
.m2p4 {
    top: 7.68rem;
    right: 1.28rem;
    width: 3.98933333rem;
}
.m2p5 {
    top: 9.408rem;
    left: 1.49333333rem;
    width: 3.648rem;
}
.m2p6 {
    top: 9.42933333rem;
    right: 0.14933333rem;
    width: 4.288rem;
}
.m2zx {
    width: 5.71733333rem;
    margin-top: 8.10666667rem;
}
.m3tit {
    margin-top: 1.408rem;
    margin-bottom: 0.448rem;
}
.m3p1 {
    margin-bottom: 1.13066667rem;
    font-size: 0.384rem;
    line-height: 0.512rem;
    text-align: center;
    letter-spacing: 0.02133333rem;
    color: #695c5c;
}
.m3lb {
    position: relative;
    width: 16rem;
    margin-bottom: 1.216rem;
}
.m3lbcon {
    width: 8.64rem;
    height: 8.49066667rem;
    margin-left: 0.10666667rem;
    border: solid 0.064rem #9c3921;
}
.m3lbcon span {
    display: block;
}
.m3lbcon > :nth-child(1) {
    margin: 0.42666667rem 0 0 0.29866667rem;
    font-size: 1.49333333rem;
    font-style: italic;
    line-height: 1.49333333rem;
    color: #9c3921;
}
.m3lbcon > :nth-child(2) {
    margin: 0.256rem 0 0.27733333rem 0.32rem;
    font-size: 0.512rem;
    line-height: 0.512rem;
    color: #8f7b79;
}
.m3lbcon > :nth-child(3) {
    width: 0.576rem;
    height: 0.10666667rem;
    margin: 0 0 0.40533333rem 0.40533333rem;
    background-color: #9c3921;
}
.m3lbcon > :nth-child(4) {
    width: 7.59466667rem;
    margin: 0 0 0.61866667rem 0.32rem;
    font-size: 0.384rem;
    line-height: 0.512rem;
    color: #695c5c;
}
.m3lbcon ul {
    margin-left: 0.32rem;
    font-size: 0.384rem;
    line-height: 0.512rem;
    color: #695c5c;
}
.m3lbcon ul :first-child {
    font-weight: bold;
}
.m3lb2 {
    width: 8.42666667rem;
    padding-left: 0.21333333rem;
    margin-right: 0.10666667rem;
    margin-left: auto;
}
.m3img1 {
    position: absolute;
    top: -0.384rem;
    right: 0.10666667rem;
    width: 7.27466667rem;
}
.m3img2 {
    position: absolute;
    top: -0.42666667rem;
    left: 0.10666667rem;
    width: 7.27466667rem;
}
.m3con a {
    position: absolute;
    display: block;
    height: 0.74666667rem;
    border-radius: 0.21333333rem;
    background-color: #9c3921;
}
.m3con a::after {
    position: absolute;
    top: 0.21333333rem;
    right: 0.42666667rem;
    content: " ";
    border-top: 0.17066667rem solid transparent;
    border-bottom: 0.17066667rem solid transparent;
    border-left: 0.29866667rem solid #fff;
}
.m3con a span {
    margin-left: 0.49066667rem;
    font-size: 0.384rem;
    line-height: 0.74666667rem;
}
.m3lba1 {
    right: 0;
    bottom: 1.17333333rem;
    width: 4.88533333rem;
}
.m3lba2 {
    right: 0;
    bottom: 0;
    width: 4.90666667rem;
}
.m3lba3 {
    bottom: 0;
    left: 0;
    width: 5.14133333rem;
}
.m3con .m3lba2 span {
    margin-left: 0.384rem;
}
.m3con .m3lba3 span {
    margin-left: 0.55466667rem;
}
.m3con .m3lba4 span {
    margin-left: 0.42666667rem;
}
.m3lba4 {
    bottom: 1.25866667rem;
    left: 0;
    width: 6.10133333rem;
}
.m3con .m3lba3::after,
.m3con .m3lba4::after {
    right: 0.29866667rem;
}
.m4 {
    height: 19.43466667rem;
    background: url("//img.hzshuangmei.com/m/zslb/m4bg.jpg") center no-repeat;
    background-size: 20.48rem 19.43466667rem;
}
.m4tit {
    margin-top: 1.408rem;
    margin-bottom: 0.512rem;
}
.m4tit img {
    width: 8.78933333rem;
}
.m4p {
    margin-bottom: 0.49066667rem;
    font-size: 0.384rem;
    font-weight: bold;
    line-height: 0.512rem;
    text-align: center;
    letter-spacing: 0.02133333rem;
    opacity: .75;
    color: #4d1505;
}
.m4js1 {
    margin-right: 0.10666667rem;
}
.m4js {
    display: inline-block;
    width: 7.68rem;
    height: 10.92266667rem;
    padding-left: 0.32rem;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.52);
    box-shadow: 0.064rem 0.128rem 0.17066667rem 0 rgba(222, 215, 205, 0.26);
}
.m4js2 {
    width: 7.57333333rem;
}
.m4js > :nth-child(1) {
    display: block;
    margin-top: 0.64rem;
    font-size: 0.512rem;
    line-height: 0.512rem;
    letter-spacing: 0.04266667rem;
    color: #262222;
}
.m4js > :nth-child(2) {
    margin-top: 0.384rem;
    font-size: 0.384rem;
    line-height: 0.512rem;
    color: #332d2c;
}
.m4js > :nth-child(3) {
    display: block;
    width: 7.36rem;
    height: 0.02133333rem;
    margin-top: 0.23466667rem;
    background-color: rgba(128, 112, 112, 0.5);
}
.m4js > :nth-child(4) {
    width: 7.36rem;
    margin-top: 0.32rem;
    margin-bottom: 1.06666667rem;
    font-size: 0.384rem;
    line-height: 0.512rem;
    color: #4d4343;
}
.m4js2 > :nth-child(4) {
    width: 7.38133333rem;
    margin-bottom: 0.53333333rem;
}
.m4js img {
    width: 7.33866667rem;
}
.m4zx {
    width: 7.57333333rem;
    padding-left: 0.10666667rem;
    margin-top: 0.72533333rem;
}
.m5 {
    height: 16.08533333rem;
    background-color: #fcfcfc;
}
.m5tit {
    margin: 1.42933333rem 0 0.768rem;
}
.m5tit img {
    width: 9.19466667rem;
}
.m5ulbox {
    position: relative;
    width: 14.08rem;
    height: 6.912rem;
    margin: auto;
    overflow: hidden;
}
/*.m5ul{*/
/*position: absolute;*/
/*margin: auto;*/
/*width: 2640/46.875rem;*/
/*height: 324/46.875rem;*/
/*overflow: hidden;*/
/*}*/
/*.m5ul::after{*/
/*content: ' ';*/
/*display: block;*/
/*clear: both;*/
/*}*/
.m5ul li {
    width: 14.08rem;
    height: 6.912rem;
}
.m5ul li img {
    width: 14.08rem;
}
.m5 .m5pagecon {
    width: 3.84rem;
    height: 0.68266667rem;
    margin: 0.21333333rem auto 0;
    text-align: center;
    border-radius: 0.32rem;
    background-color: #eee;
}
.m5 .m5pagecon span {
    display: inline-block;
    width: 0.36266667rem;
    height: 0.36266667rem;
    margin-top: 0.17066667rem;
    vertical-align: middle;
    border-radius: 50%;
    background-color: rgba(171, 170, 169, 0.54);
}
.m5pagecon span:nth-child(2) {
    margin: 0.17066667rem 0.81066667rem 0;
}
.m5 .m5pagecon .m5active2 {
    background-color: #9e9e9e;
}
.m5zx {
    width: 5.44rem;
    margin-top: 1.088rem;
    font-size: 0.512rem;
}
.m5left,
.m5right {
    position: absolute;
    top: 8.68266667rem;
    left: 0.96rem;
    z-index: 200;
    width: 0.53333333rem;
}
.m5right {
    left: 14.50666667rem;
}
.m6 {
    height: 21.01333333rem;
    background: url("//img.hzshuangmei.com/m/zslb/m6bg.jpg") 50% 6.29333333rem no-repeat;
    background-size: 20.48rem 10.19733333rem;
}
.m6tit {
    margin-top: 1.45066667rem;
}
.m6tit img {
    width: 10.47466667rem;
}
.m6ys div {
    position: absolute;
    height: 2.45333333rem;
    color: #f6e2c3;
    background-color: rgba(156, 57, 33, 0.85);
}
.m6ysl {
    top: 14.336rem;
    left: 0;
    width: 5.65333333rem;
}
.m6ysz {
    top: 15.25333333rem;
    left: 5.65333333rem;
    width: 5.20533333rem;
}
.m6ysg {
    top: 14.336rem;
    right: 0;
    width: 5.14133333rem;
}
.m6ys div p:nth-child(1) {
    margin-top: 0.32rem;
    margin-left: 0.32rem;
    font-size: 0.46933333rem;
    line-height: 0.46933333rem;
    color: #f6e2c3;
}
.m6ys div p:nth-child(2) {
    margin-top: 0.29866667rem;
    margin-left: 0.32rem;
    font-size: 0.32rem;
    line-height: 0.46933333rem;
    color: #f6e2c3;
}
.m6ys div span {
    font-size: 0.36266667rem;
    line-height: 0.36266667rem;
}
.m6zx {
    position: absolute;
    top: 18.98666667rem;
    left: 50%;
    width: 5.46133333rem;
    margin-left: -2.73066667rem;
}
