.dashed,
.dashed2 span,
.zixun a,
img {
    display: block;
}.mian3-b div h3,

.qmqb,
.tt-b,
.tt1-s,
.zixun a {
    text-align: center;
}* {

    padding: 0;
    margin: 0;
}.bn,

.main1 ul,
.sanjiao,
.title1 {
    margin: 0 auto;
}body {

    font-family: "微软雅黑";

    background-color: #dffdff!important;
}.head .Tbody,

body {
    min-width: 1250px;
}h1,

h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}.mian3-b div h3,

.mian5-in h3,
.mian7-t span,
.qmqb,
.two1,
.two2 {
    font-weight: 700;
}img {

    border: 0;
}li,

ul {
    list-style: none;
}a {

    text-decoration: none;
}.impor {

    width: 0;
    height: 0;
    overflow: hidden;

    text-indent: 10px;
}.bn,

.dashed,
.main1 {
    width: 100%;
}.dashed {

    height: 76px;

    border-bottom: 1px dashed #26a6b9;
}.main1 {

    height: 1218px;
    padding-top: 70px;
}.title1 {

    width: 824px;
    height: 140px;
}.tt1-s {

    width: 100%;
    height: 54px;
    padding-top: 50px;

    font-size: 36px;
    line-height: 54px;

    color: #1996a8;
}.sanjiao {

    width: 558px;
    height: 28px;
}.main1 ul {

    width: 1133px;
    height: 681px;
    padding-top: 31px;
}.main1 ul li {

    width: 537px;
    height: 610px;

    border: 1px solid #23a0b2;
    border-radius: 10px;
}.dashed2 {

    width: 514px;
    height: 459px;
    margin: 9px auto 0;

    border: 1px dashed #23a0b2;
    border-radius: 10px;
}.dashed2 img {

    width: 488px;
    height: 433px;
    margin: 6px auto 0;

    border-radius: 10px;
}.dashed2 span {

    width: 500px;
    height: 445px;
    margin: 7px auto 0;
    overflow: hidden;

    border-radius: 10px;
    background-color: #1996a8;
}.yy,

.zixun1 {
    margin: 0 auto;
}.main1-arc,

.tt1-xs {
    width: 490px;
    height: 50px;
    padding-left: 10px;

    color: #138899;
}.tt1-xs {

    padding-top: 20px;

    font-size: 34px;
    line-height: 50px;
}.main1-arc {

    font-size: 22px;
    line-height: 30px;
}.lli {

    float: left;
}.rli {

    float: right;
}.zixun {

    position: relative;

    width: 244px;
    height: 70px;
}.zixun a {

    width: 224px;
    height: 58px;

    font-size: 24px;
    line-height: 58px;

    color: #078597;
    border-right: 10px solid #1996a8;
    border-left: 10px solid #1996a8;
    background-color: #7cc9d3;
}.yy {

    width: 247px;
    height: 14px;
}.hand {

    position: absolute;
    top: 45px;
    left: 95px;

    width: 72px;
    height: 85px;
}.main2 {

    position: relative;

    width: 100%;
    height: 919px;

    background-color: #b2eaee;
}.main2-arc,

.mian2-in,
.two1,
.two2,
.wen,
.zixun2 {
    position: absolute;
}.mian2-in {

    top: -29px;
    left: 50%;

    width: 1198px;
    height: 984px;
    margin-left: -559px;

    background: url(https://img.hzshuangmei.com/pc/queban/main2-bg.png) no-repeat;
}.wen {

    top: 288px;
    left: 612px;

    width: 430px;
    height: 66px;

    font-size: 36px;
    line-height: 66px;

    color: #a2a3a3;
}.two1,

.two2 {
    width: 162px;
    height: 56px;

    font-size: 30px;
    line-height: 56px;

    color: #1996a8;
}.two1 {

    top: 395px;
    left: 785px;
}.two2 {

    top: 475px;
    left: 700px;
}.main2-arc {

    top: 530px;
    left: 700px;

    width: 330px;
    height: 200px;

    font-size: 20px;

    color: #adaeae;
}.zixun2 {

    top: 736px;
    left: 820px;
}.main3 {

    width: 100%;
    height: 1194px;
    margin-top: 126px;

    border-top: 1px dashed #26a6b9;
    border-bottom: 1px dashed #26a6b9;
}.main4-bg,

.main4-in,
.mian3-in,
.qmqb,
.title3,
.title4 {
    margin: 0 auto;
}.mian3-in {

    width: 1026px;
    height: 1075px;
    padding-top: 10px;
}.title3 {

    width: 820px;
    height: 143px;
}.tt-b {

    width: 100%;
    height: 122px;

    font-size: 22px;

    color: #1996a8;
}.mian3-b {

    position: relative;

    width: 1013px;
    height: 732px;

    background: url(https://img.hzshuangmei.com/pc/queban/mian3-bg.png) no-repeat;
}.mian3-b div {

    position: absolute;

    width: 272px;
    height: 163px;

    color: #fff;
}.eng,

.mian5-in h3,
.mian5-in p,
.qmqb {
    color: #1996a8;
}.mian3-b div h3 {

    height: 68px;

    font-size: 32px;
    line-height: 50px;
}.mian3-b div p {

    font-size: 20px;
    line-height: 30px;
}.mian3-b div.num1 {

    top: 110px;
    left: 380px;
}.mian3-b div.num2 {

    top: 445px;
    left: 170px;
}.mian3-b div.num3 {

    top: 445px;
    left: 583px;
}.main4 {

    width: 100%;
    height: 1066px;

    background-color: #b2eaee;
}.main4-in {

    width: 1212px;
    height: 1040px;
    padding-top: 10px;
}.title4 {

    width: 821px;
    height: 140px;
}.qmqb {

    width: 200px;
    height: 49px;

    font-size: 32px;
    line-height: 49px;

    border: 2px solid #1996a8;
    border-radius: 10px;
    background-color: #bdf1f5;
}.main4-in .tt-b {

    height: 50px;
}.main4-bg {

    width: 1209px;
    height: 452px;
    padding-top: 67px;
}.main4-in ul {

    width: 100%;
    height: 140px;
}.main4-in ul li {

    float: left;
    width: 265px;
    height: 100%;
    margin: 0 69px;

    font-size: 18px;
    line-height: 26px;

    color: #1996a8;
}.main5 {

    width: 1100px;
    height: 1400px;
    padding-top: 10px;
    margin: 0 auto;
}.title5 {

    width: 821px;
    height: 140px;
    margin: 0 auto 100px;
}.main5 ul {

    width: 100%;
    height: 1050px;
    padding-top: 100px;
}.main5 ul li {

    position: relative;

    width: 1040px;
    height: 216px;
    margin-bottom: 150px;
    margin-left: auto;

    border: 1px solid #1996a8;
    border-bottom: 9px solid #1996a8;
}.main5 ul li em {

    position: absolute;
    top: -2px;
    left: 0;

    width: 519px;
    height: 5px;

    background-color: #dffdff;
}.bottom,

.main5 ul li span,
.main6 ul li {
    background-color: #1996a8;
}.main5 ul li span {

    position: absolute;
    top: -5px;
    left: 519px;

    width: 10px;
    height: 10px;

    border-radius: 50%;
}.main5-star {

    position: absolute;
    bottom: 0;
    left: -60px;
}.mian5-in {

    position: absolute;
    top: -10px;
    right: 46px;

    width: 648px;
    height: 220px;
}.mian5-in h3 {

    font-size: 30px;
    line-height: 55px;
}.mian5-in p {

    padding-bottom: 15px;

    font-size: 18px;
    line-height: 30px;
}.eng {

    font-size: 12px;
    line-height: 20px;
}.main6 {

    width: 1200px;
    height: 1297px;
    padding-top: 10px;
    margin: 0 auto;
}.title6 {

    width: 821px;
    height: 141px;
    margin: 0 auto;
}.main6 ul {

    width: 100%;
    height: 700px;
    padding-top: 326px;
}.main6 ul li {

    position: relative;

    width: 100%;
    height: 190px;
}.main6 ul li.bm {

    margin-bottom: 267px;
}.main6 ul li img {

    position: absolute;

    width: 576px;
    height: 339px;

    border: 6px solid #cfcfcf;
}.anli0a {

    top: -222px;
    left: 10px;
}.anli0b {

    top: -222px;
    right: 10px;
}.main6 ul li div {

    width: 100%;
    height: 46px;
    padding-top: 140px;
}.main6 ul li div span {

    float: left;
    width: 100px;
    height: 32px;
    margin: 0 95px 0 100px;

    font-size: 22px;
    line-height: 32px;

    text-align: center;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
}.mian7-t p,

.mian7-t span {
    float: left;

    color: #1996a8;
}.main7 {

    width: 100%;
    height: 966px;
    padding-top: 10px;

    border-bottom: 14px solid #a3dee5;
}.title7 {

    width: 821px;
    height: 138px;
    margin: 0 auto;
}.mian7-in {

    position: relative;

    width: 1040px;
    height: 558px;
    margin: 200px auto 0;
}.lijie,

.lijie-zi {
    position: absolute;
}.main7-r {

    width: 446px;
    height: 566px;
    margin-left: auto;
}.lijie-zi {

    top: -70px;
    left: 418px;

    width: 140px;
    height: 262px;
}.mian7-t {

    width: 100%;
    height: 120px;
}.mian7-t span {

    width: 65px;
    height: 77px;

    font-size: 30px;

    border-right: 4px solid #1996a8;
}.main7-r ul li,

.mian7-t p {
    font-size: 20px;
    line-height: 26px;
}.mian7-t p {

    width: 352px;
    height: auto;
    padding-left: 10px;
}.main7-r ul {

    width: 100%;
    height: 200px;
}.main7-r ul li {

    color: #7b7c7c;
}.main7-arc {

    font-size: 18px;
    line-height: 26px;

    color: #848484;
}.lijie {

    top: -44px;
    left: -53px;

    width: 625px;
    height: 854px;
}.bottom {

    width: 100%;
    height: 168px;
}.bottom-in {

    width: 1012px;
    height: 138px;
    padding-top: 32px;
    margin: 0 auto;
}.zixunb {

    margin-left: auto;
}.zixunb a {

    border-right: 10px solid #4aafbd;
    border-left: 10px solid #4aafbd;
}.zixun:hover .hand {

    -webkit-animation: xiang 1.2s 3;
            animation: xiang 1.2s 3;
}@-webkit-keyframes xiang {

    0%,
    100% {
        -webkit-transform: scale(1,1);
                transform: scale(1,1);
    }50% {

        -webkit-transform: scale(1.3,1.3);
                transform: scale(1.3,1.3);
    }
}@keyframes xiang {

    0%,
    100% {
        -webkit-transform: scale(1,1);
                transform: scale(1,1);
    }50% {

        -webkit-transform: scale(1.3,1.3);
                transform: scale(1.3,1.3);
    }
}
