html {
    width: 100%;
    height: 100%;

    font-size: 250rem;
}* {

    padding: 0;
    margin: 0;
}h1,

h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}li,

ul {
    list-style: none;
}img {

    display: block;

    border: 0;
}body {

    background-color: #fff;
}em {

    font-style: normal;
}body {

    font-family: "微软雅黑";
}p,

span {
    font-size: .5rem;
}h3 {

    font-size: .6rem;
}a {

    text-decoration: none;

    color: #fff;
    border: none;
}.clearfix:after,

.clearfix:before {
    display: table;

    content: "";
}.clearfix:after {

    clear: both;
}.clearfix {

    zoom: 1;
}.banner {

    width: 100%;
}.banner-b {

    width: 100%;
    height: 1.3rem;

    background: url(https://img.hzshuangmei.com/m/ssmk/hengtiao.png) repeat-x;
    background-color: #6ea1c3;
    background-size: contain;
}.xtitle {

    width: 100%;
    height: 3.75rem;
    padding: 1.3rem 0 0 .125rem;
    box-sizing: border-box;
}.title-r {

    width: 100%;
    height: 100%;
}.title-t {

    width: 100%;
    height: 1rem;

    font-size: .78125rem;
    line-height: .90625rem;

    color: #3179aa;
}.title-t h3 {

    float: left;

    font-size: .75rem;
    line-height: .78125rem;
}.title-t img {

    float: left;
    height: 100%;
    margin-top: -.375rem;
}.tteng {

    font-size: .45rem;
    line-height: .5rem;

    color: #acc3d7;
}.shuxian {

    float: left;
    width: .075rem;
    height: 1.5rem;
    margin-right: .25rem;

    border-right: .05rem solid #f5900c;
    border-left: .075rem solid #3179aa;
}.main-one {

    width: 100%;
    height: 19.25rem;

    background: url(https://img.hzshuangmei.com/m/ssmk/main1-bg.png) no-repeat bottom center;
    -webkit-background-size: contain;
            background-size: contain;
}.main-one section {

    float: left;
    width: 48%;
    height: 7.75rem;
    margin: 0 1%;
}.main-one section .top {

    width: 100%;
    height: 4.125rem;
    box-sizing: border-box;

    border: .05rem solid #f18a04;
    border-radius: 0 1rem 0 1rem;
}.main-one section .top img {

    float: left;
    height: 100%;
    padding-left: .75rem;
}.main-one section .top h3 {

    float: left;

    font-size: .7rem;
    font-weight: 700;
    line-height: 4rem;

    color: #f18a04;
}.main1-arc {

    padding-top: .375rem;

    font-size: .5rem;
    line-height: .7rem;

    color: #868686;
}.main-one .section2 .top {

    background: url(https://img.hzshuangmei.com/m/ssmk/girel2.png) no-repeat top left;
    background-size: contain;
}.main-one .section2 .top h3 {

    text-indent: 6em;
}.main-one .section3 .top,

.main-one .section4 .top {
    border-radius: 1rem 0 1rem 0;
}.zixun {

    width: 5rem;
    height: 1.5rem;
    padding-left: .25rem;
    margin: 0 auto;

    line-height: 1.5rem;

    text-align: center;

    border: .05rem solid #91d1fd;
    border-radius: 25rem;
}.zixun a {

    display: block;
    width: 100%;
    height: 100%;
}.zixun a img {

    float: left;
    height: 100%;
}.zixun a span {

    float: left;

    font-size: .75rem;

    color: #3f99d6;
}.zixun a span strong {

    font-weight: 700;

    color: #3f99d6;
}.clear {

    clear: both;
}.main-two {

    width: 100%;
    height: 27.5rem;

    background-color: #d7edf9;
}.main2-in {

    width: 100%;
    height: 22.65625rem;
    padding-top: 1.640625rem;
    margin: 0 auto;
}.shuxian {

    height: 1.40625rem;
}.title-t {

    width: 100%;
    height: .90625rem;

    font-size: .78125rem;
    line-height: .90625rem;

    color: #3179aa;
}.main2-bottom {

    width: 98%;
    height: 18.28125rem;
    margin: 0 auto;

    border: .0625rem solid #65a4c7;
    border-radius: .15625rem;
}.step {

    position: relative;

    width: 100%;
    height: 3.40625rem;

    border-radius: .15625rem;
    background-color: #fea32d;
}.step1 {

    margin-top: 1.0625rem;
}.step-r {

    width: 10.5rem;
    height: 3rem;
    margin-left: auto;

    border-bottom: 2.5rem solid #fff;
}.step-r img {

    padding-top: .59375rem;
}.step-r p {

    width: 98%;
    height: .78125rem;

    font-size: .5rem;
    line-height: .78125rem;

    color: #fff;
}.step-l {

    position: absolute;
    top: -.2rem;
    left: .546875rem;

    width: 4.2rem;
    height: 3.8rem;
}.step .step-l div {

    top: 1.78125rem;
    right: 0;

    border-top: .25rem solid transparent;
    border-bottom: .25rem solid transparent;
    border-left: .5rem solid #fff;
}.step-l div {

    position: absolute;

    width: 0;
    height: 0;
}.step-l img {

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 3.8rem;
    height: 3.8rem;

    border: .03125rem solid #fea32d;
    border-radius: 50%;
}.step2 {

    position: relative;

    width: 100%;
    height: 5.15625rem;

    background-color: #d7edf9;
}.step2 .step-r {

    height: 4.5rem;
    margin-left: .828125rem;

    border-bottom: .02rem solid #3179aa;
}.step2 .step-r img {

    width: 7.95rem;
    height: 1.775rem;
    padding-top: .75rem;
}.step2 .step-r p {

    color: #3179aa;
}.step2 .step-l {

    top: .25rem;
    left: 11rem;
}.step2 .step-l img {

    left: .65625rem;

    border: .03125rem solid #84b3d2;
}.step2 .step-l div {

    top: 1.78125rem;
    left: 0;

    border-top: .375rem solid transparent;
    border-right: .75rem solid #84b3d2;
    border-bottom: .375rem solid transparent;
}.step4 .step-r p {

    width: 10.078125rem;
}.yinying {

    width: 100%;
    margin: 0 auto;
}.zixun2 {

    margin: 0 auto;
}.xtitletwo .title-t img {

    width: 4.325rem;
    height: 1.025rem;
}.step1 .step-r img {

    width: 5.875rem;
    height: .85rem;
}.step3 .step-r img {

    width: 7.7rem;
    height: .9rem;
}.step4 .step-r img {

    width: 7.925rem;
    height: .85rem;
}.step4 .step-r {

    height: 3.75rem;
}.main-three {

    width: 100%;
    height: 24.5rem;
    padding-top: 1rem;
}.xtitlethree .title-t img {

    width: 2.65rem;
    height: 1.275rem;
}.main3-bg {

    width: 11.675rem;
    height: 10.45rem;
    margin: 0 auto;
}.qi {

    width: 15.175rem;
    height: 2rem;
    padding-top: .25rem;
    margin: 0 auto;

    background: url(https://img.hzshuangmei.com/m/ssmk/TJT.png) no-repeat top center;
    background-size: contain;
}.qi h3,

.qi img {
    float: left;
}.qi img:first-child {

    width: .825rem;
    height: 1.1rem;
    padding-left: 2rem;
}.qi img.twoo {

    width: 1.15rem;
    height: 1.075rem;
    padding-left: 2.25rem;
}.qi h3,

.scqj .top h3,
.yhsl .top h3 {
    font-size: .8rem;
    font-weight: 700;
    line-height: 1.5rem;

    color: #fff;
}.dhua,

.jshi,
.scqj p,
.yhsl p {
    width: 40%;
    height: 3rem;

    font-size: .5rem;

    color: #313130;
}.dhua {

    float: left;
    padding-left: 5%;
}.jshi {

    float: right;
    padding-right: 5%;
}.scqj,

.yhsl {
    float: left;
    width: 6.825rem;
    height: 4rem;
}.yhsl .top {

    width: 100%;
    height: 1.825rem;
    padding-top: .25rem;

    background: url(https://img.hzshuangmei.com/m/ssmk/bqian.png) no-repeat top center;
    background-size: contain;
}.scqj .top img,

.yhsl .top img {
    float: left;
    width: 1.05rem;
    height: 1.1rem;
    padding-left: 1.75rem;
}.yhsl p {

    width: 90%;
    margin-left: auto;
}.scqj .top {

    width: 100%;
    height: 1.825rem;
    padding-top: .25rem;

    background: url(https://img.hzshuangmei.com/m/ssmk/bqian2.png) no-repeat top center;
    background-size: contain;
}.scqj {

    float: right;
}.scqj p {

    width: 100%;
}.scqj .top img {

    padding-left: .75rem;
}.main-four {

    width: 100%;
    height: 21.75rem;

    background-color: #d7edf9;
}.mian4-in {

    width: 100%;
    height: 100%;
    margin: 0 auto;
}.main4-arc {

    width: 100%;
    height: 13.5rem;
    padding: .5rem 0 0 .25rem;
    box-sizing: border-box;

    border-radius: .25rem;
    background-color: #fd9f25;
}.main4-pic {

    width: 100%;
    height: 4.5rem;
}.main4-pic img {

    float: left;
    width: 24%;
    margin-right: 1%;
}.lian {

    position: relative;

    width: 100%;
    height: .05rem;

    background-color: #fff;
}.lian em {

    position: absolute;
    top: -.15rem;

    width: .3rem;
    height: .3rem;

    border: .05rem solid #fff;
    border-radius: 50%;
    background-color: #fd9f25;
}.lian .circle1 {

    left: 1.5rem;
}.lian .circle2 {

    left: 5.5rem;
}.lian .circle3 {

    left: 9.5rem;
}.lian .circle4 {

    left: 13.75rem;
}.main4-p {

    float: left;
    width: 23%;
    height: auto;
    padding-top: .5rem;
    margin: 0 1% 0 1%;

    font-size: .5rem;
    line-height: .65rem;

    color: #fff;
}.main4-yy {

    width: 100%;
    margin: 0 auto;
}.zixun3 {

    margin: 1rem auto .25rem;
}.main-four .title-t h3 {

    font-weight: 700;
}.anlitu {

    width: 100%;
    height: 5.5rem;
    margin: 0 auto;
}.anli1 {

    float: left;
    width: 7.7rem;
    height: 4.775rem;
}.anli2 {

    float: right;
    width: 7.7rem;
    height: 4.775rem;
}.shuhou,

.shuqian {
    float: left;
    width: 3.25rem;
    height: 1rem;

    font-size: .65rem;

    text-align: center;

    color: #3f99d6;
    border: 2.5rem solid #8fd0fb;
    border-radius: .25rem;
}.shuqian {

    margin-left: .75rem;
}.shuhou {

    margin: 0 .25rem;
}
/*.padfoot{height:182.5rem}*/
/*.footer{border:2.5rem #e1e1e1 solid;width:100%;font-size:40rem;position:fixed;bottom:0;left:0;right:0;background-color:#fafafa;z-index:9999}*/
.shuhou,
.shuqian {
    float: left;
    width: 3.25rem;
    height: 1rem;

    font-size: .65rem;

    text-align: center;

    color: #3f99d6;
    border: .05rem solid #8fd0fb;
    border-radius: .25rem;
}
