.banner{
width: 100%;
}
.banner img{
width: 100%;
vertical-align: bottom;
}
.container1{
width:15.875rem;
margin: 0 auto;
background-color: #ffe4d4;
border: 0.075rem solid #fcbcbc;
margin-top: 1.25rem;
}
.container1 .part1{
width: 14.325rem;
margin: 0 auto;
}
.title{
margin: 0 auto;
margin-top: 0.625rem;
}
.title img{
width: 100%;
}
.container1 .content{
text-align: center;
}
.container1 .content img{
width: 100%;
}
.container1 .content .img3{
margin-top: 1.0rem;
}
.content p{
width: 14.325rem;
font-size: 0.55rem;
color: #656565;
text-align: left;
margin: 0 auto;
margin-top: 0.725rem;

}
.content p .font{
padding-left: 1.1rem;
}
.container1 .content .img4{
margin-top: 0.875rem;
width: 100%;
}
.bottom{
display: block;
width: 5.575rem;
height: 1.125rem;
background:url(../images/go.png) no-repeat;
background-size: cover;
font-size: 0.6rem;
color: #fff;
margin: 1.175rem auto 1.075rem ;
}
.bottom span{
position: relative;
top: 11%;
left: -15%;
}
.container2{
background-color:#fef9f3;
width:15.875rem;
margin: 0 auto;
border: 0.075rem solid #ffc000;
margin-top: 1.25rem;
}
.container2 .part2{
width: 14.325rem;
margin: 0 auto;
}
.container2 .content img{
width: 100%;
}
.container2 .content .img5{
margin-top: 0.875rem;
margin-bottom: 1.5rem;
width: 100%;
}
.container2 .content .img6{
margin-bottom:0.625rem
}
.container2 .content .span{
margin-left: 1.25rem;
}
.content p{
width: 14.325rem;
font-size: 0.55rem;
color: #656565;
text-align: left;
margin: 1.0rem auto 0;
}
.container3{
background-color:#ffe4d4;
width:15.875rem;
margin: 0 auto;
border: 0.075rem solid #fcbcbc;
margin-top: 1.25rem;
}
.container3 .part3{
width: 14.325rem;
margin: 0 auto;
}
.container3 .content img{
width: 100%;
margin-top: 0.375rem;
}
.container3 .content .img8{
margin-top:1.0rem
}
.container3 .content .span1{
margin-left:1.25rem;
}
.container4{
background-color:#fef9f3;
width:15.875rem;
margin: 0 auto;
border: 0.075rem solid #ffc000;
margin-top: 1.25rem;
}
.container4 .part4{
width: 14.325rem;
margin: 0 auto;
width: ;
}
.container4 .content img{
width: 100%;
margin-top: 0.375rem;
}
.container4 .content h1{
margin: 0 auto;
text-align: center;
margin-top: 1rem;
font-size: 0.75rem;
color: #4e4e4e;
}
.container4 .content .span2{
margin-left:1.25rem;
}
.link{
width: 16.0rem;
height: 5.0rem;
margin: 0 auto;
margin-top: 1rem;
display: block;
}
.link img{
width: 100%;
}
