html {
    height: 100%;
    width: 100%;
    font-size: 100/40rem
}

* {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

ul,
li {
    list-style: none
}

img {
    display: block;
    border: 0
}

body {
    background-color: #fff
}

em {
    font-style: normal
}

body {
    font-family: "微软雅黑"
}

p,
span {
    font-size: 0.2*100/40rem
}

h3 {
    font-size: 0.24*100/40rem
}

a {
    color: #fff;
    border: none;
    text-decoration: none
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: ""
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom: 1
}

.banner {
    width: 100%;
    margin-top: 0.7*100/40rem
}

.main-one {
    width: 100%;
    height: 6*100/40rem;
    margin: 0 auto;
    padding-top: 0.5*100/40rem
}

.title1 {
    width: 4.1*100/40rem
}

.title1 img {
    width: 3.61*100/40rem;
    height: 0.31*100/40rem
}

.title {
    height: 0.93*100/40rem;
    margin: 0 auto;
    position: relative
}

.title h3 {
    font-size: 0.34*100/40rem;
    font-weight: 700;
    color: #a25084;
    text-align: center;
    line-height: 0.5*100/40rem
}

.title img {
    margin: 0 auto
}

.title span {
    width: 1.38*100/40rem;
    height: 0.32*100/40rem;
    position: absolute
}

.title .xian1 {
    border-top: 1/40rem solid #b393b3;
    border-left: 1/40rem solid #b393b3;
    top: 0;
    left: 0
}

.title .xian2 {
    border-bottom: 1/40rem solid #b393b3;
    border-right: 1/40rem solid #b393b3;
    bottom: 0;
    right: 0
}

.title em {
    position: absolute;
    width: 0.05*100/40rem;
    height: 0.05*100/40rem;
    background-color: #b393b3;
    border-radius: 50%
}

.main1-center {
    width: 100%;
    height: 4*100/40rem;
    border: 0.02*100/40rem solid #D0B5D0;
    margin-top: 0.575*100/40rem;
    padding-top: 0.08125*100/40rem;
    position: relative;
    box-sizing: border-box
}

.mian1Cin {
    width: 98%;
    height: 3.8*100/40rem;
    background-color: #f4e8ed;
    margin: 0 auto;
    position: relative
}

.ximei {
    position: absolute;
    height: 2.56*100/40rem;
    width: 1.69*100/40rem;
    top: 0.8*100/40rem;
    left: 0.12*100/40rem
}

.ximei img {
    width: 1.69*100/40rem;
    height: 1.6*100/40rem;
    margin: 0 auto
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #dec2d2 transparent transparent transparent;
    border-width: 0.1*100/40rem;
    margin: 0 auto
}

.ximei h3 {
    font-size: 0.2*100/40rem;
    color: #9d5f86;
    line-height: 0.3*100/40rem;
    font-weight: 700;
    text-align: center
}

.ximei p {
    font-size: 0.2*100/40rem;
    color: #ac6994;
    text-align: center
}

.ximei2 {
    top: 0.3*100/40rem;
    left: 1.35*100/40rem;
    width: 2.2*100/40rem
}

.ximei2 h3,
.ximei2 p,
.ximei3 h3,
.ximei3 p {
    text-align: center;
    white-space: nowrap
}

.ximei2 .triangle {
    border-color: transparent transparent #dec2d2 transparent;
    margin: 0.093*100/40rem auto 0
}

.ximei3 {
    left: 2.8*100/40rem;
    width: 2.3*100/40rem
}

.ximei3 .triangle {
    margin: 0 auto
}

.ximei4 {
    left: 4.6*100/40rem;
    top: 0.3*100/40rem
}

.ximei4 .triangle {
    margin: 0 auto;
    border-color: transparent transparent #dec2d2 transparent
}

.lt,
.br {
    width: 0.57*100/40rem;
    height: 0.55*100/40rem
}

.lt {
    position: absolute;
    top: -0.04*100/40rem;
    left: -0.02*100/40rem;
    z-index: 2
}

.br {
    position: absolute;
    bottom: -0.031*100/40rem;
    right: -0.012*100/40rem;
    z-index: 2
}

.main-two {
    width: 100%;
    height: 6*100/40rem;
    background-color: #EFDDE8
}

.main2-in {
    width: 100%;
    height: 5.8*100/40rem;
    margin: 0 auto;
    padding-top: 0.25*100/40rem
}

.title2 {
    width: 3.23*100/40rem
}

.title2 img {
    width: 2.99*100/40rem;
    height: 0.33*100/40rem
}

.title2 h3,
.title3 h3,
.title4 h3,
.title5 h3 {
    color: #80427c;
    font-size: 0.26*100/40rem
}

.main2-in ul {
    width: 100%;
    height: 2.1*100/40rem;
    padding-top: 0.31*100/40rem
}

.main2-in ul li {
    float: left;
    width: 32%;
    height: 1.93*100/40rem;
    position: relative;
    margin-right: 2%
}

.main2-in ul li img {
    border-radius: 10/40rem;
    width: 100%
}

.main2-in ul li span {
    background-color: #fff;
    opacity: 0.3;
    filter: Alpha(opacity=30)
}

.main2-in ul li span,
.main2-in ul li p {
    position: absolute;
    width: 100%;
    height: 0.38*100/40rem;
    top: 1.29*100/40rem;
    left: 0
}

.main2-in ul li p {
    text-align: center;
    line-height: 0.38*100/40rem;
    color: #592e56;
    font-size: 0.26*100/40rem;
    font-weight: 700
}

.main2-in ul li.nomargin {
    margin-right: 0
}

.main2-arc {
    width: 96%;
    height: 1.3*100/40rem;
    border: 1/40rem solid #b393b3;
    border-radius: 10/40rem;
    font-size: 0.22*100/40rem;
    color: #592e56;
    line-height: 0.28*100/40rem;
    padding: 0.08*100/40rem 0.06*100/40rem 0;
    margin: 0 auto
}

.main2-arc strong {
    font-size: 0.22*100/40rem;
    font-weight: 700
}

.zx {
    width: 2.2*100/40rem;
    height: 0.6*100/40rem;
    margin: 0.31*100/40rem auto 0;
    background-color: #a25084;
    overflow: hidden;
    position: relative
}

.zx a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.zx i {
    display: block;
    width: 2*100/40rem;
    height: 0.39*100/40rem;
    margin: 0 auto;
    margin-top: 0.08*100/40rem;
    line-height: 0.39*100/40rem;
    color: #fff;
    font-size: 0.34*100/40rem;
    background: url(https://img.hzshuangmei.com/m/wash/jia.png) no-repeat right center;
    background-size: contain;
    text-indent: 0.5em
}

.sjtl,
.sjbr {
    width: 0;
    height: 0;
    position: absolute
}

.sjtl {
    border-top: 0.18*100/40rem solid #EFDDE8;
    border-right: 0.18*100/40rem solid transparent;
    top: 0;
    left: 0
}

.sjbr {
    border-bottom: 0.18*100/40rem solid #EFDDE8;
    border-left: 0.18*100/40rem solid transparent;
    bottom: 0;
    right: 0
}

.main-three {
    width: 100%;
    height: 8.6*100/40rem;
    margin: 0 auto;
    padding-top: 0.37*100/40rem;
    position: relative
}

.title3 {
    width: 3.25*100/40rem
}

.title3 img {
    width: 1.53*100/40rem;
    height: 0.35*100/40rem
}

.liti1 {
    width: 100%;
    height: 0.07*100/40rem;
    background-color: #bf83a9;
    position: relative
}

.main3Sj1,
.main3Sj2 {
    position: absolute;
    width: 0;
    height: 0
}

.main3Sj1 {
    border-top: 0.07*100/40rem solid #fff;
    border-right: 0.12*100/40rem solid transparent;
    top: 0;
    left: 0
}

.main3Sj2 {
    border-top: 0.08*100/40rem solid #fff;
    border-left: 0.12*100/40rem solid transparent;
    bottom: 0;
    right: 0
}

.liti2 {
    width: 100%;
    height: 0.8*100/40rem;
    background-color: #a25084
}

.liti {
    width: 100%;
    height: 0.96*100/40rem;
    margin-top: 0.39*100/40rem
}

.litinum {
    padding: 0.25*100/40rem 0 0 0.2*100/40rem;
    float: left;
    width: 0.43*100/40rem;
    height: 0.29*100/40rem
}

.liti2 h3 {
    font-size: 0.28*100/40rem;
    color: #fff;
    font-weight: 700;
    line-height: 0.8*100/40rem;
    float: left;
    width: 1.64*100/40rem;
    height: 100%;
    text-align: center
}

.youshi {
    padding-top: 0.26*100/40rem;
    float: left;
    width: 0.55*100/40rem;
    height: 0.27*100/40rem
}

.zx2 {
    float: right;
    margin: 0.1*100/40rem 0.23*100/40rem 0 0;
    background-color: #bf83a9
}

.zx2 .sjtl {
    border-top: 0.18*100/40rem solid #a25084
}

.zx2 .sjbr {
    border-bottom: 0.18*100/40rem solid #a25084
}

.yinying {
    width: 100%;
    height: 0.2*100/40rem;
    background: linear-gradient(#D4BECC, transparent);
    background: -webkit-linear-gradient(#D4BECC, transparent);
    background: -o-linear-gradient(#D4BECC, transparent);
    background: -moz-linear-gradient(#D4BECC, transparent);
    background: -ms-linear-gradient(#D4BECC, transparent)
}

.main3-center {
    width: 100%;
    height: 5.89*100/40rem;
    background: url(https://img.hzshuangmei.com/m/wash/main3-bg.png) no-repeat left center;
    background-size: contain
}

.main3arc {
    width: 4.5*100/40rem;
    height: 4.08*100/40rem;
    margin-left: auto;
    padding-top: 0.1*100/40rem
}

.main3arc div {
    width: 100%;
    height: 0.8*100/40rem
}

.main3arc div em {
    width: 0.3*100/40rem;
    height: 0.3*100/40rem;
    border: 0.02*100/40rem solid #a25084;
    display: block;
    text-align: center;
    line-height: 0.3*100/40rem;
    color: #928d90;
    font-size: 0.26*100/40rem;
    border-radius: 50%;
    background-color: #fff;
    font-style: normal
}

.main3arc div p {
    font-size: 0.2*100/40rem;
    color: #928d90;
    line-height: 0.26*100/40rem;
    text-indent: 1em
}

.main3arc div p strong {
    font-size: 0.2*100/40rem;
    font-weight: 700
}

div.distance1 em {
    margin-left: 1.4*100/40rem
}

div.distance1 p {
    text-indent: 1.8*100/40rem
}

div.distance2 em {
    margin-left: 1.9*100/40rem
}

div.distance2 p {
    text-indent: 2.3*100/40rem
}

div.distance3 em {
    margin-left: 2.2*100/40rem
}

div.distance3 p {
    text-indent: 2.4*100/40rem
}

div.distance4 em {
    margin-left: 2.2*100/40rem
}

div.distance4 p {
    text-indent: 2.4*100/40rem
}

div.distance5 em {
    margin-left: 2*100/40rem
}

div.distance6 em {
    margin-left: 1.5*100/40rem
}

div.distance5 p {
    text-indent: 2.2*100/40rem
}

div.distance6 p {
    text-indent: 1.8*100/40rem
}

.main3eng {
    width: 2.2*100/40rem;
    height: 0.36*100/40rem;
    margin: 0.23*100/40rem auto 0;
    border: 0.02*100/40rem solid #a25084;
    border-radius: 10/40rem
}

.main3eng a {
    display: block;
    width: 100%;
    height: 100%
}

.main3eng img {
    margin: 0 auto;
    padding-top: 0.1*100/40rem
}

.lititwo {
    position: absolute;
    bottom: -0.53*100/40rem;
    z-index: 2
}

.litithree .main3Sj1,
.litithree .main3Sj2 {
    border-top: 0.07*100/40rem solid #F0E3EB
}

.mian-four {
    width: 100%;
    height: 5.8*100/40rem;
    background-color: #f0e3eb;
    position: relative
}

.main4-in {
    width: 100%;
    height: 4.5*100/40rem;
    margin: 0 auto;
    padding-top: 0.8*100/40rem
}

.mian4img {
    width: 100%;
    height: 1.9*100/40rem;
    background: url(https://img.hzshuangmei.com/m/wash/xian.png) no-repeat center center;
    background-size: contain
}

.mian4img img {
    float: left;
    width: 1.38*100/40rem;
    height: 1.38*100/40rem;
    border-radius: 50%;
    margin: 0.2*100/40rem 0.03*100/40rem 0/40rem 0.16*100/40rem
}

.main4-in ul {
    width: 100%;
    height: 2*100/40rem;
    padding-top: 0.18*100/40rem
}

.main4-in ul li {
    float: left;
    width: 24.2%;
    height: 2.1*100/40rem;
    background-color: #e9d5e1;
    border-radius: 10/40rem;
    position: relative;
    padding: 0.25*100/40rem 0.05*100/40rem 0;
    font-size: 0.2*100/40rem;
    color: #6f5b68;
    line-height: 0.24*100/40rem;
    position: relative;
    margin-right: 1%;
    box-sizing: border-box
}

.main4-in ul li.toppadding {
    padding-top: 0.5*100/40rem
}

.main4-in ul li h3 {
    position: absolute;
    border: 1/40rem solid #a25084;
    width: 1.2*100/40rem;
    height: 0.32*100/40rem;
    top: -0.15*100/40rem;
    left: 50%;
    margin-left: -0.6*100/40rem;
    border-radius: 10/40rem;
    text-align: center;
    line-height: 0.32*100/40rem;
    color: #a25084;
    font-weight: 700;
    font-size: 0.24*100/40rem
}

.main4-in ul li.nomargin {
    margin-right: 0
}

.litithree {
    position: absolute;
    bottom: -0.5*100/40rem
}

.main-five {
    width: 100%;
    height: 5.5*100/40rem;
    padding-top: 1.3*100/40rem;
    margin: 0 auto
}

.main-five ul {
    width: 100%;
    height: 4.5*100/40rem
}

.main-five ul li {
    width: 31%;
    height: 4*100/40rem;
    float: left;
    margin: 0 1%
}

.main-five img {
    width: 100%
}

.main-five .main4num {
    margin: 0 auto
}

.main-five .main4num1 {
    width: 0.15*100/40rem;
    height: 0.39*100/40rem
}

.main-five .main4num2 {
    width: 0.27*100/40rem;
    height: 0.4*100/40rem
}

.main-five .main4num3 {
    width: 0.27*100/40rem;
    height: 0.41*100/40rem
}

.main-five ul li h3 {
    font-size: 0.22*100/40rem;
    color: #a25084;
    line-height: 0.4*100/40rem;
    font-weight: 700;
    text-align: center
}

.main4eng {
    width: 100%;
    height: 0.275*100/40rem;
    line-height: 0.275*100/40rem;
    font-size: 0.15*100/40rem;
    text-transform: uppercase;
    text-align: center;
    color: #c4c3c4
}

.main4eng em {
    font-size: 0.24*100/40rem;
    color: #c77cac;
    font-style: normal;
    float: left;
    width: 10%
}

.main4eng span {
    line-height: 0.32*100/40rem;
    float: left;
    text-align: center;
    font-size: 0.12*100/40rem;
    white-space: normal;
    width: 80%
}

.main-five ul li p {
    font-size: 0.2*100/40rem;
    line-height: 0.26*100/40rem;
    color: #454444;
    padding-top: 0.1*100/40rem
}

.main4e {
    width: 2.5*100/40rem;
    height: 0.6*100/40rem;
    margin: 0 auto;
    border: 0.02*100/40rem solid #a25084;
    border-radius: 10/40rem;
    position: relative
}

.main4e span {
    width: 0.5*100/40rem;
    height: 0.5*100/40rem;
    position: absolute;
    background: url(https://img.hzshuangmei.com/m/wash/xiaoshou.png) no-repeat;
    background-size: contain;
    right: -0.3*100/40rem;
    bottom: -0.2*100/40rem
}

.main4e a {
    display: block;
    width: 100%;
    height: 100%
}

.main4e img {
    margin: 0 auto;
    padding-top: 0.25*100/40rem;
    width: 2.2*100/40rem;
    height: 0.13*100/40rem
}

.main-six {
    width: 100%;
    height: 6.3*100/40rem;
    background-color: #f0e3eb
}

.main6-in {
    width: 100%;
    height: 8.2*100/40rem;
    margin: 0 auto;
    padding-top: 0.33*100/40rem
}

.title4 {
    width: 3.8*100/40rem
}

.title4 img {
    width: 3.02*100/40rem;
    height: 0.33*100/40rem
}

.mian6-in {
    width: 100%;
    height: 3.2*100/40rem;
    margin-top: 0.6*100/40rem;
    position: relative
}

.mian6-in div {
    height: 1.26*100/40rem;
    position: absolute;
    width: 2.2*100/40rem
}

.mian6-in div img {
    height: 100%
}

.mian6-in div p {
    font-size: 0.24*100/40rem;
    color: #fff;
    width: 1.85*100/40rem;
    height: 0.37*100/40rem;
    position: absolute;
    top: 0.85*100/40rem;
    left: 0.2*100/40rem
}

.main6Q1 {
    left: 0.37*100/40rem;
    top: 0
}

.main6Q2 {
    left: 2.3*100/40rem;
    top: 0
}

.main6Q3 {
    left: 4.2*100/40rem;
    top: 0
}

.main6Q4 {
    left: 0;
    top: 1.4*100/40rem
}

.main6Q5 {
    left: 1.94*100/40rem;
    top: 1.4*100/40rem
}

.mian6-in .main6Q4 p,
.mian6-in .main6Q5 p {
    top: 0.75*100/40rem
}

.main-seven {
    width: 100%;
    height: 6.32*100/40rem;
    margin: 0 auto;
    padding-top: 0.53*100/40rem
}

.title5 {
    width: 3.8*100/40rem
}

.title5 img {
    width: 1.42*100/40rem;
    height: 0.32*100/40rem
}

.main-seven ul {
    width: 100%;
    height: 3.25*100/40rem;
    padding-top: 0.83*100/40rem;
    margin: 0 auto
}

.main-seven ul li {
    width: 23.2%;
    height: 1.46*100/40rem;
    float: left;
    margin-right: 2%
}

.main-seven ul li img {
    width: 100%
}

.main-seven ul li p {
    width: 100%;
    height: 0.3*100/40rem;
    background-color: #bf83a9;
    line-height: 0.3*100/40rem;
    text-align: center;
    color: #fff;
    font-size: 0.22em
}

.leftmargin {
    margin-left: 0.075*100/40rem
}

.main-seven ul li.nomargin {
    margin-right: 0
}

.td {
    animation: allitem_bounce 3s infinite linear;
    -moz-animation: allitem_bounce 3s infinite linear;
    -ms-animation: allitem_bounce 3s infinite linear;
    -o-animation: allitem_bounce 3s infinite linear;
    -webkit-animation: allitem_bounce 3s infinite linear
}

@keyframes allitem_bounce {
    0%,
    80%,
    84%,
    90%,
    96%,
    100% {
        -webkit-transform: translateY(0)
    }
    88% {
        -webkit-transform: translateY(-6/40rem)
    }
    92% {
        -webkit-transform: translateY(-3/40rem)
    }
}

@-webkit-keyframes allitem_bounce {
    0%,
    80%,
    84%,
    90%,
    96%,
    100% {
        -webkit-transform: translateY(0)
    }
    88% {
        -webkit-transform: translateY(-6/40rem)
    }
    92% {
        -webkit-transform: translateY(-3/40rem)
    }
}

@-moz-keyframes allitem_bounce {
    0%,
    80%,
    84%,
    90%,
    96%,
    100% {
        -moz-transform: translateY(0)
    }
    88% {
        -moz-transform: translateY(-6/40rem)
    }
    92% {
        -moz-transform: translateY(-3/40rem)
    }
}

@-o-keyframes allitem_bounce {
    0%,
    80%,
    84%,
    90%,
    96%,
    100% {
        -o-transform: translateY(0)
    }
    88% {
        -o-transform: translateY(-6/40rem)
    }
    92% {
        -o-transform: translateY(-3/40rem)
    }
}

.padfoot {
    height: 73/40rem
}

.footer {
    border: 1/40rem #e1e1e1 solid;
    width: 100%;
    font-size: 16/40rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fafafa;
    z-index: 9999
}