html {
    width: 100%;
    height: 100%;

    font-size: 2.5rem;
}

* {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}

li,
ul {
    list-style: none;
}

img {
    display: block;

    border: 0;
}

body {
    background-color: #fff;
}

em {
    font-style: normal;
}

body {
    font-family: "微软雅黑";
}

p,
span {
    font-size: .5rem;
}

h3 {
    font-size: .6rem;
}

a {
    text-decoration: none;

    color: #fff;
    border: none;
}

.clearfix:after,
.clearfix:before {
    display: table;

    content: "";
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.wash_banner {
    width: 100%;
    /* margin-top: 1.75rem */
}

.wash_main-one {
    width: 100%;
    height: 15rem;
    padding-top: 1.25rem;
    margin: 0 auto;
}

.title1 {
    width: 10.25rem;
}

.title1 img {
    width: 9.025rem;
    height: .775rem;
}

.title {
    position: relative;

    height: 2.325rem;
    margin: 0 auto;
}

.title h3 {
    font-size: .85rem;
    font-weight: 700;
    line-height: 1.25rem;

    text-align: center;

    color: #a25084;
}

.title img {
    margin: 0 auto;
}

.title span {
    position: absolute;

    width: 3.45rem;
    height: .8rem;
}

.title .xian1 {
    top: 0;
    left: 0;

    border-top: .025rem solid #b393b3;
    border-left: .025rem solid #b393b3;
}

.title .xian2 {
    right: 0;
    bottom: 0;

    border-right: .025rem solid #b393b3;
    border-bottom: .025rem solid #b393b3;
}

.title em {
    position: absolute;

    width: .125rem;
    height: .125rem;

    border-radius: 50%;
    background-color: #b393b3;
}

.main1-center {
    position: relative;

    width: 100%;
    height: 10rem;
    padding-top: .203125rem;
    margin-top: 1.4375rem;
    box-sizing: border-box;

    border: .05rem solid #d0b5d0;
}

.mian1Cin {
    position: relative;

    width: 98%;
    height: 9.5rem;
    margin: 0 auto;

    background-color: #f4e8ed;
}

.ximei {
    position: absolute;
    top: 2rem;
    left: .3rem;

    width: 4.225rem;
    height: 6.4rem;
}

.ximei img {
    width: 4.225rem;
    height: 4rem;
    margin: 0 auto;
}

.triangle {
    width: 0;
    height: 0;
    margin: 0 auto;

    border-width: .25rem;
    border-style: solid;
    border-color: #dec2d2 transparent transparent transparent;
}

.ximei h3 {
    font-size: .5rem;
    font-weight: 700;
    line-height: .75rem;

    text-align: center;

    color: #9d5f86;
}

.ximei p {
    font-size: .5rem;

    text-align: center;

    color: #ac6994;
}

.ximei2 {
    top: .75rem;
    left: 3.375rem;

    width: 5.5rem;
}

.ximei2 h3,
.ximei2 p,
.ximei3 h3,
.ximei3 p {
    text-align: center;
    white-space: nowrap;
}

.ximei2 .triangle {
    margin: .2325rem auto 0;

    border-color: transparent transparent #dec2d2 transparent;
}

.ximei3 {
    left: 7rem;

    width: 5.75rem;
}

.ximei3 .triangle {
    margin: 0 auto;
}

.ximei4 {
    top: .75rem;
    left: 11.5rem;
}

.ximei4 .triangle {
    margin: 0 auto;

    border-color: transparent transparent #dec2d2 transparent;
}

.br,
.lt {
    width: 1.425rem;
    height: 1.375rem;
}

.lt {
    position: absolute;
    top: -.1rem;
    left: -.05rem;
    z-index: 2;
}

.br {
    position: absolute;
    right: -.03rem;
    bottom: -.0775rem;
    z-index: 2;
}

.wash_main-two {
    width: 100%;
    height: 15rem;

    background-color: #efdde8;
}

.main2-in {
    width: 100%;
    height: 14.5rem;
    padding-top: .625rem;
    margin: 0 auto;
}

.title2 {
    width: 8.075rem;
}

.title2 img {
    width: 7.475rem;
    height: .825rem;
}

.title2 h3,
.title3 h3,
.title4 h3,
.title5 h3 {
    font-size: .65rem;

    color: #80427c;
}

.main2-in ul {
    width: 100%;
    height: 5.25rem;
    padding-top: .775rem;
}

.main2-in ul li {
    position: relative;

    float: left;
    width: 32%;
    height: 4.825rem;
    margin-right: 2%;
}

.main2-in ul li img {
    width: 100%;

    border-radius: .25rem;
}

.main2-in ul li span {
    opacity: .3;
    background-color: #fff;

    filter: alpha(opacity=30);
}

.main2-in ul li p,
.main2-in ul li span {
    position: absolute;
    top: 3.225rem;
    left: 0;

    width: 100%;
    height: .95rem;
}

.main2-in ul li p {
    font-size: .65rem;
    font-weight: 700;
    line-height: .95rem;

    text-align: center;

    color: #592e56;
}

.main2-in ul li.nomargin {
    margin-right: 0;
}

.main2-arc {
    width: 96%;
    height: 3.25rem;
    padding: .2rem .15rem 0;
    margin: 0 auto;

    font-size: .55rem;
    line-height: .7rem;

    color: #592e56;
    border: .025rem solid #b393b3;
    border-radius: .25rem;
}

.main2-arc strong {
    font-size: .55rem;
    font-weight: 700;
}

.zx {
    position: relative;

    width: 5.5rem;
    height: 1.5rem;
    margin: .775rem auto 0;
    overflow: hidden;

    background-color: #a25084;
}

.zx a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.zx i {
    display: block;
    width: 5rem;
    height: .975rem;
    margin: 0 auto;
    margin-top: .2rem;

    font-size: .85rem;
    line-height: .975rem;

    text-indent: .5em;

    color: #fff;
    background: url(https://img.hzshuangmei.com/m/wash/jia.png) no-repeat right center;
    background-size: contain;
}

.sjbr,
.sjtl {
    position: absolute;

    width: 0;
    height: 0;
}

.sjtl {
    top: 0;
    left: 0;

    border-top: .45rem solid #efdde8;
    border-right: .45rem solid transparent;
}

.sjbr {
    right: 0;
    bottom: 0;

    border-bottom: .45rem solid #efdde8;
    border-left: .45rem solid transparent;
}

.wash_main-three {
    position: relative;

    width: 100%;
    height: 21.5rem;
    padding-top: .925rem;
    margin: 0 auto;
}

.title3 {
    width: 8.125rem;
}

.title3 img {
    width: 3.825rem;
    height: .875rem;
}

.liti1 {
    position: relative;

    width: 100%;
    height: .175rem;

    background-color: #bf83a9;
}

.main3Sj1,
.main3Sj2 {
    position: absolute;

    width: 0;
    height: 0;
}

.main3Sj1 {
    top: 0;
    left: 0;

    border-top: .175rem solid #fff;
    border-right: .3rem solid transparent;
}

.main3Sj2 {
    right: 0;
    bottom: 0;

    border-top: .2rem solid #fff;
    border-left: .3rem solid transparent;
}

.liti2 {
    width: 100%;
    height: 2rem;

    background-color: #a25084;
}

.liti {
    width: 100%;
    height: 2.4rem;
    margin-top: .975rem;
}

.litinum {
    float: left;
    width: 1.075rem;
    height: .725rem;
    padding: .625rem 0 0 .5rem;
}

.liti2 h3 {
    float: left;
    width: 4.1rem;
    height: 100%;

    font-size: .7rem;
    font-weight: 700;
    line-height: 2rem;

    text-align: center;

    color: #fff;
}

.youshi {
    float: left;
    width: 1.375rem;
    height: .675rem;
    padding-top: .65rem;
}

.zx2 {
    float: right;
    margin: .25rem .575rem 0 0;

    background-color: #bf83a9;
}

.zx2 .sjtl {
    border-top: .45rem solid #a25084;
}

.zx2 .sjbr {
    border-bottom: .45rem solid #a25084;
}

.yinying {
    width: 100%;
    height: .5rem;

    background:         linear-gradient(#d4becc, transparent);
    background: -webkit-linear-gradient(#d4becc, transparent);
    background:      -o-linear-gradient(#d4becc, transparent);
    background:    -moz-linear-gradient(#d4becc, transparent);
    background:     -ms-linear-gradient(#d4becc, transparent);
}

.main3-center {
    width: 100%;
    height: 14.725rem;

    background: url(https://img.hzshuangmei.com/m/wash/main3-bg.png) no-repeat left center;
    background-size: contain;
}

.main3arc {
    width: 11.25rem;
    height: 10.2rem;
    padding-top: .25rem;
    margin-left: auto;
}

.main3arc div {
    width: 100%;
    height: 2rem;
}

.main3arc div em {
    display: block;
    width: .75rem;
    height: .75rem;

    font-size: .65rem;
    font-style: normal;
    line-height: .75rem;

    text-align: center;

    color: #928d90;
    border: .05rem solid #a25084;
    border-radius: 50%;
    background-color: #fff;
}

.main3arc div p {
    font-size: .5rem;
    line-height: .65rem;

    text-indent: 1em;

    color: #928d90;
}

.main3arc div p strong {
    font-size: .5rem;
    font-weight: 700;
}

div.distance1 em {
    margin-left: 3.5rem;
}

div.distance1 p {
    text-indent: 4.5rem;
}

div.distance2 em {
    margin-left: 4.75rem;
}

div.distance2 p {
    text-indent: 5.75rem;
}

div.distance3 em {
    margin-left: 5.5rem;
}

div.distance3 p {
    text-indent: 6rem;
}

div.distance4 em {
    margin-left: 5.5rem;
}

div.distance4 p {
    text-indent: 6rem;
}

div.distance5 em {
    margin-left: 5rem;
}

div.distance6 em {
    margin-left: 3.75rem;
}

div.distance5 p {
    text-indent: 5.5rem;
}

div.distance6 p {
    text-indent: 4.5rem;
}

.main3eng {
    width: 5.5rem;
    height: .9rem;
    margin: .575rem auto 0;

    border: .05rem solid #a25084;
    border-radius: .25rem;
}

.main3eng a {
    display: block;
    width: 100%;
    height: 100%;
}

.main3eng img {
    padding-top: .25rem;
    margin: 0 auto;
}

.lititwo {
    position: absolute;
    bottom: -1.325rem;
    z-index: 2;
}

.litithree .main3Sj1,
.litithree .main3Sj2 {
    border-top: .175rem solid #f0e3eb;
}

.wash_mian-four {
    position: relative;

    width: 100%;
    height: 14.5rem;

    background-color: #f0e3eb;
}

.main4-in {
    width: 100%;
    height: 11.25rem;
    padding-top: 2rem;
    margin: 0 auto;
}

.mian4img {
    width: 100%;
    height: 4.75rem;

    background: url(https://img.hzshuangmei.com/m/wash/xian.png) no-repeat center center;
    background-size: contain;
}

.mian4img img {
    float: left;
    width: 3.45rem;
    height: 3.45rem;
    margin: .5rem .075rem 0 .4rem;

    border-radius: 50%;
}

.main4-in ul {
    width: 100%;
    height: 5rem;
    padding-top: .45rem;
}

.main4-in ul li {
    position: relative;

    float: left;
    width: 24.2%;
    height: 5.25rem;
    padding: .625rem .125rem 0;
    margin-right: 1%;
    box-sizing: border-box;

    font-size: .5rem;
    line-height: .6rem;

    color: #6f5b68;
    border-radius: .25rem;
    background-color: #e9d5e1;
}

.main4-in ul li.toppadding {
    padding-top: 1.25rem;
}

.main4-in ul li h3 {
    position: absolute;
    top: -.375rem;
    left: 50%;

    width: 3rem;
    height: .8rem;
    margin-left: -1.5rem;

    font-size: .6rem;
    font-weight: 700;
    line-height: .8rem;

    text-align: center;

    color: #a25084;
    border: .025rem solid #a25084;
    border-radius: .25rem;
}

.main4-in ul li.nomargin {
    margin-right: 0;
}

.litithree {
    position: absolute;
    bottom: -1.25rem;
}

.wash_main-five {
    width: 100%;
    height: 13.75rem;
    padding-top: 3.25rem;
    margin: 0 auto;
}

.wash_main-five ul {
    width: 100%;
    height: 11.25rem;
}

.wash_main-five ul li {
    float: left;
    width: 31%;
    height: 10rem;
    margin: 0 1%;
}

.wash_main-five img {
    width: 100%;
}

.wash_main-five .main4num {
    margin: 0 auto;
}

.wash_main-five .main4num1 {
    width: .375rem;
    height: .975rem;
}

.wash_main-five .main4num2 {
    width: .675rem;
    height: 1rem;
}

.wash_main-five .main4num3 {
    width: .675rem;
    height: 1.025rem;
}

.wash_main-five ul li h3 {
    font-size: .55rem;
    font-weight: 700;
    line-height: 1rem;

    text-align: center;

    color: #a25084;
}

.main4eng {
    width: 100%;
    height: .6875rem;

    font-size: .375rem;
    line-height: .6875rem;

    text-align: center;
    text-transform: uppercase;

    color: #c4c3c4;
}

.main4eng em {
    float: left;
    width: 10%;

    font-size: .6rem;
    font-style: normal;

    color: #c77cac;
}

.main4eng span {
    float: left;
    width: 80%;

    font-size: .3rem;
    line-height: .8rem;

    text-align: center;
    white-space: normal;
}

.wash_main-five ul li p {
    padding-top: .25rem;

    font-size: .5rem;
    line-height: .65rem;

    color: #454444;
}

.main4e {
    position: relative;

    width: 6.25rem;
    height: 1.5rem;
    margin: 0 auto;

    border: .05rem solid #a25084;
    border-radius: .25rem;
}

.main4e span {
    position: absolute;
    right: -.75rem;
    bottom: -.5rem;

    width: 1.25rem;
    height: 1.25rem;

    background: url(https://img.hzshuangmei.com/m/wash/xiaoshou.png) no-repeat;
    background-size: contain;
}

.main4e a {
    display: block;
    width: 100%;
    height: 100%;
}

.main4e img {
    width: 5.5rem;
    height: .325rem;
    padding-top: .625rem;
    margin: 0 auto;
}

.wash_main-six {
    width: 100%;
    height: 15.75rem;

    background-color: #f0e3eb;
}

.main6-in {
    width: 100%;
    height: 20.5rem;
    padding-top: .825rem;
    margin: 0 auto;
}

.title4 {
    width: 9.5rem;
}

.title4 img {
    width: 7.55rem;
    height: .825rem;
}

.mian6-in {
    position: relative;

    width: 100%;
    height: 8rem;
    margin-top: 1.5rem;
}

.mian6-in div {
    position: absolute;

    width: 5.5rem;
    height: 3.15rem;
}

.mian6-in div img {
    height: 100%;
}

.mian6-in div p {
    position: absolute;
    top: 2.125rem;
    left: .5rem;

    width: 4.625rem;
    height: .925rem;

    font-size: .6rem;

    color: #fff;
}

.main6Q1 {
    top: 0;
    left: .925rem;
}

.main6Q2 {
    top: 0;
    left: 5.75rem;
}

.main6Q3 {
    top: 0;
    left: 10.5rem;
}

.main6Q4 {
    top: 3.5rem;
    left: 0;
}

.main6Q5 {
    top: 3.5rem;
    left: 4.85rem;
}

.mian6-in .main6Q4 p,
.mian6-in .main6Q5 p {
    top: 1.875rem;
}

.wash_main-seven {
    width: 100%;
    height: 15.8rem;
    padding-top: 1.325rem;
    margin: 0 auto;
}

.title5 {
    width: 9.5rem;
}

.title5 img {
    width: 3.55rem;
    height: .8rem;
}

.wash_main-seven ul {
    width: 100%;
    height: 8.125rem;
    padding-top: 2.075rem;
    margin: 0 auto;
}

.wash_main-seven ul li {
    float: left;
    width: 23.2%;
    height: 3.65rem;
    margin-right: 2%;
}

.wash_main-seven ul li img {
    width: 100%;
}

.wash_main-seven ul li p {
    width: 100%;
    height: .75rem;

    font-size: .22em;
    line-height: .75rem;

    text-align: center;

    color: #fff;
    background-color: #bf83a9;
}

.leftmargin {
    margin-left: .1875rem;
}

.wash_main-seven ul li.nomargin {
    margin-right: 0;
}

.td {
    -webkit-animation: allitem_bounce 3s infinite linear;
       -moz-animation: allitem_bounce 3s infinite linear;
        -ms-animation: allitem_bounce 3s infinite linear;
         -o-animation: allitem_bounce 3s infinite linear;
            animation: allitem_bounce 3s infinite linear;
}

@keyframes allitem_bounce {
    0%,
    100%,
    80%,
    84%,
    90%,
    96% {
        -webkit-transform: translateY(0);
    }
    88% {
        -webkit-transform: translateY(-.15rem);
    }
    92% {
        -webkit-transform: translateY(-.075rem);
    }
}

@-webkit-keyframes allitem_bounce {
    0%,
    100%,
    80%,
    84%,
    90%,
    96% {
        -webkit-transform: translateY(0);
    }
    88% {
        -webkit-transform: translateY(-.15rem);
    }
    92% {
        -webkit-transform: translateY(-.075rem);
    }
}

@-moz-keyframes allitem_bounce {
    0%,
    100%,
    80%,
    84%,
    90%,
    96% {
        -moz-transform: translateY(0);
    }
    88% {
        -moz-transform: translateY(-.15rem);
    }
    92% {
        -moz-transform: translateY(-.075rem);
    }
}

@-o-keyframes allitem_bounce {
    0%,
    100%,
    80%,
    84%,
    90%,
    96% {
        -o-transform: translateY(0);
    }
    88% {
        -o-transform: translateY(-.15rem);
    }
    92% {
        -o-transform: translateY(-.075rem);
    }
}

/*.padfoot {*/
/*height: 1.825rem*/
/*}*/
