.banner img{
    width:100%
}
.m1{
   width:1200px;
    margin: 0 auto;
}
.part1 .m1{
    height:692px;
    background:url(//img.hzshuangmei.com/pc/lineeaglenose/images/p1_bg.png) no-repeat center;
    text-align: center;
    vertical-align: bottom;

}
.ghtimg{
    margin-top: -12px;
    width: 170px;
    position: relative;
    top: -4px;
}
.part1 .m1>img{
    padding-top:145px
}
.ask_q{
    display:block;
    text-align: center;
}
.part1 .m1 a img{
    padding-top:27px
}
.part2{
    height:897px;
    background:url(//img.hzshuangmei.com/pc/lineeaglenose/images/p2_bg.jpg) no-repeat center;
    background-size:cover;

}
.title{
    padding-top:110px;
    margin:0 auto;
    width:1105px
}
.line{
    width:401px;
    float:left
}
hr{
    width:379px;
    float:left;
    margin-top:9px;
    color:#e2e1e1;

}
.square{
    display:block;
    width:19px;
    height:19px;
    background:url(//img.hzshuangmei.com/pc/lineeaglenose/images/square.png) no-repeat center;
    float:left
}
.title h3{
    float:left;
    font-size: 60px;
    color: rgb( 21, 21, 21 );
    line-height: 0.3;
    width:302px;
    text-align: center;
}
.c_red{
    color:#de2626
}
h4{
    font-size: 35px;
    color: rgb( 130, 130, 130 );
    line-height: 0.914;
    text-align: center;
    margin-top:37px
}
.part2 ul{
padding-top:75px
}
.part2 ul li{
    float:left;
    height:352px;
}
.part2 ul li div{
    height:352px;
    color: rgb( 255, 254, 254 );
    font-size: 18px;
    opacity:0
}
.part2 ul li .fli{
    opacity: 1;
}
.part2 ul li h3{
   text-align: center;
    font-size: 25px;
    color: rgb( 0, 0, 0 );
    line-height: 2.28;

}
.part2 ul li p{
    width:208px;
    height:100px;
    margin:auto;
    padding-top:140px
}
.part2 ul li:first-child{
    width:279px;
    background:url(//img.hzshuangmei.com/pc/lineeaglenose/images/p2_01.png) no-repeat;
}
.part2 ul li:first-child div{
    width:279px;
    background:url(//img.hzshuangmei.com/pc/lineeaglenose/images/p2_h01.png) no-repeat center;
}
.part2 ul li:nth-child(2){
    width:305px;
    background:url(//img.hzshuangmei.com/pc/lineeaglenose/images/p2_02.png) no-repeat;
}
.part2 ul li:nth-child(2) div{
    width:305px;
    background:url(//img.hzshuangmei.com/pc/lineeaglenose/images/p2_h02.png) no-repeat center;
}
.part2 ul li:nth-child(3){
    width:309px;
    background:url(//img.hzshuangmei.com/pc/lineeaglenose/images/p2_03.png) no-repeat;
}
.part2 ul li:nth-child(3) div{
    width:309px;
    background:url(//img.hzshuangmei.com/pc/lineeaglenose/images/p2_h03.png) no-repeat center;
}.part2 ul li:last-child{
     width:302px;
     background:url(//img.hzshuangmei.com/pc/lineeaglenose/images/p2_04.png) no-repeat;
 }
.part2 ul li:last-child div{
    width:302px;
    background:url(//img.hzshuangmei.com/pc/lineeaglenose/images/p2_h04.png) no-repeat center;
}
.part2 a{
    display:block;
    text-align: center;
}
.part2 a img{
    padding-top:125px;
}
.part3{
    height:930px;
    background:url(//img.hzshuangmei.com/pc/lineeaglenose/images/p3_bg.jpg) no-repeat center;
    background-size:cover;
    color:#fff;
}

.part3 .line{
    width:337px;
    float:left
}
.part3 hr{
    width:315px;
    float:left;
    margin-top:9px;
    color:#6b6b6b;

}
.part3 .square{
    background:url(//img.hzshuangmei.com/pc/lineeaglenose/images/square1.png) no-repeat center;
}
.part3 h3{
    float:left;
    font-size: 60px;
    color: rgb( 21, 21, 21 );
    line-height: 0.3;
    width:430px;
    text-align: center;
}
.part3 h3{
    color:#fff;
}
.part3 h4{
    color: #fff;
}
.part3 .yuan{
    width:600px;
    border-radius:50%;
    text-align: center;
    position: relative;
    left: 186px;
    margin: 224px auto 0;
}
.part3 a{
    display:inline-block;
}
.part3 .yuan p{
    font-size:21px;
    margin-top:37px;
}
.part3 .icon{
    margin-top:30px;
}
.part3 .icon img{
    margin:0 17px;
}
.part4{
    height:1119px;
    background:url(//img.hzshuangmei.com/pc/lineeaglenose/images/p4_bg.jpg) no-repeat center;
    background-size:cover;
}
.part4 ul{
    margin-top:74px;
}
.part4 ul li{
    width:343px;
    height:279px;
    text-align: center;
    color: rgb( 255, 255, 255 );
    float:left;
    margin: 0 28px 33px;
}
.part4 ul li .top{
height:162px;
    background-color:#6c6b6b;
}
.part4 ul li:hover .top{
    background-color:#b50404;
}
.part4 ul li .p4_img{
    height:97px;
    position:relative;
}
.part4 ul li img{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    left: 38%;
}
.part4 ul li h4{
    font-size: 30px;
    line-height:2.0;
    color:#fff;
    margin-top: 1px;
}
.part4 ul li i{
    display:block;
    width:12px;
    height:16px;
    background:url(//img.hzshuangmei.com/pc/lineeaglenose/images/arrow.png) no-repeat center;
    margin:0 auto;
    position: relative;
    top: -4px;
}
.part4 ul li .bottom{
    height:117px;
    background-color:#fff;
}
.part4 ul li .bottom p{
    width:290px;
    margin:0 auto;
    padding-top:25px;
    color:#6c6b6b;
    font-size:18px;
}
.part4 ul .left{
margin-left:20%
}
.part4 a img{
    padding-top:75px
}
.part5 .m2{
    width: 1002px;
    height: 964px;
    background: url(//img.hzshuangmei.com/pc/lineeaglenose/images/p5_bg.png) no-repeat center;
    margin: 0 auto;
    padding-top: 93px;
}
.part5 .m2>img{
    margin-top:25px;
}
.part6{
    height:953px;
    background:url(//img.hzshuangmei.com/pc/lineeaglenose/images/p6_bg.jpg) no-repeat center;
    background-size:cover;
}
.part6 .m1{
    height:600px;
}
.part6 a{
    margin-top:-68px
}
.part6 .swiper-container {
    width: 100%;
    height: 456px;
    margin-left: auto;
    margin-right: auto;
}

.part6 .swiper-slide {
    background-position: center;
}

.part6 .gallery-top {
    width: 100%;
    background-color: rgba(229, 229, 229, 0.329);
    margin-top: 60px
}
.part6 .gallery-top h3 {
    font-size: 30px;
    color: rgb(222, 38, 38);
    line-height: 1.067;
    margin: 57px 0 14px 49px;
}
.part6 .gallery-top p {
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 1.778;
    margin: 14px 0 0 49px;
}
.part6 .gallery-top img {
    margin: 40px 0 0 40px;
}
.part6 .gallery-thumbs {
    height: 160px;
    box-sizing: border-box;
    width: 430px;
    position: relative;
    top: -195px;
    left: 353px;
}
.part6 .gallery-thumbs .swiper-slide {
    width: 129px;
    height: 124px;
    opacity: 0.4;
}
.part6 .gallery-thumbs .swiper-slide-active {
    opacity: 1;
}
.part6 .gallery-thumbs .swiper-slide h4 {
    text-align: center;
    margin-left: -6px;
    margin-top: 11px;
    font-size: 18px;
    color: rgb(130, 130, 130);
    line-height: 1.778;
}
.part7{
    height:1080px;
    background:url(//img.hzshuangmei.com/pc/lineeaglenose/images/p7_bg.png) no-repeat center;
    background-size:cover;
}
.part7 .m1{
    margin-top:145px;
    position:relative;
    height:1000px;
}

.part7 .m1 #tab1{
    position: absolute;
    right: 0;
    width:104px;
    height:412px;
    background:url(//img.hzshuangmei.com/pc/lineeaglenose/images/p7_tab.png);
    margin-top:150px;
}
.part7 .m1 #tab1 ul{
    margin-top:110px;
}
.part7 .m1 #tab1 ul li{
    background-color:#e3e3e3;
    width: 106px;
    height: 36px;
    margin-bottom:35px;
    font-size:25px;
    color:#c9c9c9;
    text-align: center;
}
.part7 .m1 #tab1 ul .fli{
    color:#fff;
    background-color:#de2626;
}
.part7 .m1 #tabCon{
    width: 1091px;
    height:850px;
}
.part7 .m1 #tabCon ul{
    display:inline-block;
    width:521px;
    margin:0 50px 0 35px;
    position: relative;
    top: -32px;
}
.part7 .m1 #tabCon ul li:first-child{
    margin-bottom:28px;
}
.part7 .m1 #tabCon ul li:nth-child(2){
    margin-bottom:65px;
}
.part7 .m1 #tabCon ul li:last-child{
    margin-bottom:65px;
}
.part7 .m1 #tabCon ul li .pic1{
    margin:0 10px 0 15px;
}
.part7 .m1 #tabCon ul li .li_p1{
    display:inline-block;
}
.part7 .m1 #tabCon ul li span:first-child{
    background-color: rgb( 222, 38, 38 );
    width: 99px;
    height: 25px;
    font-size: 30px;
    color: rgb( 255, 254, 254 );
}
.part7 .m1 #tabCon ul li span:last-child{
  font-size:18px;
    color:#000;
}
.part7 .m1 #tabCon ul li:nth-child(2) p{
    font-size:20px;
    color:#000;
    line-height: 40px;

}
.part7 .m1 #tabCon ul li:last-child h5{
    width:150px;
    height:32px;
    font-size:30px;
    color:#000;
    margin-bottom:20px;
}
.part7 .m1 #tabCon ul li:last-child h5 i{
    display:inline-block;
    height:28px;
    border-left:4px solid #de2626;
    border-right:4px solid #e5e5e5;
}
.part7 .m1 #tabCon ul li:last-child>i{
    display:inline-block;
    width:126px;
    text-align: center;
}
.part7 a img{
    padding-top:70px
}

.part7 .m1 #tabCon .fdiv {
    display:block;
}
.part7 .m1 #tabCon div {
     display:none;
 }
.fli2{
    background-color:#b50404!important;
}