@charset "utf-8";
.sr-only,
img {
    border: 0
}

.m2 h3,
.m2 p,
.m3 h3,
.m3 p,
.m4 .row {
    text-align: center
}

.img-respon {
    display: block;
    width: 100%;
    height: auto
}

a,
body {
    color: #000
}

body,
dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
label,
li,
p,
textarea,
ul {
    margin: 0;
    padding: 0
}

form {
    display: inline
}

.consult,
.f-cb:after {
    display: block
}

td {
    word-break: break-all
}

dd,
dl,
dt,
li,
ul {
    list-style: none
}

a {
    text-decoration: none
}

body {
    background: url(https://img.hzshuangmei.com/m/ifresh/bg_gray.jpg) left top
}

.f-fr {
    float: right
}

.f-fl {
    float: left
}

.f-cb:after {
    visibility: hidden;
    clear: both;
    height: 0;
    overflow: hidden;
    content: '.'
}

.f-cb {
    zoom: 1
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0)
}

.m1 .g-doc,
.m2_0 {
    padding-top: .75rem
}

.g-doc,
.m1 .consult,
.m2 .consult {
    margin-left: auto;
    margin-right: auto
}

.banner {
    background: url(https://img.hzshuangmei.com/m/ifresh/banner.jpg) center center no-repeat #7ccae6;
    padding-bottom: 72%;
    background-size: auto 100%
}

.m1 {
    background: url(https://img.hzshuangmei.com/m/ifresh/bg1.jpg) center bottom no-repeat #7ccae6
}

.m1 h2 {
    background: url(https://img.hzshuangmei.com/m/ifresh/bgt1.jpg) center top no-repeat;
    height: 4.2rem;
    background-size: auto 100%
}

.m1 .consult {
    background: url(https://img.hzshuangmei.com/m/ifresh/bg_consult1.jpg) center top no-repeat;
    height: 4.025rem;
    width: 7.175rem;
    background-size: auto 100%
}

.m1 .fish {
    background: url(https://img.hzshuangmei.com/m/ifresh/fish1.png) center top no-repeat;
    background-size: 100% auto
}

.m2_0 h2 {
    background: url(https://img.hzshuangmei.com/m/ifresh/bgt2.jpg) center top no-repeat;
    height: 4.4rem;
    background-size: auto 100%
}

.m2 .consult {
    background: url(https://img.hzshuangmei.com/m/ifresh/bg_consult2.jpg) center top no-repeat;
    height: 3.725rem;
    width: 7.3rem;
    background-size: auto 100%
}

.m3_0 {
    background: url(https://img.hzshuangmei.com/m/ifresh/bgt3.jpg) center top no-repeat #a3daf0;
    height: 8.675rem;
    background-size: auto 100%
}

.m3 {
    height: 21.9rem;
    background: url(https://img.hzshuangmei.com/m/ifresh/bgc3.jpg) center bottom no-repeat #a3daf0;
    background-size: auto 15.15rem
}

.m3 .consult {
    background: url(https://img.hzshuangmei.com/m/ifresh/bg_consult3.png) center top no-repeat;
    height: 2.25rem;
    width: 6.35rem;
    background-size: auto 100%
}

.m4 h2 {
    background: url(https://img.hzshuangmei.com/m/ifresh/bgt4.jpg) center top no-repeat;
    height: 4.1rem;
    background-size: auto 100%
}

.m4 .consult {
    background: url(https://img.hzshuangmei.com/m/ifresh/bg_consult4.jpg) center top no-repeat;
    height: 2.5rem;
    width: 10.9rem;
    background-size: auto 100%
}

.m4 .fish {
    background: url(https://img.hzshuangmei.com/m/ifresh/fish4.png) center top no-repeat;
    height: 1.625rem;
    background-size: auto 100%
}

.m5 {
    background: url(https://img.hzshuangmei.com/m/ifresh/bg5.jpg) center top no-repeat;
    height: 33.45rem;
    background-size: auto 100%
}

.m5 h2 {
    background: url(https://img.hzshuangmei.com/m/ifresh/bgt5.jpg) center top no-repeat;
    height: 5.1rem;
    background-size: auto 100%
}

.m6 {}

.m6 h2 {
    background: url(https://img.hzshuangmei.com/m/ifresh/bgt6.jpg) center top no-repeat;
    height: 4.875rem;
    background-size: auto 100%
}

.g-doc {
    width: 16rem
}

.consult:hover {
    transform: scale(.9, .9)
}

body {
    width: 100%;
    overflow-x: hidden
}

.m1 .g-doc {
    padding-bottom: 1.9rem;
    position: relative
}

.m1 .content {
    margin-top: 2.5rem
}

.m1 img {
    margin-bottom: 1.25rem;
    width: 100%
}

.m1 .fish {
    position: absolute;
    top: 6.3rem;
    left: 5.6rem;
    width: 5.45rem;
    height: 1.6rem;
    animation: fish1 8s linear infinite
}

@keyframes fish1 {
    0%,
    100% {
        top: 6.3rem;
        left: 5.6rem;
        opacity: 1;
        transform: scale(1, 1)
    }
    60% {
        top: 5.8rem;
        left: 13.1rem;
        opacity: 0;
        transform: scale(.6, .6)
    }
    61% {
        top: 6.8rem;
        left: -1.9rem;
        opacity: 0;
        transform: scale(.8, .8)
    }
}

.m2_0 {
    margin-bottom: 1rem
}

.m2 .g-doc {
    position: relative
}

.m2 h3 {
    margin: .9rem auto 0;
    border-radius: .75rem;
    border: 1px solid #a2bfdc;
    width: 9.5rem;
    line-height: 1.5rem;
    font-size: .95rem;
    color: #82abd4;
    font-weight: 400
}

.m2 img {
    width: 100%
}

.m2 p {
    margin: .35rem auto;
    width: 15rem;
    line-height: .7rem;
    font-size: .45rem;
    color: #7e9fc1
}

.m2 p span {
    font-size: .575rem
}

.m2 .consult {
    margin-top: .75rem;
    margin-bottom: 1rem
}

.m2 .fish {
    position: absolute
}

.m2 .fish1 {
    top: -5.9rem;
    left: -16.15rem;
    width: 18.65rem;
    animation: fish2 25s linear infinite
}

.m2 .fish2 {
    top: .9rem;
    left: 14.75rem;
    width: 5.8rem;
    animation: fish2_2 10s linear infinite
}

@keyframes fish2 {
    0%,
    100% {
        top: -5.9rem;
        left: -16.15rem;
        opacity: .8;
        transform: scale(1, 1)
    }
    89% {
        top: -10.9rem;
        left: 30rem;
        opacity: 0;
        transform: scale(.2, .2)
    }
    90% {
        top: -6.9rem;
        left: -18.65rem;
        opacity: 0;
        transform: scale(1, 1)
    }
}

@keyframes fish2_2 {
    0%,
    100% {
        top: .9rem;
        left: 14.75rem;
        opacity: 1;
        transform: scale(1, 1)
    }
    60% {
        top: .9rem;
        left: 27.25rem;
        opacity: 0;
        transform: scale(.6, .6)
    }
    61% {
        top: .9rem;
        left: 2.25rem;
        opacity: 0;
        transform: scale(.8, .8)
    }
}

.m3 .g-doc {
    padding-top: 1.65rem
}

.m3 .content {
    height: 17rem
}

.m3 h3 {
    font-size: .75rem;
    color: #3589a6
}

.m3 h3 span {
    font-size: 1rem;
    color: #2a88ae;
    font-weight: 700
}

.m3 p {
    margin-top: .2rem;
    font-size: .45rem;
    color: #3589a6
}

.m3 .consult {
    margin-left: 4.15rem
}

.m4 .g-doc {
    position: relative;
    padding-top: 1.25rem
}

.m4 .content {
    position: relative;
    margin-top: 2.75rem
}

.m4 .item {
    display: inline-block;
    vertical-align: top;
    border-radius: .5rem;
    width: 5.4rem;
    margin-left: .2rem;
    margin-bottom: .15rem;
    padding: .65rem 1.1rem 0;
    height: 6.6rem;
    text-align: justify
}

.m4 .item:first-child {
    margin-left: 0
}

.m4 .item1,
.m4 .item4 {
    width: 5.2rem;
    height: 6.4rem
}

.m4 h3 {
    width: 4rem;
    margin: 0 auto;
    padding-bottom: .15rem;
    border-bottom: 1px solid #fff;
    font-size: .7rem;
    font-weight: 400;
    text-align: center
}

.m4 p,
.m5 li {
    font-size: .4rem
}

.m4 p {
    padding-top: .45rem;
    line-height: .55rem;
    text-align: justify
}

.m5 li,
.m6 .item span {
    text-align: center;
    float: left
}

.m4 img {
    margin-top: .5rem;
    width: 100%
}

.m4 .item1 {
    top: .875rem;
    left: .25rem;
    color: #62a3bb;
    border: 4px solid #a5c9d6
}

.m4 .item1 h3 {
    color: #5598b3;
    border-color: #a5c9d6
}

.m4 .item2 {
    top: 8rem;
    left: .25rem;
    color: #4e8c93;
    background: #b3d2dd
}

.m4 .item2 h3 {
    color: #4e8c93;
    border-color: #7da5b5
}

.m4 .item3 {
    top: 3.65rem;
    left: 22.25rem;
    color: #5a8d9f;
    background: #c7d1e8
}

.m4 .item3 h3 {
    color: #4e6393;
    border-color: #8a9abe
}

.m4 .item4 {
    top: 10.75rem;
    left: 22.25rem;
    border: 4px solid #becae5;
    color: #949eb5
}

.m4 .item4 h3 {
    color: #94a3c5;
    border-color: #c7d1e8
}

.m4 .consult {
    margin: 1rem auto 1.5rem
}

.m4 .fish {
    width: 5.9rem;
    position: absolute;
    top: 6.25rem;
    left: 5.5rem;
    animation: fish4 10s linear infinite
}

.m4 .pop {
    position: absolute;
    border-radius: 50%;
    background-color: #bae5ff
}

.m4 .pop1 {
    width: .3rem;
    height: .3rem;
    top: 26.5rem;
    left: 13.25rem;
    animation: pop 4s 1s ease infinite
}

.m4 .pop2 {
    width: .4rem;
    height: .4rem;
    top: 25.9rem;
    left: 13.6rem;
    animation: pop 4s 2s ease infinite
}

.m4 .pop3 {
    width: .65rem;
    height: .65rem;
    top: 25rem;
    left: 13.25rem;
    animation: pop 4s 3s ease infinite
}

@keyframes fish4 {
    0%,
    100% {
        top: 6.25rem;
        left: 5.5rem;
        opacity: 1;
        transform: scale(1, 1)
    }
    40% {
        top: 5.75rem;
        left: -3.25rem;
        opacity: 0;
        transform: scale(.6, .6)
    }
    41% {
        top: 6.75rem;
        left: 14.25rem;
        opacity: 0;
        transform: scale(.8, .8)
    }
}

@keyframes pop {
    0% {
        top: 27rem;
        left: 13.25rem;
        transform: scale(0, 0);
        opacity: 1
    }
    10% {
        top: 26.5rem;
        left: 13.25rem;
        transform: scale(.6, .6);
        opacity: .8
    }
    50% {
        top: 25.9rem;
        left: 13.6rem;
        transform: scale(1.5, 1.5);
        opacity: .6
    }
    98% {
        top: 25rem;
        left: 13.25rem;
        transform: scale(2, 2);
        opacity: 0
    }
    99% {
        top: 26.5rem;
        left: 13.25rem;
        transform: scale(0, 0);
        opacity: 0
    }
    100% {
        top: 26.5rem;
        left: 13.25rem;
        transform: scale(0, 0);
        opacity: 1
    }
}

.m5 ul {
    margin-top: 9.325rem;
    margin-left: 2.5rem
}

.m5 li {
    width: 5rem;
    color: #fcfcfd
}

.m5 li.odd {
    margin-top: 1.5rem
}

.m5 .content {
    margin-top: 2rem;
    background: url(https://img.hzshuangmei.com/m/ifresh/img5.jpg) center center no-repeat;
    background-size: auto 100%;
    width: 16.05rem;
    height: 20.8rem
}

.m5 .consult {
    margin: .5rem auto 0;
    background: url(https://img.hzshuangmei.com/m/ifresh/bg_consult5.jpg) center center no-repeat;
    background-size: auto 100%;
    width: 8.325rem;
    height: 4.175rem
}

.m6 .g-doc {
    padding-top: 1.25rem
}

.m6 .content {
    height: 19.5rem;
    position: relative
}

.m6 .indicator,
.m6 .item {
    position: absolute;
    left: 0
}

.m6 .item {
    top: 1.75rem;
    padding-top: 3.65rem;
    padding-left: 6.05rem;
    width: 9.75rem;
    height: 8.85rem  
}

.m6 .item p {
    width: 9.45rem;
    height: 3.075rem
}

.m6 .item span {
    margin-bottom: .1rem;
    margin-left: .05rem;
    height: 1.1rem;
    line-height: 1.1rem;
    font-size: .45rem;
    color: #fff
}

.m6 .item .custom {
    font-size: .6rem;
    color: #41a1c2;
    font-weight: 700
}

.m6 .item.active {
    z-index: 4
}

.m6 .custom1 {
    width: 2.8rem
}

.m6 .custom2 {
    width: 2.9rem
}

.m6 .custom3 {
    width: 3.25rem
}

.m6 .custom4 {
    width: 5rem
}

.m6 .custom5 {
    width: 4rem
}

.m6 .item1 {
    padding-left: 6.15rem;
    width: 9.45rem;
    background: url(https://img.hzshuangmei.com/m/ifresh/img6_1.jpg) top left no-repeat;
    background-size: auto 100%
}

.m6 .item1 span {
    width: 3rem
}

.m6 .item2 {
    background: url(https://img.hzshuangmei.com/m/ifresh/img6_2.jpg) top left no-repeat;
    background-size: auto 100%;
    padding-left: 6.3rem;
   padding-top: 3rem;
    height: 9.5rem;
  
}

.m6 .item3 {
    background: url(https://img.hzshuangmei.com/m/ifresh/img6_3.jpg) top left no-repeat;
    background-size: auto 100%;
    padding-left: 7rem;
   
}

.m6 .item3 .custom3 {
    width: 3.55rem
}

.m6 ul {
    margin-top: .75rem;
    padding-left: 1.25rem
}

.m6 ul li {
    list-style-type: disc;
    width: 8.15rem;
    margin-bottom: .15rem;
    font-size: .45rem;
    color: #fff
}

.m6 .indicator {
    top: 15rem;
    padding: 0;
    width: 16rem;
    height: 2.75rem;
    background: url(https://img.hzshuangmei.com/m/ifresh/bg_indicator1.jpg) left center no-repeat;
    background-size: auto 100%
}

.m6 .indicator1 {
    background: url(https://img.hzshuangmei.com/m/ifresh/bg_indicator1.jpg) left center no-repeat;
    background-size: auto 100%
}

.m6 .indicator2 {
    background: url(https://img.hzshuangmei.com/m/ifresh/bg_indicator2.jpg) left center no-repeat;
    background-size: auto 100%
}

.m6 .indicator3 {
    background: url(https://img.hzshuangmei.com/m/ifresh/bg_indicator3.jpg) left center no-repeat;
    background-size: auto 100%
}

.m6 .indicator li {
    list-style: none;
    float: left;
    width: 5.3rem;
    height: 2.4rem
}

.m6 .indicator:hover {
    cursor: pointer
}