@charset "utf-8";
a,
body {
    color: #000
}

body,
dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
label,
li,
p,
textarea,
ul {
    margin: 0;
    padding: 0
}

form {
    display: inline
}

img {
    border: 0
}

td {
    word-break: break-all
}

dd,
dl,
dt,
li,
ul {
    list-style: none
}

a {
    text-decoration: none
}

body {
    background: #fff;
    font-family: "微软雅黑", sans-serif, Verdana, Arial
}

.f-fr {
    float: right
}

.f-fl {
    float: left
}

.f-cb:after {
    display: block;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    clear: both;
    content: "."
}

.f-cb {
    zoom: 1
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.img-respon {
    display: block;
    width: 100%;
    height: auto
}

* {}

.g-row {
    font-size: 0
}

.g-row .g-item {
    display: inline-block;
    vertical-align: top
}

.consult:hover {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9)
}

.zt-banner {
    background: url("https://img.hzshuangmei.com/m/hsbyjwm/banner.jpg") center top no-repeat;
    height: 16rem;
    background-size: auto 100%
}

.zt-m1 {
    background: url("https://img.hzshuangmei.com/m/hsbyjwm/bg1.jpg") center top no-repeat;
    height: 23.675rem;
    background-size: auto 100%
}

.zt-m2 {
    background: url("https://img.hzshuangmei.com/m/hsbyjwm/bg2.jpg") center top no-repeat;
    height: 73.9rem;
    background-size: auto 100%
}

.zt-m2 .title {
    margin: 0 auto;
    width: 7.1rem;
    height: 3.55rem;
    background: url("https://img.hzshuangmei.com/m/hsbyjwm/bgt2.png") center center no-repeat;
    background-size: auto 100%
}

.zt-m2 .item1 .consult {
    width: 9.65rem;
    height: 1.1rem;
    background: url("https://img.hzshuangmei.com/m/hsbyjwm/bg2_consult1.png") center center no-repeat;
    background-size: contain
}

.zt-m2 .item2 .consult {
    width: 10.4rem;
    height: 1.1rem;
    background: url("https://img.hzshuangmei.com/m/hsbyjwm/bg2_consult2.png") center center no-repeat;
    background-size: contain
}

.zt-m2 .item3 .consult {
    width: 9.65rem;
    height: 1.1rem;
    background: url("https://img.hzshuangmei.com/m/hsbyjwm/bg2_consult1.png") center center no-repeat;
    background-size: contain
}

.zt-m3 {
    background: url("https://img.hzshuangmei.com/m/hsbyjwm/bg3.jpg") center top no-repeat;
    height: 33.6rem;
    background-size: auto 100%
}

.zt-m3 .title {
    margin: 0 auto;
    width: 11.3rem;
    height: 3.15rem;
    background: url("https://img.hzshuangmei.com/m/hsbyjwm/bgt3.png") center center no-repeat;
    background-size: auto 100%
}

.zt-m3 .consult {
    width: 16rem;
    height: 1.2rem;
    background: url("https://img.hzshuangmei.com/m/hsbyjwm/bg3_consult.png") center center no-repeat;
    background-size: contain
}

.zt-m4 .title {
    margin: 0 auto;
    width: 16rem;
    height: 6.15rem;
    background: url("https://img.hzshuangmei.com/m/hsbyjwm/bgt4.jpg") center center no-repeat;
    background-size: auto 100%
}

.zt-m4 .item1 .consult {
    width: 6.6rem;
    height: 1.2rem;
    background: url("https://img.hzshuangmei.com/m/hsbyjwm/bg4_consult1.png") center center no-repeat;
    background-size: contain
}

.zt-m4 .item2 .consult,
.zt-m4 .item5 .consult {
    width: 4.8rem;
    height: 0.9rem;
    background: url("https://img.hzshuangmei.com/m/hsbyjwm/bg4_consult2.png") center center no-repeat;
    background-size: contain
}

.zt-m4 .item3 .consult,
.zt-m4 .item4 .consult {
    width: 4.8rem;
    height: 0.875rem;
    background: url("https://img.hzshuangmei.com/m/hsbyjwm/bg4_consult3.png") center center no-repeat;
    background-size: contain
}

.zt-m5-1 {
    background: url("https://img.hzshuangmei.com/m/hsbyjwm/bg5_1.jpg") center top no-repeat;
    height: 19.4rem;
    background-size: auto 100%
}

.zt-m5-1 .title {
    margin: 0 auto;
    width: 9.85rem;
    height: 3.25rem;
    background: url("https://img.hzshuangmei.com/m/hsbyjwm/bgt5.png") center center no-repeat;
    background-size: auto 100%
}

.zt-m5-1 .consult {
    width: 7.15rem;
    height: 1.15rem;
    background: url("https://img.hzshuangmei.com/m/hsbyjwm/bg5_consult1.png") center center no-repeat;
    background-size: contain
}

.zt-m5-2 {
    background: url("https://img.hzshuangmei.com/m/hsbyjwm/bg5_2.jpg") center top no-repeat;
    height: 23.175rem;
    background-size: auto 100%
}

.zt-m5-2 .consult {
    width: 7.15rem;
    height: 1.15rem;
    background: url("https://img.hzshuangmei.com/m/hsbyjwm/bg5_consult1.png") center center no-repeat;
    background-size: contain
}

.zt-m6 {}

.zt-m6 .consult {
    width: 7.15rem;
    height: 1.15rem;
    background: url("https://img.hzshuangmei.com/m/hsbyjwm/bg6_consult.png") center center no-repeat;
    background-size: contain
}

.container {
    overflow: hidden;
    min-width: 16rem
}

.g-doc {
    width: 16rem;
    margin: 0 auto
}

.consult {
    display: block
}

.zt-banner .g-doc {
    position: relative
}

.zt-banner .special {
    position: absolute;
    top: 3.25rem;
    left: 10rem;
    padding: 0.3rem 0.375rem 0;
    width: 0.5rem;
    height: 3.55rem;
    background: url('https://img.hzshuangmei.com/m/hsbyjwm/banner_bg1.png') center top no-repeat;
    background-size: 1.25rem 3.55rem;
    font-size: 0.5rem;
    line-height: 0.5rem;
    color: #fff
}

.zt-m1 .title {
    font-size: 0.8rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #2e1415;
    text-align: center
}

.zt-m1 .title span {
    display: inline-block;
    border-radius: 100%;
    width: 1.3rem;
    height: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    background: #772221;
    color: #d8c0c0
}

.zt-m1 .des {
    margin-top: 0.25rem;
    font-size: 0.45rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.6rem;
    letter-spacing: 0rem;
    color: #3f3731
}

.zt-m1 .content1 {
    padding: 1.25rem 0.5rem 0.35rem;
    height: 4.25rem
}

.zt-m1 .content {
    margin: 0 auto;
    padding-top: 0.75rem;
    width: 15.05rem;
    height: 13.7rem;
    background: url('https://img.hzshuangmei.com/m/hsbyjwm/bg1_border.png') center center no-repeat;
    background-size: 15.05rem 14.45rem
}

.zt-m1 .sliderWrapper {
    margin: 0 auto;
    width: 13.75rem;
    height: 12.95rem;
    overflow: hidden
}

.zt-m1 .sliderWrapper:hover {
    cursor: pointer
}

.zt-m1 .slideContainer {
    width: 41.25rem
}

.zt-m1 .slide-item {
    float: left;
    width: 13.75rem;
    height: 12.95rem
}

.zt-m1 .slide-item img {
    width: 100%
}

.zt-m1 .indicators {
    margin: 0;
    text-align: center
}

.zt-m1 .indicators li {
    display: inline-block;
    margin: 0 0.35rem;
    width: 2.85rem;
    height: 2.85rem
}

.zt-m1 .indicators li p {
    display: table-cell;
    vertical-align: middle;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 100%;
    border: solid 0.05rem #cfc3bd;
    font-size: 0.6rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.775rem;
    letter-spacing: 0rem;
    color: #442a2a;
    text-align: center
}

.zt-m1 .indicators li p:hover {
    cursor: pointer
}

.zt-m1 .indicators li.active p {
    border: solid 0.05rem rgba(154, 53, 52, 0.4);
    background-color: rgba(154, 53, 52, 0.4)
}

.zt-m2 .titlewrap {
    margin-top: 1rem;
    position: relative
}

.zt-m2 .titlewrap .sub-title {
    font-size: 0.5rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.5rem;
    letter-spacing: 0.01rem;
    color: #726f61
}

.zt-m2 .item {
    margin-top: 1.25rem;
    text-align: right
}

.zt-m2 .item img {
    width: 14.2rem;
    height: 19.8rem;
    margin: auto;
    display: block;
    border-radius: 0.75rem
}

.zt-m2 .consult {
    display: inline-block;
    margin-top: 0.4rem;
    margin-right: 1rem
}

.zt-m3 img {
    display: block
}

.zt-m3 .g-doc {
    position: relative
}

.zt-m3 .title {
    margin-top: 0.6rem;
    margin-bottom: 11.75rem
}

.zt-m3 .content {
    padding-top: 1rem
}

.zt-m3 .content .deswrap {
    width: 14.2rem;
    margin: 0 auto
}

.zt-m3 .content .des {
    display: table-cell;
    vertical-align: middle;
    padding: 0 0.75rem;
    height: 3.35rem;
    background: url('https://img.hzshuangmei.com/m/hsbyjwm/bg3_border.png') center center no-repeat;
    background-size: 14.2rem 3.35rem;
    font-size: 0.45rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.7rem;
    letter-spacing: 0rem;
    color: #765b50;
    text-align: justify
}

.zt-m3 .content .g-row {
    margin-top: 0.5rem
}

.zt-m3 .content img {
    width: 100%
}

.zt-m3 .consult {
    margin: 1.1rem auto 0
}

.zt-m4 .title .sub-title {
    position: absolute;
    top: 3.35rem;
    left: 3.35rem;
    display: inline-block;
    font-size: 0.5rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.5rem;
    letter-spacing: 0.01rem;
    color: #393628
}

.zt-m4 .g-row {
    position: relative;
    width: 100%;
    overflow: hidden
}

.zt-m4 .g-item {
    position: relative;
    width: 50%;
    height: 6.75rem
}

.zt-m4 .g-item .deswrap {
    width: 100%;
    height: 6rem;
    padding-top: 0.75rem
}

.zt-m4 .g-item img {
    width: 100%;
    height: 100%
}

.zt-m4 .g-item .front {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.zt-m4 .g-item h3 {
    font-size: 0.6rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75rem;
    letter-spacing: 0rem;
    text-align: center;
    background: url('https://img.hzshuangmei.com/m/hsbyjwm/bg4_line.png') bottom center no-repeat;
    background-size: 5.25rem auto;
    color: #4b372c
}

.zt-m4 .g-item p {
    padding: 0 0.25rem;
    height: 1.35rem;
    margin: 0.35rem auto 0.75rem;
    font-size: 0.5rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.7rem;
    letter-spacing: 0rem;
    color: #3b271e;
    text-align: center
}

.zt-m4 .g-item .consult {
    margin: 0 auto
}

.zt-m4 .g-item:hover .front {
    visibility: hidden
}

.zt-m4 .g-item:hover .consult {
    visibility: visible
}

.zt-m4 .item1 {
    width: 100%;
    height: 9.25rem
}

.zt-m4 .item1 .front {
    background: url('https://img.hzshuangmei.com/m/hsbyjwm/img4_1f.jpg') center center no-repeat;
    background-size: cover
}

.zt-m4 .item1 .front .deswrap2 {
    position: absolute;
    bottom: 0.75rem;
    left: 0;
    right: 0;
    margin: auto;
    background: url('https://img.hzshuangmei.com/m/hsbyjwm/bg4_border.png') center center no-repeat;
    background-size: 14.7rem 4.1rem
}

.zt-m4 .item1 .front h3 {
    font-size: 1.05rem;
    color: #463730;
    background: none
}

.zt-m4 .item1 .front p {
    font-size: 0.45rem;
    line-height: 0.6rem;
    max-width: 13.5rem;
    padding: 0 0.25rem;
    height: 1.6rem;
    color: #655148;
    text-align: justify
}

.zt-m4 .item2 .front {
    background: url('https://img.hzshuangmei.com/m/hsbyjwm/img4_2f.jpg') center center no-repeat;
    background-size: cover
}

.zt-m4 .item3 .front {
    background: url('https://img.hzshuangmei.com/m/hsbyjwm/img4_3f.jpg') center center no-repeat;
    background-size: cover
}

.zt-m4 .item3 .front h3 {
    color: #6c554b
}

.zt-m4 .item4 .front {
    background: url('https://img.hzshuangmei.com/m/hsbyjwm/img4_4f.jpg') center center no-repeat;
    background-size: cover
}

.zt-m4 .item4 .front h3 {
    color: #6c554b
}

.zt-m4 .item3 .front p,
.zt-m4 .item4 .front p {
    color: #725e53
}

.zt-m4 .item5 .front p,
.zt-m4 .item2 .front p {
    color: #564036
}

.zt-m4 .item5 .front {
    background: url('https://img.hzshuangmei.com/m/hsbyjwm/img4_5f.jpg') center center no-repeat;
    background-size: cover
}

.zt-m4 .item5 .front h3 {
    color: #4b372c;
}

.zt-m5-1 .g-doc {
    padding-top: 1rem
}

.zt-m5-1 .content {
    padding: 1.75rem 0 0
}

.zt-m5-1 .content .video {
    margin-left: 5.75rem;
    padding: 0.25rem;
    width: 9.5rem;
    height: 9.5rem;
    background: url('https://img.hzshuangmei.com/m/hsbyjwm/video1bg.jpg') center center no-repeat #b0978c;
    background-size: 9.5rem 9.5rem
}

.zt-m5-1 .content video {
    position: static!important;
    width: 9.5rem;
    height: 9.5rem
}

.zt-m5-1 .content .consult {
    margin: 1.25rem auto 0
}

.zt-m5-2 .content {
    padding-top: 1.5rem
}

.zt-m5-2 .content .video {
    margin-left: 0.5rem;
    width: 8.6rem;
    height: 8.6rem;
    padding: 0.05rem;
    border-radius: 100%;
    overflow: hidden;
    background: url('https://img.hzshuangmei.com/m/hsbyjwm/video2bg.jpg') center center no-repeat;
    background-size: 8.6rem 8.6rem
}

.zt-m5-2 .content video {
    position: static!important;
    width: 8.6rem;
    height: 8.6rem
}

.zt-m5-2 .content img {
    display: block;
    margin-top: 0.75rem;
    width: 100%
}

.zt-m5-2 .content .consult {
    margin: 1rem auto 0
}

.zt-m6 {
    background: #7a5f53
}

.zt-m6 .g-doc {
    padding: 0.75rem 0
}

.zt-m6 img {
    display: block;
    width: 14.75rem;
    height: 23.35rem;
    margin: 0 auto
}

.zt-m6 .consult {
    margin: 0.75rem auto 0
}