@charset "utf-8";
a,body {
	color:#666
}
body,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,html,input,label,li,p,textarea,ul {
	margin:0;
	padding:0
}
form {
	display:inline
}
img {
	border:0
}
td {
	word-break:break-all
}
dd,dl,dt,li,ul {
	list-style:none
}
a {
	text-decoration:none
}
a:hover {
	color:#6E4A8A
}
.clearfix:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden
}
.none {
	display:none
}
.right {
	float:right
}
body {
	font:12px/1.5 'Microsoft Yahei',Verdana,Arial,sans-serif;
}
.banner {
	display:block;
	width:100%;
	height:699px;
	background:url(https://img.hzshuangmei.com/pc/duoweiqd/banner.jpg) center center no-repeat
}
.container {
	width:100%;
	text-align:center;

	background-color:#fff;
}
.container .row {
	width:1200px;
	margin:0 auto
}
.rowtitle {
	padding-top:132px;
	background:url(https://img.hzshuangmei.com/pc/duoweiqd/bg_title.png) center 84px no-repeat
}
.row3 .rowtitle,.row5 .rowtitle,.row7 .rowtitle {
	background:url(https://img.hzshuangmei.com/pc/duoweiqd/bg_title_2.png) center 84px no-repeat
}
.rowtitle h4 {
	margin-top:22px;
	margin-bottom:82px;
	font-size:24px;
	line-height:60px;
	font-weight:400;
	color:#bff8fb;
	background:url(https://img.hzshuangmei.com/pc/duoweiqd/bg_title_sub.png) center 9px no-repeat
}
.antiacnetype {
	width:100%;
	height:230px;
	padding:28px 12px 20px;
	overflow:hidden
}
.antiacnetype .type {
	padding:0 20px;
	width:156px;
	height:240px;
	float:left
}
.antiacnetype .type h5 {
	padding-bottom:24px;
	font-size:34px;
	color:#6fbdc1
}
.antiacnetype .type p {
	font-size:16px;
	text-align:justify
}
.stagerow {
	padding-left:24px;
	overflow:hidden
}
.stagerow .stage {
	padding:12px 48px 12px 18px;
	width:520px;
	overflow:hidden;
	float:left;
	background:url(https://img.hzshuangmei.com/pc/duoweiqd/bg_acne_3_top.png) 18px 80px no-repeat
}
.stagerow .stage3,.stagerow .stage4 {
	margin-top:20px
}
.stagerow .stage .stagetitle {
	height:78px
}
.stagerow .stage .stagetitle .attracttitle {
	font-size:50px;
	line-height:58px;
	color:#fd707f;
	float:left
}
.stagerow .stage .stagetitle .detailtitle {
	padding-left:132px;
	text-align:left;
	background:url(https://img.hzshuangmei.com/pc/duoweiqd/bg_title_sprit.png) 100px -10px no-repeat
}
.stagerow .stage4 .stagetitle .detailtitle {
	padding-left:182px;
	text-align:left;
	background:url(https://img.hzshuangmei.com/pc/duoweiqd/bg_title_sprit.png) 150px -10px no-repeat
}
.stagerow .stage .stagetitle .detailtitle h5 {
	font-size:26px;
	font-weight:400
}
.stagerow .stage .stagetitle .detailtitle p {
	font-size:17px;
	margin-right:-28px
}
.stagerow .stage .stagecontent {
	width:534px;
	height:390px;
	overflow:hidden;
	background:url(https://img.hzshuangmei.com/pc/duoweiqd/bg_acne_3_bottom.png) bottom center no-repeat
}
.stagerow .stage .stagecontent .left {
	background:url(https://img.hzshuangmei.com/pc/duoweiqd/bg_acne_3_left.png) no-repeat
}
.stagerow .stage .stagecontent .right {
	width:266px;
	background:url(https://img.hzshuangmei.com/pc/duoweiqd/bg_acne_3_left.png) 263px 0 no-repeat
}
.stagerow .stage .stagecontent div {
	padding:12px 0 10px;
	width:265px;
	float:left
}
.stagerow .stage .stagecontent div img {
	height:217px;
	margin-bottom:16px
}
.stagerow .stage .stagecontent .left img {
	margin-left:8px;
	margin-right:2px
}
.stagerow .stage .stagecontent .right img {
	margin-left:2px;
	margin-right:8px
}
.stagerow .stage .stagecontent div h6 {
	font-size:26px;
	font-weight:400;
	color:#fff;
	background:#6fbdc1
}
.stagerow .stage .stagecontent .left h6 {
	margin-left:2px
}
.stagerow .stage .stagecontent div p {
	padding:12px 28px;
	font-size:16px;
	color:#35a1a7;
	text-align:justify
}
.row4 .content {
	position:relative;
	padding-bottom:50px
}
.row4 .content p {
	width:254px;
	font-size:16px;
	text-align:justify;
	position:absolute
}
.row5 .content,.row5 .content p {
	position:relative
}
.row4 .content #step1 {
	left:55px;
	top:95px
}
.row4 .content #step2 {
	left:55px;
	top:375px
}
.row4 .content #step3 {
	width:600px;
	left:305px;
	top:635px
}
.row4 .content #step4 {
	left:930px;
	top:375px
}
.row4 .content #step5 {
	left:930px;
	top:95px
}
.row5 .rowtitle h4 {
	margin-bottom:24px
}
.row5 .content p {
	width:710px;
	font-size:18px;
	margin:0 auto 208px
}
.row5 .content .person {
	height:656px;
	padding:0 55px;
	overflow:hidden;
}
.row5 .content .person .before {
	float:left
}
.row5 .content .person .after {
	float:right
}
.row5 .content .person span {
	display:block;
	margin:0 auto;
	width:143px;
	font-size:26px;
	color:#fff;
	background:url(https://img.hzshuangmei.com/pc/duoweiqd/bg_icon_h.png) no-repeat
}
.row5 .content .cure {
	position:absolute;
	left:400px;
	top:180px
}
.row5 .content .cure dl {
	margin-bottom:44px;
	text-align:left
}
.row5 .content .cure dt {
	padding-left:60px;
	font-size:36px;
	color:#3fa5aa;
	background:url(https://img.hzshuangmei.com/pc/duoweiqd/icon_point.png) left center no-repeat
}
.row5 .content .cure .even {
	margin-left:80px
}
.row5 .content .cure dd {
	margin-left:60px;
	width:302px;
	font-size:18px;
	color:#000
}
.row5 .content .cure .havebottomborder {
	border-bottom: dotted 1px black;
}
.row5 .content .cure .havespace {
	padding-left:52px;
	width:252px;
	border-bottom:dotted 1px #000
}
.row6 .content .record {
	height:250px;
	overflow: hidden;
	padding-top: 10px;
	margin-bottom: 10px;
}
.row6 .content .record div {
	float:left;
	padding:0 6px;
}
.row6 .content .record .recordtitle {
	width:49px;
	height:220px;
	margin-top:-10px
}
.row6 .content .record .recorddetail {
	background:url(https://img.hzshuangmei.com/pc/duoweiqd/bg_white_line.png) 10px 214px repeat-x
}
.row6 .content .record .recorddetail p {
	margin:0 auto;
	padding-top:16px;
	width:102px;
	height:34px;
	font-size:20px;
	line-height:34px;
	background:url(https://img.hzshuangmei.com/pc/duoweiqd/bg_icon_arrow.png) center 19px no-repeat
}
.row7 .content {
	margin-top:84px
}
.row1 {
	background:#9ed5d8
}
.row2 {
	background:url(https://img.hzshuangmei.com/pc/duoweiqd/bg_acne_1_bottom.png) center 625px no-repeat
}
.row2 .bg_wrap2 {
	background:url(https://img.hzshuangmei.com/pc/duoweiqd/bg_acne_1_left.png) left -70px repeat-x
}
.row3 {
	padding-bottom:150px;
	background:url(https://img.hzshuangmei.com/pc/duoweiqd/bg_acne_4_top.png) 0 bottom no-repeat
}
.row4 .rowtitle {
	padding-top:68px;
	background-position:center 20px
}
.row4 {
	padding-bottom:100px;
	background:#9ed5d8
}
.row5 {
	background:url(https://img.hzshuangmei.com/pc/duoweiqd/bg_acne_4_bottom.png) center 0 no-repeat
}
.row5 .rowtitle {
	padding-top:82px;
	background-position:center 34px
}
.row5 .bg_wrap5 {
	padding-bottom:80px;
	background:url(https://img.hzshuangmei.com/pc/duoweiqd/bg_acne_6_top.png) center bottom no-repeat
}
.row6 .rowtitle {
	padding-top:82px;
	background-position:center 34px
}
.row6 {
	padding-bottom:30px;
	background:#9ed5d8
}
.row7 {
	padding-bottom:130px;
	background:url(https://img.hzshuangmei.com/pc/duoweiqd/bg_acne_6_bottom.png) center top no-repeat
}
.row7 .rowtitle {
	padding-top:202px;
	background-position:center 154px
}
