.row5 .content, .row5 .content p, .row5 .row, .row5 .row .container {
    position: relative
}

.img-respon, a {
    display: block
}

a, body {
    color: #788087
}

a, address, blockquote, body, button, code, dd, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, img, label, li, ol, p, pre, strong, table, td, th, ul {
    margin: 0;
    padding: 0;
    border: 0
}

li, ol, table, td, th, tr, ul {
    list-style: none
}

a {
    text-decoration: none;
    width: 100%
}

a:hover, a:link {
    border: 0
}

body {
    border-style: none;
    background-color: #fff;
    font-size: 1rem;
    font-family: "微软雅黑";
    overflow-x: hidden;
}

.img-respon {
    width: 100%;
    height: auto
}

.banner {
    background-color: #9ED5D8
}

.banner img {
    border: none
}

.container {
    width: 100%;
    text-align: center;
    padding-bottom: 2.1%
}

.container .row {
    max-width: 40.3125rem;
    margin: 0 auto
}

.rowtitle {
    padding-top: 11.7829457%;
    background: url(https://img.hzshuangmei.com/m/duoweiqd/bg_title.png) center 1.25rem no-repeat;
    background-size: 39.0697674%
}

.row2 .rowtitle, .row4 .rowtitle, .row6 .rowtitle {
    padding-top: 11.7829457%;
    background: url(https://img.hzshuangmei.com/m/duoweiqd/bg_title_2.png) center 1.75rem no-repeat;
    background-size: 39.0697674%
}

.rowtitle h4 {
    margin-top: 2.7906974%;
    margin-bottom: 5.8914729%;
    font-size: 0.45rem;
    line-height: 2rem;
    font-weight: 400;
    color: #bff8fb;
    background: url(https://img.hzshuangmei.com/m/duoweiqd/bg_title_sub.png) center 0.51rem no-repeat;
    background-size: 8rem;
}

.row1, .row3, .row5, .row7 {
    background: #9ed5d8
}

.antiacnetype {
    width: 96.2790697%;
    padding: 1.3410852% 1.8604651% 5.1007751%;
    overflow: hidden
}

.antiacnetype .type {
    padding: 0 3.1007751%;
    width: 26.89147%;
    min-height: 37.2093023%;
    float: left
}

.antiacnetype .type h5 {
    padding-bottom: 0.85rem;
    font-size: 0.85rem;
    color: #6fbdc1
}

.antiacnetype .type p {
    font-size: 0.5rem;
    text-align: justify
}

.row3 .content .stage {
    margin: 0 auto 3.7209302%;
    padding: 2.9604651% 2.40310081%;
    width: 95.1937984%;
    overflow: hidden;
    background: url(https://img.hzshuangmei.com/m/duoweiqd/bg_acne_3_bottom.png) center bottom no-repeat;
    background-size: 80%
}

.row3 .content .stage .stagetitle .attracttitle {
    font-size: 1rem;
    line-height: 1.3rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    color: #fd707f;
    float: left;
    background: url(https://img.hzshuangmei.com/m/duoweiqd/bg_title_sprit.png) right -.2rem no-repeat;
}

.row3 .content .stage .stagetitle .detailtitle {
    padding-left: 3rem;
    text-align: left
}

.row3 .content .stage .stagetitle .detailtitle h5 {
    font-size: 0.3rem;
    line-height: 1rem;
    font-weight: 500;
}

.row3 .content .stage .stagetitle .detailtitle p {
    font-size: 0.3rem;
    margin-right: -1.75rem;
    padding-right: 4%;
    padding-bottom: 2%
}

.row3 .content .stage .stagecontent {
    width: 99%;
    height: 60.465111%;
    overflow: hidden;
    border: 2px solid #6fbdc1;
    border-radius: 8px
}

.row3 .content .stage .stagecontent div {
    width: 50%;
    float: left
}

.row3 .content .stage .stagecontent div img {
    margin-top: 3.9087947%;
    margin-bottom: 5.21172638%
}

.row3 .content .stage .stagecontent div h6 {
    font-size: 0.65rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: #fff;
    background: #6fbdc1;
}

.row3 .content .stage .stagecontent div p {
    padding: 5.9087947% 16.1205212%;
    font-size: 0.45rem;
    color: #35a1a7;
    text-align: justify
}

.row4 .content {
    min-height: 111.6279069%;
    width: 100%
}

.row4 .content .divwrap {
    overflow: hidden
}

.row4 .content .divwrap div {
    margin-right: 1.5503876%;
    padding-right: 1.8604651%;
    padding-bottom: 7.75193798%;
    width: 46.511628%;
    float: left
}

.row4 .content .divwrap .imgcontainer {
    padding-bottom: 0
}

.row4 .content p {
    padding: 6% 6% 3.3333333% 16.666667%;
    width: 80%;
    min-height: 50%;
    font-size: 0.45rem;
    text-align: justify
}

.row5 .row .cure {
    width: 12.6rem;
    margin:1.4rem auto 2.625rem;
}

.row5 .row .cure dl {
    margin-bottom: .5rem;
    text-align: left
}

.row5 .row .cure dt {
    padding-left: 1.5rem;
    font-size: 0.45rem;
    color: #3fa5aa;
    background: url(https://img.hzshuangmei.com/m/duoweiqd/icon_point.png) left center no-repeat;
    background-size: 8%;
}

.row5 .row .cure .even {
    margin-left: 3.3125rem
}

.row5 .row .cure dd {
    margin-left: 1.875rem;
    width: 11.125rem;
    font-size: 0.45rem;
    color: #000;
    opacity: .5
}

.row5 .row .cure .havespace {
    padding-left: 3.25rem;
    width: 15.75rem
}

.row5 .rowtitle h4 {
    margin-bottom: 0.8rem
}

.row5 .content {
    overflow: hidden;
    width: 100%
}

.row5 .content p {
    width: 81.5503876%;
    font-size: 0.45rem;
    color: #3fa5aa;
    margin: 0 auto
}

.row5 .person {
    width: 95%;
    padding: 0 1.5503876%;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 6rem
}

.row5 .person div {
    width: 25%
}

.row5 .person .before {
    float: left
}

.row5 .person .after {
    float: right
}

.row5 .person img {
    width: 100%
}

.row5 .person span {
    display: block;
    margin: 0 auto;
    padding-bottom: .3rem;
    padding-top: 0.1rem;
    width: 7.25rem;
    font-size: 0.65rem;
    text-align: center;
    color: #fff;
    line-height: 1rem;
    background: url(https://img.hzshuangmei.com/m/duoweiqd/bg_icon_h.png) no-repeat center;
    background-size: 5.25rem;
}

.row5 .person .after span {
    margin-left: 1%;
}

.row6 .content img {
    margin-bottom: 5.8%
}

.row7 {
    padding-bottom: 10%
}

.row7 .content {
    margin-top: 13%;
    margin-bottom: 7.7%
}

.banner {
    display: block
}

.banner img {
    width: 100%
}

.row1 .rowtitle img {
    width: 51%
}

.row2 .rowtitle img {
    width: 68%
}

.row3 .rowtitle img {
    width: 50%
}

.row4 .rowtitle img {
    width: 44%
}

.row5 .rowtitle img {
    width: 43%
}

.row6 .rowtitle img {
    width: 68%
}

.row7 .rowtitle img {
    width: 71%
}

.row1 .content img, .row2 .content img {
    width: 99%
}

.row3 .content img {
    width: 95%
}

.row4 .content img {
    width: 95%;
    height: 11.6666667%
}

.row5 .content img {
    width: 100%
}

.row6 .content img, .row7 .content img {
    width: 99%
}

.footer, .placeholder {
    width: 100%
}

/*@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {*/
    /*body, html {*/
        /*font-size: 15.88px*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {*/
    /*body, html {*/
        /*font-size: 14.88px*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 540px), only screen and (max-device-width: 540px) {*/
    /*body, html {*/
        /*font-size: 13.4px*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {*/
    /*body, html {*/
        /*font-size: 11.91px*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 414px), only screen and (max-device-width: 414px) {*/
    /*body, html {*/
        /*font-size: 10.27px*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {*/
    /*body, html {*/
        /*font-size: 9.92px*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 375px), only screen and (max-device-width: 375px) {*/
    /*body, html {*/
        /*font-size: 9.3px*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {*/
    /*body, html {*/
        /*font-size: 8.93px*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {*/
    /*body, html {*/
        /*font-size: 7.94px*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 240px), only screen and (max-device-width: 240px) {*/
    /*body, html {*/
        /*font-size: 5.95px*/
    /*}*/
/*}*/
