body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

body {
    background: #fff;
    color: #555;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400
}

a {
    color: #555;
    text-decoration: none;
    cursor: pointer
}

a:hover {
    text-decoration: none;
    cursor: pointer
}

img {
    border: none
}

ol, ul, li {
    list-style: none
}

input, textarea, select, button {
    font: 14px Verdana, Helvetica, Arial, sans-serif;
    border: 1px solid #999
}

table {
    border-collapse: collapse
}

.clearFix:after {
    content: "";
    display: block;
    clear: both
}

i {
    font-style: normal
}

.banner img {
    width: 100%
}

.m1 {
    width: 16.0rem;
    margin: 0 auto
}

.part1 .m1 {
    height: 8.275rem;
    background: url(https://img.hzshuangmei.com/m/lineeaglenose/p1_bg.png) no-repeat center;
    text-align: center;
    background-size: cover
}

.part1 .m1 > img {
    padding-top: 1.0rem;
    width: 6.625rem;
    height: 4.075rem
}

a {
    display: block;
    text-align: center
}

.part1 .m1 a img {
    padding-top: 0.25rem;
    width: 2.75rem;
    height: 2.75rem
}

.part2 .m1 {
    height: 18.575rem;
    background: url(https://img.hzshuangmei.com/m/lineeaglenose/p2_bg.jpg) no-repeat center;
    background-size: cover
}

.title {
    padding-top: 1.25rem;
    margin: 0 auto;
    width: 15.6rem
}

.line {
    float: left;
    width: 5.55rem
}

hr {
    width: 5.0rem;
    float: left;
    margin-top: 0.12rem;
    color: #e2e1e1
}

.square {
    display: block;
    width: 0.275rem;
    height: 0.275rem;
    background: url(https://img.hzshuangmei.com/m/lineeaglenose/square.png) no-repeat center;
    float: left
}

.title h3 {
    float: left;
    font-size: 0.875rem;
    color: rgb(21, 21, 21);
    line-height: 0.3;
    width: 4.5rem;
    text-align: center
}

.c_red {
    color: #de2626
}

h4 {
    font-size: 0.625rem;
    color: rgb(130, 130, 130);
    text-align: center;
    margin-top: 0.35rem
}

.part2 ul {
    padding-top: 1.125rem
}

.part2 ul li {
    float: left;
    height: 4.125rem;
    width: 7.325rem;
    margin: 0 0.33rem 1.5rem
}

.part2 ul li div {
    height: 4.125rem;
    width: 4.25rem;
    color: rgb(255, 254, 254);
    font-size: 0.45rem;
    background-color: rgba(44, 43, 43, 0.702);
    margin-left: 42%
}

.part2 ul li h3 {
    width: 7.325rem;
    text-align: center;
    font-size: 0.625rem;
    color: rgb(0, 0, 0);
    line-height: 2.28
}

.part2 ul li p {
    margin: auto;
    padding: 0.85rem 0.325rem 0
}

.part2 ul li:first-child {
    background: url(https://img.hzshuangmei.com/m/lineeaglenose/p2_01.jpg) no-repeat;
    background-size: cover
}

.part2 ul li:nth-child(2) {
    background: url(https://img.hzshuangmei.com/m/lineeaglenose/p2_02.jpg) no-repeat;
    background-size: cover
}

.part2 ul li:nth-child(3) {
    background: url(https://img.hzshuangmei.com/m/lineeaglenose/p2_03.jpg) no-repeat;
    background-size: cover
}

.part2 ul li:last-child {
    background: url(https://img.hzshuangmei.com/m/lineeaglenose/p2_04.jpg) no-repeat;
    background-size: cover
}

.part2 a {
    display: block;
    text-align: center
}

.part2 a img {
    padding-top: 0.9rem;
    width: 4.075rem;
    height: 2.5rem
}

.part3 .m1 {
    color: #fff;
    height: 18.25rem;
    background: url(https://img.hzshuangmei.com/m/lineeaglenose/p3_bg.jpg) no-repeat center;
    background-size: cover
}

.part3 .line {
    width: 4.92rem
}

.part3 hr {
    width: 4.5rem
}

.part3 .square {
    background: url(https://img.hzshuangmei.com/m/lineeaglenose/square1.png) no-repeat center;
    background-size: cover
}

.part3 h3 {
    color: #fff;
    line-height: 0.3;
    width: 5.75rem;
    text-align: center
}

.part3 h4 {
    color: #fff
}

.part3 .yuan {
    width: 13.725rem;
    border-radius: 50%;
    text-align: center;
    margin: 2.5rem auto 0
}

.part3 .yuan > img {
    width: 4.925rem;
    height: 4.175rem
}

.part3 a {
    display: inline-block;
    margin-left: 1.25rem
}

.part3 a img {
    border-radius: 50%;
    width: 3.15rem;
    height: 3.15rem
}

.part3 .yuan p {
    font-size: 0.45rem;
    margin-top: 0.625rem
}

.part3 .icon {
    margin-top: 0.625rem
}

.part3 .icon img {
    margin: 0 0.425rem;
    width: 3.325rem;
    height: 3.35rem
}

.part4 .m1 {
    height: 21.225rem;
    background: url(https://img.hzshuangmei.com/m/lineeaglenose/p4_bg.jpg) no-repeat center;
    background-size: cover
}

.part4 ul {
    margin-top: 1.0rem
}

.part4 ul li {
    width: 4.95rem;
    height: 7.55rem;
    text-align: center;
    color: rgb(255, 255, 255);
    float: left;
    margin: 0 0.19rem 0.525rem
}

.part4 ul .li_p4 {
    width: 6.825rem;
    height: 5.9rem
}

.part4 ul li .top {
    height: 3.625rem;
    background-color: #6c6b6b
}

.part4 ul li .top1 {
    height: 3.075rem
}

.part4 ul li .p4_img {
    text-align: center
}

.part4 ul li img {
    padding-top: 0.45rem;
    width: 1.75rem;
    height: 1.5rem
}

.part4 ul .li_p4 img {
    padding-top: 0.5rem;
    width: 1.75rem;
    height: 1.5rem
}

.part4 ul li span {
    font-size: 0.5rem;
    color: #fff
}

.part4 ul li i {
    display: block;
    width: 0.325rem;
    height: 0.4rem;
    background: url(https://img.hzshuangmei.com/m/lineeaglenose/arrow.png) no-repeat center;
    margin: 0 auto;
    position: relative;
    top: 0.1rem
}

.part4 ul li .bottom {
    height: 3.9rem;
    background-color: #fff;
    text-align: left
}

.part4 ul li .bottom1 {
    height: 2.825rem
}

.part4 ul li .bottom p {
    width: 4.125rem;
    margin: 0 auto;
    padding-top: 0.625rem;
    color: #6c6b6b;
    font-size: 0.45rem
}

.part4 ul .li_p4 .bottom p {
    width: 5.875rem;
    padding-top: 0.56rem
}

.part4 ul .left {
    margin-left: 6%
}

.part4 a img {
    padding-top: 0.45rem
}

.ask2 {
    width: 4.075rem;
    height: 2.5rem
}

.part5 .m1 {
    height: 15.475rem;
    background: url(https://img.hzshuangmei.com/m/lineeaglenose/p5_bg.png) no-repeat center;
    margin: 0 auto;
    background-size: cover;
    margin-top: 0.75rem
}

.part5 .m1 > img {
    width: 14.4rem;
    height: 12.3rem;
    margin-top: 0.375rem
}

.part6 .m1 {
    height: 18.375rem;
    background: url(https://img.hzshuangmei.com/m/lineeaglenose/p6_bg.jpg) no-repeat center;
    background-size: cover
}

.part6 .m1 .content {
    margin-top: 1.125rem
}

.part6 .m1 .content > div {
    float: left
}

#tab ul {
    width: 2.75rem;
    padding-top: 0.35rem
}

#tab ul li {
    height: 3.5rem;
    text-align: center;
    font-size: 0.45rem;
    color: #686666
}

#tab ul li img {
    width: 2.725rem;
    height: 2.625rem
}

#tabCon {
    background-color: rgba(229, 229, 229, 0.329);
    width: 11.65rem;
    height: 10.85rem;
    text-align: center;
    margin: 0 0.38rem
}

#tabCon img {
    padding-top: 0.35rem;
    width: 10.975rem;
    height: 6.9rem
}

#tabCon h5 {
    font-size: 0.625rem;
    color: #de2626;
    margin-top: 0.375rem
}

#tabCon p {
    text-align: left;
    font-size: 0.45rem;
    color: #000;
    padding-left: 10%;
    line-height: 0.8rem;
    margin-top: 0.25rem
}

#tab .fli {
    color: red
}

#tabCon div {
    display: none
}

#tabCon .fdiv {
    display: block
}

.part6 a img {
    padding-top: 1.1rem
}

.part7 .gallery-top .swiper-slide {
    width: 16.0rem
}

.part7 .gallery-top .swiper-slide > img {
    width: 7.35rem;
    height: 11.85rem;
    margin: 0 0.1rem 0 0
}

.part7 .gallery-top .swiper-slide .s3 {
    width: 6.9rem;
    height: 11.85rem;
    margin: 0 0.1rem 0 0
}

.part7 .gallery-top .swiper-slide ul {
    display: inline-block
}

.part7 .gallery-top .swiper-slide ul .pic1 {
    width: 2.975rem;
    height: 1.5rem
}

.part7 .gallery-top .swiper-slide ul .pic2 {
    width: 1.825rem;
    height: 1.55rem
}

.part7 .gallery-top .swiper-slide ul .pic3 {
    width: 4.575rem;
    height: 1.425rem
}

.part7 .gallery-top .swiper-slide ul .li_p1 {
    margin: 0.375rem 0 0.65rem 0;
    line-height: 0.8rem
}

.part7 .gallery-top .swiper-slide ul .li_p1 span:first-child {
    background-color: rgb(222, 38, 38);
    width: 3.175rem;
    height: 0.8rem;
    font-size: 0.625rem;
    color: #fffefe;
    padding: 0 0.1rem
}

.part7 .gallery-top .swiper-slide ul .li_p1 span:last-child {
    font-size: 0.625rem;
    color: #000
}

.part7 .gallery-top .swiper-slide ul li:nth-child(2) {
    position: relative;
    top: -0.5rem
}

.part7 .gallery-top .swiper-slide ul li:nth-child(2) p {
    font-size: 0.45rem;
    color: rgb(0, 0, 0);
    line-height: 1.75
}

.part7 .gallery-top .swiper-slide > div {
    padding-left: 1.75rem;
    background: #eee;
    height: 5.9rem;
    margin-top: -0.2rem
}

.part7 .gallery-top .swiper-slide > div h5 {
    width: 3.0rem;
    height: 0.75rem;
    font-size: 0.625rem;
    color: #000;
    margin-bottom: 0.5rem;
    padding-top: 0.875rem
}

.part7 .gallery-top .swiper-slide > div h5 i {
    display: inline-block;
    height: 0.75rem;
    border-left: 0.1rem solid #de2626;
    border-right: 0.1rem solid #e5e5e5;
    position: relative;
    top: 0.15rem
}

.part7 .gallery-top .swiper-slide > div > i {
    display: inline-block;
    width: 3.0rem;
    height: 2.175rem;
    text-align: center;
    margin: 0 0.1rem 0 0.005rem;
    font-size: 0.4rem;
    color: #000
}

.part7 .gallery-top .swiper-slide > div > i img {
    width: 2.175rem;
    height: 2.175rem
}

.part7 .gallery-thumbs {
    width: 13.125rem;
    height: 0.9rem;
    background: url(https://img.hzshuangmei.com/m/lineeaglenose/p7_tab.png) no-repeat;
    background-size: cover;
    margin: 1.675rem auto 1.025rem
}

.part7 .gallery-thumbs .swiper-wrapper .swiper-slide {
    color: #c9c9c9;
    font-size: 0.625rem;
    background-color: rgb(227, 227, 227);
    width: 2.65rem !important;
    height: 0.9rem;
    margin: 0 0.23rem 0 1.4rem !important;
    text-align: center;
    line-height: 0.85rem
}

.part7 a img {
    padding-top: 0.5rem
}

.fli2 {
    background-color: #b50404 !important
}

.swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.swiper-slide {
    background-size: cover;
    background-position: center
}

.gallery-top {
    height: 18rem;
    width: 100%
}

.part7 .gallery-thumbs .swiper-wrapper .swiper-slide-active {
    opacity: 1;
    background-color: #de2626;
    color: #fff
}
