
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    overflow-x:hidden;
}
        body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
            margin: 0;
            padding: 0;
        }
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
        body {
            background: #fff;
            font-size: 0.35rem;
            font-family: Verdana, Arial, Helvetica, sans-serif;
        }

        td, th, caption {
            font-size: 0.35rem;
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: normal;
            font-size: 100%;
        }

        address, caption, cite, code, dfn, em, strong, th, var {
            font-style: normal;
            font-weight: normal;
        }
        img {
            border: none;
        }

        ol, ul, li {
            list-style: none;
        }


        table {
            border-collapse: collapse;
        }

        html {
            overflow-y: scroll;
        }
        .m1,.m2,.m3,.m4,.m5,.m6{
            position: relative;
            width: 16rem;
            margin: auto;
        }
        .m1 h3,.m2 h3,.m3 h3,.m4 h3,.m5 h3,.m6 h3{
            text-align: center;
            margin: auto;
        }
        .m3tit,.m4tit,.m5tit.m6tit{
            text-align: center;
        }
.dianjizixun a{
    display: block;
    animation: xuanzhuan2 4s infinite;
}
@keyframes xuanzhuan2 {
    0%{
        transform:rotateY(0deg);;
    }
    50%{
        transform:rotateY(-180deg);;
    }
    100%{
        transform:rotateY(-360deg);;
    }
}
.dianjizixun{

    background-image: url('//img.hzshuangmei.com/m/ljb/images/dianjizixun.png');
    background-size: 100% 100%;
    width: 1.2rem;
    height: 1.375rem;
    padding: 0.65rem 0.575rem;
    font-size: 0.575rem;
    line-height: 0.6875rem ;
    position: absolute;
     color: #3a1706;
       animation: xuanzhuan 4s infinite;
}
@keyframes xuanzhuan {
    0%{
      transform:rotateY(0deg);;
        }
        50%{
            transform:rotateY(180deg);;
        }
    100%{
        transform:rotateY(360deg);;
    }
}
.dianjidi{
    width:2.5rem;
    height: 0.775rem;
    position: absolute;
    background-image: url('//img.hzshuangmei.com/m/ljb/images/dianjidi.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
/* .cont{
    position: relative;
} */
.onlitext{
        position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
/* 个人档案 */
  .m1 .iconfont{
            font-size: 1.2rem;
        }

        .m1 .icon-iconqiehuanzuo,.m1 .icon-iconqiehuanyou{
            color: #e1e1e1;
        }
.m1 .dianjizixun{
    right:2.625rem;
    bottom: 8.65rem;
}
.m1{
    margin: auto;
    width: 16rem;
    background: url('//img.hzshuangmei.com/m/ljb/images/m1bg1.jpg') center top no-repeat;;
    height:26.05rem;
    background-size: auto 100%;
}
.m1 h3{
    margin-left: 1.35rem;
    margin-bottom: 0.875rem;
    padding-top: 6.5rem;
text-align: left;
font-size: 0.5rem;
color: #393939;

}
.m1 h3 span{
    font-size: 0.75rem;
    color: #535353;
    margin-right:0.375rem;
}
.m1 ul{
    padding-left: 0.5rem;
    font-size: 0.45rem;
    line-height: 0.75rem;
    color: #646464;
}

/* 轮播图 */
.m1 .box1 {
        margin-top: 7.5rem;
        width: 12.5rem;
        height: 4.5rem;
        position: relative;
        top: -5.875rem;
        left: 2.15rem;
        }

       .m1 .box1 .list {
          width: 12.5rem;
    height: 4.5rem;
    position: absolute;
    left: -0.25rem;
    top: 0px;
        }

        .m1 .box1 .btn {
             position: absolute;
    color: black;
    top: 2.6rem;
    margin-top: -1.25rem;
    width: 1.5rem;
    height: 2.5rem;
 line-height: 2.5rem;
    font-size: 1.25rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
        }

        .m1 .box1 .prev1 {
            left: -0.875rem;
        }

        .m1 .box1 .next1 {
            right: 0;
        }

        .m1 .box1 li {
            position: absolute;
            text-align: center;
          color: white;
            top: 0;
            line-height: 0.6rem;
            left: 0;
            list-style: none;
            opacity: 0;
            transition: all 0.3s ease-out;
            margin-left: 2.0rem;
            margin-right: -2.0rem;
        }
        .m1 .box1 li div:first-child{
            margin-top: 0.625rem;
            margin-bottom: 0;
            height: 1.25rem;
            line-height: 1.25rem;

        }
       .m1 .box1 .p1 {
            transform: translate3d(-2.5rem, 0.5rem, 0);
           width: 3.25rem;
           height: 3.25rem;
           font-size: 0.4rem;
            border-radius: 50%;

        }

        .m1 .box1 .p2 {
            transform: translate3d(0px, 0.5rem, 0);
            width: 3.25rem;
            height: 3.25rem;
            border-radius: 50%;
            /*transform-origin:0 50%;*/
            opacity: 1;
            z-index: 2;
            background-color: #c1c1c1;
            font-size: 0.4rem;
        }

        .m1 .box1 .p3 {
            transform: translate3d(2.5rem, 0.1rem, 0);
            border-radius: 50%;
            left: -0.4rem;
            width: 4.05rem;
            height: 4.05rem;
            z-index: 3;
            opacity: 1;
            background-color: #c4141f;
            font-size: 0.5rem;
        }
        .m1 .box1 .p3 div:first-child{
    color: white;
    margin-top: 0.875rem;
    margin-bottom: 0;
}
        .m1 .box1 .p3 div:last-child{
    color: white;
    font-size: 0.5rem;
    margin: auto;
}
        .m1 .p3 .iconfont{
            font-size: 1.25rem;
        }
        .m1 .box1 .p4 {
            transform: translate3d(5.0rem, 0.5rem, 0);
            border-radius: 50%;
            width: 3.25rem;
            height: 3.25rem;
            /*transform-origin:100% 50%;*/
            opacity: 1;
            z-index: 2;
            background-color: #333333;
            font-size: 0.4rem;
        }

        .m1 .box1 .p5 {
            border-radius: 50%;
            transform: translate3d(7.5rem, 0.5rem, 0);
            width: 3.25rem;
            height: 3.25rem;
            font-size: 0.4rem;
        }

        .m1 .box1 .p6 {
            transform: translate3d(10.0rem, 0.5rem, 0);
            width: 3.25rem;
            height: 3.25rem;
            font-size: 0.4rem;
        }

       .m1 .box1 .buttons1 {
               width: 5.0rem;
    position: absolute;
    height: 0.75rem;
    bottom: -0.65rem;
    left: 3.45rem;
    top: 4.625rem;
    text-align: center;
        }

        .m1 .box1 .buttons1 a {
            display: inline-block;
            height: 0.125rem;
            cursor: pointer;
        }

        .m1 .box1 span {
            display: block;
            border-radius: 0.05rem;
            background-color: rgb(51, 51, 51);
            width: 0.125rem;
            height: 0.125rem;

        }

        .m1 .box1 .chang {
            border-radius: 0.05rem;
            background-color: rgb(51, 51, 51);
            width: 0.5rem;
            height: 0.125rem;
        }
            .scxm{
            width: 6.85rem;
    position: absolute;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    line-height: 1.125rem;
    font-size: 0.55rem;
    bottom: 3.0rem;
    margin: auto;
    height: 1.125rem;
    background-color: #333333;
    border-radius: 0.25rem;
    bottom: 1.75rem;
        }

/* 医美简历 */

.m2{
 /*    width: 16rem; */
    margin: auto;
    height: 20.175rem;
        background: url('//img.hzshuangmei.com/m/ljb/images/m2bg1.jpg') center top no-repeat;
    background-size: auto 100%;
}
.m2 .dianjidi{
  left: 50%;
transform: translate(-50%, 0);
bottom: -1.4rem;
}
.m2 .dianjizixun{
    left: 50%;
   margin-left: -1.175rem;
    bottom: -1.3rem;
    z-index: 2
}
.m2 h3{
width: 5.3rem;
    height: 0.775rem;
    font-size: 0.5rem;
    margin: auto;
    background-color: #ffdeb5;
    border-radius: 0.25rem;
    color: #2f1e4c;
    line-height: 0.755rem;
}
.m2 .cont{
    padding-top: 3.75rem;
}
.m2  .tit1{
    margin-top: 1.75rem;
    position: relative;
    height: 2.9rem;
      margin-bottom: -0.75rem;

}

.tit_yuan{
    position: absolute;
    font-size: 0.5rem;
    width: 1.0rem;
    height: 1.1rem;
    padding:  0.325rem 0.375rem;
    background-image: url('//img.hzshuangmei.com/m/ljb/images/yimeiyuan.png');
    background-size: 100% 100%;
    line-height: 0.55rem;
    color: #ffffff;;
    right: 6.8rem;
    top: 0;
}
.tit_yuan span{
    font-size: 0.5rem;
}
.tit_text{
    position: absolute;
    right: 0.3rem;
    top: 0;

}
.tit_text h4{
    font-size: 0.5rem;
    color: #ffffff;
}
.tit_text p{
    width: 6.0rem;
    font-size: 0.4rem;
    line-height: 0.625rem;
    color: #e7e7e7;
}
.shuxian1{
    top: 7.85rem;
    left: 8.325rem;
    background-color: #ab877e;
    position: absolute;
    height: 7.5rem;
    width: 0.05rem;
    margin-top: 0.15rem;
}
.m3 .cont{
    padding-top: 2.3rem;
}
.banner{
    width: 16rem;
    margin: auto;
}
.banner img{
    width: 16rem;
}
.banner a{
    display: inline-block;
    width: 16rem;
    height: 100%;
}

.m3tit{
    margin-bottom: 0.125rem;
}
.m3tit img{
    width: 8.65rem;
}
.metit img{
width: 8.65rem;
height: 2.0rem;
}
.m3 h3{
    margin: auto;
        width: 5.25rem;
    background-color: #e1be8e;
    border-radius: 0.25rem;
    color: #ffffff;
    font-size: 0.5rem
}
.img1,.img2{
    position: relative;

    margin: auto;
width: 16.0rem;
font-size: 0;
}
.img1{
    margin-bottom:0.3rem;
    margin-top: 0.875rem;
}
.img1>div,.img2>div{
display: inline-block;
margin-right: 0.125rem;
position: relative;

}
.img1 img{
width: 7.875rem;
height:9.625rem;
}
.img2 img{
width: 5.2rem;
height:6.4rem
}
.img1 img,.img2 img{
    border-radius: 0.125rem;
}
.img1  .imgdi{
font-size: 0.45rem;
margin: auto;
width: 7.875rem;
text-align: center;
line-height: 0.6rem;
color: #ffffff;
padding: 0.25rem 0;
background-color: rgba(109, 83, 130, 0.8);
opacity: 0.8;
position: absolute;
bottom: 0;
}
.img1 div .img1p1{
    width:7.875rem
}
.img1 div .img1p2{
    width:6.75rem;
}
.img1 div p{
font-size: 0.45rem;
margin: auto;
text-align: center;
line-height: 0.6rem;
color: #ffffff;
padding: 0.25rem 0;
}
.img2 div p{
    text-align: center;
    width: 5.2rem;
    font-size:0.45rem;
    position: absolute;
    color: #ffffff;
    bottom: 0;
    padding: 0.4rem 0;
    background-color: rgba(109, 83, 130, 0.8);
    opacity: 0.8;
}
.m3 .dianjidi{
  left: 50%;
transform: translate(-50%, 0);
bottom: -3.825rem;
}
.m3 .dianjizixun{
    left: 50%;
       margin-left: -1.175rem;
    bottom: -3.725rem;
    z-index: 2
}
/* 美学观点 */
.m4 h3{
    font-size: 0.5rem;
    width: 6.525rem;
    height: 0.775rem;
    line-height: 0.775rem;
    background-color: #e1be8e;
    border-radius: 0.25rem;
    color: #ffffff;
}
.m4tit img{
width: 8.75rem;
height:2.025rem;
}
.m4 .cont{
    font-size: 0;
    padding-top: 4.95rem;
}
.m4 .jieshao{
    margin-top: 1.125rem;
    text-align: right;
    margin-bottom: 0.125rem;
    font-size: 0;
}
.m4 .jieshao img{
    height: 0.675rem;
    margin-right: 0.25rem;
}
.m4 .jieshao  p{
width: 14.875rem;
font-size: 0.5rem;
text-indent: 1rem;
color: #646464;
margin: auto;
text-align: left;
margin-bottom: 0.125rem;

}

.m4 .cont2{
    position: absolute;
    bottom: 3.2rem;
    width:16rem;
    height: 10.875rem;
    font-size: 0;
}
.m4 .cont2bg{
    border-radius: 0.25rem;
    width: 16rem;
    height: 10.875rem;
    margin-bottom: 3.2rem;
}
.m4 .cont2 p{
    color: #ffffff;
    width: 14.0rem;
    width: 13.925rem;
    margin: auto;
    font-size: 0.45rem;
    text-indent: 0.9rem;
}
.m4 .cont2 .p1{
    margin-top: 3.425rem;
}
.m4 .span1{
color: #e1be8e;
font-size: 0.6rem;
line-height: 0.75rem

}
.m4 .span2{
    color:#e1be8e;
    line-height: 0.75rem;
}
.m4 .dianjidi{
  left: 50%;
transform: translate(-50%, 0);
bottom: 1.825rem;
}
.m4 .dianjizixun{
    left: 50%;
       margin-left: -1.175rem;
    bottom: 1.925rem;
    z-index: 2
}
/* 医域所长 */
.m5{
    height: 22.25rem;
}
.m5bg1,.m5bg2{
    top: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    height: 22.25rem;
    z-index: -1;
}
.m5bg2{
display: none;
}
.m5 .cont{
padding-top: 3.525rem;

}
.m5 h3{
    width: 8.55rem;
    height: 0.775rem;
    color: #2f1e4c;
    line-height: 0.775rem;
    background-color: #ffdeb5;
    border-radius: 0.25rem;
    font-size: 0.5rem;
}
  .m5 .icon-mianmo{
            font-size: 0.75rem;
        }
        .m5 .icon-iconfontxiongbu{
            font-size: 1.0rem;
        }
       .qihuan {
        text-align: center;
            margin-top: 1.275rem;
        }

        .qihuan div {
            display: inline-block;
        }

        .face {

            font-size: 0.5rem;
            height: 1.4rem;
            /*line-height: 56px;*/
            width: 4.625rem;
            border-radius: 0.25rem 0.25rem 0 0;
            color: white;
            background-color: #e8984c;
        }

       .face div,.ruf div,.qihuan>div{
           display: inline-block;
           line-height: 1.075rem;
           height: 1.075rem;
           vertical-align: top;
           text-align: center;
       }

        .jiantou {

            width: 1.85rem;
            height: 0.6rem;
            margin: 0 1.0rem;
        }
        .jiantou img{
            margin-top: 0.2375rem;
             width: 1.85rem;
            height: 0.6rem;
        }

        .ruf {
            font-size: 0.5rem;

            height: 1.4rem;
            width: 4.625rem;
            border-radius: 0.25rem 0.25rem 0 0;
            background-color: white;
        }

        .yimeizuo {
            height: 11.85rem;
            width: 7.775rem;
            margin-top: 1.125rem;
            position: relative;

        }
        .yimeizuo>img{
         height: 11.85rem;
            width: 7.775rem;
            border-radius: 0.75rem;
            border-radius: 0.8rem;
            border: 0.125rem;

        }

        .yz_yuan {
            position: absolute;
            left: 0.3rem;
            bottom: 0.475rem;
            padding-top: 0.575rem;
            width: 2.825rem;
            height: 2.25rem;
            background-color: rgba(205, 118, 48, 0.74);
            opacity: 0.74;
            text-align: center;
            border-radius: 50%;
        }

        .yz_yuan span {
            display: block;
            font-size: 0.45rem;
            line-height: 0.575rem;
            color: white;
        }

        .yimeiright {
            text-align: center;
            width: 7.675rem;
            position: absolute;
            right: 0.25rem;
            top: 7.725rem;
        }

        .yimeiright h4 {
            margin: 0 auto 0.55rem;
            width: 4.05rem;
            height: 0.675rem;
            font-size: 0.65rem;
            line-height: 0.675rem;
            color: #ffffff;
        }

        .yimeiright > p {

            border-top:0.025rem dashed #6b677b ;
            border-bottom: 0.025rem dashed #6b677b;
            padding: 0.25rem 0;
            text-indent: 2em;
            text-align: left;
            margin: auto;
            width: 7.675rem;
            font-size: 0.45rem;
            font-weight: normal;
            font-stretch: normal;
            text-align: justify;
            line-height: 0.55rem;
            letter-spacing: 0px;
            color: #fefefe;
        }

        .yimeiright ul {
            width: 7.675rem;
        }

        .yimeiright ul::after {
            content: '';
            clear: both;
            display: block;
        }

        .yimeiright li {
            float: left;
            width: 50%;
            margin-top: 0.625rem;
        }

        .yimeiright li p {
    font-size: 0.4rem;
    line-height: 0.55rem;
    color: white;
        }
.m5 .p1{
width:3.6rem;
margin: auto;
}
.m5 .p2{
width: 3.2rem;
margin: auto;
}
.m5 .p3{
    width:3.6rem;
    margin: auto;
}
.m5 .p4{
width: 3.6rem;
margin: auto;
}
.m5 .p5{
    width: 2.65rem;
    margin: auto;
}
.m5 .p6{
    width:3.15rem;
    margin: auto;
}
.m5 .p7{
    width:3.25rem;
    margin: auto;
}
.m6 .p8{
    width: 3.65rem;
    margin: auto;
}
.banyuan {
    margin: 0 auto 0.25rem;
    position: relative;
    width: 1.7rem;
    height: 1.15rem;
    overflow: hidden;
    font-size: 0;
}

        .banyuan span {
              color: #ffdfb5;
    position: absolute;
    bottom: 0;
    display: block;
    font-size: 0.5rem;
    line-height: 1.625rem;
    width: 1.60rem;
    height: 1.60rem;
    border-radius: 50%;
    border: solid 0.025rem #ffe0b8;

        }

        .quyu2 .banyuan span{
            top:0.025rem;

         /*    line-height: 98px */
        ;
        }
              .quyu2{
            display: none;
        }
        .m5 .dianjidi{
  left: 50%;
transform: translate(-50%, 0);
bottom: -1.225rem;
}
.m5 .dianjizixun{
    left: 50%;
      margin-left: -1.175rem;
    bottom: -1.125rem;
    z-index: 2
}
/* 经典案例 */
.xgpage_img2{
    display: none;
}
.m6 .cont{
    padding-top: 2.5rem;
}
.m6 h3{
    margin-top: 0.25rem;
    width: 3.775rem;
    height: 0.775rem;
    background-color: #e1be8e;
    border-radius: 0.25rem;
        color: #ffffff;
        font-size:0.5rem;
        margin-bottom: 1.625rem;
}
.m6tit,.m6tit img{
    margin: auto;
    text-align: center;
    width: 8.575rem;
    height:1.975rem;
}
.xiaoguo_cont{
    margin: auto;
    position: relative;
        width: 15.75rem;
    height: 20.05rem;
    border-radius: 0.75rem;
    border: solid 0.05rem rgba(235, 204, 159, 0.5);
    margin-bottom: 2.2rem;
}
.xgpage{
    font-size: 0;
      position: absolute;
      text-align: center;
    top: -0.65rem;
    left: 1.525rem;
    width: 5.925rem;
    height: 1.25rem;
    background-color: #cccccc;
    color: #ffffff;
    font-size: 0.55rem;
    line-height: 1.25rem;
}
.xgpage1{
    background-color:#4f3077;
}
.xgpage2{
left: 8.45rem;
}
.page1,.page2{
    font-size: 0
}
.page1{
    margin: 1.475rem 0 0.525rem;
}
.page1>div:first-child,.page2>div:first-child{
    margin-left: 0.7rem;
    margin-right: 0.55rem;
}
.page1>div,.page2>div,.page1>div>img,.page2>div>img{

    display: inline-block;
    width: 6.9rem;
    height: 7.925rem;
}
        .m6 .dianjidi{
  left: 50%;
transform: translate(-50%, 0);
bottom: -1.525rem;
}
.m6 .dianjizixun{
    left: 50%;
     margin-left: -1.175rem;
    bottom: -1.425rem;
    z-index: 2
}
