
* {
    font-family: 微软雅黑;
}
body {
    overflow-x: hidden;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;

    color: white;
}
a:hover {
    text-decoration: none;
}
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;

    background: #fff;
}

td,
th,
caption {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}
img {
    border: none;
}

ol,
ul,
li {
    list-style: none;
}

input,
textarea,
select,
button {
    font: 14px Verdana, Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

html {
    overflow-y: scroll;
}
.onlytext {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
.dianjizixun a {
    display: block;

    animation: xuanzhuan2 4s infinite;
}
@keyframes xuanzhuan2 {
    0% {
        transform: rotateY(0deg);;
    }
    50% {
        transform: rotateY(-180deg);;
    }
    100% {
        transform: rotateY(-360deg);;
    }
}
.dianjizixun {
    position: absolute;

    width: 74px;
    height: 86px;
    padding: 41px 36px;

    font-size: 36px;
    line-height: 43px;

    cursor: pointer;
    animation: xuanzhuan 4s infinite;

    color: #3a1706;
    background-image: url("//img.hzshuangmei.com/pc/ljb/images/img1.png");
    background-repeat: no-repeat;
}
@keyframes xuanzhuan {
    0% {
        transform: rotateY(0deg);;
    }
    50% {
        transform: rotateY(180deg);;
    }
    100% {
        transform: rotateY(360deg);;
    }
}


/*内容*/

.banner {
    height: 700px;

    cursor: pointer;

    background: url("//img.hzshuangmei.com/pc/ljb/images/bg1.jpg") center top no-repeat;
}

.cont {
    position: relative;

    width: 1200px;
    margin: 0 auto;

    text-align: center;
}

.t1 {
    position: relative;

    height: 1036px;
    min-width: 1200px;
    margin: auto;

    background: url("//img.hzshuangmei.com/pc/ljb/images/bg2.jpg") center top no-repeat;
}

.t2 {
    position: relative;

    height: 1014px;
    margin: auto;

    background: url("//img.hzshuangmei.com/pc/ljb/images/bg3.jpg") center top no-repeat;
}

.t3 {
    position: relative;

    height: 1152px;
    margin: auto;

    background: url("//img.hzshuangmei.com/pc/ljb/images/bg4.jpg") center top no-repeat;
}

.t4 {
    position: relative;

    height: 1298px;
    margin: auto;

    background: url("//img.hzshuangmei.com/pc/ljb/images/bg5.jpg") center top no-repeat;
}

.t5 {
    position: relative;
    /*background: url("//img.hzshuangmei.com/pc/ljb/images/bg6.jpg") center top no-repeat;*/

    height: 1268px;
    margin: auto;
}
.t51,
.t52 {
    position: absolute;
    left: 50%;
    z-index: -1;

    height: 1268px;

    transform: translate(-50%);
}
.t52 {
    display: none;
}
.t6 {
    position: relative;

    height: 1192px;

    background: url("//img.hzshuangmei.com/pc/ljb/images/bg7.jpg") center top no-repeat;
}

.t7 {
    position: relative;

    height: 530px;
    margin: auto;

    background: url("//img.hzshuangmei.com/pc/ljb/images/bg8.jpg") center top no-repeat;
}

.t1 .dianjizixun {
    right: 222px;
    bottom: 102px;
}

.t2 .dianjizixun {
    right: 230px;
    bottom: -268px;
    z-index: 2;
}

.t3 .dianjizixun {
    bottom: -820px;
    left: 50%;

    margin-left: -71px;
}

.t4 .dianjizixun {
    bottom: -295px;
    left: 50%;

    margin-left: -73px;
}

.t5 .dianjizixun {
    bottom: -140px;
    left: 50%;
    z-index: 2;

    margin-bottom: -74px;
    margin-left: -73px;
}

.t6 .dianjizixun {
    bottom: -110px;
    left: 50%;
    z-index: 3;

    margin-left: -73px;
}


/*个人档案*/
.t1 .iconfont {
    font-size: 48px;
}

.t1 .icon-iconqiehuanzuo,
.t1 .icon-iconqiehuanyou {
    color: #e1e1e1;
}
.hover:hover {
    color: red;
}

.t1 .left {
    position: relative;
    left: 25px;

    width: 501px;
    padding-top: 232px;

    text-align: center;
}

.t1 p {
    width: 225px;
    height: 16px;
    margin: auto;
    margin-bottom: 58px;

    font-size: 18px;
    line-height: 16px;

    letter-spacing: 4px;

    color: #646464;
}

.t1 p span:first-child {
    margin-right: 10px;
}

.t1 h3 {
    margin-bottom: 36px;

    font-size: 20px;

    color: #535353;
}

.t1 h3 span {
    margin-right: 10px;

    font-size: 30px;

    color: #393939;
}

.t1 ul li {
    font-size: 18px;
    line-height: 30px;

    color: #646464;
}

/*t2板块*/
.t2 .cont {
    padding-top: 230px;
}

.t2 h3 {
    width: 312px;
    height: 45px;
    margin: auto;

    font-size: 30px;
    line-height: 45px;

    color: #2f1e4c;
    border-radius: 10px;
    background-color: #ffdeb5;
}

.tit_yuan {
    position: absolute;
    top: 50%;
    right: 520px;

    width: 52px;
    height: 58px;
    padding: 21px 24px;
    margin-top: -50px;

    font-size: 24px;
    line-height: 29px;

    color: white;
    border-radius: 50%;
    background-image: url("//img.hzshuangmei.com/pc/ljb/images/yimeiyuan.png");
}

.tit_text p {
    width: 468px;
    height: 67px;

    font-size: 18px;

    text-align: left;

    color: white;
}

.tit1 {
    position: relative;

    height: 106px;
    margin-top: 65px;
    margin-bottom: 40px;
}

.tit1 .tit_text {
    position: absolute;
    top: 0;
    right: 20px;
}

.tit1 .tit_text2 {
    top: 10px;
}

.tit1 h4 {
    height: 24px;
    margin-bottom: 13px;

    font-size: 24px;
    line-height: 24px;

    text-align: left;

    color: #fff;
}

.t2 .shuxian1 {
    position: absolute;
    top: 437px;
    left: 628px;

    width: 2px;
    height: 73px;
    margin-top: 6px;

    background-color: #ab877e;
}

.t2 .shuxian2 {
    position: absolute;
    top: 606px;
    left: 628px;

    width: 2px;
    height: 73px;
    margin-top: 6px;

    background-color: #ab877e;
}
/*学术风采*/
.t3 .iconfont {
    font-size: 60px;

    color: #e1e1e1;
}
.t3 .cont {
    padding-top: 270px;
}

.t3 h3 {
    width: 312px;
    height: 45px;
    margin: auto;

    font-size: 30px;
    line-height: 45px;

    color: white;
    border-radius: 10px;
    background-color: #e1be8e;
}

.t3 h3 span {
    margin-right: 20px;
}

/*t4板块*/
.t4 .cont {
    padding-top: 206px;
}

.t4 h3 {
    width: 385px;
    height: 45px;
    margin: auto;

    font-size: 30px;
    line-height: 45px;

    color: white;
    border-radius: 10px;
    background-color: #e1be8e;
}



.t4 .mrmy {
    width: 390px;
    margin-top: 146px;

    font-size: 20px;
    line-height: 30px;

    text-align: left;
    text-indent: 10px;

    color: #646464;
}

.t4 .mr {
    position: relative;

    width: 400px;
    height: 30px;
    margin: 25px 0 50px;

    font-size: 30px;

    text-align: right;
}
.mr > img {
    position: absolute;
    right: 0;

    width: 137px;
}
.t4 .jieshao {
    position: relative;
    z-index: 4;

    width: 526px;
    height: 286px;

    background-image: url("//img.hzshuangmei.com/pc/ljb/images/jieshaobg.png");
    background-size: auto 286px;
}

.jieshao_cont {
    width: 453px;
    height: 173px;
    padding: 56px 0 0 37px;

    font-size: 18px;
    line-height: 30px;

    text-align: left;

    color: white;
}

.jieshao_cont .span1 {
    margin-right: 10px;

    font-size: 24px;

    color: #914f2f;
}

.span2,
.span3 {
    margin: 0 10px;

    color: #914f2f;
}

.span2 {
    margin-right: -10px;
}

.jieshao_img,
.jieshao_img img {
    width: 788px;
    height: 536px;
}

.jieshao_img {
    position: absolute;
    right: 0;
    bottom: -25px;
}

.t1 .box1 {
    position: relative;
    top: -261px;

    width: 500px;
    height: 180px;
    margin-top: 300px;
}

.t1 .box1 .list {
    /* overflow: hidden; */
    position: absolute;
    left: 0;

    width: 500px;
    height: 180px;
    /* margin-left: -600px; */
}

.t1 .box1 .btn {
    position: absolute;
    top: 50%;

    width: 60px;
    height: 100px;
    margin-top: -50px;

    font-size: 50px;
    line-height: 100px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;

    color: black;
}

.t1 .box1 .prev1 {
    left: 0;
}

.t1 .box1 .next1 {
    right: 0;
}

.t1 .box1 li {
    position: absolute;
    top: 0;
    left: 0;

    margin-right: -80px;
    margin-left: 80px;

    line-height: 24px;
    list-style: none;

    transition: all .3s ease-out;
    text-align: center;

    opacity: 0;
    color: white;
}
.t1 .box1 li div:first-child {
    height: 50px;
    margin-top: 25px;
    margin-bottom: 0;

    line-height: 50px;
}
.t1 .box1 .p1 {
    width: 130px;
    height: 130px;

    font-size: 16px;

    transform: translate3d(-100px, 20px, 0);

    border-radius: 50%;
}

.t1 .box1 .p2 {
    z-index: 2;

    width: 130px;
    height: 130px;

    font-size: 16px;

    transform: translate3d(0px, 20px, 0);
    /*transform-origin:0 50%;*/

    opacity: 1;
    border-radius: 50%;
    background-color: #c1c1c1;
}

.t1 .box1 .p3 {
    left: -16px;
    z-index: 3;

    width: 162px;
    height: 162px;

    font-size: 20px;

    transform: translate3d(100px, 4px, 0);

    opacity: 1;
    border-radius: 50%;
    background-color: #c4141f;
}
.t1 .box1 .p3 div:first-child {
    margin-top: 35px;
    margin-bottom: 0;

    color: white;
}
.t1 .box1 .p3 div:last-child {
    margin: auto;

    font-size: 20px;

    color: white;
}
.t1 .p3 .iconfont {
    font-size: 50px;
}
.t1 .box1 .p4 {
    z-index: 2;

    width: 130px;
    height: 130px;

    font-size: 16px;

    transform: translate3d(200px, 20px, 0);
    /*transform-origin:100% 50%;*/

    opacity: 1;
    border-radius: 50%;
    background-color: #333;
}

.t1 .box1 .p5 {
    width: 130px;
    height: 130px;

    font-size: 16px;

    transform: translate3d(300px, 20px, 0);

    border-radius: 50%;
}

.t1 .box1 .p6 {
    width: 130px;
    height: 130px;

    font-size: 16px;

    transform: translate3d(400px, 20px, 0);
}

.t1 .box1 .buttons1 {
    position: absolute;
    bottom: -26px;
    left: 50%;

    width: 200px;
    height: 30px;
    margin-left: -100px;

    text-align: center;
}

.t1 .box1 .buttons1 a {
    display: inline-block;
    height: 5px;

    cursor: pointer;
}

.t1 .box1 span {
    display: block;
    width: 5px;
    height: 5px;

    border-radius: 2px;
    background-color: rgb(51, 51, 51);
}

.t1 .box1 .chang {
    width: 20px;
    height: 5px;

    border-radius: 2px;
    background-color: rgb(51, 51, 51);
}
.scxm {
    position: absolute;
    right: 0;
    bottom: 120px;
    bottom: 162px;
    left: 0;

    width: 274px;
    height: 45px;
    margin: auto;

    font-size: 22px;
    line-height: 45px;

    color: white;
    border-radius: 10px;
    background-color: #333;
}
/*区域所长*/
/*.quyu1{*/
/*display: none;*/
/*}*/
.quyu2 {
    display: none;
}
.t5 .cont {
    padding-top: 230px;
}
.t5 .icon-mianmo {
    font-size: 35px;
}
.t5 .icon-iconfontxiongbu {
    font-size: 50px;
}

.t5 h3 {
    width: 507px;
    height: 45px;
    margin: auto;

    font-size: 30px;
    line-height: 45px;

    color: #2f1e4c;
    border-radius: 10px;
    background-color: #ffdeb5;
}

.qihuan {
    margin-top: 111px;
}

.qihuan div {
    display: inline-block;
}

.face {
    /*line-height: 56px;*/
    width: 230px;
    height: 56px;

    font-size: 24px;

    color: white;
    border-radius: 10px 10px 0 0;
    background-color: #e8984c;
}

.face div,
.ruf div,
.qihuan > div {
    display: inline-block;
    height: 56px;

    line-height: 56px;

    vertical-align: top;
}

.jiantou {
    width: 74px;
    height: 24px;
    margin: 0 40px;
}

.ruf {
    width: 230px;
    height: 56px;

    font-size: 24px;
    line-height: 56px;

    border-radius: 10px 10px 0 0;
    background-color: white;
}

.yimeizuo {
    position: relative;

    width: 586px;
    height: 636px;
    margin-top: 45px;
}
.yimeizuo > img {
    width: 586px;
    height: 636px;

    border: 5px;
    border-radius: 32px;
}

.yz_yuan {
    position: absolute;
    bottom: 21px;
    left: 21px;

    width: 201px;
    height: 151px;
    padding-top: 50px;

    text-align: center;

    opacity: .74;
    border-radius: 50%;
    background-color: rgba(205, 118, 48, .74);
}

.yz_yuan span {
    display: block;

    font-size: 30px;
    line-height: 34px;

    color: white;
}

.yimeiright {
    position: absolute;
    top: 495px;
    right: 30px;

    width: 482px;

    text-align: center;
}

.yimeiright h4 {
    width: 299px;
    height: 48px;
    margin: 0 auto 40px;

    font-size: 48px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 48px;

    letter-spacing: 1px;

    color: #fff;
}

.yimeiright > p {
    width: 482px;
    height: 90px;
    padding: 20px 0;
    margin: auto;

    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 30px;

    text-align: left;
    text-indent: 2em;
    letter-spacing: 0;

    color: #fefefe;
    border-top: 1px dashed #6b677b ;
    border-bottom: 1px dashed #6b677b;
}

.yimeiright ul {
    width: 496px;;
}

.yimeiright ul::after {
    display: block;
    clear: both;

    content: "";
}

.yimeiright li {
    float: left;
    width: 50%;
    margin-top: 60px;
}

.yimeiright li p {
    width: 260px;

    font-size: 20px;
    line-height: 30px;

    color: white;
}

.banyuan {
    position: relative;

    width: 110px;
    height: 70px;
    margin: 0 auto 20px;
    overflow: hidden;

    font-size: 0;
}

.banyuan span {
    position: absolute;
    bottom: 0;

    display: block;
    width: 108px;
    height: 108px;

    font-size: 36px;
    line-height: 108px;

    color: #ffdfb5;
    border: solid 1px #ffe0b8;
    border-radius: 50%;
}

.quyu2 .banyuan span {
    top: 0;

    line-height: 98px
;
}

.t6 .cont {
    padding-top: 305px;
}

.t6 h3 {
    width: 222px;
    height: 45px;
    margin: 0 auto 103px;

    font-size: 30px;
    line-height: 45px;

    color: white;
    border-radius: 10px;
    background-color: #e1be8e;;
}

.xiaoguo_cont {
    position: relative;
    top: -5px;

    width: 1190px;
    height: 518px;
    margin: auto;

    border: solid 2px rgba(235, 204, 159, .5);
    border-radius: 30px;
}


.xgpage {
    position: absolute;
    top: -25px;
    left: 305px;

    width: 268px;
    height: 50px;

    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 50px;

    letter-spacing: 0;

    color: #fff;
    background-color: #ccc;
}
.xgpage1 {
    background-color: #4f3077;
}
.xgpage2 {
    left: 615px;
}

.page1,
.page2 {
    display: inline-block;
    width: 524px;
    height: 352px;
    margin-top: 65px;

    font-size: 0;
}
.xgpage_img2 {
    display: none;
}
.xgpage_img img {
    width: 262px;
    height: 352px;
}
.page1 > div,
.page2 > div {
    position: relative;
}
.xgpage_img span {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 62px;
    height: 30px;

    font-size: 18px;
    line-height: 30px;

    color: white;
    background-color: #333;
}
.page2 {
    margin-left: 35px;
}

.page1 div,
.page2 div {
    display: inline-block;
}
.like_cont {
    width: 1198px;
    margin: auto;
    overflow: hidden;
}
.like_cont img {
    width: 292px;
    height: 186px;
    margin-right: 10px;

    font-size: 0;
}
.like_cont img:last-child {
    margin-right: 0;
}
.t7 .cont {
    padding-top: 226px;
}
.t3 .box2 {
    position: absolute;
    left: 50%;

    width: 1930px;
    height: 180px;
    margin: 110px auto 0;

    transform: translate(-50%);
}

.t3 .box2 .list {
    /* overflow: hidden; */
    position: relative;

    width: 1930px;
    height: 180px;
    margin: auto;
;
    /* margin-left: -600px; */
}

.t3 .box2 .btn {
    position: absolute;
    top: 115px;
    right: 90px;

    cursor: pointer;
}

.t3 .box2 .prev2 {
    left: -80px;
}

.t3 .box2 .next2 {
    right: -85px;
}

.t3 .box2 li {
    position: absolute;
    top: 0;
    left: 0;

    font-size: 0;

    transition: all .3s ease-out;
    text-align: center;

    opacity: 0;
    border-radius: 5px;
}
.t3 .box2 li img {
    width: 370px;
    height: 450px;
}

.t3 .box2 .p1 {
    z-index: 2;

    width: 370px;
    height: 450px;

    transform: translate3d(0, 0, 0);

    opacity: 1;
}

.t3 .box2 .p2 {
    z-index: 2;

    width: 370px;
    height: 450px;

    font-size: 16px;

    transform: translate3d(390px, 0px, 0);
    /*transform-origin:0 50%;*/

    opacity: 1;
}

.t3 .box2 .p3 {
    z-index: 2;

    width: 370px;
    height: 450px;

    font-size: 22px;

    transform: translate3d(780px, 0px, 0);

    opacity: 1;
}


.t3 .box2 .p4 {
    z-index: 2;

    width: 370px;
    height: 450px;

    font-size: 16px;

    transform: translate3d(1170px, 0px, 0);
    /*transform-origin:100% 50%;*/

    opacity: 1;
}

.t3 .box2 .p5 {
    z-index: 2;

    width: 370px;
    height: 450px;

    transform: translate3d(1560px, 0, 0);

    opacity: 1;
}

/*.t3 .box2 .p6 {*/
/*transform: translate3d(1950px, 0, 0);*/
/*z-index: 2;*/
/*width: 370px;*/
/*height: 450px;*/

/*}*/

/*.p7{*/
/*transform:translate3d(500px,0,0) ;*/
/*width: 130px;*/
/*height: 130px;*/
/*}*/

.t3 .box2 .buttons2 {
    position: absolute;
    /*bottom: -26px;*/
    left: 50%;

    width: 200px;
    height: 30px;
    margin-left: -100px;

    text-align: center;
}

.t3 .box2 .buttons2 a {
    display: inline-block;
    height: 5px;

    cursor: pointer;
}

.t3 .box2 span {
    display: block;
    width: 5px;
    height: 5px;

    border-radius: 2px;
    background-color: rgb(51, 51, 51);
}

.t3 .box2 .chang {
    width: 20px;
    height: 5px;

    border-radius: 2px;
    background-color: rgb(51, 51, 51);
}
.t3 .lun2an {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    width: 1200px;
    height: 50px;
    margin: auto;
}
.quanlan {
    position: absolute;
    bottom: 0;

    height: 58px;

    font-size: 18px;
    line-height: 24px;

    color: white;
    background-color: rgba(109, 83, 130, .8);
}
.quanlan3 {
    font-size: 20px;
    line-height: 58px;
}
.quanlan p {
    width: 370px;
    margin: auto;
}
.quanlan p:first-child {
    margin-top: 5px;
}
.quanlan3 p:first-child {
    margin-top: 0;
}
.p1 .quanlan,
.p5 .quanlan {
    position: absolute;
    top: 0;
    z-index: 100;

    width: 100%;
    height: 100%;

    font-size: 0;

    background-color: rgba(91, 72, 121, 0);
}
.box2left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;

    width: 370px;
    height: 450px;

    background-color: rgba(91, 72, 121, .8);
}
.box2right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;

    width: 370px;
    height: 450px;

    background-color: rgba(91, 72, 121, .8);
}
