html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
button,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    vertical-align: baseline;

    border: 0;
    outline: none;
    background: transparent;
}article,

aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}ol,

ul {
    list-style: none;
}button {

    background: transparent;
}blockquote,

q {
    quotes: none;
}blockquote:before,

blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}a {

    text-decoration: none;
}strong {

    font-weight: bold;
}table {

    border-spacing: 0;
    border-collapse: collapse;
}img {

    display: block;
    max-width: 100%;

    border: 0;
}html {

    line-height: initial;
}body {

    font-size: .2rem;
}.clearFix {

    zoom: 1;
}.clearFix:after {

    display: block;
    clear: both;

    content: "";
}.scale-1px,

.scale-1px-1,
.scale-1px-2,
.scale-1px-3 {
    position: relative;

    border: none;
}.scale-1px:after,

.scale-1px-1:after,
.scale-1px-2:after,
.scale-1px-3:after {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 1px;

    content: "";
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
}.scale-1px:after {

    background-color: rgba(224,173,154,.3);
}.scale-1px-1:after {

    background-color: rgba(82,54,50,.3);
}.scale-1px-2:after {

    background: rgba(242,224,206,.17);
}.scale-1px-3:after {

    background-color: #f2e0ce;
}.scale-2px,

.scale-2px-1,
.scale-2px-2 {
    position: relative;

    border: none;
}.scale-2px:after,

.scale-2px-1:after,
.scale-2px-2:after {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 2px;

    content: "";
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
}.scale-2px:after {

    background-color: rgba(224,173,154,.3);
}.scale-2px-1:after {

    background-color: rgba(82,54,50,.3);
}.scale-3px,

.scale-3px-1 {
    position: absolute;

    border: none;
}.scale-3px:after,

.scale-3px-1:after {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 4px;

    content: "";
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
}.scale-3px:after {

    background-color: rgba(224,173,154,.3);
}.scale-3px-1:after {

    background: #dfad9d;
}.scale-1px-4 {

    position: relative;

    margin-bottom: 20px;

    border: none;
}.scale-1px-4:after {

    position: absolute;
    top: 0;
    left: 0;

    width: 200%;
    height: 200%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    content: "";
    -webkit-transform: scale(.5);
            transform: scale(.5);
    -webkit-transform-origin: left top;
            transform-origin: left top;

    border: 1px solid #fff;
}
.banner {
    width: 100%;
    height: auto;
    /*padding-top: .75*100*16/750rem;*/
}
.banner img {
    width: 100%;
    height: auto;
}
.part1 {
    position: relative;

    padding-top: 1.81333333rem;
    padding-bottom: 2.26133333rem;

    text-align: center;

    background: url("//img.hzshuangmei.com/m/darkcircles/part1-bg.jpg") no-repeat;
    background-size: cover;
}
.part1-title-bg {
    position: absolute;
    top: .10666667rem;
    left: 0;
}
.part1-title-bg img {
    width: 100%;
}
.header {
    position: relative;
}
.header .title {
    font-size: .93866667rem;
    line-height: 1.13066667rem;

    color: #f9e7d3;
}
.header .title h2 {
    font-size: .81066667rem;
    font-weight: normal;
}
.header .title h2 span {
    position: relative;

    display: inline-block;
    width: .29866667rem;
    height: .29866667rem;
}
.header .title h2 span:first-child {
    top: -.448rem;
    left: -.04266667rem;

    background: url("//img.hzshuangmei.com/m/darkcircles/title-icon.png") no-repeat;
    background-size: .29866667rem;
}
.header .title h2 span:nth-child(2) {
    top: .23466667rem;
    left: .02133333rem;

    margin-right: .21333333rem;

    background: url("//img.hzshuangmei.com/m/darkcircles/title-icon-1.png") no-repeat;
    background-size: .29866667rem;
}
.header .e-title {
    height: .21333333rem;
    margin-top: .46933333rem;
    margin-bottom: .32rem;

    color: #b6887b;
}
.header .line {
    position: relative;

    width: 6.89066667rem;
}
.header .line-wrap {
    position: absolute;
    left: 50%;

    margin-left: -3.44533333rem;

    text-align: left;
}
.header .line-chl {
    top: .02133333rem;
    left: 50%;

    width: .53333333rem;
    margin-left: -.26666667rem;
}
.part1 .content {
    margin-top: 1.49333333rem;
}
.part1 .content ul {
    margin-left: .36266667rem;
}
.part1 .content .pic-item {
    float: left;
    width: 5.07733333rem;
    height: 5.07733333rem;
}
.part1 .content .pic-wrap {
    position: relative;

    width: 100%;
    height: 100%;
}
.part1 .content .pic-wrap .btn {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2.56rem;
    height: .93866667rem;
    margin-top: -.46933333rem;
    margin-left: -1.22666667rem;

    background: url("//img.hzshuangmei.com/m/darkcircles/part1-btn.png") no-repeat;
    background-size: cover;
}
.part1 .content .pic-wrap .btn a {
    display: block;
    width: 100%;
    height: 100%;
}
.part2 {
    position: relative;

    text-align: center;

    background: #fff;
}
.part2-title-bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
}
.part2-title-bg img {
    width: 100%;
}
.part2 .bg-wrap img {
    width: 100%;
}
.header-1 .title-1 {
    position: relative;
    top: -.08533333rem;
}
.part2 .header-po {
    position: absolute;
    top: 1.984rem;
    left: 0;

    width: 100%;
}
.header-1 .title {
    color: #523632;
}
.header-1 .title i {
    display: inline-block;
    width: 3.66933333rem;
    height: 1.06666667rem;

    font-style: normal;

    background-image: url("//img.hzshuangmei.com/m/darkcircles/part2-title-icon.png");
    background-size: cover;
}
.header-1 .e-title {
    font-size: .21333333rem;

    color: rgba(82, 54, 50, .61);
}
.header-1 .line-chl {
    top: 0;
}
.part2 .content-po {
    position: absolute;
    top: 13.41866667rem;
    left: .768rem;
}
.content-po .panel-wrap .panel {
    position: relative;

    float: left;
    width: 4.65066667rem;
    height: 6.42133333rem;

    background: url("//img.hzshuangmei.com/m/darkcircles/part2-panel-1.jpg");
    background-size: cover;
}
.content-po .panel-wrap .panel-2 {
    background: url("//img.hzshuangmei.com/m/darkcircles/part2-panel-2.jpg");
    background-size: cover;
}
.content-po .panel-wrap .panel-3 {
    background: url("//img.hzshuangmei.com/m/darkcircles/part2-panel-3.jpg");
    background-size: cover;
}
.content-po .panel-wrap .panel:nth-child(2) {
    margin-top: -.768rem;
    margin-right: .192rem;
    margin-left: .192rem;
}
.panel-wrap .panel .title {
    margin-top: 1.408rem;
    margin-bottom: .42666667rem;

    font-size: .64rem;

    color: #f9e7d3;
}
.panel-wrap .panel .line-wrap {
    position: absolute;
    top: 2.34666667rem;
    left: 50%;

    width: 100%;
    margin-left: -1.60426667rem;

    text-align: left;
}
.panel-wrap .panel .line {
    width: 3.22133333rem;
}
.panel-wrap .panel .txt {
    padding-right: .512rem;
    padding-left: .704rem;
    margin-top: .32rem;

    font-size: .46933333rem;
    line-height: .66133333rem;

    text-align: justify;
    letter-spacing: .02133333rem;

    color: #f9e7d3;
}
.part2 .btn {
    position: absolute;
    bottom: .98133333rem;
    left: 50%;

    width: 4.88533333rem;
    height: 1.51466667rem;
    margin-left: -2.44266667rem;

    background: url("//img.hzshuangmei.com/m/darkcircles/part2-btn.png");
    background-size: cover;
}
.part2 .btn a {
    display: block;
    width: 96%;
    height: 92%;
    margin-left: .064rem;
}
.part3 {
    position: relative;

    padding-top: 1.92rem;
    padding-bottom: 2.19733333rem;

    text-align: center;

    background: #f4efed;
}
.part3-title-bg {
    position: absolute;
    top: .192rem;
    left: 0;

    width: 100%;
}
.part3-title-bg img {
    width: 100%;
}
.header-2 .title h2 span:first-child {
    background: url("//img.hzshuangmei.com/m/darkcircles/part3-title-icon.png");
    background-size: cover;
}
.header-2 .title h2 span:nth-child(2) {
    background: url("//img.hzshuangmei.com/m/darkcircles/part3-title-icon-1.png");
    background-size: cover;
}
.part3 .part3-desc {
    width: 14.76266667rem;
    height: 1.81333333rem;
    margin: 0 auto;
    margin-top: 1.38666667rem;

    font-size: .46933333rem;
    line-height: .66133333rem;

    text-align: left;
    letter-spacing: .02133333rem;

    color: #6e4d47;
}
.part3 .content-detail-wrap {
    width: 15.296rem;
    margin-top: 2.06933333rem;
    margin-left: .36266667rem;
}
.part3 .content-detail-wrap .bg-wrap-1,
.part3 .content-detail-wrap .bg-wrap-2 {
    position: relative;
    z-index: 10;
}
.content-detail-wrap .bg-wrap-1 .right-con {
    position: absolute;
    top: .59733333rem;
    right: .46933333rem;
}
.bg-wrap-1 .right-con .title {
    width: 3.584rem;
    height: 1.81333333rem;
    margin-bottom: .768rem;
}
.bg-wrap-1 .right-con .title img {
    width: 100%;
    height: 100%;
}
.bg-wrap-1 .right-con .txt {
    width: 7.38133333rem;

    font-size: .46933333rem;
    line-height: .66133333rem;

    text-align: left;
    letter-spacing: .02133333rem;

    color: #f2e0ce;
}
.part3 .bg-wrap-2 {
    margin-top: 1.62133333rem;
}
.part3 .bg-wrap-2 .item {
    position: relative;

    float: left;
    width: 4.71466667rem;
    height: 3.456rem;
}
.part3 .bg-wrap-2 .item:nth-child(3n-1) {
    margin-right: .21333333rem;
    margin-left: .21333333rem;
}
.part3 .bg-wrap-2 .pic-item {
    position: absolute;
    top: 6.208rem;
    left: .384rem;
}
.part3 .bg-wrap-2 .item .item-po {
    position: relative;
}
.bg-wrap-2 .item-po .btn {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2.09066667rem;
    height: .704rem;
    margin-top: -.32rem;
    margin-left: -.98133333rem;

    background: url("//img.hzshuangmei.com/m/darkcircles/part1-btn.png");
    background-size: 100%;
}
.bg-wrap-2 .item-po .btn a {
    display: block;
    width: 100%;
    height: 100%;
}
.part3 .bg-wrap-2 .item img {
    width: 100%;
    height: 100%;
}
.part3 .modifier {
    position: absolute;
    top: -.53333333rem;
    right: 0;

    width: 1.89866667rem;
    height: 3.22133333rem;

    background: url("//img.hzshuangmei.com/m/darkcircles/zw-1.png") no-repeat;
    background-size: 100%;
}
.part3 .part3-bg {
    position: absolute;
    top: 6.82666667rem;
    right: 0;

    width: 5.29066667rem;
    height: 1.81333333rem;

    background: url("//img.hzshuangmei.com/m/darkcircles/people.png") no-repeat;
    background-size: 100%;
}
.part4 {
    position: relative;

    padding-bottom: .53333333rem;

    text-align: center;

    background: #fff;
}
.part4-title-bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
}
.part4-title-bg img {
    width: 100%;
}
.part4 .bg-wrap {
    padding-top: 7.25333333rem;
}
.part4 .bg-wrap img {
    width: 100%;
}
.header-3 {
    text-align: center;
}
.part4 .content {
    position: absolute;
    top: 1.81333333rem;
    left: 0;

    width: 100%;
}
.part4 .content .txt-content {
    position: absolute;
    top: 8.192rem;
    left: .42666667rem;

    width: 100%;

    text-align: left;
}
.part4 .txt-content .item {
    width: 80%;
    margin-bottom: 1.28rem;
    box-sizing: border-box;

    letter-spacing: .02133333rem;

    color: #8a635c;
}
.part4 .txt-content .item-1 {
    margin-left: .832rem;
}
.part4 .txt-content .item-2 {
    margin-left: 1.74933333rem;
}
.part4 .txt-content .item-3 {
    margin-left: 1.344rem;
}
.txt-content .item .title {
    font-size: .68266667rem;
}
.part4 .item .title span {
    display: inline-block;
    width: .66133333rem;
    height: .66133333rem;
    margin-right: .17066667rem;

    font-size: .53333333rem;
    line-height: .66133333rem;

    text-align: center;

    border-radius: .256rem;
    background-color: #f2e0ce;
}
.part4 .item .title i {
    font-style: normal;
    font-weight: bold;
}
.part4 .item .line {
    left: .21333333rem;

    width: 6.08rem;
}
.part4 .item .txt {
    width: 6.44266667rem;
    margin-top: .34133333rem;
    margin-left: .27733333rem;

    font-size: .36266667rem;
    line-height: .576rem;
}
.part4 .btn-wrap {
    position: absolute;
    bottom: 1.92rem;
    left: 50%;

    width: 4.97066667rem;
    height: 1.55733333rem;
    margin-left: -2.48533333rem;

    background: url("//img.hzshuangmei.com/m/darkcircles/part4-btn.png") no-repeat;
    background-size: 100%;
}
.part4 .btn-wrap a {
    display: block;
    width: 96%;
    height: 92%;
    margin-left: .10666667rem;
}
.part5 {
    text-align: center;

    background: #f4efed;
}
.header-4 .title {
    font-size: .93866667rem;

    letter-spacing: .04266667rem;

    color: #523632;
}
.header-4 .e-title {
    color: rgba(82, 54, 50, .61);
}
.part5 .header-bg {
    position: relative;
}
.part5 .header-bg .bg img {
    width: 100%;
}
.part5 .header-bg .header-po {
    position: absolute;
    top: 1.87733333rem;

    width: 100%;

    text-align: center;
}
.part5 .content-bg-1,
.part5 .content-bg-4 {
    position: relative;

    margin-bottom: .96rem;
}
.part5 .content-bg-2 {
    margin-bottom: .96rem;
}
.part5 .content-bg-3 {
    margin-bottom: 0;
}
.part5 .content-bg-4 {
    margin-bottom: 0;
}
.part5 .content-bg-1 .bg-wrap,
.part5 .content-bg-2 .bg-wrap,
.part5 .content-bg-4 .bg-wrap,
.part5 .content-bg-5 .bg-wrap {
    width: 100%;
}
.part5 .content-bg-1 .bg-wrap img,
.part5 .content-bg-2 .bg-wrap img,
.part5 .content-bg-4 .bg-wrap img,
.part5 .content-bg-5 .bg-wrap img {
    width: 100%;
}
.part5 .content-bg-1 .txt {
    position: absolute;
    top: 2.28266667rem;
    right: .85333333rem;

    width: 6.37866667rem;

    font-size: .46933333rem;
    line-height: .704rem;

    text-align: justify;
    letter-spacing: .02133333rem;

    color: #f2e0ce;
}
.part5 .content-bg-4 .txt {
    position: absolute;
    top: 2.112rem;
    right: 1.81333333rem;

    font-size: .46933333rem;
    line-height: .66133333rem;

    letter-spacing: .02133333rem;

    color: #f2e0ce;
}
.part5 .content-bg-4 .txt .item {
    margin-bottom: .384rem;
}
.part5 .content-bg-4 .txt span {
    position: relative;
    top: -.128rem;

    display: inline-block;
    width: .128rem;
    height: .128rem;
    margin-right: .04266667rem;

    background: url("//img.hzshuangmei.com/m/darkcircles/part5-icon.png") no-repeat;
    background-size: 100%;
}
.part5 .bottom {
    position: relative;

    width: 100%;
    height: 5.29066667rem;

    background-color: #845d56;
    /*margin-bottom: 1.984rem;*/
}
.part5 .bottom .btn {
    position: absolute;
    bottom: 2.13333333rem;
    left: 50%;

    width: 5.184rem;
    height: 1.536rem;
    margin-left: -2.592rem;

    background: url("//img.hzshuangmei.com/m/darkcircles/part5-btn.jpg") no-repeat;
    background-size: 100%;
}
.part5 .bottom .btn a {
    display: block;
    width: 94%;
    height: 95%;
    margin-left: .128rem;
}
.part1 img,
.part2 img,
.part3 img,
.part4 img,
.part5 img {
    width: 100%;
}
