@charset "utf-8";
body {
    overflow-x: hidden;
}a,

body {
    color: #000;
}body,

dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
label,
li,
p,
textarea,
ul {
    padding: 0;
    margin: 0;
}form {

    display: inline;
}img {

    border: 0;
}td {

    word-break: break-all;
}dd,

dl,
dt,
li,
ul {
    list-style: none;
}a {

    text-decoration: none;
}body {

    font-family: "微软雅黑",sans-serif,Verdana,Arial;

    background: #fff;
}.f-fr {

    float: right;
}.f-fl {

    float: left;
}.f-cb:after {

    display: block;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    clear: both;

    content: ".";
}.f-cb {

    zoom: 1;
}.sr-only {

    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);

    border: 0;
}.img-respon {

    display: block;
    width: 100%;
    height: auto;
}.g-row {

    font-size: 0;
}.g-row .g-item {

    display: inline-block;

    vertical-align: top;
}.consult:hover {

    -webkit-transform: scale(.9,.9);
            transform: scale(.9,.9);
}.zt-container {

    min-width: 1200px;
    overflow: hidden;
}.g-doc {

    width: 1200px;
    margin: 0 auto;
}.g-doc .title {

    margin-bottom: 40px;
}.g-doc .des {

    margin-bottom: 40px;
}.consult {

    display: block;
    margin-top: 36px;
    margin-right: auto;
    margin-left: auto;

    font-size: 28px;
    line-height: 56px;

    text-align: center;
    letter-spacing: 0;

    color: #fff;
}.zt-m1 .g-doc,

.zt-m3 .g-doc {
    padding-top: 110px;
}.zt-m2 .g-doc,

.zt-m4 .g-doc,
.zt-m5 .g-doc {
    padding-top: 80px;
}.consult {

    width: 312px;
    height: 56px;

    background: url("https://img.hzshuangmei.com/pc/liuzhikun/bg_consult.png") center top no-repeat;
}.zt-banner {

    height: 700px;

    background: url("https://img.hzshuangmei.com/pc/liuzhikun/banner.jpg") center top no-repeat;
}.zt-m1 {

    height: 1564px;
}.zt-m1 .title {

    width: 648px;
    height: 130px;
    margin-right: auto;
    margin-left: auto;

    background: url("https://img.hzshuangmei.com/pc/liuzhikun/bgt1.png") center center no-repeat;
}.zt-m1 .title1 {

    height: 40px;

    background: url("https://img.hzshuangmei.com/pc/liuzhikun/bgt1_1.png") center top no-repeat;
}.zt-m1 .title2 {

    height: 40px;

    background: url("https://img.hzshuangmei.com/pc/liuzhikun/bgt1_2.png") center top no-repeat;
}.zt-m1 .title3 {

    height: 40px;

    background: url("https://img.hzshuangmei.com/pc/liuzhikun/bgt1_3.png") center top no-repeat;
}.zt-m2 {

    height: 900px;

    background: url("https://img.hzshuangmei.com/pc/liuzhikun/bg2.jpg") center top no-repeat;
}.zt-m2 .title {

    width: 472px;
    height: 138px;
    margin-right: auto;
    margin-left: auto;

    background: url("https://img.hzshuangmei.com/pc/liuzhikun/bgt2.png") center center no-repeat;
}.zt-m3 {

    height: 910px;
}.zt-m3 .title {

    width: 620px;
    height: 108px;
    margin-right: auto;
    margin-left: auto;

    background: url("https://img.hzshuangmei.com/pc/liuzhikun/bgt3.png") center center no-repeat;
}.zt-m3 .content {

    width: 1200px;
    height: 350px;

    background: url("https://img.hzshuangmei.com/pc/liuzhikun/bgc3.jpg") center center no-repeat;
}.zt-m4 {

    height: 1550px;

    background: url("https://img.hzshuangmei.com/pc/liuzhikun/bg4.jpg") left top repeat-x;
}.zt-m4 .title {

    width: 580px;
    height: 122px;
    margin-right: auto;
    margin-left: auto;

    background: url("https://img.hzshuangmei.com/pc/liuzhikun/bgt4.png") center center no-repeat;
}.zt-m4 .des {

    height: 166px;

    background: url("https://img.hzshuangmei.com/pc/liuzhikun/bgc4.jpg") center top no-repeat;
}.zt-m4 .content {

    background: #fff;
}.zt-m4 .row1 {

    height: 388px;

    background: url("https://img.hzshuangmei.com/pc/liuzhikun/bg4_1.jpg") center top no-repeat;
}.zt-m4 .row2 {

    height: 388px;

    background: url("https://img.hzshuangmei.com/pc/liuzhikun/bg4_2.jpg") center top no-repeat;
}.zt-m4 .row3 {

    height: 388px;

    background: url("https://img.hzshuangmei.com/pc/liuzhikun/bg4_3.jpg") center top no-repeat;
}.zt-m4 .consult {

    width: 118px;
    height: 118px;

    background: url("https://img.hzshuangmei.com/pc/liuzhikun/bg_consult4.png") center top no-repeat;
}.zt-m5 {

    height: 1264px;

    background: url("https://img.hzshuangmei.com/pc/liuzhikun/bg5.jpg") center top no-repeat;
}.zt-m5 .title {

    width: 500px;
    height: 120px;
    margin-right: auto;
    margin-left: auto;

    background: url("https://img.hzshuangmei.com/pc/liuzhikun/bgt5.png") center center no-repeat;
}.zt-banner .g-doc {

    position: relative;
}.zt-banner .g-doc .consult {

    position: absolute;
    top: 510px;
    left: 220px;

    width: 220px;
    height: 50px;
    margin-top: 0;

    background: none;
}.zt-m1 .g-right {

    float: right;
    width: 534px;
    padding-top: 30px;
}.zt-m1 h3 {

    margin-top: 30px;
    margin-bottom: 20px;
}.zt-m1 ul {

    padding-left: 15px;
}.zt-m1 ul li {

    position: relative;

    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 36px;

    letter-spacing: 0;

    color: #666;
}.zt-m1 ul li:before {

    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;

    display: block;
    width: 7px;
    height: 7px;
    margin: auto;

    content: "";

    border-radius: 100%;
    background: #7f73df;
}.zt-m1 p {

    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;

    letter-spacing: 0;

    color: #666;
}.zt-m1 .row2 {

    position: relative;

    overflow: visible;
}.zt-m1 .marque-wrapper {

    position: relative;

    width: 1200px;
    height: 270px;
    overflow: hidden;
}.zt-m1 .marquee-container {

    position: absolute;

    width: 3700px;
    height: 270px;
    overflow: hidden;

    font-size: 0;

    background: #574da7;
}.zt-m1 .marquee-container img {

    display: inline-block;

    vertical-align: middle;
}.zt-m1 .row2:before {

    position: absolute;
    top: 0;
    left: -24px;

    display: block;
    width: 24px;
    height: 270px;

    content: "";

    background: #574da7;
}.zt-m1 .row2:after {

    position: absolute;
    top: 0;
    right: -24px;

    display: block;
    width: 24px;
    height: 270px;

    content: "";

    background: #574da7;
}.zt-m2 .indicators {

    height: 50px;
}.zt-m2 .indicators li {

    float: left;
    width: 396px;
    height: 50px;
    margin-left: 6px;
    /* font-size: 30px; */

    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 50px;

    text-align: center;
    letter-spacing: 0;

    color: #e3e2ee;
    background-color: rgba(118,95,250,.4);
}.zt-m2 .indicators li.active,

.zt-m2 .indicators li:hover {
    color: #f3f2fc;
    background-color: rgba(118,95,250,.8);
}.zt-m2 .indicators li:hover {

    cursor: pointer;
}.zt-m2 .indicators li:first-child {

    margin-left: 0;
}.zt-m2 .slider-wrapper {

    position: relative;

    width: 1200px;
    height: 418px;
    margin-top: 12px;
    overflow: hidden;
}.zt-m2 .slider-wrapper:hover {

    cursor: pointer;
}.zt-m2 .slider-contaner {

    position: absolute;

    width: 3600px;
    height: 418px;

    -webkit-transform: translateZ(0);
            transform: translateZ(0);

    will-change: transform;
}.zt-m2 .slider-item {

    float: left;
    width: 1200px;
    height: 418px;
}.zt-m3 .des {

    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 28px;

    text-indent: 0;
    letter-spacing: 0;

    color: #6c5fd8;
}.zt-m3 .g-item {

    width: 350px;
    height: 350px;
    margin-left: -67px;
}.zt-m3 .g-item h3 {

    margin: 110px 0 20px;

    font-size: 32px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 28px;

    text-align: center;
    letter-spacing: 1.6px;

    color: #fff;
}.zt-m3 .g-item p {

    width: 188px;
    margin: 0 auto;

    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;

    letter-spacing: 0;

    color: #fff;
}.zt-m3 .g-item:first-child {

    margin-left: 0;
}.zt-m4 {

    overflow: visible;
}.zt-m4 .des {

    margin-top: 10px;
}.zt-m4 .des p {

    width: 992px;
    padding-top: 36px;
    margin-left: 30px;

    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 28px;

    text-align: justify;
    text-indent: 0;
    letter-spacing: .6px;

    color: #6350c9;
}.zt-m4 .des span {

    float: right;
    margin-top: 20px;
}.zt-m4 .content {

    position: relative;
    z-index: 3;

    padding: 40px 0;
    margin-top: 40px;

    box-shadow: 0 0 20px rgba(3,3,3,.2);
}.zt-m4 .g-row {

    width: 1110px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}.zt-m4 .g-row:first-child {

    margin-top: 0;
}.zt-m4 .g-item h3 {

    margin-top: 44px;

    font-size: 50px;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;

    letter-spacing: 0;
}.zt-m4 .g-item .normal {

    margin-top: 8px;
    margin-bottom: 8px;

    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;

    letter-spacing: 0;
}.zt-m4 .g-item .special {

    width: 133px;
    height: 40px;
    margin-top: 20px;

    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 40px;

    text-align: center;
    letter-spacing: 0;

    color: #fff;
    border-radius: 18px 18px 18px 18px;
    background-color: #5e4bbf;
}.zt-m4 .row1 .special {

    background-color: #5e4bbf;
}.zt-m4 .row2 .special {

    background-color: #465db2;
}.zt-m4 .row3 .special {

    background-color: #3949b3;
}.zt-m4 .g-item p {

    margin-top: 10px;

    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 26px;

    text-align: justify;
    text-indent: 0;
    letter-spacing: 0;
}.zt-m4 .row1 {

    color: #5e4bbf;
}.zt-m4 .row1 .g-right {

    position: relative;

    width: 524px;
    height: 388px;
    margin-left: 535px;
}.zt-m4 .row1 .consult {

    position: absolute;
    bottom: 35px;
    left: -150px;
}.zt-m4 .row1 .normal {

    color: #6c5cc3;
}.zt-m4 .row1 p {

    color: #857acc;
}.zt-m4 .row2 {

    color: #465db2;
}.zt-m4 .row2 h3 {

    margin-top: 34px;
}.zt-m4 .row2 .g-left {

    position: relative;

    width: 524px;
    height: 388px;
    margin-left: 60px;
}.zt-m4 .row2 .normal {

    color: #5367b5;
}.zt-m4 .row2 .cusotm {

    width: 380px;
}.zt-m4 .row2 .consult {

    position: absolute;
    right: 0;
    bottom: 25px;
}.zt-m4 .row2 p {

    opacity: .5;
    color: #0a1131;
}.zt-m4 .row3 {

    color: #3949b3;
}.zt-m4 .row3 .g-right {

    position: relative;

    width: 648px;
    height: 388px;
    margin-left: 400px;
}.zt-m4 .row3 .consult {

    position: absolute;
    right: 0;
    bottom: 10px;
}.zt-m4 .row3 p {

    color: #5c6abf;
}.zt-m5 {

    overflow: visible;
}.zt-m5 .g-doc {

    padding-top: 336px;
}.zt-m5 .slider-wrapper {

    position: relative;
    left: -360px;

    width: 1920px;
    height: 536px;
    overflow: hidden;
}.zt-m5 .slider-container {

    position: absolute;

    width: 5694px;

    -webkit-transform: translateZ(0);
            transform: translateZ(0);

    will-change: transform;
}.zt-m5 .slider-container:hover {

    cursor: pointer;
}.zt-m5 .slider-item {

    float: left;
    width: 428px;
    height: 536px;
    margin-right: 10px;
}.zt-m5 .consult {

    margin-top: 60px;
}
