.bn-T,
.bnArc {
    position: relative;
}.bnBttom li p,

.sld01,
.title {
    text-align: center;
}* {

    padding: 0;
    margin: 0;
}body {

    min-width: 1250px;

    font-family: "微软雅黑";

    background-color: #e9f8fd;
}h1,

h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}img {

    display: block;

    border: 0;
}li,

ul {
    list-style: none;
}a {

    text-decoration: none;
}button,

input,
select,
textarea {
    font-size: 100%;
}.clearfix:after,

.clearfix:before {
    display: table;

    content: "";
}.sld01,

.sld02,
.sld03 {
    display: none;
}.clearfix:after {

    clear: both;
}.clearfix {

    zoom: 1;
}.banner {

    width: 100%;
    height: 644px;

    background: url(https://img.hzshuangmei.com/pc/meibaizhen/banner-bg.jpg) top center no-repeat;
}.banner-in {

    width: 1305px;
    height: 100%;
    padding: 1px;
    margin: 0 auto;

    background: url(https://img.hzshuangmei.com/pc/meibaizhen/banner-star.png) top right no-repeat;
}.bnArc {

    width: 1122px;
    height: 524px;
    margin-top: 118px;
    margin-left: auto;
}.bn-T {

    width: 446px;
    height: 262px;
}.BL,

.Korean,
.TR,
.bn-T h1,
.center,
.description,
.mbz,
.wave {
    position: absolute;
}.bn-T h1 {

    top: 0;
    right: 75px;

    width: 163px;
    height: 37px;
    overflow: hidden;
}.mbz {

    top: 0;
    left: 20px;
}.description {

    top: 208px;
    left: 30px;

    width: 390px;
    height: 30px;

    font-size: 26px;

    color: #7cb9ca;
}.Korean {

    top: 254px;
    left: 78px;

    width: 258px;
    height: 9px;
}.BL,

.TR {
    width: 60px;
    height: 37px;
}.TR {

    top: 21px;
    right: 0;

    border-top: 5px solid #92c0ce;
    border-right: 4px solid #92c0ce;
}.BL {

    bottom: 0;
    left: 0;

    border-bottom: 5px solid #5a99ab;
    border-left: 4px solid #5a99ab;
}.bnBttom {

    width: 399px;
    height: 174px;
    padding: 40px 0 0 40px;
}.bnBttom div {

    width: 59px;
    height: 59px;

    border: 2px solid #9db4c1;
    border-radius: 50%;
}.bnBttom div img {

    margin: 10px auto;
}.bnBttom li {

    float: left;
    width: 63px;
    height: 95px;
    margin-right: 28px;
}.bnBttom li p {

    padding-top: 10px;

    font-size: 20px;

    color: #91a8b6;
}.bnBttom li.marGin img {

    margin: 16px auto 0;
}.wave {

    top: 128px;
    left: 456px;

    width: 120px;
    height: 94px;
}.center,

.m-ring,
.s-ring,
.xs-ring {
    width: 8px;
    height: 8px;

    border-radius: 50%;
}.center {

    top: 79px;
    left: 109px;

    transition: all 1s ease-in 0s;
    animation: hua 1s linear 0s 1 normal;

    background: #fff;
}.m-ring,

.s-ring {
    position: absolute;

    animation: xiang 1s linear 0s infinite normal;
}@keyframes hua {

    from {
        left: -20px;
    }to {

        left: 109px;
    }
}.m-ring {

    top: -14px;
    left: -14px;

    padding: 15px;

    -webkit-animation: xiang 1s linear 0s infinite normal;
       -moz-animation: xiang 1s linear 0s infinite normal;
         -o-animation: xiang 1s linear 0s infinite normal;
}.s-ring {

    top: -7px;
    left: -7px;

    padding: 8px;

    -webkit-animation: xiang 1s linear 0s infinite normal;
       -moz-animation: xiang 1s linear 0s infinite normal;
         -o-animation: xiang 1s linear 0s infinite normal;
}.xs-ring {

    position: absolute;
    top: -2px;
    left: -2px;

    padding: 3px;

    -webkit-animation: xiang 1s linear 0s infinite normal;
       -moz-animation: xiang 1s linear 0s infinite normal;
         -o-animation: xiang 1s linear 0s infinite normal;
            animation: xiang 1s linear 0s infinite normal;
}.sld,

.sld01 {
    top: 0;
    left: 0;
}@keyframes xiang {

    0% {
        transform: scale(1,1);

        opacity: 0;
        box-shadow: 0 0 1px 0 #9fa0a1;

        filter: alpha(opacity=0);
    }50% {

        transform: scale(1.5,1.5);

        opacity: 1;
        box-shadow: 0 0 1px 0 #9fa0a1;

        filter: alpha(opacity=1);
    }100% {

        transform: scale(2,2);

        opacity: 0;
        box-shadow: 0 0 1px 0 #9fa0a1;

        filter: alpha(opacity=0);
    }
}@-moz-keyframes xiang {

    0% {
        -moz-transform: scale(1,1);

        opacity: 0;
        box-shadow: 0 0 1px 0 #e7eeff;

        filter: alpha(opacity=0);
    }50% {

        -moz-transform: scale(1.5,1.5);

        opacity: 1;
        box-shadow: 0 0 1px 0 #e7eeff;

        filter: alpha(opacity=1);
    }100% {

        -moz-transform: scale(2,2);

        opacity: 0;
        box-shadow: 0 0 1px 0 #e7eeff;

        filter: alpha(opacity=0);
    }
}@-webkit-keyframes xiang {

    0% {
        -webkit-transform: scale(1,1);

        opacity: 0;
        box-shadow: 0 0 1px 0 #e7eeff;

        filter: alpha(opacity=0);
    }50% {

        -webkit-transform: scale(1.5,1.5);

        opacity: 1;
        box-shadow: 0 0 1px 0 #e7eeff;

        filter: alpha(opacity=1);
    }100% {

        -webkit-transform: scale(2,2);

        opacity: 0;
        box-shadow: 0 0 1px 0 #e7eeff;

        filter: alpha(opacity=0);
    }
}@-o-keyframes xiang {

    0% {
        -o-transform: scale(1,1);

        opacity: 0;
        box-shadow: 0 0 1px 0 #e7eeff;

        filter: alpha(opacity=0);
    }50% {

        -o-transform: scale(1.5,1.5);

        opacity: 1;
        box-shadow: 0 0 1px 0 #e7eeff;

        filter: alpha(opacity=1);
    }100% {

        -o-transform: scale(2,2);

        opacity: 0;
        box-shadow: 0 0 1px 0 #e7eeff;

        filter: alpha(opacity=0);
    }
}.sld {

    position: relative;

    width: 98px;
    height: 86px;
}.sld li {

    position: absolute;

    cursor: pointer;
}.sld01 {

    width: 86px;
    height: 46px;

    background: url(https://img.hzshuangmei.com/pc/meibaizhen/l.png) no-repeat;
}.sld01 p {

    height: 22px;

    font-size: 22px;

    color: #e5eff2;
}.sld01 span {

    font-size: 12px;

    color: #e5eff2;
}.sld02 {

    top: 47px;
    left: 47px;

    width: 38px;
    height: 21px;

    background: url(https://img.hzshuangmei.com/pc/meibaizhen/m.png) no-repeat;
}.sld03 {

    top: 72px;
    left: 76px;

    width: 18px;
    height: 10px;

    background: url(https://img.hzshuangmei.com/pc/meibaizhen/s.png) no-repeat;
}.title {

    width: 100%;
    height: 170px;
    padding-top: 85px;

    font-size: 42px;

    color: #5ea3b7;
}.title span {

    position: relative;

    width: 166px;
    height: 80px;
    padding: 4px 10px;

    font-size: 72px;
}.title span em {

    position: absolute;

    width: 27px;
    height: 22px;
}.title span .em01 {

    top: 9px;
    left: 2px;

    border-top: 2px solid #949392;
    border-left: 2px solid #949392;
}.title span .em02 {

    right: 2px;
    bottom: 7px;

    border-right: 2px solid #949392;
    border-bottom: 2px solid #949392;
}.main-one {

    width: 1073px;
    height: 565px;
    margin: 0 auto;
}#featured-area {

    float: left;
    width: 602px;
    height: 447px;
}#featured-area img {

    border: none;
}.roundabout-holder {

    width: 500px;
    height: 300px;
    margin-left: 10px;

    list-style: none;
}.roundabout-moveable-item {

    width: 233px!important;
    height: 334px!important;

    font-size: 12px!important;

    cursor: pointer;
}li.roundabout-moveable-item.roundabout-in-focus {

    top: 0!important;

    width: 298px!important;
    height: 446px!important;
}.roundabout-moveable-item img {

    width: 100%;
    height: 100%;
    margin: 0;

    background-color: #fff;
}.roundabout-in-focus {

    cursor: auto;
}.roundabout-in-focus:hover {

    background: #f9f9f9;
    -webkit-box-shadow: 0 0 20px #787878;
       -moz-box-shadow: 0 0 20px #787878;
}.roundabout-holder span {

    display: none;

    font-size: 11px;
}.roundabout-in-focus:hover span {

    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 999;

    display: inline;
    padding: 8px 20px;

    font-size: 11px;

    color: #8a428b;
    -webkit-border-top-left-radius: 5px;

    -moz-border-radius-topLeft: 5px;
}.roundabout a:active,

.roundabout a:focus,
.roundabout a:visited {
    text-decoration: none;

    outline: 0;
}.roundabout li {

    margin: 0;
}.main01-arc {

    float: left;
    width: 416px;
    height: 290px;
    padding: 60px 0 0 51px;
}.mainArc-T {

    height: 207px;

    font-size: 18px;
    line-height: 30px;

    color: #80b3c3;
}.mainArc-T span {

    color: #4899b3;
}.title-two {

    padding-top: 0;
}.main-two {

    width: 1029px;
    height: 844px;
    margin: 0 auto;
}.main02-T {

    width: 100%;
    height: 232px;
}.main02-T img {

    display: inline;
    margin-right: 37px;

    border: 1px solid #96c7d8;
    border-radius: 10px;
}.main02-T img.nomargin {

    margin-right: 0;
}.mainSmallTt {

    width: 100%;
    height: 33px;
}.mainSmallTt li {

    position: relative;

    float: left;
    width: 343px;
    height: 100%;

    font-size: 28px;
    font-weight: 700;
    line-height: 33px;

    text-indent: 1.5em;

    color: #55b0cf;
    background: url(https://img.hzshuangmei.com/pc/meibaizhen/number.png) top left no-repeat;
}.mainSmallTt li span,

.mainSmallTt-b li span {
    position: absolute;
    top: -3px;
    left: 15px;

    width: 24px;
    height: 28px;

    font-size: 24px;
    font-weight: 500;

    text-indent: 0;

    color: #fff;
}.mainSmallTt-arc {

    width: 980px;
    height: 128px;
    padding: 12px 0 0 18px;
    margin-left: auto;

    border-top: 2px solid #8dc2d5;
    border-right: 2px solid #8dc2d5;
    border-bottom: 2px solid #8dc2d5;
    border-radius: 0 10px 10px 0;
}.mainSmallTt-arc li {

    float: left;
    width: 263px;
    height: 110px;
    margin-right: 77px;

    font-size: 17px;
    line-height: 26px;

    color: #96c7d8;
}.mainSmallTt-arc li.nomargin {

    margin-right: 0;
}.mainSmallTt-b {

    width: 100%;
    height: 49px;
}.mainSmallTt-b li {

    position: relative;

    float: left;
    width: 511px;
    height: 100%;

    font-size: 28px;
    font-weight: 700;
    line-height: 43px;

    text-indent: 1.5em;

    color: #55b0cf;
    background: url(https://img.hzshuangmei.com/pc/meibaizhen/number02.png) top left no-repeat;
}.main02-b {

    width: 994px;
    height: 217px;
    margin-left: auto;

    font-size: 17px;
    line-height: 26px;

    color: #96c7d8;
}.five {

    float: left;
    width: 142px;
    height: 165px;
    padding: 0 15px 0 5px;
}.main02-b img {

    float: left;

    border: 1px solid #96c7d8;
    border-radius: 10px;
}.six {

    float: left;
    width: 176px;
    height: 200px;
    padding: 0 10px;
}.title-three {

    padding-top: 0;
}.main-three {

    width: 1050px;
    height: 742px;
    margin: 0 auto;

    background: url(https://img.hzshuangmei.com/pc/meibaizhen/main03.png) center left no-repeat;
}.main04-in {

    width: 460px;
    height: 730px;
    padding-top: 20px;
    margin-left: auto;
}.main04-in li {

    width: 355px;
    height: 136px;
}.main04-in li div {

    position: relative;

    width: 100%;
    height: 67px;

    line-height: 67px;
}.main04-in li div h3 {

    position: absolute;
    top: 11px;
    left: 54px;

    font-size: 32px;
    font-weight: 700;

    color: #6cb8d3;
}.main04-in li p {

    padding-left: 42px;

    font-size: 16px;
    line-height: 22px;

    color: #8dc2d5;
}.ww2 {

    margin-left: 90px;
}.ww3 {

    margin-left: 122px;
}.ww4 {

    margin-left: 100px;
}.ww5 {

    padding-top: 40px;
}.main-four {

    width: 100%;
    height: 1042px;

    background: url(https://img.hzshuangmei.com/pc/meibaizhen/main4-bg.png) top center no-repeat;
}.main5-in {

    width: 1035px;
    height: 680px;
    padding-top: 80px;
    margin: 0 auto;
}.main5-l {

    float: left;
    width: 280px;
    height: 450px;
}.main5-lt span {

    float: left;
    padding-top: 20px;

    font-size: 40px;
    font-weight: 700;

    color: #4e9fb6;
}.main5-lt {

    width: 100%;
    height: 218px;
}.main5-lt img {

    float: left;
    margin-left: 10px;
}.main5-lt div {

    width: 100%;
    height: 90px;
}.main5-lt p {

    font-size: 16px;
    line-height: 24px;

    color: #4e9fb6;
}.main5-r {

    float: right;
}.anlil,

.anlir {
    float: left;
}.main-five {

    width: 100%;
    height: 290px;

    border-bottom: 2px solid #4e9fb6;
}.main55-in {

    width: 1034px;
    height: 100%;
    margin: 0 auto;
}.anli {

    width: 508px;
    height: 480px;
}.anliimg {

    position: relative;

    width: 100%;
    height: 265px;
}.anliimg img {

    float: left;

    border: 1px solid #60b0c6;
    border-radius: 10px;
}.rightmargin {

    margin-right: 5px;
}.name {

    width: 100%;
    height: 55px;

    font-size: 30px;
    line-height: 55px;

    color: #60b0c6;
    border-bottom: 1px solid #60b0c6;
}.name strong {

    font-size: 42px;
}.anli .arc {

    width: 483px;
    height: 120px;
    padding-top: 36px;

    font-size: 16px;
    line-height: 28px;

    color: #60b0c6;
}.anlir {

    margin-left: 13px;
}.anliimg .after,

.anliimg .before {
    position: absolute;
    top: 195px;
    left: 10px;

    width: 243px;
    height: 30px;

    font-size: 16px;

    color: #60b0c6;
}.anliimg .after {

    left: 265px;
}.main-six {

    width: 100%;
    height: 380px;
    margin-top: 6px;

    border-top: 2px dashed #4e9fb6;
}.title-six {

    padding-top: 22px;
}.main6-in {

    width: 1013px;
    height: 118px;
    margin: 0 auto;
}.main6-in li,

.nb,
.sixlj {
    float: left;
    height: 100%;
}.main6-in li {

    width: 336px;
}.nb {

    position: relative;

    width: 40px;
}.nb img {

    margin-bottom: 18px;
}.nb span {

    position: absolute;

    font-size: 20px;

    color: #fff;
}.fix01 {

    top: 0;
    left: 9px;
}.fix02 {

    top: 45px;
    left: 9px;
}.fix03 {

    top: 90px;
    left: 9px;
}.sixlj {

    width: 262px;

    font-size: 16px;
}.sixlj p {

    width: 100%;
    height: 43px;

    line-height: 30px;
}.sixlj p a {

    color: #a0abae;
}.sixlj p a:hover {

    color: #646768;
}.foot {

    min-width: 1250px;
}.head {

    min-width: 1250px;
}.head .Tbody {

    min-width: 1250px;
}
